[2018-05-24 19:31] bugcy013 opened #287 "zmq/4.2.2 not building properly"
Hi Guys,

When I try to build zmq/4.2.2 I am getting   **libsodium is not installed.  Install it, then run CMake again**

### Package Details (Include if Applicable)
* Package Name/Version: **zmq/4.2.2**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **gcc-5.4**
### Steps to reproduce (Include if Applicable)

console logs for reference::

[code]

Please guide me. How to fix this.

[2018-05-24 21:32] uilianries commented on #287
Hi @bugcy013 !

I wasn't able to reproduce your error.

What profile did you use? You could show it by `conan profile show <profile_name>`

Also, which command did you use to acquire zmq? create, install?

Which CMake version did you use?

On my side I used Docker + lasote/conangcc5: https://gist.github.com/uilianries/86f340b43a494bce5d9b34b803869bdb

Regards.

[2018-05-24 23:44] uilianries commented on #283
Some information about this new version:

- MSVC 12 is not supported by fmt 5.0.0 (read the changelog)
- cppstd is necessary to make sure -std=c++11

[2018-05-25 00:50] uilianries commented on #283
Done!

https://bintray.com/bincrafters/public-conan/fmt%3Abincrafters/5.0.0%3Astable

[2018-05-25 00:50] #283 closed

[2018-05-25 12:04] pleroux0 opened #288 "Inclusion request for PEGTL"
### Description of Problem, Request, or Question

I'm following the steps from
http://bincrafters.readthedocs.io/en/latest/contributing_to_packages/package_guidelines_faq.html
to include the package
https://bintray.com/pleroux0/pleroux0/pegtl%3Apleroux0

Disclosure: I am *not* the author of PEGTL,but the author is not interested in supporting the conan package himself.

"While we are open to havin

[2018-05-25 12:48] uilianries commented on #288
Hi @pleroux0 !

Looks promising! I'm going to pull your recipe into bincrafters and rectify some points.

Thanks!

[2018-05-25 13:26] uilianries commented on #288
Done!

https://github.com/bincrafters/conan-pegtl
https://bintray.com/bincrafters/public-conan/pegtl%3Abincrafters
https://travis-ci.org/bincrafters/conan-pegtl
https://ci.appveyor.com/project/BinCrafters/conan-pegtl

[2018-05-25 13:26] #288 closed

[2018-05-25 13:46] #281 closed

[2018-05-25 13:48] pleroux0 commented on #288
You guys work fast! Thanks! I'll check what was missing for future contributions.

[2018-05-26 18:28] VestniK opened #289 "log4coplus 2.0.0-rc2 missing dependency on libnsl"
`log4cplus` depends on `libnsl` and system one is used. It leads to link failure when crosscompiling package with option `shared=True` if `nsl` is not provided by sysroot for the target platform.

### Steps to reproduce
[code]

[2018-05-27 06:09] SSE4 commented on #287
Hi @bugcy013 I see you're using **libsodium/1.0.16@eastmore/incubator**, is it the same recipe as bincrafter's libsodium? from your error log, it appears like FindSodium.cmake is not exported from the libsodium package.

[2018-05-27 06:13] SSE4 commented on #289
hi @VestniK
NSL seems to be auto-detected by log4cplus: https://github.com/log4cplus/log4cplus/blob/13d6c671e7e9f0af973ab913acefc24c5c324b12/ConfigureChecks.cmake#L51
could you possibly share full build log?
it might be CMake finding NSL from the host system instead of RPI sysroot

[2018-05-27 08:01] VestniK commented on #289
[conan.pi.build.log](https://github.com/bincrafters/community/files/2042348/conan.pi.build.log)
Full build log attached. NSL is not the only library taken from host system. Looks like `librt` is also taken from the host to perform checks for different `clock_*` functions.

[2018-05-27 08:17] SSE4 commented on #289
could you possibly try setting the following environment variables in the conan profile:
CONAN_CMAKE_FIND_ROOT_PATH
CONAN_CMAKE_FIND_ROOT_PATH_MODE_LIBRARY
the first one should be path to RPI sysroot, the second I believe should be ONLY
check out also this article https://blog.conan.io/2018/01/30/Cross-building-Boost-Android.html

[2018-05-27 09:29] VestniK commented on #289
Same issue with
[code]
I have only compiler, glibc and linux-headers under `/usr/arm-linux-gnueabihf` there is `/usr/arm-linux-gnueabihf/lib/librt.so` but no `libnsl` there. I would expect configuration failure since `libnsl` is not provided as conan dependency. However configuration succedds, `clock_*` functions are tested against `/usr/lib32/librt.so` and build fails only on linker invocation.

[2018-05-27 09:50] VestniK commented on #289
I can successfully build conan package source manually using the following cmake toolchain file:
[code]
cmake configuration command line:
[code]
Shared version of the library built by defaule and unit tests are also compiled and successfully linked with the library.

[2018-05-27 11:18] SSE4 commented on #289
so, does it mean problem solved? e.g. if you specify CONAN_CMAKE_TOOLCHAIN_FILE, problem doesn't appear, right?

[2018-05-27 11:19] SSE4 commented on #282
@elizagamedev I've added your changes, closing issue

[2018-05-27 11:19] #282 closed

[2018-05-27 11:20] SSE4 commented on #240
@piponazo  changes were merged, pls give another try

[2018-05-27 13:57] VestniK commented on #289
No I can't build conan package by adding `CONAN_CMAKE_*` variables to my conan profile. I can buld log4cplus with cmake using toolchain filev from my previous comment.

[2018-05-28 00:22] krzysztofwos opened #290 "boost_fiber recipe does not build the library"
### Description of Problem, Request, or Question
`conan-boost_fiber` recipe does not build the library. It installs header files only.

### Package Details (Include if Applicable)
* Package Name/Version: **boost_fiber/1.66.0**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **clang-6.0**
* Docker image: **lasote/conanclang60**

### Steps to reproduce (Include if Applicable)
Trying t

[2018-05-28 09:57] lasote commented on #254
libusb in conan-center!!! 🎉  Congrats and many thanks!

[2018-05-28 09:57] #254 closed

[2018-05-28 10:05] drrlvn opened #291 "Bump msgpack to version 3.0.1"
Last version available from bincrafters is 2.1.5

https://github.com/msgpack/msgpack-c/releases/tag/cpp-3.0.1

[2018-05-28 12:49] #284 closed

[2018-05-28 13:05] lucienboillod commented on #277
@Blubbz0r I am working on it right now, did you test the package with "Qt:openssl=linked" flags, we actually don't need to precise the paths since is it a require (conan will set CONAN_LIBS variables). Can you make some tests with linked ?

Concerning the "Qt:openssl=yes" option, I am facing this error:
[code]
Configure Qt with openssl seems to be a bit tricky, I will update you asap

[2018-05-28 13:06] theirix commented on #264
@danimtb just wondering, how is it going? Is the problem fixed now?

[2018-05-28 13:17] #285 closed

[2018-05-28 13:37] lucienboillod commented on #277
@SSE4 yes I found this option ```self.options["OpenSSL"].no_zlib = True``` and this flag ```-no-zlib``` but it seems to make no difference. So I will have to require zlib on build

[2018-05-28 13:55] lucienboillod opened #292 "Package LLVM core"
LLVM is a collection of several projects (LLVMCore, Clang, libcxx ...). After trying to build everything at once, we figured out that was really too huge and we decided to package the llvm core at first step, and then others sub-projects as submodule (like we do for Qt or Boost).

[2018-05-28 14:02] lucienboillod commented on #292
@uilianries Thanks for the information, I will ask him then.

I already packaged llvm+clang+libcxx on my own github, and few days ago I created the llvmcore repository also https://github.com/lucienboillod/conan-llvmcore
It seems to path, but I had to ask 90 min for both appveyor and travis CI.

[2018-05-28 14:17] lucienboillod commented on #292
@uilianries Ok I saw the repo you talked about, it is a fork of @polysquare old repository, it seems to fetch from no-official url source. But it could be nice to have feedback from them :blush:

[2018-05-28 17:22] Manu343726 commented on #292
@uilianries thanks for pinging. I'm working on automating the packaging of different llvm components and versions, https://gitlab.com/Manu343726/clang-conan-packages

The master branch has a pipeline that builds and deploys version 3.8.0 to [my conan repo](https://bintray.com/manu343726/conan-packages). To support following versions, I had to change the recipes so sources are fetched from the righ

[2018-05-28 17:26] Manu343726 commented on #292
About the sources not coming from official LLVM repository, I would not like to have users of the recipes to rely on LLVM releases server (It would not be the first time that server is down bc of people fetching releases for their CI from there). So my build pipeline will include a step to fetch sources and deploy them to bintray, so all conan users rely entirely on jfrog infrastructure (Easier to

[2018-05-28 23:41] uilianries commented on #291
Done!

https://github.com/bincrafters/conan-msgpack/tree/stable/3.0.1
https://bintray.com/bincrafters/public-conan/msgpack%3Abincrafters

![msgpack/3.0.1](https://screenshotscdn.firefoxusercontent.com/images/91e46586-9fda-49ba-b2c4-86dbf2ac4fe8.png)

[2018-05-28 23:41] #291 closed

[2018-05-29 07:49] VestniK commented on #289
@SSE4 Sorry I havn't read your last comment properly. Adding `CONAN_CMAKE_TOOLCHAIN_FILE` to the conan profile solves the issue.

[2018-05-29 09:06] Blubbz0r commented on #277
@lucienboillod I ran into the same error with "Qt:openssl=yes" and manually adding Perl to the path.  Did not try with "linked" yet. Will do so when I find the time.

[2018-05-29 09:30] SSE4 commented on #292
@lucienboillod in general yes, I'd like to avoid resource duplication as much as possible, so let's assist @Manu343726 and build other sub-projects on top of his llvm-core package.

[2018-05-29 09:39] pleroux0 opened #293 "Inclusion request for operators"
### Description of Problem, Request, or Question

I'm following the steps from
http://bincrafters.readthedocs.io/en/latest/contributing_to_packages/package_guidelines_faq.html
to include the package
https://bintray.com/pleroux0/pleroux0/operators%3Apleroux0

Disclosure: I am not the author of operators

I have setup TravicCL and Appveyor and the bintray repository under my name for testing.

Just

[2018-05-29 09:45] lucienboillod commented on #293
Thank you for the submission! the repo url is https://github.com/pleroux0/conan-operators right ?

[2018-05-29 10:38] pleroux0 commented on #293
Yes

[2018-05-29 11:52] danimtb opened #294 "Inclusion request review for caf/0.15.7@bincrafters/stable"
## Inclusion Request Review

This is a review for [caf/0.15.7@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-caf) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### Packag

[2018-05-29 11:53] danimtb commented on #294
Additionally it would be nice to add a little bit more of code to the *test_package.cpp* using more features of the library. Thanks!

[2018-05-29 12:54] solvingj commented on #254
@uilianries is amazing.

[2018-05-29 12:54] lasote commented on #254
Yes he is!

[2018-05-29 13:04] danimtb commented on #264
Sorry @theirix but the Bintray Team seems to be still investigating the issue related to this package.

I have cloned all the packages including the corrupted one into my own repo on bintray so it could be reproduced in case the Bincrafters' one changes. Let's wait until the end of this week to make a decision.

Sorry guys

[2018-05-29 13:22] theirix commented on #264
Absolutely no problem, I'll wait.

[2018-05-29 14:28] canmor opened #295 "[Qt] Request to include version 5.6"
### Description of Problem, Request, or Question
I have many users ask for support to older macOS, which is not support by Qt 5.9 and Qt 5.11, According to documents, following is what these version support for macOS:

Qt 5.11: macOS 10.11 above
Qt 5.9: macOS 10.10 above
Qt 5.6: macOS 10.7 above

I currently have my own fork of your Qt recipe and branch for 5.6, but I do hope you get this official

[2018-05-29 14:35] lucienboillod commented on #295
@canmor yes totally! just waiting for the last PR to be merged and I will create 5.6 version :blush:
If you need any other version please tell me. I was only packaging last significant versions because I don't know what are the versions still used, is there exist something like a graphic % to know which versions are still importants for the users ?

[2018-05-29 15:51] rdeterre opened #296 "Invalid relocation error on CentOS with fmt/4.1.0"
### Description of Problem, Request, or Question

Hi,

I'm building an application that uses fmt on a 7 machine and the following error appears:

[code]

The machine uses the Red Hat devtoolset 4 that comes with GCC 5.3.1 (`gcc (GCC) 5.3.1 20160406 (Red Hat 5.3.1-6)`). Here is the profile that is used:

[code]

Running `conan install --build fmt` makes this error disappear.

### Package Details (I

[2018-05-29 17:44] sourcedelica commented on #294
Sounds good.   I will take care of those items.

[2018-05-30 01:08] uilianries commented on #294
Finally! Just finished all CI jobs after an entire day.

- Added bintray tags;
- Added maturity level;
- Updated test package for all versions;
- Added Apple Clang 9.1;
- Added Linux Clang 5.0.

![caf/0.15.5@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/33547d4b-b463-4fa7-8af3-5cef51b7df15.png)

![caf/0.15.6@bincrafters/stable](https://screenshotscdn.firefoxusercontent.c

[2018-05-30 01:11] uilianries commented on #296
Hi @rdeterre

I'm going to check it.

[2018-05-30 02:19] uilianries commented on #296
I have used docker image centos:7 + devtoolset-4 + conan 1.3.3 and I followed all your steps. Unfortunately, I didn't see any error.

[code]

As you can see, the package id is the same.

The image that I used to validate those steps can be found here: https://hub.docker.com/r/uilianries/centosconan/

I'll ask for help to figure out what might have happened.

[2018-05-30 02:45] uilianries commented on #296
@SSE4 Excellent observation!

[2018-05-30 03:09] SSE4 commented on #296
/cc @lasote @memsharded @danimtb
this problems keep popping up pretty often, any plan to address this in conan itself or at least official recommendation/position on this type of issues with glibc?

[2018-05-30 05:00] lasote commented on #296
I still think we shouldn't model different glibc versions in Conan center, because the number of binaries and missing packages will explode.

However I agree we can do it better managing this situation.

The first and easy recommendation is to rebuild the packages from sources, using "--build", once the packages are built against the native glibc it should work.

We are analyzing some improvements

[2018-05-30 08:14] danimtb commented on #294
@sourcedelica @uilianries Looking good to me! Approved to conan-center. Thank you so much guys

[2018-05-30 08:14] #294 closed

[2018-05-30 09:08] Blubbz0r commented on #277
Same error with "Qt:openssl=linked". I've managed to do a successful build with a shared openssl build (inspired by [this](https://github.com/osechet/conan-qt/issues/25). The following steps are required:

* Clone https://github.com/bincrafters/conan-qt
* Apply the fix from this [commit](https://github.com/bincrafters/conan-qt/pull/2/commits/b47ab008698fe16a659430e69c82f375bbc91868) (otherwise, bu

[2018-05-30 09:35] canmor commented on #295
I'm just new to Qt,

[2018-05-30 09:38] canmor commented on #295
I'm new to Qt, so I afraid I can provide you more advice, I just found these page shows the platforms Qt support:

[2018-05-30 10:21] memsharded commented on #296
Does anyone has a clear grasp of what distros have an old, incompatible glibc?

- Adding a glibc version to settings would make the thing unusable
- But maybe a setting ``old_glibc: [None, True]`` (None is the default that doesn't affect existing binaries), which those distros could set to True, could help.

[2018-05-30 11:14] lucienboillod commented on #295
Amazing! thank you for taking the time to search.
Well from what I see I also think that 5.6 should be enough for retro-compatibility.

[2018-05-30 12:00] sourcedelica commented on #294
Thanks Uilian!

[2018-05-30 12:00] sourcedelica commented on #294
And you too Daniel!

[2018-05-30 12:20] Blubbz0r commented on #277
With the following steps:

* Clone https://github.com/bincrafters/conan-qt
* Apply the fix from this [commit](https://github.com/bincrafters/conan-qt/pull/2/commits/b47ab008698fe16a659430e69c82f375bbc91868) (otherwise, building with Visual Studio will not be possible)
* add `self.requires("strawberryperl/5.26.0@conan/stable")`, which fixes my initial "Perl not found in PATH. Aborting." error
  * I

[2018-05-30 13:03] lasote opened #297 "Probably invalid libcurl findCURL.cmake"
### Description of Problem, Request, or Question

Hi @theirix, @solvingj @uilianries , I'm making some tests with the new Conan 1.4 cmake generators and the libcurl library to prepare a blog post explaining them.

I found an issue, the custom `FindCURL.cmake` file (probably inherited from my original recipe) is assuming that the variables `${CONAN_INCLUDE_DIRS_LIBCURL}` and `${CONAN_LIB_DIRS_LIBCU

[2018-05-30 13:36] SSE4 commented on #296
@lasote I believe with careful and smart implementation it will not cause explosion of number of binaries.
I mean if glibc version will be forward compatible version, package with glibc=2.14 will not require rebuild of package for glibc=2.17, while glibc=2.10 will require rebuild on the user's machine and will not attempt to use package glibc=2.14 (which obviously will fail anyway). if glibc versi

[2018-05-30 13:37] SSE4 commented on #296
@memsharded this might be helpful https://gist.github.com/wagenet/35adca1a032cec2999d47b6c40aa45b1

[2018-05-30 15:37] madebr opened #298 "boost_program_options: conan build fails but cmake && make succeeds"
### Description of Problem, Request, or Question
Example project at https://github.com/madebr/issues/tree/master/conan_boost_program_options_2

This fails:
[code]

This succeeds:
[code]

I believe the cause of the problem is that the conan builder passes `CONAN_LIBCXX=libstdc++` to cmake.
Adding `set(CONAN_LIBCXX "" FORCE)` to my CMakeLists.txt makes it work. But that's a hack.

### Package Detail

[2018-05-30 15:48] Manu343726 commented on #292
@lucienboillod my idea was to package the components needed by libclang, to then make a libclang meta-package on top of the clang one. But I will be glad to add other LLVM modules to the pipeline as well. The pipeline is auto-generated from a declarative [YAML file](https://gitlab.com/Manu343726/clang-conan-packages/blob/common_recipe_scripts/ci_template.yml), similar to what conan-package-tools d

[2018-05-30 15:56] Manu343726 commented on #292
BTW it should be possible to check for recipe changes in the CI, so that jobs that build unchanged packages are skipped (That would help a lot with my electricity bills :P).

Also, the CI generator script only implements the .gitlab.ci file, but it should be easy to implement other services such as appveyor and travisci as well.

[2018-05-31 07:43] lasote commented on #297
Any thoughts on this?

[2018-05-31 07:52] Manu343726 commented on #292
[code]

I definitely need support guys xD. Ping @danimtb

[2018-05-31 07:58] theirix commented on #297
Sorry, forgot this issue.

Could you please link to the idea of the cmake change in Conan 1.4?

I don't remember why we are including this. It's here since the recipe imported from lasote/conan-libcurl. FindCURL.cmake is available as a cmake standard module even for the ancient cmake 2.8.0. Of course it's better to have a standard module and I prefer to drop those from recipes.

I'll try to rebuil

[2018-05-31 08:00] lasote commented on #297
In 1.4 we provide two new generators for cmake, extracted from "https://blog.conan.io/2018/05/30/New-conan-release-1-4.html":

[code]

So, the custom FindCURL.cmake makes no sense, especially if it is attached to the `cmake` generator, because it won't work unless you are using it.

[2018-05-31 08:01] lasote commented on #297
To clarify, we DO NOT recommend to replace the usage of the classic `cmake` generator with the new ones. It is just a new approach that could be interesting to a consumer of packages.

[2018-05-31 13:48] Manu343726 commented on #292
I've finaly got help from the jfrog side, my limits have been increased but my account cannot cope with all the packages in any way. So I've removed all binaries from my account and [fired a reduced build](https://gitlab.com/Manu343726/clang-conan-packages/pipelines/22963752). Once the package is submitted to conan-center we could increase the number of package variants built by the pipeline.

[2018-05-31 15:12] lasote opened #299 "cygwin_installer failure installing"
### Description of Problem, Request, or Question

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **cygwin_installer/2.9.0@bincrafters/stable**
* Operating System: **Windows 10**

### Steps to reproduce (Include if Applicable)

``conan install cygwin_installer/2.9.0@bincrafters/stable``

[2018-05-31 18:13] SSE4 commented on #299
should be fixed, pls check

[2018-06-01 08:47] #299 closed

[2018-06-01 16:45] bc-lee commented on #296
If conan implements range-based version search for glibc (for example, a system with glibc=2.23 (Ubuntu 16.04 LTS) can consume libraries with glibc<=2.23 and it can use a library with glibc=2.17 (CentOS 7) by searching in remote and local packages with glibc=2.23, 2.22, 2.21 and so on), it would be awesome if conan works with libstdc++ versions ( libstdc++.so.6.0.18 , libstdc++.so.6.0.23 and so on

[2018-06-02 01:53] datalogics-kam commented on #267
Our project is needing boost package dependencies to be recompiled, and I solved the problem with `b2` not running somewhat by adding `--build boost_build` to the options on `conan install`.

Using CentOS 6.9.

[2018-06-03 02:35] bugcy013 commented on #287
Many Thanks, @uilianries, and @SSE4, sorry for delayed replay. The issue is FindSodium.cmake not exported properly.  finally, I am able to install.

[2018-06-03 02:35] #287 closed

[2018-06-04 07:32] lasote commented on #297
Any progress with this? Could I help?

[2018-06-04 09:58] danimtb commented on #264
HI @theirix and @SSE4,

Finally we got response fron the Bintray team and it seems the issue is not trivial to reproduce. They have tracked down the problem and will continue with further investigation for next BIntray deployments.

We will work with them to report similar issues in the future and it would be very helpul for us if you could please report any trouble you have with Bintray that coul

[2018-06-04 10:03] theirix commented on #264
Great news, glad to hear!

I'll perform these steps.

[2018-06-04 10:12] theirix commented on #297
Sorry, I was a little busy these weeks.
As promised I'll try to drop a package-provided FindCURL.cmake (so the cmake-provided file is used) and build a few dependent packages. I can check it this evening with Linux and Mac. Could you please do the same for Windows?

[2018-06-04 10:56] theirix commented on #264
@danimtb you mentioned removing a package 0.6.1 in your comment. Anyway I run it but searching for 1.0.0 is still failing.
[code]

[2018-06-04 12:38] danimtb commented on #264
@theirix did you removed the corrupted package in the remote?

I still see the `ddbab2d75d666065f9399961a36b2bf562a6d261 `package there. Did the remove fail?

I just tried with my own repository and it worked. Could you check it please?

[2018-06-04 13:14] theirix commented on #264
@danimtb yes, I tried to remove this package from 0.6.1. Removing from 1.0.0 and searching works, thanks!

[2018-06-04 13:46] theirix commented on #264
Rebuilt, done.

[2018-06-04 13:47] danimtb commented on #264
yeah, my mistake. I was talking all the time about 1.0.0 sorry. I will wait until rebuild finishes and check everything again

[2018-06-04 14:11] lasote commented on #297
The best way to really make sure it works is with the test_package, forcing to use `find_package(CURL)`  after remote the package-provided `FindCurl`.
I'll try it in Windows and submit a PR if a library rename is needed (my recommended approach, but not always agreed by people)

[2018-06-04 15:01] lasote commented on #297
I'm running all the common configurations using the native `findCurl` in the test_package. I took a look at the native findCurl and to the names, we declare in the `package_info()` and I'm pretty sure we can remove it safely, they cover all the possible names.
Anyway, I will inform again when all the configurations are built in windows.

[2018-06-04 15:38] lasote commented on #297
Every configuration working on Windows using the native findCurl.

[2018-06-04 15:41] lasote commented on #297
Diff for 7.52.1 (also upgrading openssl):

[code]

[2018-06-05 08:12] danimtb commented on #264
And finally this is accepted into conan-center! Thanks you so much @theirix :)

[2018-06-05 08:12] #264 closed

[2018-06-05 08:48] theirix commented on #297
@lasote , thank you! I checked the build on Linux too – it works well.
Removed finder in the branch testing/7.52.1 (except the OpenSSL upgrade, it should go to different one).

[2018-06-05 10:08] lasote commented on #297
looks green: https://travis-ci.org/bincrafters/conan-libcurl/builds/388148563
About the OpenSSL, np, it is not important for me right now.

[2018-06-05 10:44] danimtb opened #300 "Inclusion request review for pcre/8.41@bincrafters/stable"
Hi guys,

Package [pcre/8.41@bincrafters/stable](https://github.com/bincrafters/conan-pcre) seems quite good an ready for conan-center. However, I'd like to ask some questions that maybe you could solve faster than me looking at the sources:

1. There is an option to set the optional dependency of `bzip2`. Why this is an optional dependency and `zlib` not?
2. There areat least 2 more dependencies

[2018-06-05 16:12] ShamanTcler commented on #295
If I may join the party Qt has what they call LTS versions, or long term supported. Currently there are two of those Qt 5.6 and Qt 5.9 (https://www1.qt.io/qt5-9/)

Qt 5.6 is significant because it does NOT require C++ 11. Therefore it can be built with MSVS 2012/2013.

Qt 5.9 requires MSVS 2015 or better.

By the way I have a Qt commercial licence but choose to stay with the LGPL version.

Now oft

[2018-06-05 18:07] theirix commented on #297
I have merged changes to stable/7.52.1, built successfully. Please try it.

[2018-06-05 23:51] uilianries commented on #300
Hi!

At first time, I understood that zlib was mandatory, but after your review, I checked again and both are optional. So I'll keep both as optional by package options.

Yes, CMakeLists.txt:325

    SET(PCRETEST_LIBS ${READLINE_LIBRARY} ${NCURSES_LIBRARY}

Excellent observation, consider it done.

I agree. Unfortunately, there is no option to skip man and share from install. There are few options

[2018-06-06 01:08] uilianries commented on #293
Hi @pleroux0 !

It will be a pleasure to receive your package!

I see no errors on your recipe. I'm going to copy your recipe into our repo.

Thanks so much.

[2018-06-06 01:47] uilianries commented on #293
Done!

https://github.com/bincrafters/conan-operators
https://bintray.com/bincrafters/public-conan/operators%3Abincrafters
https://ci.appveyor.com/project/BinCrafters/conan-operators
https://travis-ci.org/bincrafters/conan-operators

@pleroux0 All yours commits were preserved.

Please, fell free to re-open this issue if you find any problem.

[2018-06-06 01:47] #293 closed

[2018-06-06 02:09] uilianries commented on #300
- recipe updated
- outdated packages removed
- waiting for the last job [clang-4.0](https://travis-ci.org/bincrafters/conan-pcre/jobs/388553581)

current status:
![pcre/8.41@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/94ca781c-f8e0-4b97-8d3c-0c2d0eb62fe3.png)

[2018-06-06 08:16] danimtb commented on #300
😮 Man, you are the bincrafters-conan hero! Awesome job!

[2018-06-06 08:32] lasote commented on #297
I detected some issue with Bintray and the new package: https://conan.bintray.com/v1/conans/libcurl/7.52.1/bincrafters/stable/download_urls

They are investigating. 😭

[2018-06-06 08:56] danimtb opened #301 "PEGTL by the authors is now in conan-center"
So finally the library authors of PEGTL (@d-frey) submitted their library an it is now in conan-center: https://bintray.com/taocpp/public-conan/pegtl:taocpp

We talked together with @solvingj that best approach is to let both packages (bincrafters' and taocpp's) live together in conan-center to not brake users and let them choose.

As authors are commited to maintain the conan packages, I suppose

[2018-06-06 09:03] danimtb opened #302 "taocpp operators inclusion to conan-center"
@uilianries, @d-frey just got this in the Conan Inclusion Request's panel 🤣

![image](https://user-images.githubusercontent.com/10808592/41028029-cb64c5de-6978-11e8-86ef-3d1009e82f94.png)

Let's join efforts an decide here what we should do. Are you both willing to collaborate in the same package?

[2018-06-06 11:48] uilianries commented on #301
This is really great! @taocpp is an excellent project source. I'm really happy to know about this.

Yes, the idea about insert [deprecated] warning looks good to me. I'll take this.

Also, on next taocpp packages, I'll try to help the author to create the Conan recipes and avoid to create on Bincrafters repo.

Thanks for the report.

[2018-06-06 11:53] uilianries commented on #302
@d-frey is the @taocpp author, his version should be accepted :smile: I'll keep Bincrafters as deprecated.

Anyway, @d-frey I would like to help you to create Conan recipes for @taocpp projects. WDYT?

[2018-06-06 11:56] danimtb commented on #301
Thanks a lot @uilianries! Let's keep this issue open until the message is added 😉

[2018-06-06 12:00] danimtb commented on #302
excellent!

I think @d-frey, it would be better to name the package with original name "operators" so users are not confused with that new name. Don't you think so?

It is your decision (or @taocpp 's one), just tell me 😄

Thanks a lot guys!

[2018-06-06 12:11] uilianries commented on #302
I'd prefer `operators@taocpp` but is just my opinion.

[2018-06-06 12:17] uilianries commented on #301
Done!

the recipe is updated and pushed in Bintray.

https://github.com/bincrafters/conan-pegtl/blob/stable/2.5.1/conanfile.py#L17

https://travis-ci.org/bincrafters/conan-pegtl/builds/388734866
https://ci.appveyor.com/project/BinCrafters/conan-pegtl/build/1.0.5

[2018-06-06 13:52] madebr opened #303 "ffmpeg/4.0 build stuck on personal Windows 10"
### Description of Problem, Request, or Question
Building missing ffmpeg/4.0@bincrafters/stable on Windows 10 1703 is stuck after `run_in_windows_bash` line. I have to CTRL+C after that because it does not continue.

It works on [appveyor](https://ci.appveyor.com/project/madebr/openrw/build/1.0.540?fullLog=true#L300), but not on my personal Windows 10 laptop.

### Package Details (Include if Appli

[2018-06-06 14:08] SSE4 commented on #303
@madebr thanks for the report
1. configure may take pretty long time. how much time did you wait for the output?
2. do you have process explorer or something similar which may display process tree? I am interested if it's bash itself stuck or some of its children (like sed, grep or something like that). if you see some process stuck, may be you can also inspect its command line.
3. if you can uplo

[2018-06-06 14:18] solvingj commented on #301
Since this will happen with other libs in future, I'm thinking of formalizing this a bit, where we update the Bintray and Github repositories to say: "This package will remain here, but users are recommended to depend on the newer official package here" ... with links and such.  Perhaps a new section at the top of the readme for some of these.  I really like inserting the warning in the recipe, th

[2018-06-06 15:15] madebr commented on #303
I removed the ffmpeg folder in my .conan folder, reran the install step, waited a long time, and it got building.

[2018-06-06 15:15] #303 closed

[2018-06-07 08:41] danimtb commented on #301
I will wait for those messages to close this 😉 Thanks!

[2018-06-07 09:21] lasote commented on #297
Now is working fine. They found a concurrency issue and they expect to solve it soon, but anyway, the libcurl 7.52.1 is working perfectly. Thanks. You could proceed for the rest of versions

[2018-06-07 12:36] madebr opened #304 "ffmpeg: request for profile inclusion"
### Description of Problem, Request, or Question
I'm using bincrafters' ffmpeg for the openrw project with non-standard options.
This causes ffmpeg to be rebuilt for every travis/appveyor job.

Might it be possible to add these binaries?

The options are:
[code]
for Linux (and mac but untested so ignore Apple)

and
[code]
for Windows

### Package Details (Include if Applicable)
* Package Name/Vers

[2018-06-07 12:38] madebr opened #305 "sdl2: request for profile inclusion"
### Description of Problem, Request, or Question
I'm using bincrafters' sdl2 for the openrw project with non-standard options.
This causes sdl2 to be rebuilt for every travis job.

Might it be possible to add these binaries?

The options are:
[code]
for Linux

### Package Details (Include if Applicable)
* Package Name/Version: **sdl2/2.0.8**
* Operating System: **Linux Ubuntu 16.04** + **Fedora**

[2018-06-07 15:39] theirix commented on #297
Done!

[2018-06-07 18:57] #297 closed

[2018-06-08 03:20] mbeach opened #306 "double-conversion CI build compiler versions"
### Description of Problem, Request, or Question

The builds of **double-conversion/3.0.0** in bintray currently all have gcc and clang versions with a major and a minor version number.

This causes problems when attempting to use the package when the current approach of just the major version number being used to specify the compiler version (as described in conan-io/conan#1214), as pre-built pac

[2018-06-09 05:00] SSE4 commented on #304
@madebr I've built branch with required config, please check it out

[2018-06-09 05:00] SSE4 commented on #305
@madebr  I've built branch with required config, please check it out

[2018-06-09 06:28] sinall opened #307 "cpprestsdk/2.10.1 module machine type 'x64' conflicts with target machine type 'X86'"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **cpprestsdk/2.10.1**
* Operating System: **Windows 10**
* Compiler+version: **VC++2015**

### Steps to reproduce (Include if Applicable)
conanfile.txt
[code]

Add connanbuildinfo.props into VC++ project property manager.

Compile, then errors show:

[2018-06-09 10:37] madebr commented on #305
There is something wrong with the sdl2 package on linux, at least on Linux.
When launching my application, the error
[code]
appears.
I had this problem earlier when creating the sdl2 package with wayland=False.

Reproducer: (you need gta3 to run the game, but the error is reproduceable without data)
Clone openrw repo + create config file:
[code]

Build using conan using sdl2 on bintray: (The resul

[2018-06-09 10:37] madebr commented on #304
Seems to work!
Thanks!

[2018-06-09 10:37] #304 closed

[2018-06-09 10:39] SSE4 commented on #305
interesting, I'll take a look

[2018-06-09 12:30] SSE4 commented on #305
@madebr I've added some missing packages, could you possible give an another try, please?

[2018-06-09 13:45] SSE4 commented on #307
hi @sinall , few questions:
1. as I understand, you're building for x86, is it correct?
2. how do you invoke `conan install`, could you possibly paste full command line?
3. what is your default conan profile? (output of command `conan profile show default`)

[2018-06-09 16:04] solvingj commented on #302
The conversation on naming has moved to slack. This can probably be closed.

[2018-06-09 16:44] solvingj commented on #306
Indeed this was an issue.  This recipe and all the supporting files were created from older templates, and all needed to be updated.  I've gone ahead and refreshed all the files, and am pushing the updates through CI now.  Stable branch should be done within an hour or two.

[2018-06-09 18:09] danimtb commented on #302
No that we have the slack channel it is totally ok. Thanks a lot for the reminder @solvingj and just ping me if you need something else for the inclusion request!

[2018-06-09 18:09] #302 closed

[2018-06-09 21:16] madebr commented on #305
The game is working now!
Thanks for the quick response!
Big :+1: !

[2018-06-09 21:16] #305 closed

[2018-06-09 22:47] uilianries commented on #301
@solvingj just published the draft on Slack:

Looks pretty good IMO.

[2018-06-10 02:31] bugcy013 opened #308 "conan-cryptopp: "SSE4.1 instruction set not enabled""
Hi Guys,

When we build cryptopp package with gcc-4.8, I am getting this error. can you please guide me .

How to fix this.

[code]

[code]

build console logs:

[cryptopp_build.log](https://github.com/bincrafters/community/files/2087508/cryptopp_build.log)

[2018-06-10 05:18] mbeach commented on #306
Thanks very much!

[2018-06-10 12:31] #306 closed

[2018-06-11 12:03] lucienboillod commented on #277
Hi! can you make some tests with my master branch ? https://github.com/lucienboillod/conan-qt

On my side, with Windows (msvc) both conan create . user/channel -o Qt:openssl=linked and -o Qt:openssl=yes are compiling fine, but I did not test, do you have something to test it quickly ? :blush:

After we know that msvc is working I'll do the same for linux

[2018-06-12 04:06] mbeach commented on #298
I think I'm striking something similar, and I believe the root cause is that the building of the boost packages does not respect `settings.compiler.libcxx`. Even when Conan thinks it is retrieving a package built for libstdc++ it will get binaries that use the gcc C++11 ABI, and so builds that references symbols from that library the reference std::string (amongst a few other things) will fail.

T

[2018-06-12 08:52] danimtb opened #309 "CLI11 by the author is now in conan-center"
CLI11 was recently accepted into conan-center as an inclusion request from the author.

Now this package an the one contributed by bincrafters live together in conan-center. However, author is commited to maintain his library and set up CI to release conan packages for every new version.

Please add when possible deprecation messages for bincrafters CLI11 package: https://bintray.com/bincrafters/p

[2018-06-12 09:50] danimtb opened #310 "Inclusion request review for pcre2/10.31@bincrafters/stable"
- Some outdated packages here and there:
![image](https://user-images.githubusercontent.com/10808592/41283287-71433ff0-6e36-11e8-9527-7ad6162d9550.png)
- Missing packages for apple-clang 9.1
- Just a reminder of the `fPIC` flag in case you want to add it

[2018-06-12 10:07] madebr commented on #298
Since my original issue, I've moved to the non-modular `boost/1.67@conan/stable`.

Adding the following line to the `CMakeLists.txt`, *solves* this issue with a giant HACK. So not really solved. (a warning is displayed because `_GLIBCXX_USE_CXX11_ABI` is redefined)

    target_compile_definitions(issue PRIVATE _GLIBCXX_USE_CXX11_ABI=1)

[2018-06-12 11:07] Blubbz0r commented on #277
Have tested with `Qt:openssl=linked` (also did `Qt:tools=True`, `Qt:translations=True`, `Qt:svg=True`, since it is needed for my project). Both `conan create` and compiling my project against the created Qt version worked fine.

[2018-06-12 12:55] lucienboillod commented on #277
Nice ! thanks a lot for the outputs !

Do you have by any chance a quick way to test your project on linux and mingw ? (just updated my master branch). Otherwise I will do some tests.

[2018-06-12 14:44] Blubbz0r commented on #277
Not really. Only working with Windows/MSVC at the moment.

[2018-06-13 09:40] keithrob91 opened #311 "[question] Boost packages for Centos 7 and gcc compiler 4.8.5"
Sorry if this is a really stupid question, I'm new to both Conan and Bincrafters.

I'm using Centos 7 to trial Conan with a view to switching to it within our company, and our software makes heavy use of Boost. Conan don't provide individual Boost library recipes so I was looking at Bincrafters for this.

Problem is, the gcc compiler with Centos 7 is 4.8.5 but the packages provided with Bincrafter

[2018-06-13 14:18] solvingj commented on #309
Thanks for the reminder, Done!
https://github.com/bincrafters/conan-cli11

[2018-06-13 14:18] #309 closed

[2018-06-13 15:10] danimtb commented on #309
Thanks @solvingj !

[2018-06-13 15:36] madebr opened #312 "conan-sdl2 includes sdl2main by default"
### Description of Problem, Request, or Question
When using the conan-sdl2 library by bincrafters,
libSDL2main is automatically added to the libs (in `package_info`)

This is annoying for my application because linux distributions do not have that library in their packages and I have no possibility to remove it from the CONAN_PKG::sdl2 target.

### Package Details (Include if Applicable)
* Package

[2018-06-13 17:17] madebr opened #313 "debug packages for libraries on bintray (for Visual Studio)"
### Description of Problem, Request, or Question
I'm adding `cmake_multi` support for my project to comfort Visual Studio developers.
Some dependencies do not have debug packages available on bintray.

The dependency that is missing, is:
- Qt/5.11@bincrafters/stable

Qt5 is a rather big library.
I want the developers to be freed of the burden of having to rebuild these libs.

Will bincrafters prov

[2018-06-13 18:27] madebr commented on #312
Fixed! Thanks @SSE4 !

[2018-06-13 18:27] #312 closed

[2018-06-14 02:05] SSE4 commented on #307
@lasote @danimtb @memsharded seems to be bintray problem?

[2018-06-14 02:47] SSE4 commented on #313
@madebr I probably missed the point, but ffmpeg is built via CONAN_BUILD_TYPES=Debug, and debug packages should be available on bintray

[2018-06-14 02:58] madebr commented on #313
Yeah, I wrongly added ffmpeg to the list. I forgot to add an option what made it not available on bintray.
Qt/5.11 though was not available, and failed to build on my machine.

[2018-06-14 02:59] SSE4 commented on #313
@madebr sure, got it
@lucienboillod is it feasible to provide debug packages as well?

[2018-06-14 07:47] danimtb commented on #307
- Installation worked well for me with the profile provided:
[code]
  I see no problem here with Bintray. My bet is that this was a random connection issue.

- Building an example worked well too, but I had to test with Visual Studio 2017 (my default profile) as I dont have a setup fot VS 2015:
[code]
Normally those linking erros happen when the package is ill-formed with different arch binaries,

[2018-06-14 07:56] SSE4 commented on #307
@sinall could you give another try please? it seems to be just a random connection issue

[2018-06-14 08:12] sinall commented on #307
@SSE4 `conan install . -s arch=x86` works now.

I'm using Win 10 64bit, Do you know if there a way to config `arch=x86` in ~/.conan.conf, conanfile.txt or other config file?

[2018-06-14 08:18] SSE4 commented on #307
yes, just edit ~/.conan/profiles/default

[2018-06-14 08:27] sinall commented on #307
Great, I love this tool.

[2018-06-14 08:27] #307 closed

[2018-06-14 08:39] lucienboillod commented on #313
@madebr @SSE4  Hello! I don't know if provide debug is feasible, since Qt is a very big package I am afraid of the lack of available space. Anyway, we are in the middle of some significants changes on the Qt package, it should be release by the end of the week so you might wait until the release to update your recipe (5.11 will be remplaced by 5.11.0). I will try to add Debug at the same time :blu

[2018-06-14 12:56] madebr opened #314 "glm 0.9.9.0 has been released"
### Description of Problem, Request, or Question
glm 0.9.9.0 has been released May 22, 2018
https://github.com/g-truc/glm/releases
Current version on bintray is 0.9.8.5

### Package Details (Include if Applicable)
* Package Name/Version: **glm/0.9.8.5**

[2018-06-14 13:32] SSE4 commented on #308
@bugcy013 I've pushed required changes, could you possibly give an another try?

[2018-06-14 14:08] mcquay239 opened #315 "gsl_microsoft (GSL) upstream has released version 1.0.0"
GSL upstream has recently released the first numbered version of the library: https://github.com/Microsoft/GSL/releases/tag/v1.0.0.
The release description states the following: "GSL commits are all CI verified and considered stable. However, we would like to mark significant changes (such as API breaking ones or adding extra functionality) by changing versions.".

The gsl_microsoft package curren

[2018-06-14 17:09] sinall commented on #313
Please also consider debug packages for boost / cpprestsdk.

[2018-06-14 17:23] sinall opened #316 "Missing prebuilt package for 'lzma/5.2.3@bincrafters/stable'"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **lzma/5.2.3**
* Operating System: **Windows 10 64bit**
* Compiler+version: **VC++ 2015  R3**

### Steps to reproduce (Include if Applicable)
conanfile.txt
[code]

conan profile show default
[code]

PROJECT: Installing D:\Documents\Visual_Studio_2015\Projects\ConanTest\conanfile.tx

[2018-06-14 17:54] sinall commented on #316
BTW, bzip2 is also missing, seems both of them are dependencies of cpprestsdk.

[2018-06-14 22:21] kylemacfarlan opened #317 "Boost Python with Numpy"
It seems like the boost_python package only builds the python library, not the libboost_numpy library. Is is possible to have conan build both of them?

[2018-06-15 00:08] uilianries commented on #301
@solvingj  just update the README file:

https://github.com/bincrafters/conan-pegtl/blob/stable/2.5.1/README.md

[2018-06-15 02:18] uilianries commented on #310
Done!

- Included fPIC option
- Added apple-clang 9.1
- Added clang 5.0

![pcre2/10.31@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/e16dd5be-65de-4b6d-bdad-f96e2185b908.png)

[2018-06-15 08:02] danimtb commented on #301
Thank you guys!

[2018-06-15 08:02] #301 closed

[2018-06-15 10:57] uilianries commented on #310
Thanks!

[2018-06-15 10:57] #310 closed

[2018-06-15 17:40] sinall opened #318 "Request for cpprestsdk-2.10.10 + boost-1.69 [was cpprestsdk-2.10.2 + boost-1.67]?"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **cpprestsdk/2.10.2**
* Operating System: **Windows 10**
* Compiler+version: **VC 2015**

### Steps to reproduce (Include if Applicable)

The latest cpprestsdk version is v2.10.2. Could you please upgrade it? Please also upgrade boost to 1.67.

[2018-06-15 17:46] madebr commented on #136
This look promising: https://github.com/python-cmake-buildsystem/python-cmake-buildsystem

[2018-06-16 03:33] solvingj commented on #315
Great to have a proper version to use going forward, will bump ASAP.

[2018-06-16 18:17] sinall opened #319 "cpprestsdk - value 'MD_DynamicRelease' doesn't match value 'MDd_DynamicDebug'"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **cpprestsdk/2.10.1**
* Operating System: **Windows 10 64Bit**
* Compiler+version: **VC++ 2015 R3**

### Steps to reproduce (Include if Applicable)

conanfile.txt
[code]

conan profile show default
[code]

[code]

BTW, I can not find cpprest*.dll under .conan folder. Did I do somet

[2018-06-17 03:31] Croydon opened #320 "SDL 2.0.8 fails on Ubuntu Bionic"
Since there is no libesd0-dev package anymore, which the recipe trys to install.

[2018-06-17 05:17] SSE4 commented on #320
I will change default option `esd=False`

[2018-06-17 05:31] SSE4 commented on #315
@mcquay239 `gsl_microsoft/1.0.0@bincrafters/stable` is now available

[2018-06-17 05:32] SSE4 commented on #314
@madebr `glm/0.9.9.0@bincrafters/stable` is now available

[2018-06-17 05:33] SSE4 commented on #318
@sinall I am adding cpprestsdk/2.10.2, once boost 1.67.0 is available in our repository, I'll update cpprestsdk to it

[2018-06-17 05:33] SSE4 commented on #318
@grafikrobot @solvingj could you possibly comment on boost 1.67.0 status?

[2018-06-17 06:51] SSE4 commented on #259
sage package manager was added to cygwin_installer

[2018-06-17 06:51] #259 closed

[2018-06-17 06:51] sinall commented on #319
Seems that the runtime lib issue has gone. Now some unresolved external symbol appears for both Debug and Release builds:

[2018-06-17 06:53] SSE4 commented on #319
sounds like httpapi.lib and bcrypt.lib are also required, I'll fix it

[2018-06-17 07:01] SSE4 commented on #316
@sinall
weird, for me package is available:
[code]

could you possibly to run the following command and let me know about the result:
[code]

[2018-06-17 07:03] SSE4 commented on #316
@sinall oh, please ignove my commend above
after closer look at your log, I found:
[code]
I guess it's not a default combination (compiler.runtime=MD and build_type=Debug)
you should use either (compiler.runtime=MD and build_type=Release), or (compiler.runtime=MDd and build_type=Debug), otherwise you'll get runtime mismatches

[2018-06-17 07:32] sinall commented on #319
Thanks, yes, please. With httpapi.lib and bcrypt.lib, I can build projects successfully.

Another problem is I don't have cpprest*.dll under my Debug/Release folder, seems that cpprest is linked statically, do you know what's wrong with my configuration?

[2018-06-17 07:33] SSE4 commented on #319
@sinall default option is `shared=False`, you may add `cpprest:shared=True` to your profile or command line

[2018-06-17 08:12] sinall commented on #319
@SSE4 with `cpprestsdk:shared=True` in conanfile.txt, it could compile successfully.

Now, it complains "The program can't start because cpprest_2_10.dll is missing from your computer". It is possible for the props file to copy it to Debug/Release automatically?

[2018-06-17 08:14] SSE4 commented on #319
@sinall not sure, possibly it could be done via post-build step, if post-build step could be added to the props file.
usually, we either set up environment variables to specify directories containing DLL files, or alternatively, you may try to use [imports] section in your conanfile, see https://docs.conan.io/en/latest/mastering/conanfile_py.html

[2018-06-17 08:27] sinall commented on #319
Yeah, that should be a workaround at this time I guess. Thanks.

[2018-06-17 08:32] sinall commented on #319
Seems that a post-build step could be added in property sheet, check this:
http://www.dorodnic.com/blog/2014/03/20/visual-studio-macros/
See screenshot under _3. Double-Click to open it, and go to User Macros section:_.

I haven't try it yet.

[2018-06-17 09:12] SSE4 commented on #290
@krzysztofwos unfortunately I wasn't able to reproduce it, could you possibly upload a full log, please?

[2018-06-17 09:22] Croydon commented on #320
Thanks!

Another error, does this look familar to you somehow? https://travis-ci.org/inexorgame/inexor-core/jobs/393244811#L738

[2018-06-17 11:58] SSE4 commented on #319
@sinall I've added new version **cpprestdk/2.10.2@bincrafters/stable** which links to httpapi and bcrypt, feel free to give a try

[2018-06-17 11:59] SSE4 commented on #318
@sinall I've added **cpprestsdk/2.10.2@bincrafters/stable** (not using boost 1.67 yet)

[2018-06-17 13:08] SSE4 commented on #320
@Croydon updated version is ready (with esd=False by default)

[2018-06-17 13:49] madebr commented on #320
@Croydon I cannot find any travis output with the error you described [above](https://github.com/bincrafters/community/issues/320#issuecomment-397865958).
Has the error disappeared? It may have been caused by caching.

[2018-06-17 13:52] Croydon commented on #320
@madebr No, the log is gone due to a re-run and a changed recipe, but I copied the error before.

If you can't reproduce it otherwhise I could trigger the error again later. But I'm not sure if there are any more helpful information.

[2018-06-17 14:31] madebr commented on #314
@SSE4 Thank you very much! The updated version is now in use!

[2018-06-17 14:31] #314 closed

[2018-06-17 14:41] sinall commented on #316
I don't have this issue now. Don't know if it is because v120 toolset has been installed.

Since the combination(compiler.runtime and build_type) may confuse people, don't know if there is a way to reduce the confusion.

[2018-06-17 14:41] #316 closed

[2018-06-17 18:18] sinall commented on #319
@SSE4 bad news, I can't start the program.

Error dialog:

Previously, it could stop at source file and popup a debug dialog:

But later, it can not stop at the source file again, so I doesn't remember which file is it. I only remember it is related with wmemcpy, wchar_t.

[2018-06-17 18:23] SSE4 commented on #319
@sinall could you upload some repro-case? then I can try to debug an issue

[2018-06-17 18:33] sinall commented on #319
~/.conan/profiles/debug
[code]

Unzip the attachment, go to CpprestExample, then run:
`conan install . --install-folder conaninfo --profile debug`

[CpprestExample.zip](https://github.com/bincrafters/community/files/2109253/CpprestExample.zip)

[2018-06-18 04:59] sinall commented on #319
@SSE4 are you able to reproduce the issue?

[2018-06-18 08:34] lucienboillod commented on #313
@madebr I tried to build debug on msvc, unfortunatly we encountered build problems, and we are not the only one to have this kind of behavior:
https://forum.qt.io/topic/91078/qt-5-11-0-static-openssl-linked-build-fails
https://forum.qt.io/topic/91078/qt-5-11-0-static-openssl-linked-build-fails

Do you have any recommendation ? If the problem is on the Qt side we won't be able to provide debug vers

[2018-06-18 09:04] lucienboillod commented on #292
Hello @Manu343726 , how is going the project ? :smile:  need any help ?

[2018-06-18 10:14] SSE4 commented on #319
@sinall not yet tried
2.10.2 changed the naming scheme

[2018-06-18 12:58] sinall commented on #319
@SSE4 Interesting. conan install with `--build cpprestsdk`:

[2018-06-18 13:27] SSE4 commented on #319
@sinall I am getting a different error:
[code]
investigating

[2018-06-18 13:31] SSE4 commented on #320
@Croydon if issue still happens for you, please open an issue on conan.io and link here. I'll keep this issue open until it's clear if it's problem with recipe itself or some conan bug. thank you.

[2018-06-18 13:38] SSE4 commented on #319
@sinall after rebuild, I've got the following exception:
[code]
could you possibly change your main.cpp:
[code]
and give one more try?

[2018-06-18 13:41] sinall commented on #319
@SSE4 what the correct name? cpprest**140**_2_10d.dll or cpprest_2_10d.dll?

[2018-06-18 13:44] sinall commented on #319
@SSE4 I have already tried, same error. Even I add a break point at the beginning of main, it can not go to there. The error happens before it goes into main.

[2018-06-18 13:47] SSE4 commented on #319
that seems to be weird that different names are produced for local build and CI build. CI build uses ninja_installer, and ninja usage seems to be affecting build somehow.
from CMakeLists.txt of CppRestSDK:
[code]
so, obviously, CMAKE_VS_PLATFORM_TOOLSET is defined for some generators (e.g. Ninja), but not defined for others (e.g. Visual Studio). looks like something else also affects compatibility

[2018-06-18 13:52] lucienboillod commented on #313
ok we might found a solution, waiting for the result :smile:

[2018-06-18 14:14] SSE4 commented on #319
it's getting even more weird - now it builds as **cpprest141_2_10.lib** on CI

[2018-06-18 14:19] SSE4 commented on #319
ignore my comment above, it was VS2017 build, VS2015 seems to be correct

[2018-06-18 14:29] sinall commented on #319
I'm not familiar with cmake. Is cpprest140_2_10d.dll the correct name by design?

141 is VC++2017 toolset AFAK.

[2018-06-18 14:33] SSE4 commented on #319
that's right, 141 is VS 2017. cpprest140_2_10d.dll seems to be correct name for VS 2015 and Debug build.
BTW, appveyor just finished building new debug binaries, could you try one more time please?

[2018-06-18 14:39] sinall commented on #319
@SSE4

- Delete folder D:/.conan/w3xbx6yq
- Reinstall

Still the same error.

[2018-06-18 14:42] SSE4 commented on #319
did it install library with correct name?

[2018-06-18 14:44] sinall commented on #319
Yes.

[2018-06-18 14:49] SSE4 commented on #319
this getting even more weird then. now CI build should be identical to the local. the only thing I can imagine that there are some binary incompatibles between minor Visual Studio updates. so, do you have all updates for Visual Studio and toolset installed?

[2018-06-18 14:52] sinall commented on #319
The 'About Microsoft Visual Studio' dialog shows:

[2018-06-18 14:54] SSE4 commented on #319
there are Update 4 and Update 5 released. I suggest to install them and try again.

[2018-06-18 14:59] sinall commented on #319
@SSE4 AFAK there's only VC++2015 Update 3.

[2018-06-18 15:01] SSE4 commented on #319
you're right, I've confused it with VS 2013. sorry.

[2018-06-18 15:44] SSE4 commented on #319
the only idea I have in mind now: compare actual compiler/linker flags from CI to the local. I'll let you know on results.

[2018-06-18 18:52] sinall commented on #319
@SSE4 are you able to reproduce the issue with the dll downloaded from bincrafters on your local computer?

[2018-06-18 18:54] SSE4 commented on #319
Not exactly- it gives me another error about ordinal 313 as I’ve posted
above earlier. I will try to inspect compiler flags tomorrow to find
something suspicious.

On Tue, 19 Jun 2018 at 01:52, Rui Gao <notifications@github.com> wrote:

[2018-06-18 19:37] darcamo opened #321 "Linking problems with spdlog/0.16.3 regarding fmt dependency"
### Description of Problem, Request, or Question

I get linking problems related to fmt library, which is a dependency of spdlog.
If I set "spdlog:fmt_external=False" in the options section of my conanfile.txt everything works correctly.

If I use spdlog/0.14.0@bincrafters/stable the problem does not happens. Comparing the recipes from both versions I could see that in 0.16.3 the default value of

[2018-06-18 20:02] uilianries commented on #321
Hi @darcamo !

I'll take a look on this soon.

Thanks for report

[2018-06-19 13:13] StiventoUser opened #322 "Missing cpprestsdk/2.9.1@bincrafters/stable files."
### Description of Problem, Request, or Question

Recently I've encountered the error :

[code]

And it seems that there is no files at https://bintray.com/bincrafters/public-conan/cpprestsdk%3Abincrafters/2.9.1%3Astable#files

### Package Details (Include if Applicable)
* Package Name/Version: **cpprestsdk/2.9.1@bincrafters/stable**
* Operating System: **Windows 10**
* Compiler+version: **VS 14 2

[2018-06-19 15:15] #270 closed

[2018-06-19 15:15] #277 closed

[2018-06-19 15:15] #295 closed

[2018-06-19 15:15] #313 closed

[2018-06-19 15:18] SSE4 commented on #322
@StiventoUser would you mind update to 2.10.1 or 2.10.2?

[2018-06-19 15:31] StiventoUser commented on #322
Looks like 2.10.2 builds and doesn't cause any conflicts with different packages, so there is no problem.
BTW, Is 2.9.1 deprecated?

[2018-06-19 15:34] SSE4 commented on #322
we were running out of space on bintray, so I've removed some of older versions in order to get some free space. our package 2.9.1 wasn't updated for a long time anyway, while 2.10.1/2.10.2 have new important fixes requested by other users.
if 2.9.1 is absolutely needed, I think I can rebuild it so it's available again, but I'd like to avoid it, unless it's really unavoidable.

[2018-06-19 15:37] StiventoUser commented on #322
Ok, thank you for clarification.
I think there is no need due to it works on newer versions.

[2018-06-19 15:38] SSE4 commented on #322
thanks, I am closing the issue then

[2018-06-19 15:38] #322 closed

[2018-06-20 16:09] p-groarke opened #323 "[Qt 5.x.x] Libraries are not available through conan_libs variable"
Using latest conan (1.4.4), VS 2017, win10.
Using cmake_multi generator and conan targets.

Getting unresolved symbols linking with CONAN_PKG::Qt. Attached is a minimal example to repro the issue.
[qt_conan.zip](https://github.com/bincrafters/community/files/2120157/qt_conan.zip)

On a side note, will AUTOMOC and AUTOUIC find Qt5Widgets when using conan targets?

[2018-06-20 16:10] p-groarke commented on #323
@lucienboillod as discussed on slack

[2018-06-21 08:39] lucienboillod commented on #323
Hello :smile:
can you please describe the exacts steps to reproduce ? command lines etc ...
attached with a log of you error.

I am not getting the same error for now

[2018-06-21 12:07] ShamanTcler commented on #323
I was replicating this in Qt 5.9.6 using MSVS 2015 ( compiler 14 ) on Win 10
Using his zip. Changed to Qt/5.9.6@bincrafters/stable

Created a build dir and cd'd to it (out of source build)

qt_test_tests.exe : fatal error LNK1120: 9 unresolved externals

That's what I did at least.

[2018-06-21 13:28] krzysztofwos commented on #290
@SSE4 I am actually having some trouble reproducing the issue on Ubuntu Xenial. I usually develop on macOS and there it's easy enough to reproduce the problem. To do that, however, I had to modify the `test_package.cpp` file to contain the following:

[code]

The error is the same as above:

[code]

The problem seems to be that the `libboost_fiber.a` library is not being built. Running

[code]

Re

[2018-06-21 13:34] krzysztofwos commented on #290
Attached the [output](https://github.com/bincrafters/community/files/2123791/out.txt) from running

[code]

My compiler is the following

[code]

The OS

[code]

[2018-06-21 13:47] krzysztofwos commented on #290
[Here](https://github.com/bincrafters/community/files/2123799/out.txt) is the output from trying to build the package. As noted above, the library is not built:

[code]

[2018-06-21 21:43] datalogics-kam opened #324 "Not possible to build Tesseract without building Leptonica"
First, I want to thank you for all the great work on making these packages available. This is our first foray into using C++ package management, and we are delighted that we don't have to add a large number of OSS projects on our own.

### Description of Problem, Request, or Question

Tesseract can't include transitive includes from Leptonica, when `conan install` has to build Tesseract but not Le

[2018-06-22 13:02] Konijnendijk opened #325 "Inclusion request for liblinear"
### Description of Problem, Request, or Question

I've followed the packaging guidelines to create a package for [liblinear](https://github.com/cjlin1/liblinear). The package repository is located here: https://github.com/Konijnendijk/conan-liblinear. The currently functional branch is stable/2.20.

It would be great if this package could be included. If you have any comments or questions, I'd lov

[2018-06-22 14:00] p-groarke commented on #323
Here are logs:

[code]

[2018-06-23 01:13] uilianries commented on #321
spdlog is totally header-only, so there is no heade_only option for it.

fmt could be header_only, but the default is False, as you said.

If you are getting linkage errors, I would suppose that you have some ABI incomparability, because fmt was built under Ubuntu and you are using Arch. Both systems could use different libc and libstdc++. So I recommend to force build libfmt on your system or use

[2018-06-23 01:22] uilianries commented on #321
UPDATE:

I just updated the package to have spdlog/0.17.0

[2018-06-23 22:18] madebr opened #326 "Qt 5.11.0 for gcc 8"
### Description of Problem, Request, or Question
Qt 5.11.0 has no packages for gcc 8

### Package Details (Include if Applicable)
* Package Name/Version: **qt/5.11.0**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8**

### Steps to reproduce (Include if Applicable)
[code]

[2018-06-23 22:22] madebr opened #327 "Bullet 2.87 for gcc 8"
### Description of Problem, Request, or Question
bullet/2.87 has no packages for gcc 8

### Package Details (Include if Applicable)
* Package Name/Version: **bullet/2.87**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8**

### Steps to reproduce (Include if Applicable)
[code]

[2018-06-23 22:24] madebr opened #328 "libiconv 1.15 for gcc8"
### Description of Problem, Request, or Question
libiconv1.15 has no packages for gcc 8

### Package Details (Include if Applicable)
* Package Name/Version: **libiconv/1.15**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8**

### Steps to reproduce (Include if Applicable)
[code]

(ffmpeg depends on libiconv so that one also needs a gcc 8 version)

[2018-06-23 22:27] madebr opened #330 "libalsa/1.1.5@conan/stable"
### Description of Problem, Request, or Question
libalsa/1.1.5 has no packages for gcc 8

### Package Details (Include if Applicable)
* Package Name/Version: **libalsa/1.1.5**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8**

### Steps to reproduce (Include if Applicable)
[code]
(openal/1.18.2@bincrafters/stable depends on this package, so that one also needs a gcc 8 version)

[2018-06-24 02:30] uilianries commented on #330
Hi @madebr !

[libalsa](https://github.com/conan-community/conan-libalsa) is maintained by [conan-community](https://github.com/conan-community/community/issues)

Please, open an issue on Conan community.

/cc @danimtb

[2018-06-24 02:30] #330 closed

[2018-06-24 02:45] uilianries commented on #326
Related commit: https://github.com/bincrafters/conan-qt/commit/19f4acf3cb2fd0883fe23dc685b971a17ca13f9f

[2018-06-24 15:19] Manu343726 commented on #292
Sorry for the late response

I've managed to have the four recipes working sharing code with a conan python package (For things like install, sources download, etc). After testing the package with one of my projects I noticed I'm not exporting the llvm libraries as part of cpp_info.libs. If I use CMake relying on the standard LLVMConfig scripts everything works.

Now the question is how I should p

[2018-06-25 00:28] mbeach opened #331 "gflags not building for compiler.libcxx == libstdc++11"
### Description of Problem, Request, or Question

The `build.py` file in conan-gflags does not set the `pure_c` flag to false in the call to `get_builder()`. This results in the CI builds only running for `libstdc++` and not `libstdc++11`.

I have a pull request bincrafters/conan-gflags#3 open which fixes this issue.

### Package Details (Include if Applicable)
* Package Name/Version: **gflags/2.2

[2018-06-25 00:32] mbeach opened #332 "glog not building for compiler.libcxx == libstdc++11"
### Description of Problem, Request, or Question

The `build.py` file in conan-glog does not set the `pure_c` flag to false in the call to `get_builder()`. This results in the CI builds only running for `libstdc++` and not `libstdc++11`.

I have a pull request bincrafters/conan-glog#3 open which fixes this issue.

### Package Details (Include if Applicable)
* Package Name/Version: **glog/0.3.5**
*

[2018-06-25 17:02] ShamanTcler opened #333 "GTest 1.8 :Link error with error LNK2019: unresolved external symbol __std_reverse_trivially_swappable_4"
Same issue reported here: https://github.com/lasote/conan-gtest/issues/41
Replicated here as this is the "newer" process :)

Win 10
Conan 1.4.5
MSVS 2015 compiler
Ninja build

I admit I am new to Conan so likely a user error, but here goes.

prompt>conan search
test/1.8.0@bincrafters/stable

Conanfile.txt:
[conanfile.txt](https://github.com/bincrafters/community/files/2133989/conanfile.txt)

Cmake

[2018-06-26 03:32] uilianries commented on #333
I just create the project https://github.com/uilianries/conan-cmake-gtest-error/tree/master to reproduce your scenario;

I didn't see any error on Linux. I need to on Windows to make sure.

[2018-06-26 09:42] madebr opened #334 "ffmpeg 4.0 for gcc 8"
### Description of Problem, Request, or Question
ffmpeg/4.0 has no packages for gcc 8

### Package Details (Include if Applicable)
* Package Name/Version: **ffmpeg/4.0**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8**

### Steps to reproduce (Include if Applicable)
[code]
Depends on #328

[2018-06-26 09:48] madebr commented on #327
bincrafters/conan-bullet#2 might also be interesing to merge.

Idk whether this requires a rebuild.

[2018-06-26 10:53] ShamanTcler commented on #333
So I dropped back to version 1.7 ... worked perfectly. Just changed a 8 to 7... viola

I did find these links:

https://github.com/google/googletest/issues/292

and

https://www.leadwerks.com/community/topic/17064-solved-c-compile-error/

[2018-06-26 11:31] uilianries commented on #333
from slack conversation:

when the user runs `conan install gtest/1.8.0@bincrafters/stable`
it could receive the message based on host configuration
msvc + version

We have used `configure(self)` as entrypoint for warning messages many times.

[2018-06-26 11:32] uilianries commented on #333
Any thought @SSE4 ?

[2018-06-26 13:29] liberforce opened #335 "gmock built as a shared library must use statically linked gtest"
### gmock built as a shared library must use static gtest

This is what the [GMock README](https://github.com/google/googletest/blob/master/googlemock/README.md#as-a-shared-library-dll) states:

Indeed, when building my software stack on Windows Server 2016, I passed "*:shared=True", and gmock was built as a shared library. However, some tests using gmock were complaining with this error message:

[2018-06-26 14:02] ShamanTcler commented on #333
issue 335 appears to be on the same/similar topic

[2018-06-27 00:05] uilianries commented on #331
Thanks! I merged your PR!

Indeed gflags uses c++ support.

[2018-06-27 00:05] #331 closed

[2018-06-27 00:08] uilianries commented on #332
Thanks!

I'll wait gflags upload before to merge your request.

[2018-06-27 00:54] uilianries commented on #332
Done!

[2018-06-27 00:54] #332 closed

[2018-06-27 02:18] uilianries commented on #325
Hi @Konijnendijk !

Thanks for your contribution. It will be a pleasure to recipe your recipe

I'm going pull it on our repository and refine some points after that.
Your commits will be preserved, including your name.

Regards!

[2018-06-27 12:15] mbeach opened #336 "building boost libraries should respect the compiler.libcxx setting"
### Description of Problem, Request, or Question

Currently, when conan package for a non-header only boost library is built, the build is always done using the compiler's default ABI. This means that even when we attempt to build for libstdc++, if the compiler defaults to libstdc++11 (say gcc 5.4 on Ubuntu 16.04) we build libraries that purport to be using the pre-C++11 ABI but are in fact using

[2018-06-27 13:41] mbeach opened #337 "lz4 should have compiler.libcxx setting deleted"
### Description of Problem, Request, or Question
lz4 is pure C code, but is being built with the compiler.libcxx setting present. This results in the Linux gcc CI builds all having the compiler.libcxx setting set to libstdc++, which means that the packages won't be considered when building C++ code with compiler.libcxx set to libstdc++11.

To fix this we should delete the compiler.libcxx setting i

[2018-06-27 13:45] lasote opened #338 "cygwin installer failing due to defaulted option in test_package/conanfile.py"
### Description of Problem, Request, or Question

Hi, If I try to install the cygwin_installer package, not binary package is found.
I think it is because the recipe defaults the `no_acl` to False but the test_package is forcing the `no_acl` to True, so the generated packages are for `no_acl=True` that it is not the default of the recipe.

https://github.com/bincrafters/conan-cygwin_installer/blob

[2018-06-27 14:18] uilianries commented on #337
Many thanks! You are doing a great job on this community!

Thanks again for all your effort.

I just accepted your PR some minutes ago. After to have all packages on Bintray, will be needed to remove the outdated.

[2018-06-27 14:18] uilianries commented on #337
I'll keep this issue open until remove all outdated packages.

[2018-06-27 14:35] mbeach commented on #337
No worries. I'm mostly just scratching my own itch, trying to get CI builds of https://github.com/mbeach/conan-folly working (I think I'm almost there...), but if the stuff I stumble across along the way helps then I'm very pleased about that.

[2018-06-27 14:41] uilianries commented on #337
Folly is a huge project, please feel to ask for help or discuss any idea on Slack.

cpplang.slack.com our channel is #bincrafters

[2018-06-27 15:54] solvingj commented on #337
Yes, thank you. I believe our folly is very close to working also.  https://github.com/bincrafters/conan-folly

[2018-06-27 16:45] uilianries commented on #337
@solvingj he forked our repo ;)

[2018-06-28 00:38] mbeach commented on #337
Thanks, I didn't know about the slack channel. I will check it out.

[2018-06-28 00:57] uilianries commented on #337
Done!

![lz4/1.8.0@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/3ea6bb36-dc81-4882-ab7a-f070f0f6ffcb.png)

[2018-06-28 00:57] #337 closed

[2018-06-28 01:01] uilianries commented on #338
Hi @lasote! I'll check this.

[2018-06-28 01:08] uilianries commented on #338
Indeed only outdated packages are `no_acl=False`

![cygwin_installer/2.9.0@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/91df0f25-b8be-47c8-9ce6-90f615525467.png)

[2018-06-28 02:52] uilianries commented on #338
@laote I built both options for no_acl and uploaded to Bintray

Please, check again.

[2018-06-28 03:30] SSE4 commented on #338
interesting, so default_options from test_package have priority over default_options from package itself?

[2018-06-28 03:32] SSE4 commented on #336
seems like the same issue as #298

[2018-06-28 03:35] SSE4 commented on #320
@Croydon does AttributeError issue still happen for you? have you opened bug for conan.io yet?
I am back to continue my work on SDL2_image, hopefully will have it done by the end of week.

[2018-06-28 03:49] SSE4 commented on #333
super weird error, symbol **__std_reverse_trivially_swappable_4** must be something from the standard library, which may indicate some kind of runtime library mismatch or generic compiler flags mismatch.

[2018-06-28 03:51] SSE4 commented on #290
I am back, will check it on my Mac Book Pro and let you know

[2018-06-28 05:56] lasote commented on #338
Yes. When a test package is present, the package is built using the test package as a consumer, so it can change any option upstream. It is not recommend, of course.

[2018-06-28 08:39] #328 closed

[2018-06-28 08:48] lucienboillod commented on #326
@uilianries the branch you commited is deprecated, the new branches are 5.11.0, 5.9.6 and 5.6.3 :blush:

[2018-06-28 08:51] SSE4 commented on #335
hey @liberforce
I probably misunderstood your issue, do you see an error message if you run code example above with gtest:shared=True? it seems like I am unable to reproduce it

[2018-06-28 09:45] SSE4 commented on #315
I am closing an issue for now, as new version is available. @mcquay239 if you have any other problems with GSL package, please open new issue.

[2018-06-28 09:45] #315 closed

[2018-06-28 11:15] uilianries commented on #326
Okay, I'll update this!

[2018-06-28 11:42] lucienboillod commented on #326
@uilianries thank you, I have updated every branchs with the PR of Eric also, and changes the readme and url, you may have the fetch the changes

[2018-06-28 11:44] SSE4 commented on #320
@Croydon which conan version do you run? I've just run into the same issue (AttributeError) with 1.0.4, but `python -m pip install --upgrade conan` solved it

[2018-06-28 12:05] uilianries commented on #326
Thanks for that!

[2018-06-28 14:01] SSE4 commented on #290
yes, I see the same issue
it seems like library requires C++11 (according to the https://www.boost.org/doc/libs/1_66_0/libs/fiber/doc/html/fiber/overview.html), but somehow C++11 support is not detected:
[code]

[2018-06-28 14:05] SSE4 commented on #290
that's right, boost_generator doesn't pass `-std=c++11` only for clang + libc++ (which is default on OSX):
https://github.com/bincrafters/conan-boost_generator/blob/stable/1.66.0/conanfile.py#L336

[2018-06-28 14:07] SSE4 commented on #290
in general, I suppose boost_generator should also handle conan's cppstd setting (https://docs.conan.io/en/latest/howtos/manage_cpp_standard.html)
and boost_fiber should refuse to build for cppstd < 11 (add check to `configure` method)
@solvingj @grafikrobot WDYT?

[2018-06-28 14:14] SSE4 commented on #269
I am closing this one, as we have dedicated issue for harfbuzz/ragel_installer

[2018-06-28 14:14] #269 closed

[2018-06-28 14:15] SSE4 commented on #240
closing as changes were merge, @piponazo if you have any other problems with GTest package, feel free to open new issue(s).

[2018-06-28 14:15] #240 closed

[2018-06-28 14:49] Croydon commented on #320
I will do another test, just don't have the time right now.

I can't say it for sure anymore, but I don't remember we have updated our Docker containers between this error and the re-run with a modified variant of the recipe, so it should be Conan 1.4.4

[2018-06-28 15:48] StiventoUser opened #339 "boost_python cross-arch build error."
### Description of Problem, Request, or Question
I'm trying to build boost_python package, but I've got an error:
[code]

The x86_64 was successful (`sudo apt-get install -y --no-install-recommends python-dev`).

### Package Details (Include if Applicable)
* Package Name/Version: **boost_python/1.66.0@bincrafters/stable**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **gcc-7.3**

[2018-06-28 18:05] theirix commented on #324
Thank you for reporting and sorry for a delayed response. We are aware of this problem and it is a tricky one. Several approaches to fix this problem in a recipe are https://github.com/conan-io/conan/pull/2343 or  `patch_config_paths` function in a just-released Conan 1.5.0. I hope the latter approach will help.

Unfortunately, I am going for a vacation tomorrow so I can fix recipes (leptonica and

[2018-06-28 20:03] helmesjo opened #340 "cmake_findboost_modular finds version 1.66.0 but includes 1.65.1"
### Description of Problem, Request, or Question
Basically, I have a bunch of different versions of boost installed, and just noticed in the cmake logs that it finds version 1.66.0, but points include & library dirs to 1.65.1. Could be troublesome, or at the very least confusing.

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **cmake_findboost_modular/1.65.1**
* Opera

[2018-06-29 01:55] SSE4 commented on #340
@helmesjo interesting, how did you get such a mixture of 1.65 and 1.66?

[2018-06-29 08:44] helmesjo commented on #340
Basically just by working on different packages using different versions of boost, I suppose. :)

[2018-06-29 09:01] SSE4 commented on #340
I am not sure how will it work in such use-case. our FindBoost.cmake uses variables from *conanbuildinfo.cmake*, like CONAN_BOOST_PROCESS_INCLUDE_DIRS and so on. if boost process is somehow included twice of two different versions, what would be value of such CMake variable? by the way, it might help if you could attach your **conanbuildinfo.cmake** file.

[2018-06-29 09:31] lasote commented on #338
It is working good now. Thanks friends!

[2018-06-29 09:31] #338 closed

[2018-06-29 10:20] helmesjo commented on #340
Couldn't this be a rather big issue then? I imagine this happening quite often as time goes by and boost releases new versions followed by packages upping their requirements...

I'll look up **conanbuildinfo.cmake** when I get back home!

[2018-06-29 15:05] lasote commented on #340
That's exactly what I'm thinking...

[2018-06-29 15:40] helmesjo commented on #340
Yeah, well looking in my `conanbuildinfo.cmake` I can confirm that only boost 1.65.1 is mentioned (as per `conanfile.txt:[requirements]`), and the fact that the cmake outputs 1.66.0 is just that it is [incorrectly hardcoded in `FindBoost.cmake`](https://github.com/bincrafters/conan-cmake_findboost_modular/blob/090968f1ebb3ccffac05cb5a003040a1a0fdbe10/FindBoost.cmake#L341).

Regarding the "not a va

[2018-06-29 15:42] SSE4 commented on #340
roger that :) I'll fix typo and let you know.
I misunderstood your issue, I was thinking you somehow got two boost versions as dependencies of some package :)

[2018-06-29 23:43] datalogics-kam commented on #324
Thanks for the reply. We're working around it by building all our Tesseract configs locally and forcing Leptonica to build when we do, so I'm good for now. Have a good vacation (or I hope you did if you don't get this until you return).

[2018-06-30 04:36] SSE4 commented on #334
binaries are available

[2018-06-30 04:36] #334 closed

[2018-06-30 07:02] SSE4 commented on #340
@helmesjo I've removed hard-coded version, please give another try

[2018-07-01 07:53] sinall commented on #319
Any findings?

[2018-07-02 07:09] helmesjo commented on #340
Looks fine to me!
[code]

[2018-07-02 07:09] #340 closed

[2018-07-02 12:16] tanshihaj opened #341 "Possibly missing libraries for SDL2 static build"
### Description of Problem, Request, or Question
When I'm building static SDL2 library on windows and trying to link into my application I receive some undefined reference errors. Linking with additional libraries -lole32 -loleaut32 -lgdi32 solve problem.

### Package Details (Include if Applicable)
* Package Name/Version: **sdl2/2.0.8**
* Operating System: **Windows 10**
* Compiler+version: **gcc

[2018-07-02 12:18] SSE4 commented on #341
thanks for the report, I'll add additional libraries needed

[2018-07-02 14:30] SSE4 commented on #341
@tanshihaj new binaries are on bintray, could you possibly give an another try?

[2018-07-02 16:02] tanshihaj commented on #341
Yep, now it links, thanks!

[2018-07-02 16:02] #341 closed

[2018-07-03 04:20] uilianries commented on #325
Done!

https://github.com/bincrafters/conan-liblinear
https://ci.appveyor.com/project/BinCrafters/conan-liblinear/build/1.0.5
https://travis-ci.org/bincrafters/conan-liblinear/builds/399418987
https://bintray.com/bincrafters/public-conan/liblinear%3Abincrafters/2.20%3Astable

Just waiting for finish all CI jobs.

[2018-07-03 20:26] uilianries opened #342 "Remove outdated packages to save space on Bintray"
### Description of Problem, Request, or Question

We reached again the storage limit on our Bintray account (160GB).

I think we could remove **ALL** outdated packages from Bintray.

I could provide a script using Conan API or subprocess to walk over all packages and remove any outdated artifact. Easy stuff.

I'm afraid to break some users, removing outdated that are used by the community.

WDYT?

[2018-07-04 00:33] #327 closed

[2018-07-04 01:34] uilianries commented on #327
Hi @madebr the package is up-to-date!

![conan-bullet](https://screenshotscdn.firefoxusercontent.com/images/8f022f8f-4433-4906-8d2f-788c5109236b.png)

[2018-07-04 02:02] SSE4 commented on #342
I guess outdated packages are useless and there is no sense to keep them

[2018-07-04 02:28] uilianries commented on #342
I'll provide a script to remove all of them.

[2018-07-04 12:58] lucienboillod commented on #323
Hello,

Sorry for the late reply I was really busy, so I worked a bit on it.

I found the cause of this link error, the problem is that we do not export the lib variable through CONAN_LIBS, because Qt has a tons of lib, modules differents options (for example only for Qtbase, there is 22 libs to link) etc ... so we cannot use conan variables, which is, I know a big pain .. we are thinking about a

[2018-07-04 13:10] lucienboillod commented on #326
@uilianries we cherry-picked your commit and waiting the CI to finish to integrate it :blush:

[2018-07-04 13:36] uilianries commented on #326
Thanks @lucienboillod !

[2018-07-04 17:29] SSE4 commented on #319
@sinall sorry, not yet, will take additional look tomorrow

[2018-07-04 20:00] allquixotic opened #343 "conan-wt documentation refers to a package that doesn't exist"
### Description of Problem

The instructions for [conan-wt](https://github.com/bincrafters/conan-wt) point to a "testing" package, which does not exist.

From https://github.com/bincrafters/conan-wt/blob/testing/4.0.3/README.md
and
https://github.com/bincrafters/conan-wt/blob/stable/4.0.3/README.md
(the branches are currently even):

s/testing/stable in those commands fixes the problem of the pack

[2018-07-04 20:41] p-groarke commented on #323
Looking forward to the fix. Ty.

[2018-07-05 02:28] allquixotic commented on #343
Awesome, thanks!

[2018-07-05 08:18] #343 closed

[2018-07-05 10:42] uilianries commented on #342
I created the project bincrafters-remove-outdated.

https://pypi.org/project/bincrafters-remove-outdated

https://github.com/bincrafters/bincrafters-remove-outdated/

It's available installing by pip

`pip intlstall bincrafters-remove-outdated`

Soon I'll execute it to clean our repository.

[2018-07-05 10:42] SSE4 commented on #342
is it somehow possible to execute it periodically (e.g. crontab)?

[2018-07-05 11:53] uilianries commented on #342
Yes, it's totally possible using cron jobs with Travis CI:

https://docs.travis-ci.com/user/cron-jobs/

We could run once a month.

[2018-07-05 12:33] Croydon commented on #320
Doesn't seem to happen anymore with the update to Conan 1.5.1

Thanks!

[2018-07-05 12:33] #320 closed

[2018-07-05 12:57] madebr opened #344 "Update yaml-cpp to 0.6.2"
### Description of Problem, Request, or Question
yaml-cpp 0.6.2 is available since 6 March 2018: https://github.com/jbeder/yaml-cpp/releases

### Package Details (Include if Applicable)
* Package Name/Version: **yaml-cpp/0.6.2**

### Steps to reproduce (Include if Applicable)
- PR at bincrafters/conan-yaml-cpp#12
- CI fails because no `0.6.2/stable branch` exists

[2018-07-05 13:38] madebr opened #345 "sdl2/2.0.8 install fails when the system requirements are not installed"
### Description of Problem, Request, or Question

Install of sdl2/2.0.8 fails. No dependencies are installed.

[code]
### Package Details (Include if Applicable)
* Package Name/Version: **sdl2/2.0.8**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8.1.1**

### Steps to reproduce (Include if Applicable)

[2018-07-05 13:39] uilianries commented on #344
@madebr Thanks!

[2018-07-05 14:45] uilianries commented on #342
I need to add pagination feature ...

we have a huge number of packages, so for each package search based on a recipe name, it could take minutes to get some answer from Bintray.

Concluding, I'm running the command since 2h ago and it's checking for package id's yet ...

[2018-07-05 17:17] SSE4 commented on #342
@uilianries do we have some stats, e.g. how much space we have cleaned up by removing outdated packages, as well as how much free space available we have now?

[2018-07-05 17:42] allquixotic commented on #342
I think it's fine to delete very old versions of packages, as well as packages with known security vulnerabilities... But in enterprise software, folks often stay on an older version because it's costly to upgrade.

I know bintray may be providing free space, but if either paying them lots of money or being stuck on 160 GB is going to continue, maybe consider using another host?

bincrafters offer

[2018-07-05 17:49] uilianries commented on #342
@SSE4  zero! we reached a problem trying to download package info form Bintray.

https://bintray.statuspage.io/

My last result:

[code]

First it lists all recipes to be filtered. Second, it searches for outdated packages. Third (not executed) it removes all outdated packages.
We fail during the search for outdated packages. As you can see we spent 156m trying to filter all packages. Would be nic

[2018-07-05 17:53] uilianries commented on #342
@SSE4 said:

I think only admins could read the available size :(

[2018-07-05 18:14] Croydon commented on #345
IIRC this is the reason why @lasote never uploaded packages for SDL2.

[2018-07-05 18:33] arsonaut opened #346 "Libcurl package should add package_id() method to correctly address OpenSSL versioning scheme"
### Overriding of OpenSSL dependency to 1.1 version causing link errors when binary package from remote is used

### Package Details
* Package Name/Version: **libcurl/7.60.0**
* Operating System: **Windows 10 x64**
* Compiler+version: **MSVC 2013**

### Steps to reproduce
[code]

[2018-07-05 18:45] arsonaut commented on #346
Issue must be valid for all packages which use OpenSSL dependency.
It's because OpenSLL doesn't follow rules of semver and API/ABI compatibility is established within **minor** version (0.9, 1.0, 1.1).

I already prepared pull request for libcurl/stable/7.60 — https://github.com/bincrafters/conan-libcurl/pull/12

[2018-07-05 20:59] Croydon commented on #93
Solved. https://github.com/bincrafters/conan-lz4/commit/98e2222eebcbf03be37798a1035c36e6b6cefe55

[2018-07-05 21:40] helmesjo opened #347 "Missing prebuilt package for 'flex/2.6.4@bincrafters/stable'"
### Description of Problem, Request, or Question
[Missing prebuilt package for 'flex/2.6.4@bincrafters/stable'](https://travis-ci.org/helmesjo/conan-thrift/jobs/400594686)
[code]
### Package Details (Include if Applicable)
* Package Name/Version: **flex/2.6.4**
* Operating System: **Linux**
* Compiler+version: **gcc-7**
* Docker image: **lasote/conangcc7**

[code]

[2018-07-05 21:44] helmesjo commented on #347
Considering you encourage people to [copy (not fork)](http://bincrafters.readthedocs.io/en/latest/contributing_to_packages/package_guidelines_faq.html#general-package-workflow-for-bincrafters-members) the conan-templates repo, what is the strategy for these kinds of issues? New compiler versions will continuously require new prebuilt packages, but changes to the template (travis/appveyor environme

[2018-07-05 22:01] helmesjo opened #348 "Missing prebuilt package for 'bison/3.0.4@bincrafters/stable'"
### Description of Problem, Request, or Question
[Missing prebuilt package for 'bison/3.0.4@bincrafters/stable'](https://travis-ci.org/helmesjo/conan-thrift/jobs/400594694)
[code]
### Package Details (Include if Applicable)
* Package Name/Version: **bison/3.0.4**
* Operating System: **Darwin**
* Compiler+version: **apple-clang 9.1**

[code]

[2018-07-06 02:36] mbeach opened #349 "Update lz4 to 1.8.2"
### Description of Problem, Request, or Question

Hi, I have bincrafters/conan-lz4#8 open to update lz4 to version 1.8.2.

Updating to 1.8.2 gets us lz4/lz4#459, which fixes problems when compiling with C++14 or C++17 with clang. These problems are biting me with folly.

### Package Details (Include if Applicable)
* Package Name/Version: **lz4/1.8.0**

[2018-07-06 02:43] mbeach opened #350 "Fixes for folly to get it building on Linux with gcc and with Visual Studio"
### Description of Problem, Request, or Question

Hi, I have bincrafters/conan-folly#3 open to get folly building with gcc on Linux and Visual Studio on Windows. It should be pretty straightforward to get it building with clang as well once #349 is addressed too.

### Package Details (Include if Applicable)
* Package Name/Version: **folly/0.58.0**

[2018-07-06 10:55] SSE4 commented on #342
@uilianries by admins do you mean administrator of bincrafters account (e.g. @solvingj ) or some general admins from JFrog/bintray?

[2018-07-06 12:34] amerry opened #351 "libusb has incorrect license field"
### Description of Problem, Request, or Question
The "license" field in `conanfile.py` lists the package's license as "GPL-2", but libusb is actually licensed under LGPL 2.1 (as can be seen from the COPYING file installed with the package).

### Package Details (Include if Applicable)
* Package Name/Version: **libusb/1.0.22** (but also other versions)

[2018-07-06 13:05] uilianries commented on #342
@SSE4 General admins from JFrog, like lasote, memsharded ...

[2018-07-06 13:06] uilianries commented on #342
@SSE4  Good news! The commands is working now. Looks like we had some trouble on Bintray side. After to have the result I'll post the log here.

[2018-07-06 14:32] madebr opened #352 "qt/5.11.0@bincrafters/stable misses dependencies"
### Description of Problem, Request, or Question
Linking to `qt/5.11.0@bincrafters/stable` with `-o qt:shared=False` causes the linker to have some missing symbols.

### Package Details (Include if Applicable)
* Package Name/Version: **qt/5.11.0**
* Operating System: **Windows**
* Compiler+version: **Visual Studio 2017**

### Steps to reproduce (Include if Applicable)
AppVeyor output: https://ci.a

[2018-07-06 14:32] SSE4 commented on #345
this one is tricky
if SDL was built with jack support, then it will require jack libraries in runtime, as well as require jack libraries for linking (at least in case of static build)
in case jack is not available on target system, binaries will not link, or at least will not run, isn't it?
so, I guess jack is requirements (if it's not needed, one may pass `-o sdl2:jack=False` to profile or conan

[2018-07-06 14:38] ericLemanissier commented on #352
What generator are you using?
Currently with cmake only find_package should work. The other solution is to call qmake+nmake/jom.

[2018-07-06 14:50] Croydon commented on #349
@mbeach You could write in future pull request something like

then the issues are getting automatically closed on merge :)

[2018-07-06 14:55] madebr commented on #345
Idk whether something has changed, but installing sdl2 now has another behavior.

<details>
  <summary>Output of running <code>conan install sdl2/2.0.8@bincrafters/stable</code></summary>
<pre><code>$ conan install sdl2/2.0.8@bincrafters/stable
sdl2/2.0.8@bincrafters/stable: Not found in local cache, looking in remotes...
sdl2/2.0.8@bincrafters/stable: Trying with 'conan-center'...
sdl2/2.0.8@binc

[2018-07-06 14:57] SSE4 commented on #345
according to the doc https://access.redhat.com/solutions/2779441, it's legal situation.
```returns exit value of 100 if there are packages avail‐able for an update.```
probably, conan doesn't handle this case with system package tool well.
I'll check if it's possible to somehow bypass.

[2018-07-06 15:02] madebr commented on #352
We are using the cmake generator.
The qt application is just a side viewer application, so we want to keep it cmake.

conanfile: https://github.com/madebr/openrw/blob/conan/conanfile.py
CMakeLists.txt of the qt application: https://github.com/madebr/openrw/blob/conan/rwviewer/CMakeLists.txt

[2018-07-06 15:02] SSE4 commented on #345
yep, this seems to be conan issue, it should be using `yum update` instead of `yum check-update`.
two things how to bypass:
1. running `yum update` manually
2. add **update=False** to the conanfile.py: `installer.install(package, update=False)`

[2018-07-06 15:10] madebr commented on #345
Ok, I updated my system and that error goes away.
New error:
[code]
`pkg-config` is provided by `pkgconf-pkg-config` on fedora.

[2018-07-06 15:10] ericLemanissier commented on #352
https://github.com/madebr/openrw/blob/conan/conanfile.py#L43 please use 5.11.0

[2018-07-06 15:11] SSE4 commented on #345
thanks, I'll take some time to get correct package names for fedora as well. I'll keep you informed.

[2018-07-06 16:48] ericLemanissier commented on #352
Ok, I just realized that I faced the exact same bug yesterday, and it is a known problem when using static build of Qt with cmake  : https://bugreports.qt.io/browse/QTBUG-38913
I'm not confident adding these libs to the recipe, because we don't know in which configuration they are really required. Is it possible for you to add them to you cmakelist or conanfile.py ?

[2018-07-06 16:54] madebr commented on #352
Adding that perl script is a bit out of scope. I will look into bundling the qt5 dll's.

[2018-07-06 17:03] madebr commented on #352
Btw, the build_requirements are not valid on Fedora Linux.

[2018-07-06 17:09] uilianries commented on #342
UPDATE:

@SSE4 the command is running yet ... seems we haves ton of outdated packages from modular Boost ...

[2018-07-06 17:13] ericLemanissier commented on #352
you don't need a perl script, you can simply add the missing libraries directly in your cmake file with
target_link_libraries, but I cannot recommend you enough going for a shared build instead. http://doc.qt.io/qt-5/windows-deployment.html will probably help you with the bundling.

build_requirements are probably ok only on ubuntu, because it is the only distribution available for continuous inte

[2018-07-06 17:18] madebr commented on #352
I currently cannot build conan-qt5 on my Fedora machine because I require `Qt5:opengl=desktop`.

[2018-07-06 17:43] ericLemanissier commented on #352
Ok, I found some "official" documentation about fedora requirements : http://code.qt.io/cgit/qt/qtbase.git/tree/src/plugins/platforms/xcb/README?h=5.11.0 I'll integrate it in the recipe. Thanks again !

[2018-07-06 18:08] ericLemanissier commented on #352
Could you please try with the current recipe on my repo https://github.com/ericLemanissier/conan-qt ?

[2018-07-07 00:16] uilianries commented on #351
Hi @amerry !

Thanks for your report! I'll fix it soon.

Regards!

[2018-07-07 00:30] uilianries commented on #351
I created the follow PRs fixing the issue:

https://github.com/bincrafters/conan-libusb/pull/19
https://github.com/bincrafters/conan-libusb/pull/20
https://github.com/bincrafters/conan-libusb/pull/21

Also I updated on Bintray:
https://bintray.com/bincrafters/public-conan/libusb%3Abincrafters

[2018-07-07 00:35] uilianries commented on #349
Merged!

[2018-07-07 00:35] #349 closed

[2018-07-07 00:50] uilianries commented on #348
Hi @helmesjo !

I created the PR https://github.com/bincrafters/conan-bison/pull/1 to fix this issue.

[2018-07-07 00:56] uilianries commented on #347
We updated our template to support the new compiler versions, but for non-official packages (not present on Conan center) we are updating by demand, because it spends time from our CI.

We could update all recipes by a script, we already did this for some recipes, but the point is save time from our CI, for unused packages.

[2018-07-07 01:01] allquixotic opened #353 "wt/4.0.3/stable can't be cross-compiled Linux to Windows"
### Description of Problem

Hi; I'm trying to cross-compile from Ubuntu 18.04 x86_64 to Windows x86_64 and setting up a profile for that. I'm following [this](https://docs.conan.io/en/latest/systems_cross_building/cross_building.html) guide but it's trying to install `msys2_installer` which it shouldn't do because I already have mingw64 gcc and g++ installed for native Ubuntu. Moreover, `msys2_ins

[2018-07-07 01:03] uilianries commented on #347
I create the PR https://github.com/bincrafters/conan-flex/pull/1 to fix this issue.

[2018-07-07 01:33] uilianries commented on #344
I merged your version on testing/0.6.2. I'll wait for CI result to push on stable branch.

[2018-07-07 01:35] madebr commented on #344
Can you check whether the package contains a `yaml-cpp-targets.cmake` file and makes it visible to its consumers? I'm not sure about that.

[2018-07-07 01:47] uilianries commented on #344
sure! I'll check on my side

[2018-07-07 02:13] uilianries commented on #351
Done!

If you find any problem, please re-open this issue.

[2018-07-07 02:13] #351 closed

[2018-07-07 04:50] SSE4 commented on #353
I'll take a look. seems like corner case we never tested (cross compile from Linux to Windows).

[2018-07-07 05:14] SSE4 commented on #319
I see on appveyor it picks up OpenSSL from the `C:/OpenSSL-Win64/lib/VC/libeay32MDd.lib`, not from conan, it might be an issue, will check

[2018-07-07 05:19] SSE4 commented on #353
unfortunately, for me it failed earlier:
[code]
but it seems like I've found package which includes msys2_installer, it's lzma, I'll rebuild it and let you know.

[2018-07-07 05:28] allquixotic commented on #353
It's strange that your compile of bzip2 fails. Actually on my system I think bzip2 succeeded! If you aren't using the latest MinGW toolchain it might be because you're using an older one...

[2018-07-07 05:30] SSE4 commented on #353
seems like same as yours: ```Check for working C compiler: /usr/bin/x86_64-w64-mingw32-gcc-7.3-win32```
I've never actually used MinGW on Linux, so I might be installed it inappropriately or improperly.
I've just installed package **g++-mingw-w64-x86-64**

[2018-07-07 06:04] SSE4 commented on #353
@allquixotic I've pushed new lzma package, could you possibly give another try?

[2018-07-07 06:04] allquixotic commented on #353
Ok, I'll give it another try. Thanks!

[2018-07-07 06:11] allquixotic commented on #353
I'm getting the same error as you on bzip2 now :(

[2018-07-07 07:29] helmesjo commented on #348
Thanks!

[2018-07-07 07:30] helmesjo commented on #347
Sound reasonable... :)

Alright, thank you!

[2018-07-07 11:34] mbeach commented on #349
@Croydon Thanks for the tip. I do this all the time on Bitbucket, but for some reason it didn't occur to me on github.

[2018-07-07 11:36] SSE4 commented on #353
@allquixotic yes, I suggest to open an issue in https://github.com/conan-community

[2018-07-07 11:46] SSE4 commented on #290
@solvingj @grafikrobot if you don't mind, I am gonna push changes to boost generator which should address multiple issues about C++ standard. please let me know if you have any objections.

[2018-07-07 12:46] SSE4 commented on #319
@sinall I guess I was finally able to fix this, could you possibly give an another try?

[2018-07-07 12:57] uilianries commented on #342
Done!

Could someone from Conan team @lasote @memsharded or @danimtb check our usage on Bintray, please?

Also, is there some way to check this, from Bincrafters team? I read on Artifactory docs but it's just available for admin users:

https://jfrog.com/knowledge-base/where-can-i-see-the-size-of-each-repository-in-artifactory/

[2018-07-07 13:54] SSE4 commented on #267
update, with glibc_version_header, x64 builds work fine, while x86 fails, investigating...

[2018-07-07 14:10] sinall commented on #319
@SSE4 It works now.

[2018-07-07 14:10] SSE4 commented on #319
glad to hear! I am closing the issue.

[2018-07-07 14:10] #319 closed

[2018-07-07 18:18] SSE4 commented on #155
I am closing this one, as changes were applied. please open new issue if you still encounter an error.

[2018-07-07 18:18] #155 closed

[2018-07-07 19:51] uilianries commented on #344
done!

the yaml-cpp-targets.cmake is at package_folder/lib/cmake/yaml-cpp-targets.cmake

![yaml-cpp](https://screenshotscdn.firefoxusercontent.com/images/290c10d9-b822-4652-b405-b037e72d3e91.png)

[2018-07-07 19:51] #344 closed

[2018-07-08 07:38] drrlvn opened #354 "fmt/5.1.0"
### Description of Problem, Request, or Question
https://github.com/fmtlib/fmt/releases/tag/5.1.0

### Package Details (Include if Applicable)
* Package Name/Version: **fmt/5.1.0**

[2018-07-08 07:38] drrlvn opened #355 "cli11/1.6.0"
### Description of Problem, Request, or Question
https://github.com/CLIUtils/CLI11/releases/tag/v1.6.0

### Package Details (Include if Applicable)
* Package Name/Version: **cli11/1.6.0**

[2018-07-08 11:38] drrlvn opened #356 "zstd/1.3.5"
### Description of Problem, Request, or Question
https://github.com/facebook/zstd/releases/tag/v1.3.5

### Package Details (Include if Applicable)
* Package Name/Version: **zstd/1.3.5**

[2018-07-08 14:33] #354 closed

[2018-07-08 14:37] uilianries commented on #355
Hi @drrlvn !

We **deprecated** the CLI11 package support.

The author is now maintaining it own Conan package:

https://github.com/CLIUtils/CLI11/blob/master/conanfile.py
https://bintray.com/cliutils/CLI11/CLI11%3Acliutils/1.6.0%3Astable

Please, follow the author to get updated.

[2018-07-08 14:37] #355 closed

[2018-07-08 15:31] SSE4 commented on #290
related to the:
https://github.com/bincrafters/conan-boost_generator/pull/5
https://github.com/bincrafters/conan-boost_generator/pull/1

[2018-07-08 15:31] SSE4 commented on #290
related to the:
https://github.com/bincrafters/community/issues/336
https://github.com/bincrafters/community/issues/298

[2018-07-08 15:32] SSE4 commented on #162
@mpusz I am closing the issue for now, please open a new one if it still happens

[2018-07-08 15:33] #162 closed

[2018-07-08 15:51] SSE4 commented on #290
also related to the:
https://github.com/bincrafters/community/issues/193

[2018-07-08 16:28] SSE4 commented on #339
seems to be problem with apt, some kind of conflicting packages? could you try to run `aptitude install python-dev:i386` in order to check for solution?

[2018-07-08 17:14] uilianries commented on #185
I found the project https://coderelease.io

It sends email when a new release is created. But only works for github projects. Fortunately, almost all projects that we maintain are present on Github, or there is a mirror.

We could use coderelease project to trigger a service that bump the recipe version.

However, we will need a non-free service to do this. An email or even RSS needs a service to

[2018-07-08 18:39] uilianries commented on #354
![fmt/5.1.0](https://screenshotscdn.firefoxusercontent.com/images/fcdbcbc0-a86c-43f9-ab9a-5f7a20a19d92.png)

[2018-07-08 18:52] uilianries commented on #356
Done!

![zstd/1.3.5](https://screenshotscdn.firefoxusercontent.com/images/0c9933fd-0f48-4b9c-8591-68ccec7e6651.png)

[2018-07-08 18:52] #356 closed

[2018-07-08 20:01] uilianries commented on #185
@SSE4 found many other projects:

https://libraries.io/
https://touchpine.com/
https://releaser.richardhagen.no/
https://gitpunch.com/
https://coderelease.io/
https://rping.github.io/Ver.bot-site/
https://ossindex.net/

[2018-07-09 07:15] StiventoUser commented on #339
Here is the result:
[code]

[2018-07-09 08:00] SSE4 commented on #339
so, does it mean aptitude was able to correct problem with packages?

[2018-07-09 08:01] SSE4 commented on #353
@allquixotic lasote has corrected problem with bzip2, could you possibly give an another try please?

[2018-07-09 08:08] lasote commented on #342
You are currently using `114.29 GB`. So your packages are mostly legit ;)
I raised the Bincrafters account to 1TB.

[2018-07-09 08:15] StiventoUser commented on #339
sorry, for the update. The previous output is from the WSL Ubuntu 16. btw there is also a problem.
Here is the output from my native Ubuntu:

[code]

[2018-07-09 09:51] StiventoUser commented on #339
@SSE4,
I've installed a clean system (Ubuntu 16)
That's the steps I've done:
[code]
The x64 installation was successfull.
 `boost_python/1.66.0@bincrafters/stable: Package '55d8c60836305e82b9550715ec3eeab2ca672d88' created`
The x86_64 throws:
[code]

[2018-07-09 10:49] mbeach commented on #336
Thanks @SSE4 I'll give it a try.

[2018-07-09 13:05] allquixotic commented on #353
The issue with bzip2 definitely seems to be resolved now :) Sadly I now trip on OpenSSL/1.0.2o@conan/stable so I guess I'm filing another issue there....

[2018-07-09 13:07] SSE4 commented on #353
yeah, as I've said earlier, you're probably the pioneer on cross-compiling from Linux to Windows via conan, so you may face lots of various issues (like incorrect assumptions about Windows target = Windows host).
what's the problem with OpenSSL?

[2018-07-09 13:11] SSE4 commented on #342
@uilianries so, now we have script, and also space increase, can we consider this done now?

[2018-07-09 13:12] SSE4 commented on #318
@sinall boost 1.67 is WIP, I'll let you know once it's ready

[2018-07-09 13:13] SSE4 commented on #189
@alexxxgu despite of opened issues against conan and cpprestsdk, latest recipe builds fine for Android in my case. please check on your side.

[2018-07-09 13:21] allquixotic commented on #353
Here you go: https://github.com/conan-community/community/issues/29

[2018-07-09 13:57] uilianries commented on #342
@lasote thanks for the report, so we cleaned some stuff :)

@SSE4 Yes, consider it done.

The package bincrafters-remove-outdated will run once a month by Travis.
But any Bincarfater member is able to run on it own machine.

The package could be installed by pip.

`pip install bincrafters-remove-outdated`

On Mon, Jul 9, 2018, 10:11 AM SSE4 <notifications@github.com> wrote:

[2018-07-09 13:58] SSE4 commented on #342
closing as done

[2018-07-09 13:58] #342 closed

[2018-07-09 15:12] theodelrieu commented on #193
Hello, thanks for the update. I did try again, with no luck unfortunately.

Here is a small reproducible example, the steps are in the `README.md` file:
[boost_regex_conan.zip](https://github.com/bincrafters/community/files/2176782/boost_regex_conan.zip)

[2018-07-09 15:36] madebr commented on #352
@ericLemanissier : The install step of your recipe works. I haven't attempted to download the sources or build it.

[2018-07-09 16:10] madebr commented on #298
Works as expected!

[2018-07-09 16:10] #298 closed

[2018-07-09 17:01] madebr commented on #345
@SSE4 https://github.com/bincrafters/conan-sdl2/pull/10

[2018-07-10 14:38] SSE4 commented on #345
@madebr new version was built, please give a try

[2018-07-10 14:44] theodelrieu opened #358 "boost_generator and CFLAGS"
### Description of Problem, Request, or Question
Hello, I'm using `darwin-toolchain/1.0@theodelrieu/stable` to cross-build packages for multiple Darwin platforms.

In this package I expose flags through the `CFLAGS` environment variable, and I'm unable to build `boost_regex` for macOS because of this.

The problem is the flag `-arch x86_64` that gets appended to `CFLAGS`.

In `conanfile.py`, line

[2018-07-10 14:58] madebr commented on #345
The install step succeeds and the package is downloaded successfully.
It also compiles and links perfectly.

The default options are also fine now: esd=False, x11=True and wayland=False
I don't need to override them anymore in our conanfile/profile to get our game to run.

[2018-07-10 14:58] #345 closed

[2018-07-10 14:58] madebr commented on #345
@SSE4  Thank you very much for your effort!

[2018-07-10 20:39] helmesjo opened #359 "Missing prebuilt package for 'gtest/1.8.0@bincrafters/stable'"
### Description of Problem, Request, or Question
[Missing prebuilt package for 'gtest/1.8.0@bincrafters/stable'](https://travis-ci.org/helmesjo/conan-cucumber-cpp/jobs/402288357)
[code]
### Package Details (Include if Applicable)
* Package Name/Version: **gtest/1.8.0**
* Operating System: **Linux**
* Compiler+version: **clang 5.0**

[code]

[2018-07-11 10:06] mbeach commented on #336
@SSE4 the changes look fine to me, as I now seem to be able to build folly for libstdc++.

[2018-07-11 11:59] danimtb commented on #311
Hi @keithrob91,

The conan community in general is providing the most used binary configurations but we cannot provide them all. Supporting down to gcc 4.9 is enough for most users.

I you want to use brincrafters (or any other) recipes to build packages for your configuration it should (in most cases) work building from sources. For example:

[code]

After that you can upload the pages to your ow

[2018-07-11 15:05] datalogics-kam commented on #336
Thanks for this fix. I was just about to report it myself.

This is fixing a problem for us when using devtoolset-7 on CentOS 6.10 as well. The binaries in Bintray for boost 1.66.0 still look like they're compiled for libstdc++11, but forcing a build with ``--build boost_test --build boost_filesystem`` is working for us.

Are there plans to rebuild the binaries?

[code]

[2018-07-12 01:38] sinall commented on #318
OK

[2018-07-12 02:08] sinall commented on #318
@SSE4 OK, let me know.

[2018-07-12 16:51] amerry opened #360 "libusb does not respect "shared" option on unix systems"
### Description of Problem, Request, or Question
libusb does not change the build based on the "shared" option on Linux (and other unix systems, presumably).

### Package Details (Include if Applicable)
* Package Name/Version: **libusb/1.0.21** (and also 1.0.22)
* Operating System: **Linux Ubuntu 14.04**
* Compiler+version: **gcc-4.8**

### Steps to reproduce (Include if Applicable)
When downloadi

[2018-07-12 22:46] Croydon opened #516 "conan-readme-generator: License file overwritten"
Recipe License file LICENSE missing. Adding a default MIT license.

It says not recognized, but thinks the license file is missing it the next step, which leads to overwrite of the already existing one. Should be fixed I guess.

[2018-07-12 23:47] ilyakrasnovsky opened #361 "Is conan-zmqpp under active development?"
### Description of Problem, Request, or Question
Is the conan recipe for [zmqpp](https://github.com/zeromq/zmqpp) under active development? I noticed a started `conan-zmqpp` project [here](https://github.com/bincrafters/conan-zmqpp), but it only seems to contain a `LICENSE`. Just asking in case it got renamed or moved. Thanks!

### Package Details (Include if Applicable)

### Steps to reproduce (I

[2018-07-13 19:02] vadixidav opened #362 "libx265 has faulty replace_in_file"
### Description of Problem, Request, or Question
I get this when pulling in libx265 to ffmpeg:
[code]

Looks like the replace_in_file requires the text to be there, but it isn't there in this case.

### Package Details (Include if Applicable)
* Package Name/Version: **libx265/2.6**
* Operating System: **Windows 10 Pro**
* Compiler+version: **VS 2015**

[2018-07-14 06:34] SSE4 commented on #353
@allquixotic lasote has corrected problem with zlib/OpenSSL, could you possibly give an another try please?

[2018-07-14 10:15] SSE4 commented on #336
@datalogics-kam we're currently building boost 1.67, which occupies CI heavily. it will definitely take several days. after that, we may rebuild required 1.66 binaries as well.

[2018-07-14 16:30] SSE4 commented on #359
@helmesjo I've added required configuration, please give an another try

[2018-07-14 16:34] helmesjo commented on #359
That did it, thanks!

[2018-07-14 16:34] #359 closed

[2018-07-14 19:18] SSE4 commented on #360
@amerry I've applied necessary changes to both 1.0.21 and 1.0.22, please give an another try

[2018-07-14 19:39] p-groarke opened #363 "[feature] Mandate or strongly encourage a master/testing version for packages."
There are currently many packages that have build issues on specific compilers. Most of these packages have fixes in their master/development branches. Currently, when you bump into such a roadblock, you have 2 options if you want to continue using conan (which hopefully we do).

1 - Fork the recipe and create a version pointing to master branch. For example, date doesn't build on MSVC right now d

[2018-07-15 05:34] allquixotic commented on #353
[code]

[2018-07-15 08:08] SSE4 commented on #361
@ilyakrasnovsky recipe is ready to use, please give a try

[2018-07-15 08:17] SSE4 commented on #339
seems like python2.7 and python2.7:i386 conflicts with each other and cannot be installed simultaneously (checked on clean docker ubuntu 16.04):
[code]

[2018-07-15 08:36] StiventoUser commented on #339
That's sad. Is there any way to bypass this conflict?

[2018-07-15 09:00] SSE4 commented on #339
no idea. may be ask on ubuntu forums. @solvingj @uilianries do you know?

[2018-07-16 03:56] ilyakrasnovsky commented on #361
Thanks @SSE4! Will try and get back to you!

[2018-07-16 09:39] ericLemanissier commented on #352
The system requirements issue should be solved with latest Qt/5.11.1@bincrafters/stable.
The fix is waiting for merge in 5.6.3 and 5.9.6 branches

[2018-07-16 13:16] madebr opened #364 "sqlite3/3.21.0 misses gcc 8 package"
### Description of Problem, Request, or Question
sqlite3 3.21.0 misses packages for gcc 8

### Package Details (Include if Applicable)
* Package Name/Version: **sqlite3/3.21.0**
* Operating System: **Fedora 28**
* Compiler+version: **gcc-8.1.1**

### Steps to reproduce (Include if Applicable)
conan install sqlite3/3.21.0@bincrafters/stable

[2018-07-16 14:44] danimtb opened #365 "Inclusion request review of parson/0.1.0 into conan-center"
## Inclusion Request Review

This is a review for [parson/0.1.0@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-parson) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### P

[2018-07-16 15:13] danimtb opened #366 "Missing GCC 8 packages for tesseract/3.05.01@bincrafters/stable"
After this PR https://github.com/bincrafters/conan-tesseract/pull/1

I realized there are some GCC 8 packages missing in its requirements:
[code]

[2018-07-16 15:19] theirix commented on #366
merged giflib 5.1.4

[2018-07-16 15:23] theirix commented on #366
I am after leptonica now

[2018-07-16 15:35] SSE4 commented on #59
checked GitLab, it sounds like a perfect fit. it also easily discovers new repositories.
I also see someone has taken bincrafters group, is it you @uilianries ? :)

[2018-07-16 15:54] uilianries commented on #59
Yes, it's me :)

Both you and @solvingj has maintainer powers.

I have used gitlab for some years, and it could fit well to work like a mirror.

[2018-07-16 16:08] SSE4 commented on #59
thanks, I'll try to add some scripts to use GitLab/GitHub REST API to set up automatic mirroring of all bincrafters repositories

[2018-07-16 16:14] uilianries commented on #59
Thank you! :clap:

[2018-07-16 19:38] theirix opened #367 "tesseract/3.05.01: failed to link to zlibd.lib"
Tesseract stopped to link with zlibd.lib on debug VS builds. Nothing was changed in code.

Log for [example build](https://ci.appveyor.com/project/BinCrafters/conan-tesseract/build/1.0.8/job/sctq5xrk3nwmu3ir):
[code]

[2018-07-16 19:59] theirix commented on #366
Now the tesseract and all its dependencies works fine with gcc8.

[2018-07-16 19:59] #366 closed

[2018-07-17 02:57] SSE4 commented on #367
seems to be caused by https://github.com/conan-community/community/issues/31
looking...

[2018-07-17 07:42] danimtb commented on #366
Thanks a lot for the quick support guys @theirix @SSE4!

[2018-07-17 08:23] danimtb commented on #365
There were some failing jobs https://travis-ci.org/bincrafters/conan-parson I guess it was due to yesterday's github downtime. Please rerun when possible. Everything looks good to me!

[2018-07-17 08:58] danimtb opened #368 "Inclusion request review for opus/1.2.1 into conan-center"
## Inclusion Request Review

This is a review for [opus/1.2.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-opus) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### Packa

[2018-07-17 11:07] danimtb commented on #365
![image](https://user-images.githubusercontent.com/10808592/42813663-08db2868-89c2-11e8-866a-6d7d3300b522.png)
Looking good to me now. Thanks @SSE4!

Included into conan-center. Great job again bincrafters!!!

[2018-07-17 11:07] #365 closed

[2018-07-17 14:52] acsvln opened #369 "Can not build lzma"
### Description of Problem, Request, or Question
Can not build lzma package from sources. My command line:
`acsvln@acsvln-Inspiron-5567:~/development/samples/gtest_sample$ conan install . -s compiler=gcc -s compiler.version=5.4 -s compiler.libcxx=libstdc++11 --build lzma`
And result:
[code]
### Package Details (Include if Applicable)
* Package Name/Version: **lzma/5.2.3**
* Operating System: **Lin

[2018-07-17 18:07] ArekPiekarz opened #370 "[bug] Qt 5.11.1: fPIC=False doesn't work"
### Description of Problem

Qt 5.11.1 compiled with `fPIC=False` still behaves as if `fPIC=True` was used, giving error when #included in your program:
`qglobal.h:1177:4: error: #error "You must build your code with position independent code if Qt was built with -reduce-relocations. " "Compile your code with -fPIC (-fPIE is not enough)."`

### Package Details
* Package Name/Version: **Qt/5.11.1**

[2018-07-17 23:12] vadixidav commented on #362
I will see if I can get to that tomorrow.

[2018-07-18 03:39] SSE4 commented on #367
locally for me it fails with a different error:
[code]
somehow appveyor path got hard-coded?

[2018-07-18 04:43] acsvln commented on #369
I fear i have some problems with conan (or maybe python?) environment.
First command failed (same result), second succeeded.

[2018-07-18 08:35] lucienboillod commented on #370
Thanks for your input. I am on it

[2018-07-18 08:36] lucienboillod commented on #352
Changes were pushed. Thanks everyone!

[2018-07-18 08:36] #352 closed

[2018-07-18 08:37] lucienboillod commented on #326
Changes were pushed. Closing this, thanks a lot everyone!

[2018-07-18 08:37] #326 closed

[2018-07-18 09:00] lucienboillod commented on #370
This flag is actually useless in our recipe, we have no control over this fPIC flag (we will delete it asap), and Qt will anyway compile with it. Why do you need to deactived fPIC @ArekPiekarz  ?

[2018-07-18 09:08] ArekPiekarz commented on #370
fPIC is not really needed for static libraries and its presence can disable some compiler optimizations. However it's not critical for me right now - if Qt doesn't allow easily turning it off, we can leave it at that.

[2018-07-18 09:13] lucienboillod commented on #370
Yes it seems out of our hands :disappointed:
https://bugreports.qt.io/browse/QTBUG-55605

[2018-07-18 12:17] theodelrieu opened #371 "[boost] header-only setting is hardcoded in recipes"
### Description of Problem, Request, or Question
Hello,

I wanted to use `boost_container/1.66.0@bincrafters/stable`, and as noted in Boost.Container [documentation](https://www.boost.org/doc/libs/1_66_0/doc/html/container.html):

But the current recipe forces the user to build those extensions, there is no way to toggle the `is_header_only` attribute.

I did look recipes of some other Boost libra

[2018-07-18 13:59] SSE4 commented on #370
@ArekPiekarz fPIC is needed if you link static library into shared library

[2018-07-18 14:32] danimtb opened #372 "Qt/5.6.3 searches are failing"
### Description of Problem, Request, or Question

Searchs on Qt package are failing due to a an error in Bintray parsing an option without value (see [issue comment](https://github.com/conan-io/conan/issues/2422#issuecomment-405915688)).

The offending line is here: https://github.com/bincrafters/conan-qt/blob/094eeb0c8113c6484750f84345b9ffc702ee1336/conanfile.py#L54

I have opened an issue in con

[2018-07-18 14:53] ArekPiekarz commented on #352
I'm a little confused how this issue is fixed, because I'm still getting "undefined references" to pthread, pcre2 and some other libs when linking to static Qt. Is the final conclusion not to use static Qt until the upstream issue is fixed?

[2018-07-18 15:32] ericLemanissier commented on #352
There are several issues here: what was solved is the Fedora system requirements issue.
The static build linking issue when using cmake is not solved, because it is not an issue with the conan recipe, but from upstream Qt https://bugreports.qt.io/browse/QTBUG-38913
In the meantime you can either switch to qmake, or try to add the missing libs in you cmakelists

[2018-07-18 16:58] vadixidav commented on #362
@SSE4 Yes, I can confirm that the issue happens in `libx265/2.6`, but it **does not** occur in `libx265/2.7`. `libx265/2.7` builds successfully for me.

[2018-07-18 18:15] vadixidav opened #373 "Options for conan-qt imageformats"
* Package Name/Version: **Qt/5.9.6**
* Operating System: **Windows 10 Pro**
* Compiler+version: **Visual Studio 2015**

The Qt `imageformats` module supports copying certain "3rdparty" builds into the `src/3rdparty` folder of `imageformats` to produce additional imageformats plugins. These plugins are produced as a side effect of running QMake on the `imageformats` module with these source trees a

[2018-07-18 18:21] Morheit opened #374 "log4cplus: add branch for version 2.0.1"
# Description

Log4cplus maintains a few versions simultaneously. To send a PR with recipe branch should be created first. The new version is [here](https://github.com/log4cplus/log4cplus/releases)

[2018-07-19 08:46] danimtb commented on #372
Currently if you declare "config=None" the value will be a string "None". Will be changed to report NoneType.

[2018-07-19 08:47] SSE4 commented on #374
new branch **testing/2.0.1** has been created https://github.com/bincrafters/conan-log4cplus/tree/testing/2.0.1

[2018-07-19 08:48] SSE4 commented on #368
everything is done, except not all options can be moved into **config_options**, as it is executed before options have their values, while fixed-point presence depends on shared option

[2018-07-19 08:48] SSE4 commented on #367
yes, seems to be the same issue

[2018-07-19 08:50] theirix commented on #367
I'll try to do an experimental `patch_config_paths` soon

[2018-07-19 08:55] ericLemanissier commented on #372
ok, my bad, `if self.options.config:` takes the else branch when `default_options= "config=None"`
However `str(self.options.config)` is equal to the "None" string, instead of being an empty string

[2018-07-19 12:12] danimtb commented on #368
Looks good @SSE4. Just minor tweaks:

- ``del self.settings.compiler.libcxx`` should be in ``configure()`` (Generally modifications of settings are done in `configure()` and modification of options are done in `config_options()`)
- Include a little more code of the library in *test_package/test_pacakge.cpp*

Will accept the inclusion into conan-center. Thanks!

[2018-07-19 12:12] #368 closed

[2018-07-19 15:22] oliverdaniell opened #375 "ffmpeg can't find openh264 on Windows builds due to issues with pkgconfig"
### ffmpeg can't find openh264 on Windows builds due to issues with pkgconfig
Building ffmpeg with openh264 is currently broken on Windows. The majority of the issues are due to environment variables not being passed to msys2 builds https://github.com/conan-io/conan/pull/3104. However, there are also a couple of issues with the ffmpeg package. I've address these issues in [bug/windows-build](https

[2018-07-20 03:00] SSE4 commented on #375
hi @oliverdaniell
could you possibly try **quicktest/4.0** branch? in mentioned branch, I am solving most of issues with external libraries, like openh264. hope to merge it soon.

[2018-07-20 03:05] SSE4 commented on #373
@vadixidav in general, follow pep8 and conan-center guidelines (https://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html). also, you may check out our guidelines (https://github.com/bincrafters/community/tree/master/contributing_to_packages).

[2018-07-20 03:14] SSE4 commented on #364
@madebr  GCC8 was added to sqlite3, please give a try

[2018-07-20 03:14] SSE4 commented on #362
@vadixidav okay, so could you switch to 2.7 in your projects when?

[2018-07-20 06:15] krojew opened #376 "Conan gtest package fails to build with clang"
* Package Name/Version: **gtest/1.8.0@bincrafters/stable**
* Operating System: **Linux Ubuntu 17.10**
* Compiler+version: **clang 5.0**

### Steps to reproduce (Include if Applicable)

Try to build with the following command:

conan install .. --build=missing -s compiler=clang -s compiler.libcxx=libstdc++11 -s compiler.version=5.0

The build fails, because gtest recognized gcc as the compiler, not

[2018-07-20 07:04] SSE4 commented on #376
this is probably a profile issue, could you run `conan profile show default` and paste an output here?

[2018-07-20 07:06] krojew commented on #376
Configuration for profile default:

[settings]
os=Linux
os_build=Linux
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=7
compiler.libcxx=libstdc++11
build_type=Release
[options]
[build_requires]
[env]

[2018-07-20 07:13] SSE4 commented on #376
@krojew
may you try to add the following into your profile?
[code]
and try again? (or alternatively, just set CC and CXX environment variables)

[2018-07-20 07:19] krojew commented on #376
That seems to fix the issue.

[2018-07-20 08:17] oliverdaniell commented on #375
@SSE4 I've tested  **quicktest/4.0** with openh264 using **conan v1.6.0**. That solves the problem!

It might worth reviewing https://github.com/conan-io/conan/pull/3104 as the fixes there will make the msys2 path hacks in **quicktest/4.0**  redundant.

[2018-07-20 08:41] SSE4 commented on #375
yes, I've take a look today evening, I hope

[2018-07-20 08:43] SSE4 commented on #353
@allquixotic two news:
1. seems like lasote has fixed a problem with MinGW and OpenSSL, please give a new try
2. I've added docker image **bincrafters/docker-mingw-gcc7** to simplify testing

[2018-07-20 11:56] ericLemanissier commented on #373
I'm not sure anything needs to be modified in the recipe. the doc you linked says

it may fall back on using a bundled copy (in src/3rdparty).

It does not look like Qt expects you to copy anything in its own sources.

About DDS https://forum.qt.io/topic/75846/qt-5-8-supported-image-formats says

https://bugreports.qt.io/browse/QTBUG-59955 mentioned security problems, it does not sound like a good

[2018-07-20 13:41] vadixidav commented on #362
It was due to a dependency on ffmpeg/3.4@bincrafters/stable. I could try overriding the dependency of ffmpeg with the newer version and hopefully it will build. I will let you know if ffmpeg 3.4 works with that x265 in a few days.

[2018-07-20 14:43] SSE4 commented on #362
FYI there is **ffmpeg/4.0@bincrafters/stable** recipe

[2018-07-20 15:12] theirix commented on #367
I fixed a Leptonica recipe by patching produced cmake files with machine-independent paths.

Now it looks like
[code]

[2018-07-20 15:12] #367 closed

[2018-07-20 15:12] theirix commented on #324
Fixed it in the latest release of leptonica (please update recipes). Now you can build tesseract even with prebuilt leptonica! Please try it.

[2018-07-20 15:16] SSE4 commented on #367
great job! thank you @theirix

[2018-07-20 15:58] datalogics-kam commented on #324
Solves my problem! Thanks for the fix, @theirix!

(For future reference, the fix: https://github.com/bincrafters/conan-leptonica/commit/bd489bb0dcb39fff73213670358eecf9711b370a)

[2018-07-20 15:58] #324 closed

[2018-07-20 16:00] theirix commented on #324
You are welcome!

[2018-07-20 16:25] vadixidav commented on #373
@ericLemanissier I was messing around with it to try and get Jasper included. I think QMAKE_CONFIG±=config_jasper needs to be passed as the last argument to the configure script for QT. I am not super familiar with qmake, but I think the line in the pro file that adds jasper is enabled by that (it says config_jasper {}). I will be trying it out.

[2018-07-20 17:00] SSE4 commented on #368
@danimtb recommended changes were applied as well

[2018-07-21 03:51] matkam7 commented on #333
I only get this issue when using the prebuilt static packages (it does works with _--build gtest_).

One specific example is:
[full_settings]
arch=x86_64
  &nbsp;&nbsp;    build_type=Release
  &nbsp;&nbsp;    compiler=Visual Studio
   &nbsp;&nbsp;   compiler.runtime=MT
    &nbsp;&nbsp;  compiler.version=15
  &nbsp;&nbsp;    os=Windows
[full_options]
 &nbsp;&nbsp;     build_gmock=True
  &nbsp;&nbsp

[2018-07-21 07:49] Framstag opened #377 "Qt packages does not build under Arch Linux"
### Description of Problem, Request, or Question
I have a local package with dependency

[code]

`conan install` failes with:

[code]

(if I start with LANG=C I get a different error afterwards?). Cause seems to be, that the package that is required for local build does not exists on my local Linux distribution (arch linux). Under Arch Linux the libxcb package also contains the header files needed

[2018-07-21 08:36] SSE4 commented on #377
@Framstag different Linux distributions use different names for packages. Qt recipe has to be modified:
1. it shouldn't try to install CentOS packages under Arch Linux and other distributions
2. it should install corresponding packages for Arch Linux

[2018-07-21 08:36] SSE4 commented on #376
I am closing an issue when

[2018-07-21 08:37] SSE4 commented on #375
I am closing an issue as confirmed as fixed. changes were merged to the **testing/4.0** branch, and soon will be available in the **stable/4.0** as well (today/tomorrow).

[2018-07-21 08:37] #375 closed

[2018-07-21 08:43] SSE4 commented on #333
@matkam7  quick question - if you add **cppstd=17** into your profile and rebuild - does it fix an issue? I believe this action should add appropriate flags to the gtest CMake.

[2018-07-21 09:07] krojew commented on #376
I think conanfile.py should be able to enforce the compiler which is set by conan (like other packages do), instead of requiring the user to set additional settings. The issue should not be closed then.

[2018-07-21 10:03] ArekPiekarz opened #378 "Qt + cmake-conan + Qt Creator + Ubuntu = failure to install"
### Description of Problem

Qt package used with the cmake-conan wrapper in Qt Creator in Ubuntu fails on `conan install` step. The logs are sparse (because of bug in CMake https://gitlab.kitware.com/cmake/cmake/issues/17931), but my theory is it cannot receive password for `sudo apt update` because of noninteractive console.

### Package Details
* Package Name/Version: **Qt/5.11.1**
* Operating S

[2018-07-21 15:31] allquixotic commented on #353
Looks like you already found the issue with boost_system :) This bug is fun; it's finding bugs in just about every package, hehe.

[2018-07-21 16:01] SSE4 commented on #353
@allquixotic that's right. after that I've run into issue MinGW didn't see std::mutex for unknown reason (`<mutex>` was included, and `-std=c++11` was passed), but this one I was unable to correct.

[2018-07-22 01:56] matkam7 commented on #333
**cppstd** isn't currently a setting for gtest, and i'm not even sure that its the problem.

[2018-07-22 20:13] #347 closed

[2018-07-23 09:30] ericLemanissier commented on #377
@Framstag Thanks for the report. Could you please try with the corrected recipe on my repo https://github.com/ericLemanissier/conan-qt/tree/stable/5.11.1 ?

[2018-07-23 10:35] ericLemanissier commented on #378
I made a test with the example you give, but starting the build via ` cmake . -DCMAKE_BUILD_TYPE=Release`
System packages have been properly installed, after typing the password:
[code]
I agree with your theory that the non interactive console prevents the installation of system packages if password is needed.
Could you try calling cmake manually from an interactive console ? Once the system packa

[2018-07-23 11:01] ArekPiekarz commented on #378
Unfortunately, that doesn't solve the problem. Here's what I did:
* mkdir build-release && cd build-release
* cmake .. -DCMAKE_BUILD_TYPE=Release
* Open Qt Creator
* Click File -> Open file or project
* Find CMakeLists.txt and click Open
* Uncheck Desktop kit (my default one)
* Leave the first "Imported kit - temporary" kit that has Release checked
* Uncheck the second "Imported kit -temporary" ki

[2018-07-23 16:35] ericLemanissier commented on #378
Did you try to remove Qt from conanfile.txt (and remove qdebug from main.cpp) ?
if it fails too, then please report to cmake-conan.
If it succeeds,
1. put qt back in conanfile.txt
2. retry building from qt creator
3. check in the binary dir if anything was installed
4. try running `conan install /home/fazer/dev/project/test/conan-cmake-qtcreator-bug/conanfile.txt -g cmake -s build_type=Debug -s os

[2018-07-23 19:09] Framstag commented on #377
OK, how do I do this? I assume I need to add another remote? What would be the correct parameter for this? Or do I need to reference it differently? Do I need to remove the bincafters remote for this to work?

[2018-07-24 01:17] uilianries commented on #360
Thanks @SSE4 !!

[2018-07-24 01:23] #374 closed

[2018-07-24 02:06] uilianries commented on #236
Done!

https://github.com/bincrafters/conan-anax/tree/stable/2.1.0
https://github.com/bincrafters/conan-anax/tree/stable/master

[2018-07-24 02:06] #236 closed

[2018-07-24 09:47] ericLemanissier commented on #377
You would need to clone the branch stable/5.11.1 of https://github.com/ericLemanissier/conan-qt/ (or you can simply get https://github.com/ericLemanissier/conan-qt/archive/stable/5.11.1.zip) , then inside the clone/unzipped fil do `conan export . Qt/5.11.1@ericLemanissier/stable`
Then in you package, change your package dependency from Qt/5.11.1@bincrafters/stable to Qt/5.11.1@ericLemanissier/stab

[2018-07-24 22:10] madebr opened #379 "Qt/5.11.1: OpenSSL options + OpenGL by default"
### Description of Problem, Request, or Question
I've opened a PR: https://github.com/bincrafters/conan-qt/pull/11

### Steps to reproduce (Include if Applicable)

[2018-07-25 04:48] Croydon opened #380 "Inclusion request for kainjow-mustache"
kainjow-mustache is one of many implementations of [Mustache](https://mustache.github.io/). It's a tiny header-only library.

I'm currently maintaining it for and within @inexorgame, but would now like to transfer it to Bincrafters and continue maintaining it there (which is very little effort actually, since it also doesn't have many updates 😄 ).

I have applied Bincrafters standards to the best

[2018-07-25 11:34] ArekPiekarz commented on #378
The CMake configuration (and later app building) succeeded with a following log, where we can see that `conan` is in the path:
[code]

I did that and finally got a confirmation what causes the problem:
[code]
I took a liberty to skip the rest of proposed steps, I hope you don't mind. I'll try to explore if Qt Creator can somehowe work with askpass, unless you have a better idea (like a configurati

[2018-07-25 12:39] ericLemanissier commented on #378
I may have a solution which does not invoke the system package manager if the package is already built. It would require you to build the package from TTY beforehand at least once with the same options/settings though.
Could you try with https://github.com/ericLemanissier/conan-qt/tree/stable/5.11.1 ?

[2018-07-25 14:21] ericLemanissier commented on #377
Forget my previous message, you can now add my remote by doing `conan remote add <REMOTE> https://api.bintray.com/conan/ericlemanissier/public-conan` and then use the required package `Qt/5.11.1@ericlemanissier/stable`

[2018-07-25 14:55] ArekPiekarz commented on #378
I configured CMake in console, then launched the project in Qt Creator and the configuration succeeded.
The building of application then failed on:
[code]
Weren't there some changes in Conan to handle it automatically? Anyway, I added:
`add_compile_options(-fPIC)`
before `if(NOT EXISTS "${CMAKE_BINARY_DIR}/conan.cmake")`
and then got:
[code]
Later I'll try rebuilding it from scratch.

[2018-07-25 18:01] Framstag commented on #377
Thanks for making it even simpler for me :-)

Looks like things are now working. At least compiling starts... I'll keep the compiler working for some time, but maybe will stop the build, if it takes too long. I of course would love to have precompile stuff for this ;-)

If you see further problems int he output and want me to check again, tel me.

Here is the start of the output:

[code]

[2018-07-25 18:02] Framstag commented on #377
...ah. And of course thanks for fixing! I was positively surprised by the fast feedback! Great!

[2018-07-25 20:10] Croydon opened #381 "Please include Protobuf into conan-center"
In order to move the creation of a gRPC recipe further, it would be really helpful to have Protobuf in conan-center. Please consider making an inclusion request for Protobuf.

Furthermore there seems to quite some demand for it anyway 😄

https://croydon.github.io/conan_inquiry/#!stats

    Protobuf has 7 remotes

[2018-07-25 22:53] ArekPiekarz commented on #378
I managed to build it only after adding
`find_package(Qt5 5.11 COMPONENTS Core REQUIRED)`
and changing linking to
`target_link_libraries(${PROJECT_NAME} Qt5::Core)`
I also tried to print the content of ${CONAN_LIBS}, but it was empty. Using CONAN_PKG::Qt for linking  didn't work too.

But the linking seems to be a different problem than the original in this report. For now we could go ahead with y

[2018-07-26 01:12] uilianries commented on #380
Sounds good to me. I'll pull your repo. Thank you for great this contribution!

[2018-07-26 01:57] uilianries commented on #380
Done!

I copied your repository to [bincrafters/conan-kainjow-mustache](https://github.com/bincrafters/conan-kainjow-mustache). All commits were preserved :smile_cat:

https://github.com/bincrafters/conan-kainjow-mustache
https://bintray.com/bincrafters/public-conan/kainjow-mustache%3Abincrafters

I'm going to include Conan center inclusion.

![kainjow-mustache/3.2.1@bincrafters/stable](https://sc

[2018-07-26 01:57] #380 closed

[2018-07-26 02:05] Croydon commented on #380
Thanks!

[2018-07-26 02:54] uilianries commented on #381
We need to include Protobuf 3.6.0

[2018-07-26 03:18] uilianries commented on #381
Create the branch [testing/3.6.0](https://github.com/bincrafters/conan-protobuf/tree/testing/3.6.0)

[2018-07-26 03:46] SSE4 commented on #381
/cc @ZaMaZaN4iK

[2018-07-26 09:37] ericLemanissier commented on #378
yes, using cmake with Qt requires the usage of find_package and target_link_libraries(... Qt5::module). This problem is independent from conan and the qt recipe.

[2018-07-26 12:30] uilianries commented on #381
Looks like we will need to spend some time fixing 3.6.0, but 3.5.1 and 3.5.2 are good enough.

[2018-07-26 17:51] Croydon commented on #381
Might this be the cause? Only older compilers seem to fail

[2018-07-26 18:02] uilianries commented on #381
good to know, yes this could be the main reason. We could add `self.settings.cppstd`

I'll update 3.6.0 later, thanks!

[2018-07-29 18:21] rhard opened #382 "conan-cpprestsdk MSVC12 linkage problem"
### Description of Problem, Request, or Question
For conan-cpprestsdk library on Windows with VS2013 there is a linkage problem when trying to use package with qmake. The library name is wrong. Must be cpprest120_2_10.lib instead of cpprest_2_10.lib

### Package Details (Include if Applicable)
* Package Name/Version: **cpprestsdk/2.10.2@bincrafters/stable**
* Operating System: **Windows 7**
* Comp

[2018-07-29 19:46] uilianries commented on #381
Hi! I can't find some way to fix Apple jobs involving Protobuf 3.6.0. I didn't find any related issue on protobuf issue list, so I presume that is a problem on our side.

The error is the same for all xcode versions:

[code]

Travis log:
https://travis-ci.org/bincrafters/conan-protobuf/jobs/409426529

@SSE4 @Croydon any idea?

[2018-07-30 03:18] SSE4 commented on #381
I'll check on mac

[2018-07-30 08:21] SSE4 commented on #382
@rhard fix was applied, please give one more try

[2018-07-30 10:23] uilianries commented on #381
Thank you!

[2018-07-30 14:08] drrlvn opened #383 "catch2/2.3.0"
### Description of Problem, Request, or Question
https://github.com/catchorg/Catch2/releases/tag/v2.3.0

Upstream seems to have a `conanfile.py` but I could not find an updated package in bintray. Please point me in the right direction if I'm missing something.

### Package Details (Include if Applicable)
* Package Name/Version: **catch2/2.3.0**

[2018-07-30 19:35] rhard commented on #382
Issue fixed. Thanks!

[2018-07-30 19:35] #382 closed

[2018-07-31 08:49] HorvathAnton opened #384 "Creating own test_package.cpp in test_package folder - linker command failed with exit code 1 -solved in 5.11.1"
I download the conan-qt and when I run commnad

**_conan create . Qt/5.11.0@bincrafters/public-conan_**

its works and also runs the test_package.cpp. But I try to modify the test_package.cpp in test_package folder to use qt library as follow.

[code]

But its failed. Here is the bottom of the log from terminal.

-- Build files have been written to: /Users/tony/Job/conan-qt/test_package/build/cd36

[2018-07-31 08:53] ericLemanissier commented on #384
Could you please try with 5.11.1 ?

[2018-07-31 09:15] HorvathAnton commented on #384
Tonys-MacBook-Pro:conan-qt tony$ conan create . Qt/5.11.1@bincrafters/public-conan
Qt/5.11.1@bincrafters/public-conan: Exporting package recipe
ERROR: Package recipe exported with version 5.11.1!=5.11.0

[2018-07-31 09:27] ericLemanissier commented on #384
you need to get the sources of conan-qt 5.11.1 first, the same way you got 5.11.0, for example checkout 5.11.1 branch of https://github.com/bincrafters/conan-qt/

[2018-07-31 09:55] HorvathAnton commented on #384
Its already running. Thank you for quick response.

[2018-07-31 10:02] HorvathAnton commented on #384
Works!

[2018-07-31 11:01] HorvathAnton commented on #384
@ericLemanissier  with which parameter have to call conan create if I want to use QtWidgets not just QtCore ?

[2018-07-31 17:55] notskm opened #385 "Inclusion request for SFML"
I created a package for SFML. The static library builds for Mac are currently failing likely due to some libraries missing from `self.cpp_info.libs`, but I don't have a Mac to test on. All other builds are working just fine. https://github.com/notskm/conan-sfml

[2018-08-01 12:50] SSE4 commented on #381
@uilianries I've applied necessary changes to the `testing/3.6.0` branch, works locally like a charm, waiting for CI

[2018-08-01 14:14] solvingj opened #386 "Refresh parson CI and readme"
The parson readme still shows CircleCI which we no longer use, and the Appveyor build says failing.  We should revisit and refresh this recipe and repository.

Also, since there's no semantic versioning on this project, we should probably switch to date-based-versioning.

[2018-08-01 16:50] Croydon commented on #381
https://travis-ci.org/bincrafters/conan-protobuf/jobs/410793004 needs a restart. Server error

[2018-08-01 16:59] uilianries commented on #381
Done!

On Wed, Aug 1, 2018 at 1:50 PM, Croydon <notifications@github.com> wrote:

--
Cordialmente,

Uilian Ries
<uilianries@gmail.com>

[2018-08-01 17:08] madebr commented on #379
What is the general feeling towards this?

[2018-08-01 17:20] SSE4 commented on #379
@lucienboillod @ericLemanissier

[2018-08-01 18:05] SSE4 commented on #381
unfortunately CI failed with another weird obscure error, I'll take a look 2morrow

[2018-08-01 18:44] ericLemanissier commented on #379
I'm totally ok with you changes. If you don't mind I'll do a rebase on top of my current branch, because there will be conflicts to solve. If everything looks ok to @lucienboillod he will be able to push the changes on bincrafter's repo, but he is very busy these days..

[2018-08-01 19:11] notskm commented on #385
I just noticed that there's already an SFML repo. I thought I checked for that, but apparently not. Either way, this supports a newer version of SFML and just needs the static builds for Mac fixed. Let me know if there's anything I need to do.

[2018-08-01 19:14] rdeterre opened #387 "PDB files are not packaged in debug builds of the SDL2 library"
### Description of Problem, Request, or Question

The SDL2 library does not appear to package PDB files during debug builds on Windows. This generates a series of LNK4099 linker warnings like the following to be generated during compilation:

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **sdl2/2.0.8**
* Operating System: **Windows**
* Compiler+version: **Visual Studi

[2018-08-02 09:44] HorvathAnton opened #388 "Error in build() method, line 19 on Windows - running create command"
Runing command conan create . Qt/5.11.1@bincrafters/public-conan  failed with

Maybe you forgot to setup the environment?
ERROR: PROJECT: Error in build() method, line 19
        self.run("qmake %s" % self.source_folder)
        ConanException: Error 3 while executing qmake c:\Work\Foxit\conan-qt\test_package

Looks like package is download properly only python script of test_package failed.

[set

[2018-08-02 10:54] ericLemanissier commented on #388
Hello,

I'm surprised "Qt/5.11.1@bincrafters/public-conan" works because there is no "public-conan" channel. it should be Qt/5.11.1@bincrafters/stable.
Could you try to remove all the Qt packages from your local cache and then `conan create . Qt/5.11.1@bincrafters/stable --build Qt` ?

[2018-08-02 13:45] HorvathAnton commented on #388
I try that and it is end with the same error.

[2018-08-02 14:46] ericLemanissier commented on #388
Can you please try again to remove all the Qt packages from your local cache and then go in the conan-qt directory (not in the test_package subdirectory), and run `conan create . Qt/5.11.1@bincrafters/stable --build Qt`, and then send the full log?

[2018-08-02 15:35] HorvathAnton commented on #388
I do exactly what you wrote but still the same error appears

Here is the bottom of the log its so long.

Microsoft (R) Program Maintenance Utility Version 14.12.25835.0
Copyright (C) Microsoft Corporation.  All rights reserved.

        C:\.conan\lu3si6i5\1\qtbase\bin\qmake.exe -install qinstall C:\.conan\dbm7rgwk\1\qt5\qtbase\doc\global C:\.conan\f4lv5t0x\1\doc\global
        C:\.conan\lu3si6i5\

[2018-08-02 16:29] ericLemanissier commented on #388
ok, it seems to break because CL is not in your path. I modified the test recipe on my repo to handle this case. Could you please download https://raw.githubusercontent.com/ericLemanissier/conan-qt/stable/5.11.1/test_package/conanfile.py and replace the existing conanfile.py file inside the test_package directory ?

[2018-08-02 18:57] solvingj commented on #342
@allquixotic enterprise users who care at all about stability, security, and control, should almost certainly mirror any OSS binaries they use on their own enterprise artifactory server if they're going to use Conan for production workflows. The `conan download` feature in conjunction with `conan upload ... --all` makes it fairly trivial.

[2018-08-02 18:57] HorvathAnton commented on #388
Your new python script solve the iisue https://raw.githubusercontent.com/ericLemanissier/conan-qt/stable/5.11.1/test_package/conanfile.py

Thanks.

However, I have another question which is not related to this issue.
When I take the code from test_package folder delete the conanfile.py and replace it with conanfile.txt which include conan-qt package and use cmake as a generator and run command.

c

[2018-08-03 08:33] ericLemanissier commented on #388
Good news that it solved the issue.
For your second question, it depends on how you expect to build your project:
if you want to call qmake+make from the command line, then use the [virtualenv generator](https://docs.conan.io/en/latest/reference/generators/virtualenv.html). You can the do conan install, call activate.bat, and the qmake+om/nmake
if you want to build your project from qt creator, th

[2018-08-03 15:19] p-groarke opened #389 "[glad] 0.1.16a0 has been removed."
Why has 0.1.16a0 been removed? I created the glad package on 0.1.16a0. It works, there is no reason to remove it.

[2018-08-03 16:00] p-groarke commented on #389
Seems like the build is broken. Will lend a hand when I have some time.

[2018-08-04 05:43] cursey opened #390 "Update ImGui to v1.62"
### Description of Problem, Request, or Question
On June 22nd ImGui v1.62 was released. The current **imgui@bincrafters/stable** version is v1.61. Since the latest version introduced some breaking changes it'd be great to get this package updated.

[2018-08-04 08:08] SSE4 commented on #59
I've created first prototype of mirroring script: https://github.com/bincrafters/mirror
started process of mirroring for all out repositories to the GitLab, it will take some time
I'll add cron job on travis once testing shows everything works as expected
any suggestions and comments are appreciated

[2018-08-04 11:15] SSE4 commented on #387
@rdeterre PDB files were added, please give a try

[2018-08-04 15:03] ericLemanissier commented on #379
The changes are now on stable/5.11.1 branch. Thanks !

[2018-08-04 15:04] ericLemanissier commented on #378
this should be partially solved in stable/5.11.1: sudo is not called if packages are already installed.

[2018-08-04 18:11] ArekPiekarz commented on #378
I can confirm Qt Creator can now configure and build the project when the Qt package was built beforehand. For me this could be closed and a more robust solution should be investigated in https://github.com/conan-io/conan/issues/3285. If you think otherwise, feel free to reopen. Thanks!

[2018-08-04 18:11] #378 closed

[2018-08-05 08:55] SSE4 commented on #389
from glad's readme:
```IMPORTANT: If you're experiencing errors like identifier "GLintptr" is undefined, update to the latest glad version!```
related issues:
https://github.com/Dav1dde/glad/issues/149
https://github.com/Dav1dde/glad/issues/148

[2018-08-05 08:57] SSE4 commented on #384
closing as confirmed fixed

[2018-08-05 08:57] #384 closed

[2018-08-05 08:58] SSE4 commented on #379
changes are merged, closing

[2018-08-05 08:58] #379 closed

[2018-08-05 08:59] SSE4 commented on #377
confirmed as fixed, closing

[2018-08-05 08:59] #377 closed

[2018-08-05 09:40] SSE4 commented on #333
@ShamanTcler it seems like I was finally able to reproduce your issue, and it appears like settings mismatch.
package hash from your output (**3f7b6d42d6c995a23d193db1f844ed23ae943226**) is for Visual Studio 2017 (you may inspect it at `%USERPROFILE%\.conan\data\gtest\1.8.0\bincrafters\stable\package\3f7b6d42d6c995a23d193db1f844ed23ae943226\conaninfo.txt`):
[code]
however, from your post it seems

[2018-08-05 09:48] SSE4 commented on #290
I am closing for now, as fix was applied

[2018-08-05 09:48] #290 closed

[2018-08-05 10:25] theirix commented on #346
Sorry, totally forgot about the PR.

Checked the ```self.output.warn(self.info.requires["OpenSSL"].dumps())```. Package id is changed from the OpenSSL/1.Y.Z to OpenSSL/1.0.Z and it probably fixes the problem.

Maybe I don't understand – why the minor version cannot be specified in conan-openssl somehow so the downstream recipes won't be changed at all?

[2018-08-05 14:02] allquixotic commented on #353
Whoa, this is getting pretty far now. Looks like boost_system 1.66 compile is fixed!

In fact all compilation succeeds until Wt, so this is no longer a bug about the transitive dependencies of Wt, but about the Wt package *itself*.

I think the key of all the below is `error: ‘mutex’ is not a member of ‘std’` and that makes me doubt whether the compiler is attempting to use the correct C++ standar

[2018-08-05 14:05] SSE4 commented on #390
thanks, I've pushed branch testing/1.62, I'll let you know once it's ready on bintray

[2018-08-05 14:13] allquixotic commented on #353
Here we go: https://stackoverflow.com/a/30390278/420156

And https://unix.stackexchange.com/a/437662/22703

Going to try and see if winpthreads based libgcc will have std::mutex support :)

[2018-08-05 14:34] SSE4 commented on #385
hi @notskm
thank you for your contribution!
I've created new repository https://github.com/bincrafters/conan-sfml (you should have access rights)
I've also triggered CI against it
I can take a look at OSX build failures tomorrow

[2018-08-05 14:35] allquixotic commented on #353
So. I am able to resolve the lack of std::mutex using `sudo update-alternatives --config x86_64-w64-mingw32-g++` on Ubuntu 18.04, then select "posix" variant and recompile the world.

--------

Now I get `Windows.h: No such file or directory` -- hmm. Could that be a casing issue? (This comes to memory, as I had dozens of casing issues with headers when I did MinGW C++ on Windows many years ago...)

[2018-08-05 14:38] allquixotic commented on #353
I dunno if this is feasible for you to do from the packager's side, but perhaps, you could do something like replace `#include <ShlObj.h>` with `#include <shlobj.h>` and friends (for all Win32 API headers).

On native Windows OS, header casing is insensitive, because any APIs that the platform offers for opening files are case insensitive (and will "do the right thing" regardless of whether there

[2018-08-05 14:46] SSE4 commented on #353
I personally think it's better to write PR against wt project itself. as change is very trivial and safe, I hope it will be accepted. as Windows SDK has lots of headers (Windows.h, ShlObj.h, mmsystem.h, etc), there might be much more replaces needed.

[2018-08-05 15:36] allquixotic commented on #353
It looks like everything that requires source modification is related to the ISAPI module `wtisapi` which integrates with Microsoft IIS (yuck!). I suppose some users of the Conan package might want ISAPI support (?!) but I certainly don't, as I would just proxy it behind nginx. I see SSL isn't even enabled, and I'm 100% fine with that :D

We could pass `-DCONNECTOR_ISAPI=OFF` and all the problems

[2018-08-05 15:42] allquixotic commented on #353
Oh, there we go! I was using conanfile.txt but couldn't find many good docs on how to set options from that, but I found it:

[code]

[2018-08-05 15:49] rhard opened #391 "Boost package linkage problem with qmake and python"
### Description of Problem, Request, or Question
When building a Qt project required following boost packages:

boost_signals2/1.66.0@bincrafters/stable
boost_ptr_container/1.66.0@bincrafters/stable
boost_property_tree/1.66.0@bincrafters/stable
boost_format/1.66.0@bincrafters/stable

I have a linkage problem:

error: LNK1181: cannot open input file 'python36.lib.lib'

In the conanbuildinfo.pri the

[2018-08-05 15:58] SSE4 commented on #353
@allquixotic
great job! would you write PRs against wt repository?

[2018-08-05 16:06] SSE4 commented on #390
@cursey **imgui/1.62@bincrafters** stable is available on bintray

[2018-08-05 16:29] p-groarke commented on #389
@SSE4  If you want to keep v0.1.16a0, you could revert the merge that broke it. Or you could delete the version. Is the maintainer still around?

[2018-08-05 16:30] SSE4 commented on #389
as I understand reverting will not help, as glad downloads specs from Khronos site, and specs were updated, that's why it's broken now

[2018-08-05 16:32] SSE4 commented on #389
if update is not an option for you, I'll take a deeper look on how to workaround breaking changes in Khronos specification

[2018-08-05 16:33] p-groarke commented on #389
No its OK. Trash it! ;)

[2018-08-05 16:33] #389 closed

[2018-08-05 16:47] SSE4 commented on #389
@p-groarke okay, less things to worry then :) I've removed branches for 0.1.16a0

[2018-08-05 19:42] notskm commented on #385
Awesome, thank you!

[2018-08-06 13:03] ShamanTcler commented on #333
Ah I have stumbled into the wonderful of MSVS... so here is the scenario that I believe led me to this.  I installed MSVS 2017 pro, then selected the option to "down grade" to MSVS 2015. So I think what you get is the MSVS 2017 IDE environment with the MSVS 2015 compiler.

The reason I say this is I also need Intel FORTRAN 15., and Intel 15.0.7 IS compatible with MSVS 2015. But Intel 15.0.7 would

[2018-08-06 14:04] SSE4 commented on #353
@allquixotic I've added socket libraries to `package_info`

[2018-08-06 16:14] SSE4 commented on #387
closing, confirmed as fixed

[2018-08-06 16:14] #387 closed

[2018-08-06 16:14] SSE4 commented on #333
@ShamanTcler please tell me if we can close an issue now

[2018-08-07 01:38] uilianries commented on #386
https://github.com/bincrafters/conan-parson/commit/076d81fd0009b9bc1d90872b22da09590052c322

[2018-08-07 02:41] #348 closed

[2018-08-07 02:45] SSE4 commented on #386
seems to be green and with no CircleCI, great job, @uilianries

[2018-08-07 02:45] #386 closed

[2018-08-07 02:47] SSE4 commented on #321
@darcamo could you possibly upload more verbose log with linking errors you're getting?

[2018-08-07 05:49] SSE4 commented on #385
problems are a bit deeper than they first looked
in general, SFML tries to link to bundled frameworks of FLAC, OpenAL, vorbis, etc.
this causes lots of issues during linking, running, packaging and distribution
I'll try to change it to link to conan dependencies instead

[2018-08-07 05:58] notskm commented on #385
I was looking into doing that. I ran into a problem with the Freetype library on Windows. I think I was getting linker errors for libpng and bzip, but I didn't dig any deeper.

[2018-08-07 15:39] uilianries opened #392 "Update Protobuf to 3.6.1"
### Description of Problem, Request, or Question
- Update protobuf to version 3.6.1
- Deprecate 3.6.0

### Package Details (Include if Applicable)
* Package Name/Version: **protobuf/3.6.0**
* Operating System: **ALL**
* Compiler+version: **ALL**

[2018-08-07 16:18] SSE4 commented on #385
just found this https://github.com/conan-io/wishlist/issues/142
I'd like to avoid overlap, @danimtb what's the state of your SFML package?

[2018-08-07 16:32] danimtb commented on #385
We should wait for @lasote as he was the on working on it. I think he was doing the work on his fork: https://github.com/lasote/conan-sfml/commit/46e0740276902a8efac2b54e94f1e960e8fecca5

@notskm recipe looks quite good bu better sync ASAP to not duplicate efforts. Thanks for noticing @SSE4 !

[2018-08-07 20:43] darcamo commented on #321
Everything works now.
I don't have problems anymore. I just updated my conanfile to use version 0.17.0.

I'm closing the issue now.
Just in case, I'll clone the recipe and try to build it using two different docker containers I use for my own recipes. I'll reopen the issue if the problem occur in a container and put the log here.

ps: I cleaned my cache before running conan install just in case.

[2018-08-07 20:43] #321 closed

[2018-08-07 21:46] fulara opened #393 "abseil package has wrong order of libs"
I finally got to prepare a test sample proving the pr i raised there: https://github.com/bincrafters/conan-abseil/pull/2 which was subsequently reverted, as it was breaking other things.

I dont think that the current order of libraries in bincrafter's abseil package is the correct one.

### Package Details (Include if Applicable)
* abseil/20180223@bincrafters/stable
* CentOS Linux release 7.5.180

[2018-08-08 03:57] notskm commented on #385
I think I managed to make the Windows and Mac builds use the conan dependencies instead of the ones SFML is packaged with last night. I need to clean it up a bit before I push the changes. I'll hold off on that until we hear from @lasote unless you'd like me to push before then.

[2018-08-08 12:43] uilianries commented on #392
Done!

https://github.com/bincrafters/conan-protobuf/tree/stable/3.6.1
https://ci.appveyor.com/project/BinCrafters/conan-protobuf/build/1.0.48
https://bintray.com/bincrafters/public-conan/protobuf%3Abincrafters/3.6.1%3Astable
https://travis-ci.org/bincrafters/conan-protobuf/builds/413374378

![protobuf](https://screenshotscdn.firefoxusercontent.com/images/4471ae3d-fc15-4046-848b-c695644960ed.png)

[2018-08-08 12:43] #392 closed

[2018-08-08 13:25] Croydon commented on #381
Since 3.6.1 seems to work now, the additional logging which @SSE4 added can probably be removed again

Thanks for pushing it forward @uilianries 😄

[2018-08-08 13:42] SSE4 commented on #333
I am closing for now, please open new issue if there are other problems

[2018-08-08 13:45] SSE4 commented on #381
yes, feel free to remove it (or I'll remove it myself tomorrow)

[2018-08-08 13:52] uilianries commented on #381
I just removed all warning logs from testing/3.6.1 now.

Also, the branch 3.6.0 was deleted.

[2018-08-08 16:18] SSE4 commented on #393
/cc @r-darwish @madebr

[2018-08-08 16:25] madebr commented on #393
Looks like a cyclic dependency. Some libraries should be listed twice (or more).
Or use http://brainychen72.blogspot.com/2017/12/gcc-start-group-and-end-group-command.html,
but I don't think conan supports this and this will not work on msvc.

[2018-08-09 02:36] SSE4 commented on #393
I can't find pkg-config files for abseil or something like that which specifies correct linking order

[2018-08-09 02:37] SSE4 commented on #385
@notskm let's wait for @lasote for a while. if he is actively working on his repo, we'll merge our changes to his branch and close repository in bincrafters group. let's pause development for now to minimize amount of changes diverged to be merged.

[2018-08-09 17:24] uilianries opened #394 "[bincrafters-remove-outdated] Add dry-run option"
### Description of Problem, Request, or Question
The user should be able to run bincrafters-remove-outdated without remove any package. For that `--dry-run` could be a good option

BONUS:
- Improve description about Conan login using this project
- Improve description about Conan remote using this project

/cc @Croydon

[2018-08-10 02:58] SSE4 commented on #393
might be helpful https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=abseil-cpp-git

[2018-08-10 03:01] SSE4 commented on #381
@uilianries are we done with it? :)

[2018-08-10 03:26] uilianries commented on #381
Yes! We could request for the inclusion on Conan center 😄

[2018-08-10 09:55] davidtazy opened #395 "PROTOBUF_GENERATE_CPP missing feature or documentation"
### Description of Problem, Request, or Question
i'm using cmake_find_package generator.
i would like to use the PROTOBUF_GENERATE_CPP function provided by cmake modules.

### Package Details (Include if Applicable)
* Package Name/Version: **conan-protobuf/3.6.1**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **gcc-5.4**
* Docker image: **lasote/conangcc72**

### Steps to reproduc

[2018-08-10 10:00] #394 closed

[2018-08-10 10:36] uilianries commented on #395
I'll check later. Thank you for report it.

[2018-08-10 17:44] Quincunx271 commented on #222
The files are copied into a suboptimal location. If we [look at the conanfile.py inside Catch2 itself](https://github.com/catchorg/Catch2/blob/v2.3.0/conanfile.py), it just configures and installs using CMake. If we don't want to do it that way, the files should still be installed to the same location CMake would, namely `lib/cmake/Catch2`.

[2018-08-10 17:53] Quincunx271 opened #396 "Update Catch2 to be consistent with Catch2"
Currently, the catch2 package installs the `catch.hpp` header as-is. However, Catch 2.3.0 dropped support for `#include <catch.hpp>`; instead, the user is supposed to write `#include <catch2/catch.hpp>`. The conanfile.py in the bincrafters catch2 repo wasn't updated to reflect this.

In short, the catch2 header file needs to be installed under `include/catch2`.

----

I'm not too familiar with usi

[2018-08-10 18:08] Quincunx271 opened #397 "Install CatchConfig.cmake, move cmake helpers to lib/cmake directory"
Currently, it is very difficult to use this catch2 package non-intrusively in CMake. Conan recently added the `cmake_paths` generator, which is great, but unfortunately, the [conan-catch2](https://github.com/bincrafters/conan-catch2) repo doesn't export Catch2's CatchConfig.cmake, meaning that the CMake expected workflow of `find_package(Catch2)` doesn't work without some difficult tricks.

This f

[2018-08-10 18:08] Quincunx271 commented on #222
Actually, this point should be its own issue. See #397

[2018-08-11 09:40] Enhex opened #398 "Bullet: Wrong package reference in Bintray"
### Description of Problem, Request, or Question
for: https://github.com/bincrafters/conan-bullet
in: https://bintray.com/bincrafters/public-conan/bullet%3Abincrafters/2.87%3Astable
The reference is listed as:
`bullet3/2.87@bincrafters/stable`
instead of:
`bullet/2.87@bincrafters/stable`
(should be `bullet` without `3`)

[2018-08-11 14:59] Croydon commented on #398
The GitHub repository needs to be renamed and the name in the recipe changed.

[2018-08-11 15:03] Croydon commented on #292
What is the current state of this? I'm specifically interested in a recipe for libclang

[2018-08-11 18:02] sinall opened #399 "fmt link error"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **fmt/5.1.0**
* Operating System: **Windows 10**
* Compiler+version: **VC++ 2015U3**

### Steps to reproduce (Include if Applicable)

I have tried to build source, get same error.

I can use pre-defined macro 'FMT_HEADER_ONLY' to make it work.

[2018-08-12 03:10] sinall commented on #399
BTW, even "fmt:shared=True" is configured, conan still produces dll.

[2018-08-12 11:51] uilianries commented on #398
Now I'm confused. Should we use bullet or bullet3 ?

The original project is https://github.com/bulletphysics/bullet3 with `3`
And all libraries generated by the project are `Bullet3???`

[2018-08-12 12:41] Croydon commented on #398
Correct

[2018-08-12 13:57] SSE4 commented on #59
@Croydon default project visibility is private, that's why you haven't seen any projects. unfortunately, I don't have permissions to change visibility (probably, only @uilianries has as group creator).

[2018-08-12 15:29] #398 closed

[2018-08-12 15:37] uilianries commented on #59
@SSE4 checking it now

[2018-08-12 15:39] uilianries commented on #59
@SSE4  I just updated your role to Owner (was maintainer)

![gitlab](https://screenshotscdn.firefoxusercontent.com/images/63bc5157-6484-46fd-98b5-30339eec5b2d.png)

[2018-08-12 16:37] uilianries commented on #399
@sinall do you have some example to reproduce this error, including the package id?

I opened an issue to check this, but any new information could help.

[2018-08-12 17:55] SSE4 commented on #59
@uilianries thanks!
@Croydon please check again, now projects should be public

[2018-08-13 01:05] Croydon commented on #381
Please go ahead then :)

[2018-08-13 01:40] uilianries commented on #381
I just requested the inclusion 3 days ago 😄

[2018-08-13 03:46] sinall commented on #399
Any example would reproduce this, since this is a link error, not runtime error.
`format("{:*^30}", "centered");  // use '*' as a fill char`

[2018-08-13 18:25] datalogics-kam commented on #128
This is interesting to me as well, since by default on Windows, `boost_stacktrace` results in duplicate symbols. I was able to get it to work by defining, in CMake:

[code]

It would be nice to have options that configure boost_stacktrace.

[2018-08-14 16:05] JBHarvey opened #400 "Libusb does not build on ArchLinux"
### Description of Problem
I'm developing an application that requires `libusb`.
This application has to be cross platform on several linux and windows, so we use `conan`.
When the build process (with cmake) runs, it crashes with during the conan installation step because of an error in the installation of `libusb`.

#### Error log
[code]

#### Exact error location
The crash happens in the `.conan

[2018-08-14 16:07] MB3hel opened #401 "wxWidgets 3.1.1 segmentation fault on linux"
### Description of Problem, Request, or Question
I have a simple GUI calculator program that I use for testing. The GUI is created with wxWidgets (3.1.1) and I use cmake as the build system. I use the bincrafters wxwidgets 3.1.1 package with conan and everything works perfectly on windows (MSVC 14) and macOS (Apple Clang 9.1.0), but when trying to build on linux (Ubuntu 16.04 with gcc 5.4.0) the p

[2018-08-14 19:40] JBHarvey commented on #400
@uilianries  is there anything I can do to help with the resolving of this issue?
I am required to make this work and I am blocked by this problem...

[2018-08-14 19:57] uilianries commented on #400
Hi @JBHarvey !

libusb requires libudev, but is totally insane to package libudev only.

My recommendation as workaround is skip `system_requirements` and try to solve libudev by your native package manager (pacman).

I don't know if Conan supports pacman. Also, I'll check later how to install libudev by pacman and update this recipe.

Sorry about this.

[2018-08-14 19:58] HorvathAnton opened #402 "ConanException: Error -1073740791 while executing qmake_folder/..."
Hello

I upload the binaries  and recipe to artifactory server. Now when I delete package from my local cache and try to download binaries from server it's work for Mac but fails on Win with this error:

ERROR: PROJECT: Error in test() method, line 57
        self.run(os.path.join("qmake_folder", bin_path, "imageviewer"))
        ConanException: Error -1073740791 while executing qmake_folder\relea

[2018-08-14 19:59] uilianries commented on #400
UPDATE:

You could skip libudev integration by the option `libusb:enable_udev=False`

    conan install libusb/1.0.22@bincrafters/stable -o libusb:enable_udev=False

This approach should be enough to solve your problem by now

[2018-08-14 20:45] JBHarvey commented on #400
@uilianries adding `-o libusb:enable_udev=False` did the trick on arch!

On the subject of `libudev`, it is packaged in `libsystemd`, which is a core library of Arch. so AFAIK libudev is installed by default.
If I may be so bold and suggest: maybe a solution to the problem would be not to throw an error in the `system_requirements` function of the `conanfile.py` of `libusb` when the os is arch for

[2018-08-14 20:51] uilianries commented on #400
Well, I could change to an warning message only. I think that is enough to avoid future problems involving libudev.

But anyway, I'll support arch linux, using pacman.

[2018-08-14 21:56] madebr opened #403 "qt/5.11.1@bincrafters/stable: linking error when build_type=Debug"
### Description of Problem, Request, or Question
Linking the qt viewer of my project to `qt/5.11.1@bincrafters/stable` gives a `'_ITERATOR_DEBUG_LEVEL'` mismatch in `Debug` configuration.

### Package Details (Include if Applicable)
* Package Name/Version: **qt/5.11.1@bincrafters/stable**
* Operating System: **Windows 10**
* Compiler+version: **Visual Studio 2017**

### Steps to reproduce (Include

[2018-08-15 00:30] madebr opened #404 "opus/1.2.1 library includes main function"
### Description of Problem, Request, or Question
The package `opus/1.2.1@bincrafters/stable` on Windows includes a main function.
I have  detected this because when linking my test application with opus (through ffmpeg) before boost (unit_test_framework), the linker selects the main function from opus instead of the main function of boost.

I believe it's [this file](https://github.com/xiph/opus/b

[2018-08-15 01:51] uilianries commented on #396
@Quincunx271 please update the package.

Feel free to re-open this issue if have you any problem.

[2018-08-15 05:18] acgetchell commented on #396
Yeah, I think this just bit me.

[2018-08-15 05:25] acgetchell commented on #397
Note that the fix suggested in #396 doesn't work.

[2018-08-15 06:42] Quincunx271 commented on #396
@acgetchell I do agree that it's peculiar that Catch made this large breaking change without a major version bump (I similarly don't understand why they included the major version in the library's name once they hit 2.0, but I digress). So it's expected that your code would break when updating to Catch 2.3.0

From your build log, it appears that there is at least one include which hasn't been chan

[2018-08-15 08:37] dudasl commented on #402
Looks like path to `plugins\platforms\` is not registered while downloading binaries from server. It's only windows problem. Any GUI application needs known where qwindows.dll is located.

When I run `set QT_QPA_PLATFORM_PLUGIN_PATH=d:\.conan\cp1oerak\1\plugins\platforms\` before running test it works fine. I found similar issue (https://github.com/mmozeiko/RcloneBrowser/issues/59#issuecomment-305

[2018-08-15 11:12] uilianries commented on #396
@acgetchell as @Quincunx271 said:

[code]

Seems you did update your testing code.

I could include both `include` and `include/catch2` as includedir. The result is catch could be included using "catch.hpp" or "catch2/catch.hpp"

[2018-08-15 11:16] uilianries commented on #397
Actually [Catch 2.3.0](https://github.com/catchorg/Catch2/releases/tag/v2.3.0) updated it include dir.

[2018-08-15 16:45] Quincunx271 commented on #396
I don't think it's a good idea to break from what Catch2 does. That is, don't include both `include` and `include/catch2` as includedir. If we do that, we'd have a fork of Catch2, not Catch2 itself.

[2018-08-15 19:52] JAF130195 opened #405 "openmpi/3.0.0 Unresolvable zlib version range"
### Description of Problem, Request, or Question
The package `openmpi/3.0.0@bincrafters/stable` fails to install to my local cache. The command 'conan install -r bincrafters openmpi/3.0.0@bincrafters/stable` simply prints the error message:

"ERROR: Version range '>=1.2.11' from requirement 'zlib/[>=1.2.11]@conan/stable' required by 'openmpi/3.0.0@bincrafters/stable' could not be resolved"

### Pa

[2018-08-15 19:59] uilianries commented on #396
I agree

[2018-08-15 20:55] giraldeau opened #406 "Fail to recompile conan-qt"
### Description of Problem, Request, or Question

Building the conan-qt package fails using MSVC 2015 on Windows. The `configure` command does not find rc.exe:

[code]

### Package Details (Include if Applicable)
* Package Name/Version: Qt 5.11 (from git conan-qt master)
* Operating System: Windows 7
* Compiler+version: MSVC 14 2015

### Steps to reproduce (Include if Applicable)

[code]

The `rc.

[2018-08-16 10:25] lasote commented on #385
Hi all! I didn't get much time lately to continue with SFML, maybe you can leverage from my package and improve yours (if there is something to improve, I haven't look at it). WDYT? I can help explaining what you need.

[2018-08-16 11:29] lasote commented on #385
Good!
It's ok if we support only the latest 2.5.0, no problem.

[2018-08-16 11:47] notskm commented on #385
Just to confirm, we're just going to continue development on the Bincrafters repo, correct? If so, I'll go ahead and push my changes.

[2018-08-16 11:49] lasote commented on #385
Correct.

[2018-08-16 11:51] danimtb opened #407 "Freetype fails to build from sources"
### Description of Problem, Request, or Question

Seems freetype recipe fails to donwload library sources. Download URL is failing https://download.savannah.gnu.org/releases/freetype/freetype-2.9.tar.gz

### Package Details (Include if Applicable)
* Package Name/Version: **freetype/2.9.0**
* Operating System: **ANY**
* Compiler+version: **ANY**

### Steps to reproduce (Include if Applicable)

[cod

[2018-08-16 11:53] notskm commented on #385
Pushed. If all goes well, this should build on all platforms.

[2018-08-16 13:52] danimtb commented on #407
My internet connection may have been a bit unstable this morning. It is working fine now. Sorry for the noise 🖐

[2018-08-16 13:52] #407 closed

[2018-08-16 15:10] james-atkins opened #408 "Update spdlog to version 1.1.0"
spdlog v1.1.0 was [released](https://github.com/gabime/spdlog/releases/tag/v1.1.0) yesterday.

[2018-08-16 18:00] JAF130195 commented on #405
Sorry, just realised all I needed to to was `conan install` the zlib library for this to work. This isn't actually an issue.

[2018-08-16 18:00] #405 closed

[2018-08-16 21:46] uilianries commented on #399
Hi @sinall !

I just updated our recipe.

Could you try it again? It's possible to use find_package directly:

https://github.com/bincrafters/conan-fmt/blob/stable/5.1.0/test_package/CMakeLists.txt

Cheers!

[2018-08-17 04:09] sinall commented on #399
Did you have a try?

I Got:

[2018-08-17 04:11] sinall commented on #399
I can also see a **dll** been installed, my configuration is "**fmt:shared=True**".

[2018-08-17 10:45] uilianries commented on #399
did you import .dll in your bin folder?

[code]

[2018-08-17 12:33] sinall commented on #399
@uilianries It's a link error.

"**fmt:shared=True**" should generate static lib, right?

[2018-08-17 12:47] uilianries commented on #399
Oh, yes I got your point now. Yes, it generates both .lib and .dll, although the .lib is just a wrapper to link.

We are forcing CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS in CMake because we detected in the past that fmt doesn't export all symbols when built as shared.

I'll remove this sentence to check what happens now.

[2018-08-18 03:42] uilianries commented on #399
Hi @sinall !

The problem was that `FMT_SHARED` should be defined in compiler flags when shared is True.

Please, update the fmt package :)

[2018-08-18 04:44] uilianries commented on #408
Done!

https://github.com/bincrafters/conan-spdlog/tree/stable/1.1.0
https://bintray.com/bincrafters/public-conan/spdlog%3Abincrafters/1.1.0%3Astable

[2018-08-18 04:44] #408 closed

[2018-08-18 04:58] uilianries commented on #400
@JBHarvey I merged the Arch linux support. Could you check the new version?

[2018-08-18 06:46] sinall commented on #399
@uilianries build successfully. But it says 'fmtd.dll' is missing when run.

Does it generate a real static lib or a wrapper as you mentioned above?

[2018-08-18 14:41] uilianries commented on #399
Just a wrapper.

Okay, I moved the .dll to /lib again. It should work now. There is a new version for Windows on Bintray. I'm waiting for Travis to upload the Linux version.

Did you import the .dll file, or are you using RunEnvironment?
https://docs.conan.io/en/latest/reference/conanfile_txt.html#imports

[2018-08-18 16:17] acgetchell commented on #397
Still broken.

If I change the includes to <catch2/catch.hpp>, it doesn't build locally.

https://gist.github.com/acgetchell/d295fcdafa1c4e62e4533e339bd2fb3b

[2018-08-18 16:26] uilianries commented on #397
Hi @acgetchell , please try again. We just uploaded the package few minutes ago.

[2018-08-18 16:35] acgetchell commented on #397
Fixed now from latest commit. Thanks!

[2018-08-18 23:44] uilianries commented on #395
Hi @DariuszOstolski !

Unfortunately is not possible to solve PROTOBUF_GENERATE_CPP by cmake_find_package generator.

The cmake_find_package doesn't solve additional cmake_module_path.
What you are looking for is under package_folder/lib/cmake/protobuf/protobuf-module.cmake

My recommendation is use cmake_path instead:

[code]

    conan install ..
    cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_T

[2018-08-19 02:38] sinall commented on #399
Do you know why it doesn't have a real static lib?

[2018-08-19 12:33] uilianries commented on #399
It's because the option shared is True in such case. This option is used to
provide a DLL but you need to solve all symbols during the linkage so the
static wrapper is the reason.

On Sat, Aug 18, 2018, 11:38 PM Rui Gao <notifications@github.com> wrote:

[2018-08-19 15:52] sinall commented on #399
Oh, my bad, shared=True means 'dll'.
It works now.

[2018-08-19 15:52] #399 closed

[2018-08-20 08:17] lasote commented on #395
I agree with you about using `cmake_paths` generator. You need the original CMake module containing the `PROTOBUF_GENERATE_CPP`, so the generated by `cmake_find_package` is not enough for you.

What do you mean?

[2018-08-20 10:38] uilianries commented on #395
Solve cmake_module_path by cmake_find_package, instead to use cmake_path
only.

On Mon, Aug 20, 2018, 5:17 AM Luis Martinez de Bartolome Izquierdo <
notifications@github.com> wrote:

[2018-08-20 13:44] madebr commented on #403
Reproducer:
conanfile.txt:
[code]
CMakeLists.txt:
[code]
main.cpp:
[code]

Commands:
[code]

- The debug build fails to build
- `CMAKE_BUILD_TYPE` is needed because otherwise no `Qt5WidgetsConfig` (required by `find_package) `is found
- We can swap fail the linking release build and succeed linking the debug build by setting `-DCMAKE_BUILD_TYPE=Debug`
- Removing `WIN32` from the executable fixes t

[2018-08-20 15:02] JBHarvey commented on #400
@uilianries it work!

[2018-08-20 15:11] uilianries commented on #400
Nice! :smile:

[2018-08-20 15:11] #400 closed

[2018-08-20 20:24] davidtazy commented on #395
ok, so switched to cmake_paths generator
find_package(Protobuf) is ok, but....

![image](https://user-images.githubusercontent.com/30446373/44364342-fe327680-a4c6-11e8-8017-b2524d7022f2.png)

protoc cannot be launched because protoc dependencies are not in the path...

is it because of ? :
`[options]
 protobuf:shared=True
`

thanks.

[2018-08-21 10:14] ericLemanissier commented on #403
Thanks for the reduced test case. I don't have access to a computer this week, but I should be able to look at this next week.

[2018-08-21 11:06] SSE4 commented on #353
@allquixotic all fixes are merged, I am closing the issue for now

[2018-08-21 11:06] #353 closed

[2018-08-21 11:48] SSE4 commented on #59
closing as mirror is done

[2018-08-21 11:48] #59 closed

[2018-08-21 12:55] SSE4 commented on #401
@MB3hel the problem is abi mismatch
default conan profile is:
[code]
after changing `compiler.libcxx=libstdc++11` in `~/.conan/profiles/default` I've got no segmentation fault:
[code]

[2018-08-21 13:51] danimtb opened #409 "Inclusion request review for mbedtls into conan-center"
## Inclusion Request Review

This is a review for [mbedtls/2.11.0@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-mbedtls) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

##

[2018-08-22 08:18] SSE4 commented on #404
@madebr I've excluded opus_compare.c from the build, please give an another try

[2018-08-22 11:42] madebr commented on #404
Works! Thanks!

[2018-08-22 11:42] #404 closed

[2018-08-22 15:54] spavlovskyi opened #410 "python_dev_config is broken"
### Description of Problem, Request, or Question
recipe lists ```url = "https://github.com/bincrafters/conan-python_dev_config"```, but that repo does not seem to have issues tab, so i'm reporting it here

```self.cpp_info.libs = [os.path.basename(self.python_lib)]``` from
https://github.com/bincrafters/conan-python_dev_config/blob/stable/0.4/conanfile.py#L34
adds full filename to `-l` in pkgconfi

[2018-08-23 03:37] MB3hel commented on #401
@SSE4 This does seem to fix the problem, however changing it to libstdc++11 requires that the package be built from source.

My default profile is as follows.

[code]

It might be a good idea to pre-build a version of the wxWidgets package with libstdc++11.

[2018-08-23 04:46] SSE4 commented on #401
@MB3hel  sure, I'll add this configuration to our CI

[2018-08-23 08:28] danimtb commented on #409
Thanks for the update @SSE4.

Having a second look at the conanfile I am concerned about `CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS` as it is [supported from CMake 3.4 onwards](https://blog.kitware.com/create-dlls-on-windows-without-declspec-using-new-cmake-export-all-feature/) and original _CMakeLists.txt_ says minimum required version is 2.6. However, minimum required version of your _CMakeLists.txt_ wra

[2018-08-23 08:52] dudasl opened #411 "Cannot compile Qt with Visual Studio 15.8.1"
I updated Visual Studio compiler to newest version (Microsoft (R) C/C++ Optimizing Compiler Version 19.15.26726 for x64) and now I cannot compile Qt from source codes while calling `conan create . Qt/5.11.1@bincrafters/public-conan`. Process fail to compile while compiling qrandom.cpp file. Error:
[code]

### Package Details (Include if Applicable)
* Package Name/Version: **Qt/5.11.1**
* Operating

[2018-08-23 09:03] SSE4 commented on #409
@danimtb thanks for noticing
I'll update minimum required version, as well as add fPIC option and let you know.

[2018-08-23 11:25] SSE4 commented on #409
@danimtb done

[2018-08-23 16:08] SSE4 commented on #117
@ArekPiekarz
I've tried to follow your steps, but got different error:
[code]
investigating...

[2018-08-23 16:14] SSE4 commented on #117
okay, this one was trivial - MSYS2 has updated to python 3.7, so I've edited your **conanfile.txt**:
[code]

after that, I've got a new error:
[code]
looking...

[2018-08-23 16:15] SSE4 commented on #117
found a fix, will try to apply it:
https://github.com/boostorg/python/commit/660487c43fde76f3e64f1cb2e644500da92fe582#diff-467cabb22a6c637452d730accca26d2e

[2018-08-23 16:36] SSE4 commented on #117
after applying the patch, the error is:
[code]
which appears to be the same as an initial issue

[2018-08-23 16:55] SSE4 commented on #117
okay, now issue seems to be completely clean:
boost generator sets python library directory (**-L** option), but doesn't override python library name for some reason - it's just ignored for some reason, but should be:
[code]

[2018-08-23 19:40] rodolfo-picoreti opened #412 "Protobuf cross compilation (protoc)"
### Description of Problem, Request, or Question
I am trying to cross compile the protobuf package using a conan arm docker image. But I dont think the recipe is complete enough to include this case, and I don't know exactly how to modify it since we need to compile the protobuf compiler in the host arch and the library in the target arch.

### Package Details (Include if Applicable)
* Package Nam

[2018-08-24 00:38] Croydon opened #413 "Update Protobuf repository location"
Prepared pull request for each stable version:

https://github.com/bincrafters/conan-protobuf/pull/10
https://github.com/bincrafters/conan-protobuf/pull/11
https://github.com/bincrafters/conan-protobuf/pull/12

Protobuf has now it's own GitHub organisation
https://github.com/protocolbuffers/protobuf/issues/4796

[2018-08-24 02:57] SSE4 commented on #117
@grafikrobot do you have an idea how to specify python library name for boost?
according to the https://www.boost.org/doc/libs/1_68_0/libs/python/doc/html/building/configuring_boost_build.html,
3rd parameter must be `the path to Python library binaries`. however, you seems to be passing only directory of python libraries in boost generator (I've tried to change it to pass full paths, but it didn't

[2018-08-24 03:00] SSE4 commented on #413
all merged, thank you

[2018-08-24 03:00] #413 closed

[2018-08-24 03:02] SSE4 commented on #412
need to take a look in this use-case. probably splitting package into protoc and protobuf would be fine.

[2018-08-24 08:43] danimtb commented on #409
My mistake @SSE4, forgot to check that library licence was included in the package. Will accept it into conan-center but please update the package step with the license when possible.

Also 2.6.1 version will need an update with this little changes (not urgent).

Summary:
- Add Visual Studio 12
- Use CMake 3.4 as minimum required version in the wrapper
- Add fPIC option
- Include library license i

[2018-08-24 08:59] SSE4 commented on #409
sure, will do and let you know

[2018-08-24 14:16] helmesjo opened #414 "GCC 8 - Missing prebuilt package for 'libevent/2.0.22@bincrafters/stable'"
### Description of Problem, Request, or Question

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **libevent/2.0.22** (& 2.1.8)
* Operating System: **Linux Debian 9.1**
* Compiler+version: **gcc-8.2**
* Docker image: **lasote/conangcc8**

[2018-08-24 14:58] #401 closed

[2018-08-24 15:06] MB3hel opened #415 "Incorrect lib directory for wxWidgets when built with MinGW."
### Description of Problem, Request, or Question
When building the wxwidgets/3.1.1@bincrafters/stable package with conan on MinGW-w64 the library directory is incorrect.
The generated `conanbuildinfo.cmake` and `conanbuildinfo.txt` have the lib directory set to

[code]
wxWidgets build libraries in subdirs on windows so the directory should be
[code]

This is similar to how this same package works

[2018-08-25 06:41] Quincunx271 opened #416 "Pre-built Catch2ConfigVersion.cmake is 32 bit only"
The Catch2 package was recently updated (#397) to include the Catch2Config.cmake and similar files. By default, CMake provides a 32/64bit system check in the generated FooConfigVersion.cmake file. Since the pre-built package is built on a 32 bit system, this package fails on a 64 bit system.

We should just remove the system 32/64bit checks altogether from the generated file; they don't help since

[2018-08-25 12:16] malirod opened #417 "Upgrade log4plus to new latest version"
New version of log4cplus has been released recently 2.0.2 : https://github.com/log4cplus/log4cplus/releases/tag/REL_2_0_2

Please upgrade bincrafters repo.

[2018-08-26 02:45] Quincunx271 commented on #416
In case it's not clear what the 32/64 bit check is, its the `CMAKE_SIZEOF_VOID_P` check. The easiest fix might be to just change [this line of code](https://github.com/bincrafters/conan-catch2/pull/3/files#diff-2b1d42f71f22b7ea0412d7602dec166fR47) to an unconditional return, else just trim the file from that position to the end.

[2018-08-26 03:49] MB3hel opened #418 "libjpeg linker errors with wxWidgets when using MinGW-w64"
### Description of Problem, Request, or Question
When trying to build a simple wxWidgets project using MinGW linking with libjpeg (9c) always fails with an Invalid Operation error.
[code]
This same project works with MSVC.
I have tried building all libraries on my system, however there was no change.

### Package Details (Include if Applicable)
* Package Name/Version: **libjpeg/9c@bincrafters/stab

[2018-08-26 09:32] SSE4 commented on #412
I gonna split protobuf into two dedicated packages:
* protoc (protobuf compiler)
* protobuf (libraries)
two reasons:
* cross-compiling
* protoc might be useful as build_requires
/cc @uilianries @solvingj

[2018-08-26 10:53] uilianries commented on #412
Excellent ideia @SSE4 !
should we use protoc_installer in the name?

[2018-08-26 11:04] SSE4 commented on #412
yes, we can use protoc_installer for the consistency

[2018-08-26 11:33] uilianries commented on #417
Done!

https://bintray.com/bincrafters/public-conan/log4cplus%3Abincrafters/2.0.2%3Astable

![log4plus](https://screenshotscdn.firefoxusercontent.com/images/c2488ec7-34e2-43a7-9d9e-3707fcbe0cdd.png)

[2018-08-26 11:33] #417 closed

[2018-08-26 11:34] malirod commented on #417
Thanks!

[2018-08-26 17:29] helmesjo commented on #414
Found them, thanks! :)

[2018-08-26 17:29] #414 closed

[2018-08-26 22:57] notskm commented on #385
@SSE4 I just pushed a commit that caused one of the Mac builds to fail for some reason. If you could please check it out, I'd appreciate it. I'm not sure how to fix it. Once that's done, the testing branch should be ready to merge and this issue can probably be closed.

[2018-08-27 02:13] SSE4 commented on #385
@notskm sure, I'll take a look

[2018-08-27 02:14] SSE4 commented on #415
@MB3hel I've applied a fix, please give a try

[2018-08-27 04:02] SSE4 commented on #385
@notskm all done, build fixed, changes merged to stable, closing

[2018-08-27 04:02] #385 closed

[2018-08-27 07:33] greenjava commented on #411
A patch has been integrated to correct this ([Fix qtbase build for MSVC 2017 15.8 ](https://github.com/qt/qtbase/commit/0ef66e98ccf4946a0e4513ab5fc157df0f0aca4e)) and it'll be available in Qt 5.11.2
For the current version on bincrafters, we can apply the [patch](https://github.com/qt/qtbase/commit/0ef66e98ccf4946a0e4513ab5fc157df0f0aca4e.patch)

[2018-08-27 13:28] MB3hel commented on #415
@SSE4 I don't see the testing branch in the public repo and there does not seem to be a git repo tied to the package.
Neither
`wxwidgets/3.1.1@bincrafters/testing`
nor
`wxwidgets/3.1.1@bincrafters/git-testing`
can be found.

Is there another way I can test this?

[2018-08-27 13:33] MB3hel commented on #415
As a side note:
Looking at the changes to conanfile.py for wxwidgets it looks like everything will work except 64bit gcc.
Unlike MSVC gcc does not use the x64 in the lib directory so both 32 and 64 bit gcc should use gcc_lib as the library dir.

I'm sorry if my original description was misleading. Just to make sure that I am clear:
MSVC x86 = vc_lib or vc_dll
MSVC x64 = vc_x64_lib or vc_x64_dll
gc

[2018-08-27 15:05] cjdb opened #419 "Catch2 isn't usable on a 64-bit machine"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **catch2/2.3.0@bincrafters/stable**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **gcc-8**

## Description

While trying to build something with Conan (that uses Catch2), I encountered this diagnostic:

[code]

@mmha identified that the call to write_basic_package

[2018-08-27 17:06] SSE4 commented on #415
this is weird.
I am looking for checks:
https://github.com/wxWidgets/wxWidgets/blob/master/build/cmake/init.cmake#L53
and it seems like GCC should also have "_x64" suffix

[2018-08-27 17:53] #411 closed

[2018-08-27 18:31] ericLemanissier commented on #406
Do you have several sdks installed ?

[2018-08-28 10:18] danimtb commented on #381
Sorry @uilianries but I can't see any inclusion request for Protobuf. Would you mind doing it again?

Also I would like to know the common issue for this library with the `protoc` tool that comes with it. Is it handled as a build requirement or embedded in the library? Would cross-building be possible?

Also make sure all versions of protobuf supported in the repo are up to date.

Please notify me

[2018-08-28 10:32] SSE4 commented on #381
@danimtb we gonna split protobuf into two recipes: protoc_installer and protobuf itself (library)
more information: https://github.com/bincrafters/community/issues/412

[2018-08-28 10:33] SSE4 commented on #415
this seems to be different in master from 3.1.1:
https://github.com/wxWidgets/wxWidgets/blob/v3.1.1/build/cmake/init.cmake#L53
I am applying the fix

[2018-08-28 10:35] danimtb commented on #380
Inclusion request approved! Thanks guys

[2018-08-28 11:55] mbeach opened #420 "Update date to 2.4.1 and fix Linux and OS X CI builds"
### Description of Problem, Request, or Question
I've submitted pull request bincrafters/conan-date#2.

It updates to version 2.4.1 of the upstream https://github.com/HowardHinnant/date.

It also gets the CI builds going for Linux and OS X. To do this I've created a minimal zoneinfo database (by copying a single public domain file from beneath /usr/share/zoneinfo on Ubuntu Bionic). Note that I've

[2018-08-28 12:30] r-darwish opened #421 "Inclusion request for libtirpc"
I created a package for [libtirpc](https://sourceforge.net/projects/libtirpc/). I'd like it to be transferred to Bincrafters.

https://github.com/r-darwish/conan-libtirpc

This library is only meant for Linux. Thus, I removed the AppVeyor file, as well the macOS entries from Travis.

[2018-08-29 03:12] uilianries commented on #419
Hi @cjdb !

Thanks for report this issue. I'm going to provide a new patch soon.

[2018-08-29 05:12] SSE4 commented on #421
hi @r-darwish
I've created a repository for you: https://github.com/bincrafters/conan-libtirpc
(you should get an e-mail from GitHub about access rights)
and triggered travis build: https://travis-ci.org/bincrafters/conan-libtirpc/builds/421899637

[2018-08-29 05:13] SSE4 commented on #418
I'll take my time to reproduce, once https://github.com/bincrafters/community/issues/415 is done

[2018-08-29 11:41] HorvathAnton opened #422 "Incorrect 'gcc', is not the one detected by CMake: 'Clang'"
Hi I used this command to change my compiler from apple-clang to gcc

conan install . -s compiler=gcc -s compiler.libcxx=libstdc++ -s compiler.version=7

It is successfully built from sources but when I run my cmake command:

cmake build . -DCMAKE_CXX_COMPILER=/usr/bin/gcc

 its fail with the following error:

Tonys-MacBook-Pro:Demo_application tony$ cmake build . -DCMAKE_CXX_COMPILER=/usr/bin/gcc

[2018-08-29 12:36] ericLemanissier commented on #422
Could you try the following ?
quoting https://cmake.org/pipermail/cmake/2006-October/011638.html:

[2018-08-29 14:31] #388 closed

[2018-08-29 15:34] madebr commented on #323
After #403, I've bumped into this issue as well.

[2018-08-29 18:35] Quincunx271 commented on #419
Same bug: #416

[2018-08-29 18:55] uilianries commented on #419
Waiting for CI job ... Travis will push the new version on Bintray :)

[2018-08-30 03:30] SSE4 commented on #415
@MB3hel please check a new version

[2018-08-30 04:08] SSE4 commented on #421
I am closing for now as everything was set up and build was successful

[2018-08-30 04:08] #421 closed

[2018-08-30 05:40] SSE4 commented on #409
@danimtb all done for both 2.6.1 and 2.11.0

[2018-08-30 07:01] danimtb commented on #409
Thanks!!

[2018-08-30 07:01] #409 closed

[2018-08-30 18:04] madebr opened #423 "Linking to ffmpeg/4.0 causes warnings"
### Description of Problem, Request, or Question
When linking to `ffmpeg/4.0@bincrafters/stable`, some warnings are displayed.
`LNK4098` worries me.
[code]
Also: The log contain this line
[code]
Is lto by default really required?
### Package Details (Include if Applicable)
* Package Name/Version: **ffmpeg/4.0**
* Operating System: **Windows 10**
* Compiler+version: **Visual Studio 15 2017**

### S