[2018-02-22 20:36] solvingj commented on #135
done

[2018-02-22 20:36] #135 closed

[2018-02-22 20:36] solvingj commented on #136
Ok, i've made a PR with a substantial change to the windows build (and consequently moved the linux build around a bit).  Still doesn't work, but we can do more in time.

[2018-02-22 20:51] madebr commented on #136
Thanks! I will poke further and report back when I get further.

[2018-02-22 21:31] solvingj commented on #136
So far, the ones we don't have are:

[code]

[2018-02-23 03:58] ImpressiveDev commented on #131
@SSE4 With the `exclude_websockets=True`, it worked.  When set to `false`, I had linker errors. Unfortunately, my IDE crashed and I lost those error messages. Let me know if you need those, I'll try to recompile and provide them.

I am using the `exclude_websockets=True` option, so for my requirements, this issue has been fixed.

[2018-02-23 08:28] danimtb commented on #135
Hi @solvingj
It seems something went wrong with the remove of outdated packages and now all Visual Studio packages are shown as outdated:

![image](https://user-images.githubusercontent.com/10808592/36584891-e7fc663c-187b-11e8-915a-02c6b3d8d418.png)

Could you check that please?

[2018-02-23 09:16] pvicente opened #137 "conan-sqlite3 binaries are out of date for Windows"
Hi @solvingj,

This is the current status of the binaries.

![screenshot 2018-02-23 09 05 40](https://user-images.githubusercontent.com/471109/36586459-caf58b9c-1879-11e8-963a-06824cd67b00.png)

And it loos like latest merge into stable/3.21.0 was skipped for Appveyor but not for Travis.

Please update binaries for generated with Appveyor.

[2018-02-23 13:13] pvicente opened #138 "conan-log4cplus inclusion request into conan-center"
## Inclusion Request Review

This is a review for [log4cplus:bincrafters](https://bintray.com/bincrafters/public-conan/log4cplus%3Abincrafters/1.2.1%3Astable) inclusion request into conan-center.

### Package

log4cplus/1.2.1@bincrafters/stable

### Checks and Comments

**Recipe quality**

- [X] Git public repository
- [X] Recipe fields
- [X] Linter
- [X] Updated
- [X] Clean
- [X] test_package
- [

[2018-02-23 13:18] pvicente commented on #138
Hi @solvingj just a curiosity, I've seen that there are more options supported by this library but they haven't been included into the recipe. Any special reason ?

- https://github.com/log4cplus/log4cplus/blob/REL_1_2_1/CMakeLists.txt#L29

- https://github.com/log4cplus/log4cplus/blob/REL_1_2_1/CMakeLists.txt#L66

[2018-02-23 13:43] himikof commented on #123
My main concern is that the `compiler.libstdcxx=libstdc++` package will cause an ABI mismatch when depending on system libraries (other than libstdc++, but with ABI-dependent C++ interface) on any modern distribution. So I use only `compiler.libstdcxx=libstdc++11` setting in my profiles, to match the system C++ ABI. And then, suddenly, many packages from remotes could only be built from source, be

[2018-02-23 14:24] solvingj commented on #135
it's rebuilding now.  i rebuilt earlier from mobile, but appveyor defaulted to building testing branch.  Should be done in an hour.

[2018-02-23 14:24] solvingj commented on #137
it's rebuilding now. i rebuilt earlier from mobile, but appveyor defaulted to building testing branch. Should be done in an hour.

[2018-02-23 14:27] solvingj commented on #138
No. It was brought in from community member, i think we should try to add good support for these options.  Please put on hold until we have chance to revisit.

[2018-02-23 14:37] solvingj opened #139 "Log4cplus - add support additional CMake options"
### Description of Problem, Request, or Question
This library has the following options which were not included in the current recipe.  The options should be added to the conan recipe and passed to cmake and tested.

This was discovered in ticket: https://github.com/bincrafters/community/issues/138 and we need to address before it is included in conan center.

Also, please address the other issues

[2018-02-23 14:59] solvingj commented on #137
![image](https://user-images.githubusercontent.com/8557737/36600407-2ba77238-1880-11e8-978d-56cd7463b689.png)

[2018-02-23 14:59] #137 closed

[2018-02-23 18:05] liberforce opened #140 "gtest: How to find gmock?"
### Description of Problem, Request, or Question
The gtest package is built with gmock support. However when running cmake on a project that uses gtest and gmock, cmake complains that it can't find gmock.

[code]

How does one is supposed to use gmock from the conan package in an application?

### Package Details (Include if Applicable)
* Package Name/Version: **gtest/1.8.0@bincrafters/stable** as

[2018-02-23 19:41] solvingj commented on #140
Yep, probably need a find_gmock.cmake or something.  Looking for someone to grab this one now.

We should check lasotes old package to see if he had one that we missed.

[2018-02-23 21:08] pvicente commented on #138
Hi @solvingj for us these options are not mandatory and they are not blocking the inclusion request, it was only a comment/open question.

It's good if you add some of them maybe in a future release or new version but for us the package would be ready without modelling these options in ``conanfile.py``.

[2018-02-23 21:15] solvingj commented on #138
I really don't like the idea of adding/removing options after pushing to Conan center.  There will be times when we really need to do it and it's unavoidable, but we have time now.  Also, these are trivial. Let me see if i can get done before i finish today.

[2018-02-23 21:59] solvingj commented on #138
Ok, here's a first run through with the new options.  lets see how she goes:
https://travis-ci.org/bincrafters/conan-log4cplus
https://ci.appveyor.com/project/BinCrafters/conan-log4cplus/build/1.0.43

[2018-02-24 11:50] pvicente commented on #138
I've checked the [changes](https://github.com/bincrafters/conan-log4cplus/compare/stable/1.2.1...testing-options/1.2.1) and I have a few comments:

It adds a requirement```libiconv/1.15@bincrafters/stable``` so we need to do inclusion request for that library before accepting ```log4cplus```, please go ahead if it hasn't been done.

About the requirement, conan didn't retrieve it with the current

[2018-02-25 05:56] malirod commented on #60
@solvingj great job! I think this issue can be closed.

[2018-02-25 14:33] #60 closed

[2018-02-25 18:57] solvingj commented on #140
Thanks to @dimi309 your project might just work now.  Please give it another test and let us know.

[2018-02-25 18:58] solvingj commented on #138
I've submitted the libiconv package to conan center.

I've replaced the `config_options` method with the `requirements` method locally.

We've had many discussions about how to filter with fPIC. Just last week i was told by several people on the team that it's bad to use the OS as the filter for this.  I will defer to @SSE4 on this.

Also, he originally created the `libiconv` package, so perhaps h

[2018-02-25 20:48] sourcedelica commented on #71
Fixed in https://github.com/bincrafters/conan-caf/pull/7

[2018-02-25 22:03] #71 closed

[2018-02-26 04:38] SSE4 commented on #131
yep, errors would be helpful

[2018-02-26 04:44] SSE4 commented on #138
libiconv isn't linked unless test_package uses log4cplus APIs which actually require libiconv. need to look int o this.
for -fPIC, in general, filter by OS might be more relevant than by compiler. e.g. fPIC passed to MinGW is not harmful, but useless, and produces warning.

[2018-02-26 08:59] JohnboyJovi opened #141 "boost_signals2 only in testing version"
Hello,

I want to use ``boost_signals2``. However, it seems only to exist in a testing version ([see conan page](https://bintray.com/bincrafters/public-conan/boost_signals2%3Abincrafters)).

Is there any reason for this? Is it safe to use the testing versions for everything, although I would rather only use stable packages.

Furthermore I thought signals2 would be header-only. However, the testing

[2018-02-26 09:30] pvicente commented on #138
Hi @SSE4 @solvingj, thanks for your quick reply.

I can confirm that linking is working when test_package is using **libiconv** explicitly, thanks @SSE4 for making it more clear.

[code]

I'm reviewing now [libiconv inclusion request](https://bintray.com/bincrafters/public-conan/libiconv:bincrafters/1.15:stable) so we can proceed with ``log4cplus``.

Please do all the changes needed to make it wor

[2018-02-26 09:32] JohnboyJovi opened #142 "boost_python does not build on CentOS"
### Description of Problem

in the conanfile.py of boost_python line 64 the package ``python-dev`` is explicitely searched. Unfortunately under CentOS it is named ``python-devel``.
So this should either be dependend on the Linux distribution or this package name could also be an options, so that I can configure it correctly when using it.

### Package Details
* Package Name/Version: **boost_python

[2018-02-26 10:01] wpalfi commented on #140
We are using gtest with

[code]

as recommended here:
https://cmake.org/cmake/help/latest/module/FindGTest.html

Until yesterday that worked fine with the default cmake findGTest.cmake. Could you please add the imported targets to the custom findGTest.cmake?

[2018-02-26 10:02] SSE4 commented on #28
new version is on bintray

[2018-02-26 10:02] #28 closed

[2018-02-26 10:05] SSE4 commented on #120
@madebr do you still see warning? I support it might be caused by runtime mismatch, but if you specify runtime with `-s compiler.runtime`, it should be fine

[2018-02-26 13:24] pvicente opened #143 "conan-libiconv inclusion request into conan-center"
## Inclusion Request Review

This is a review for [libiconv:bincrafters](https://bintray.com/bincrafters/public-conan/libiconv%3Abincrafters/1.15%3Astable) inclusion request into conan-center.

### Package

libiconv/1.15@bincrafters/stable

### Checks and Comments

**Recipe quality**

- [X] Git public repository
- [X] Recipe fields
- [X] Linter
- [X] Updated
- [X] Clean
- [X] test_package
- [X] Ra

[2018-02-26 14:18] liberforce commented on #140
@wpalfi: This issue is about GMock.You should probably open a separate bug report.

[2018-02-26 14:19] solvingj commented on #141
Thank you for reporting this issue. I have now resolved this by building signals2 stable branches.

The Bincrafters packages, follow the dependency tree defined generated from the boost build dependency information. The same information is also rendered here:
https://pdimov.github.io/boostdep-report/master/module-levels.html

We understand there are some circumstances where this dependency tree in

[2018-02-26 14:19] solvingj commented on #140
It's fine, we're addressing it ASAP.

[2018-02-26 19:45] solvingj commented on #143
FYI the outdated are gone but we should wait to see if we should rebuild with pure_c=True. Awaiting response from @SSE4

[2018-02-27 12:11] JohnboyJovi commented on #141
Thanks a lot. The stable packages seem to work for me.

Concerning the dependencies, I understand that this is not your fault.

So I close this issue.

[2018-02-27 12:11] #141 closed

[2018-02-27 12:28] pvicente commented on #143
Hi @solvingj thanks for doing it and also thank you for checking ```pure_c=True```.

@SSE4 I've tried to build it in my windows environment without success 😞

[code]

My default profile is:

[code]
And the building profile ```default_libiconv``` is:

[code]

See full output:

[code]

Can you see anything that can explain the my problem?

FYI: I've been building other projects with my Visual Studio

[2018-02-27 12:29] SSE4 commented on #143
@pvicente hard to say - if you can share your config.log, it would be helpful

[2018-02-27 12:43] pvicente commented on #143
@SSE4 hope it helps:

[config.log](https://github.com/bincrafters/community/files/1762656/config.log)

[2018-02-27 12:49] SSE4 commented on #143
Seems like it doesn’t handle path with spaces well (barbarian team). Not
sure where is a bug, will check later.

On Tue, 27 Feb 2018 at 19:43, Pedro Vicente <notifications@github.com>
wrote:

[2018-02-27 13:02] pvicente commented on #143
Ohh yes I see:

[code]

[2018-02-27 16:56] pvicente commented on #143
Hi @SSE4 I've found https://github.com/conan-io/conan/issues/2344 that could be related

[2018-02-27 17:09] niosHD opened #144 "[spdlog] Adding cmake config files possible?"
### Description of Problem, Request, or Question
The current spdlog package does not contain the typical CMake config files (i.e., `spdlogConfig.cmake`, `spdlogConfigVersion.cmake`, `spdlogTargets.cmake`). Since the build system generates these files on install, is there any reason they are not included? Adding them would permit to use the regular `find_package(spdlog)` CMake syntax in consuming p

[2018-02-27 17:30] 013ez opened #145 "can't install boost-python"
### Package Details (Include if Applicable)
- Package Name/Version: **Boost.Python/1.65.1 (1.66.0)**
- Operating System: **Macos High Sierra10.13.3**
- Compiler+version: **Apple LLVM version 9.0.0 (clang-900.0.39.2)**
- Docker image:

### Steps to reproduce (Include if Applicable)

[code]

Remove call not helped.

[2018-02-27 19:05] madebr commented on #120
@SSE4 : No I do not https://ci.appveyor.com/project/madebr/issues/build/1.0.71/job/e5li2haelpfna65l and
https://ci.appveyor.com/project/madebr/openrw/build/1.0.434

[2018-02-27 20:00] solvingj commented on #144
Generally speaking we're happy to try to include the necessary `findXXX.cmake` files for each package, although we typically have to write ourselves because I don't think I've seen one be generated by the build system.  I just re-ran the build for spdlog and I don't see where those are generated.  Can you give any additional details on where you see those files?

[2018-02-27 20:01] solvingj commented on #145
Hi @013ez , sorry for the confusion but all of our packages with the capital letters and dots are old and deprecated.

Please switch to `conan install boost_python/1.65.1@bincrafters/stable` and let us know if you continue to have issues.

[2018-02-27 21:33] niosHD commented on #144
These files are generated during the install step of the library by cmake. For example, if you perform the following steps you will see them in `_install/lib64/cmake/spdlog`:
[code]
Interestingly, this also gives you a pkgconfig file. Note however, that this file additionally requires [some patching](http://docs.conan.io/en/latest/reference/tools.html?highlight=replace_prefix_in_pc_file#tools-repl

[2018-02-28 01:35] SSE4 commented on #143
okay, I'll take a look and check what could be done

[2018-02-28 01:37] SSE4 commented on #120
glad to hear that

[2018-02-28 01:46] sourcedelica commented on #144
That's a good idea.  I'm going to do that on recipes in the future.  I did it in a recent `AutotoolsBuildEnvironment` project (which could use a `install()` method) and it made the packaging process much easier.

[2018-02-28 02:22] solvingj commented on #144
FYI, I've re-worked the recipe to use the Cmake install.  Interestingly, this opens a number of new questions that we need to discuss internally.  Should have answers and a rebuild tomorrow.

[2018-02-28 02:45] SSE4 commented on #140
I've added required targets https://github.com/bincrafters/conan-gtest/commit/20b692e6b0854c331d91160ff6f5742d3033abd3
please update and lemme know if it works for you

[2018-02-28 03:58] 013ez commented on #145
I cleaned my ```~/.conan/data``` folder and it helped.

Ok, thank you, i will update all my ```conanfile.txt``` files.

[2018-02-28 03:58] #145 closed

[2018-02-28 08:37] wpalfi commented on #140
Yes it works. Thanks!

I already issues here https://github.com/bincrafters/community/issues/26#issuecomment-366164172 that the compile definitions are missing with this approach. Could you please add this line:

[code]

?

[2018-02-28 08:38] SSE4 commented on #140
right, I'll add them

[2018-02-28 10:06] SSE4 commented on #140
@wpalfi INTERFACE_COMPILE_DEFINITIONS were added, please update and try again

[2018-02-28 10:19] wpalfi commented on #140
Perfect

[2018-02-28 10:30] liberforce commented on #140
Still doesn't work for me:

[code]

[2018-02-28 10:31] SSE4 commented on #140
@liberforce interesting, I'll take a look

[2018-02-28 10:35] liberforce commented on #140
In FindGMock.cmake, I think that:

`find_package_handle_standard_args(GTEST REQUIRED_VARS ...`

should be:

`find_package_handle_standard_args(GMOCK REQUIRED_VARS ...`

[2018-02-28 10:37] SSE4 commented on #140
good catch, thanks!

[2018-02-28 13:08] db4 opened #146 "gtest linking problem"
gtest 1.0.8 adds libraries to `cpp_info.libs` in wrong order: instead of `gtest gmock gmock_main` it should be `gmock_main gmock  gtest`. Due to that I cannot build https://github.com/db4/conan-rabbitmq-c under Linux.  `conan create . dbely/testing -o '*:shared=False'` fails with:
[code]
`testing::InitGoogleMock` is defined in `gmock`, so  it should go after `gmock_main` in ld command line.

### P

[2018-02-28 14:16] liberforce commented on #140
Commit https://github.com/bincrafters/conan-gtest/commit/d21a0c4a78ec6865f036a962d690bbe1fe37179e fixes the `-- Could NOT find GTEST (missing: GMOCK_BOTH_LIBARIES) ` error.

The ` Property INTERFACE_LINK_LIBRARIES may not contain link-type keyword  "general"` error is still there though.

[2018-02-28 14:19] SSE4 commented on #140
I am working on this

[2018-02-28 14:42] liberforce commented on #140
Seems that the "general" keywords is added by qibuild (meta build system made above cmake), so that's probably in our code, not yours.

[2018-02-28 14:43] SSE4 commented on #140
yep, I cannot reproduce an error locally, however, found few others and fixing em right away. anything else to be fixed?

[2018-02-28 15:28] liberforce commented on #140
No for now, feel free to close once you push the last fixes, I'll reopen if I find something else. Thanks for your work and responsiveness :+1:

[2018-02-28 15:36] SSE4 commented on #143
were trying to quote/escape spaces multiple times, no luck :(
if someone have ideas - please share
problematic place - `'CC=$PWD/build-aux/compile cl -nologo'` $PWD resolves into path with spaces here

[2018-02-28 16:02] SSE4 commented on #140
confirmed as fixed

[2018-02-28 16:02] #140 closed

[2018-02-28 16:03] SSE4 commented on #146
@db4 I think I have fixed it, could you possibly update and try again?

[2018-02-28 18:51] madebr commented on #120
@SSE4 Because I cannot patch `conan-ffmpeg` on travis, I'm getting the dlclose error there. (Adding `--disable-cuvid` and `--disable-cuda` to the configuration).
What would you suggest?
https://travis-ci.org/madebr/openrw/jobs/347373415

[2018-03-01 01:28] solvingj commented on #144
@niosHD i've rebuilt 0.16.3/stable using the cmake installer.  Please give it a try.

[2018-03-01 02:09] SSE4 commented on #142
changes are in boost_python/1.66.0@bincrafters/testing, please give another try

[2018-03-01 02:19] SSE4 commented on #124
@p-groarke
repository was created, sorry for the delay
https://github.com/bincrafters/conan-glad

[2018-03-01 02:25] SSE4 commented on #120
@madebr I gonna disable cuda and cuvid by default in ffmpeg recipe until we add necessary options (this may require making CUDA toolkit installer, or processing system requirements, I am not sure, I'll delay it until CUDA is requested by someone). it will take some time to rebuild ffmpeg on CI, I'll let you know.

[2018-03-01 05:44] db4 commented on #146
Yes, now it links without any errors. Thanks!

[2018-03-01 05:47] SSE4 commented on #146
confirmed as fixed

[2018-03-01 05:47] #146 closed

[2018-03-01 07:55] JohnboyJovi commented on #142
Very good that seems to work. At least the conan package is building. Thanks a lot :-)

[2018-03-01 09:16] niosHD commented on #144
Well, I have good and bad news. The good news is that your new cmake installer based package works like a charm for me and `find_package` works as indended. On the other hand, the bad new is that you updated the [wrong branch](https://github.com/bincrafters/conan-spdlog/network). Instead of [0.16.3/stable](https://bintray.com/bincrafters/public-conan/spdlog%3Abincrafters#files/bincrafters%2Fspdlog

[2018-03-01 09:37] helmesjo opened #147 "Websocketpp cmake target fails when linking (looks for .lib)"
### Description of Problem, Request, or Question

I've got a feeling I'm missing something very obvious here, but how do I link the websocketpp (header-only) lib? The usual `target_link_library( mytarget PRIVATE websocketpp )` works during configuration, but while **linking throws this error**:
`LINK : fatal error LNK1181: cannot open input file 'websocketpp.lib'`

Isn't [websocketpp](https://gith

[2018-03-01 12:33] hestad opened #148 "[zmq] creates .so files when zmq:shared=False"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **zmq/4.2.2**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **clang 5.0.1**
* Docker image: **none**
* Conan version: 0.28.1

conanfile.txt
[code]

### Steps to reproduce (Include if Applicable)
1. conan install .. -e CC=/usr/bin/clang-5.0 -e CXX=/usr/bin/clang++-5

[2018-03-01 13:11] SSE4 commented on #147
as I can see, websocketpp doesn't declare any interface targets
https://github.com/zaphoyd/websocketpp/blob/master/websocketpp-config.cmake.in
but you may wish to use conan-generated target instead `target_link_libraries(mytarget PRIVATE CONAN_PKG::websocketpp)`

[2018-03-01 13:15] SSE4 commented on #148
I've took a look, and ZeroMQ unconditionally builds both static and shared libraries in case of CMake build. how should we deal with such case?

/cc @solvingj @sigmoidal

[2018-03-01 13:18] hestad commented on #148
I changed from this https://github.com/memsharded/conan-zmq/blob/4.2.0/conanfile.py

They seem to have solved it.

[2018-03-01 13:20] SSE4 commented on #148
yep, this can be solved by copying libraries conditionally
I'll change to do something similar

[2018-03-01 13:38] helmesjo commented on #147
Wow, didn't even occur to me that they failed to provide an interface target... Looking at their cmake-scripts, on quickly finds a lot of deprecated `include_directories`, unfortunately.

Also, I already tried with `CONAN_PKG::websocketpp`, but I get:
`Target "myapp" links to target "CONAN_PKG::websocketpp" but the
  target was not found.`

This is with `websocketpp/0.7.0@bincrafters/stable` in my

[2018-03-01 13:39] SSE4 commented on #147
in order to use conan-generated targets, you have to invoke conan like this:
`conan_basic_setup(TARGETS)`
when you will be able to use `CONAN_PKG::<package_name>`

[2018-03-01 13:54] helmesjo commented on #147
Oh, more than I knew! Now I'll just need cmake 3.11.0 & [wrap it in my own interface target](https://github.com/conan-io/conan/issues/2125#issuecomment-359725468) to avoid downstream targets having to know about conan!

Anyways, thanks, now it works :)

[2018-03-01 13:54] #147 closed

[2018-03-01 16:07] pvicente commented on #143
Hi @SSE4, @solvingj I've been doing more tests and I have a possible solution but with tradeoffs ...

We can use the attribute [short_paths=True](http://docs.conan.io/en/latest/reference/conanfile/attributes.html#short-paths) and basically instead of building in your home ```c:\Users\your_home\.conan``` it's going to use [CONAN_USER_HOME_SHORT](http://docs.conan.io/en/latest/reference/env_vars.htm

[2018-03-01 16:13] SSE4 commented on #143
@pvicente that's a great investigation! thanks a lot for spending your time on that.
I gonna try to do that and apply necessary changes to the recipe. thanks again.

[2018-03-01 16:15] lasote opened #149 "libtiff"
### Description of Problem, Request, or Question

Hi, I accepted the inclusion request and then we realized that it is a C library and the packages being generated have the libstdc++. Could you activate the pure_c in CI and clean outdated, please?
Many thanks

[2018-03-01 16:25] pvicente commented on #143
@SSE4 I'm going to submit a PR with some changes to improve the way of using the ```build_require```  instead of using [this line](https://github.com/bincrafters/conan-libiconv/blob/stable/1.15/conanfile.py#L96). Credits for that to @lasote

[2018-03-01 16:26] SSE4 commented on #143
sure, np

[2018-03-01 16:57] pvicente commented on #143
Done!!! see https://github.com/bincrafters/conan-libiconv/pull/4. Let's wait to the CI

[2018-03-01 17:41] SSE4 commented on #143
@pvicente btw, I've made required changes in the **testing/1.15** branch.
I didn't use win32security/ntsecuritycon modules, as they are not in default python installation, instead I've just invoked cacls utility, hope it's okay.

[2018-03-01 18:06] pvicente commented on #143
Thanks @SSE4, I've checked it and it works.

![cacl build dir](https://user-images.githubusercontent.com/471109/36860961-a2af2430-1d7a-11e8-9d60-a51672e19992.png)

Maybe a good contribution for conan would be [setting these permissions to the short_home folder](https://github.com/conan-io/conan/blob/release/1.1.1/conans/util/windows.py#L50) after creating the directory, so nobody will hit this pro

[2018-03-01 19:11] solvingj commented on #149
fyi, update, looks like rebuild is happening now.

[2018-03-01 20:48] pvicente commented on #143
@SSE4 @solvingj Unfortunately the build require [msys2_installer:bincrafters](https://bintray.com/bincrafters/public-conan/msys2_installer%3Abincrafters) doesn't work with ```short_paths=true``` like  [cygwin build require](https://github.com/bincrafters/conan-cygwin_installer/blob/stable/2.9.0/conanfile.py#L21). Submitting pull request to update it and make it work in weird situations like this o

[2018-03-01 22:16] madebr opened #150 "OpenAL: static=true but contains a DLL"
### Description of Problem, Request, or Question
The option is `static=True`, but the archive contains a dynamic library, aka a dll.

See https://bintray.com/bincrafters/public-conan/openal%3Abincrafters#files/bincrafters%2Fopenal%2F1.18.2%2Fstable%2Fpackage%2F6cc50b139b9c3d27b3e9042d5f5372d327b3a9f7
6cc50b139b9c3d27b3e9042d5f5372d327b3a9f7

### Package Details (Include if Applicable)
* Package Na

[2018-03-02 02:17] SSE4 commented on #148
@hestad I think I have fixed it, could you update and give another try? thanks

[2018-03-02 02:18] SSE4 commented on #120
@madebr could you try to update one more time? thanks

[2018-03-02 02:43] SSE4 commented on #79
@grafikrobot should we change boost generator as suggested?

[2018-03-02 02:47] #79 closed

[2018-03-02 03:23] SSE4 commented on #80
I guess now we have a conclusion, so closing

[2018-03-02 03:23] #80 closed

[2018-03-02 03:24] SSE4 commented on #130
upstream issue

[2018-03-02 03:24] #130 closed

[2018-03-02 04:32] SSE4 commented on #149
@lasote libtiff is rebuilt, outdated packages were removed

[2018-03-02 07:52] SSE4 commented on #150
@madebr I think I have fixed it. could you possibly update and try again?

[2018-03-02 07:52] maximMalofeev opened #151 "ffmpeg with Intel QuickSync Video"
Hi. ffmpeg have an opportunity to be compiled with Intel QuickSync Video. As for me it's a really important thing. Could you add the option libmfx to the recipe? I will really grateful if you do this.

### Package Details (Include if Applicable)
* Package Name/Version: **ffmpeg/3.4**
* Operating System: **Win**
* Compiler+version: **Visual Studio 2017**

[2018-03-02 07:54] SSE4 commented on #151
@maximMalofeev yep, it's on plan. I'll let you know once it's ready (may take day or two).

[2018-03-02 07:55] lasote opened #152 "libpng download sources fails"
### Description of Problem, Request, or Question
Sourceforge is having some problems and the direct download of sources from conan is failing. It downloads instead of the zipped file an HTML file saying that you need js because they are in maintenance mode or something similar. I fixed zlib pointing to an alternate mirror. Is this GH official? https://github.com/glennrp/libpng/tree/v1.6.34 maybe i

[2018-03-02 08:05] maximMalofeev commented on #151
@SSE4 thanks for feedback. I'm looking forward to it)

[2018-03-02 08:07] theirix commented on #152
Yes, we suffer too from flaky sourceforge downloads. Last week SF was very unstable and even provided unstable mirrors.
Now it says: `The sourceforge.net website is temporarily in static offline mode. Only a very limited set of project pages are available until the main website returns to service.`

Another GH repo is https://github.com/glennrp/libpng-releases. Anyway I found no reference to glenn

[2018-03-02 10:31] SSE4 commented on #148
so works as expected, right?

[2018-03-02 10:43] hestad commented on #148
Yes. You can close this.

I also did a check with shared:True
[code]

[2018-03-02 10:44] SSE4 commented on #148
confirmed as fixed

[2018-03-02 10:44] #148 closed

[2018-03-02 11:16] lasote opened #153 "Inclusion request openjpeg:bincrafters"
The dependency `lcms/2.9@bincrafters/stable` has to be opened/accepted first in conan center.

[2018-03-02 11:17] theirix commented on #153
Sure, let me check it first.

[2018-03-02 11:34] #149 closed

[2018-03-02 11:34] pvicente commented on #143
Thanks @SSE4 for accepting the last PR.

I've done another change to manage the fPIC option for Windows this is a best practice form the ```conan-team```.  Hope that's ok.

[2018-03-02 12:16] solvingj commented on #144
You were right. I've now merged to 0.16.3/stable. Please let me know if it works on that version.

[2018-03-02 12:52] madebr commented on #150
Fixed! Thank you very much!

[2018-03-02 12:52] #150 closed

[2018-03-02 13:47] solvingj commented on #130
Does this mean package just can't work for shared lib?  If not, we should raise exception perhaps?

[2018-03-02 13:48] solvingj commented on #136
@madebr would you be willing to open issues on the conan wishlist for these libs, and then we can work towards it that way?  Would you be willing to work on packaging these?

If so, we can create a small github project to track the progress. Otherwise, i'm not sure anyone on the team currently has need for this library or the deps.

[2018-03-02 13:56] madebr commented on #130
I'm looking into it.
It might have something to do with linker flags: https://msdn.microsoft.com/en-us/library/bxwfs976.aspx

[2018-03-02 14:34] madebr opened #154 "lzma/bincrafters on Visual Studio build_type=Debug fails to download/build (source url incorrect)"
### Description of Problem, Request, or Question
Installing debug 64-bit version of lzma does not work.
[code]
I think the source url is incorrect: https://github.com/bincrafters/conan-lzma/blob/411b07bd9866ab14f793c64576a624b9e942696c/conanfile.py#L40

The version is incorrect also. It hould be 4.32.7

It should be https://tukaani.org/lzma/lzma-4.32.7.tar.xz
### Package Details (Include if Applic

[2018-03-02 16:33] theirix commented on #153
lcms refactored and done, just sent an inclusion request

[2018-03-02 17:19] SSE4 commented on #154
@madebr
1. not sure where did you see version 4.32.7? official websites suggests version 5.2.3 for download, check here https://tukaani.org/xz/
2. there seems to be a problem with SSL certificate:
[code]

[code]

3. if I bypass SSL check (by adding `verify=False` to the tools.download), it still fails. the following file is being downloaded:
[code]
curl confirms there is redirect to sourceforge:
[

[2018-03-02 17:26] madebr commented on #154
My understanding was that `conan-lzma` should download lzma instead of xz at https://tukaani.org/lzma/.
I now see that xz is its successor.

[2018-03-02 17:51] solvingj commented on #139
Currently, just raise exception "not supported". When we have qt packages, or when a user requests that we support it because they actually need it, we can try to enable.

[2018-03-02 17:51] SSE4 commented on #139
roger that, thx

[2018-03-02 18:19] #154 closed

[2018-03-02 18:34] pvicente commented on #143
@solvingj @SSE4 Cheers for merging all the changes.

Last thing before the inclusion, I promise, could you remove outdated binaries from bintray please?

![screenshot 2018-03-02 18 32 54](https://user-images.githubusercontent.com/471109/36915337-33f106a2-1e48-11e8-90c4-9d3485fec015.png)

[2018-03-02 19:15] a-teammate commented on #53
I was writing that, so you have an alternative blueprint for it, in case you are doing it differently. Saving us both some time in comparison to asking repeatedly how your current ideas are and how you do it until I get every detail and make a suggestion based on that. This way you can just take information out of the blueprint, or leave it if it is not needed.

I do understand that. That is alway

[2018-03-02 19:52] solvingj commented on #53
Thanks very much!!

[2018-03-02 21:05] solvingj commented on #143
should be done, please check again.

[2018-03-02 22:36] wpalfi opened #155 "zlib missing in boost_iostreams debug"
### Description of Problem, Request, or Question
I am using Visual Studio 15 x64.
zlib works with boost_iostreams in release build but it is missing in debug build.
[code]

When I try to build it, I get

[code]

I figured out that in
`zlib/1.2.11@conan/stable:8cf01e2f50fcd6b63525e70584df0326550364e1`
the lib filename is "zlibd.lib" and boost seems to look for "zlib.lib".

So I modified conanfile.p

[2018-03-03 11:49] pvicente commented on #143
![screenshot 2018-03-03 11 46 48](https://user-images.githubusercontent.com/471109/36933893-96ede71c-1ed8-11e8-839e-ce553c69101f.png)

Perfect, ready to go!!! Thank you all for your contribution.

[2018-03-03 11:54] pvicente commented on #143
All done!!! https://bintray.com/conan/conan-center?filterByPkgName=libiconv%3Abincrafters.

[2018-03-03 11:54] #143 closed

[2018-03-03 12:21] niosHD commented on #144
Works like a charm. Thank you!

[2018-03-03 12:21] #144 closed

[2018-03-03 15:25] SSE4 commented on #52
build is fixed, merged to stable

[2018-03-03 15:25] #52 closed

[2018-03-03 15:27] SSE4 commented on #131
@ImpressiveDev I don't see linking issues, do you still experience em with exclude_websockets=False? if so, could you upload logs?

[2018-03-03 15:32] SSE4 commented on #94
I personally don't think we need option here. it's the same package, library is always exported, it's just not automatically linked as it's not exposed into `self.cpp_info.libs`.
and if someone wants to link with it for whatever reason (which I highly doubt), it's exported, and can be easily added without any modifications to the boost.test recipe.
therefore, I suggest to close an issue, as no mod

[2018-03-03 16:28] helmesjo opened #157 "Websocketpp - Make boost and asio-standalone dependencies optional"
### Description of Problem, Request, or Question
[Websocketpp](https://github.com/zaphoyd/websocketpp) has [no hard dependency](https://github.com/zaphoyd/websocketpp/issues/474) on [boost_asio](https://github.com/bincrafters/conan-boost_asio) or [asio standalone](https://github.com/bincrafters/conan-asio) (see also `ASIO_STANDALONE`), thus it should be possible to specify both as an option (if to

[2018-03-04 04:18] SSE4 commented on #157
@helmesjo I've added asio option to support standalone asio use case.
you can use it like `-o websocketpp:asio=standalone`
can you update and give a try?

[2018-03-04 11:56] helmesjo commented on #157
Thanks a lot, that worked! I did however have to manually link a threading library (`pthreads` in my case with gcc) to get rid of some linking errors in my target using `asio` (indirectly through `websocketpp`).

I'm using CMake so I did [this](https://cmake.org/cmake/help/v3.10/module/FindThreads.html) to keep it cross-platform:
[code]

I might be wrong but shouldn't this "Thread" requirement by

[2018-03-04 12:44] SSE4 commented on #157
conan can handle that. I'll add pthread to asio.

[2018-03-04 14:08] helmesjo commented on #157
Great, thanks!

Just let me know when it's done and I'll test & hopefully close this.

[2018-03-04 14:41] ArekPiekarz commented on #128
@theodelrieu libbacktrace has received updates recently. I just tested it with Boost.Stacktrace 1.66 from Msys2 and it now works correctly (see my last comment in https://github.com/boostorg/stacktrace/issues/41).

[2018-03-04 17:32] SSE4 commented on #157
@helmesjo asio/1.11.0@bincrafters/stable has required changes

[2018-03-04 17:45] helmesjo commented on #157
Got same issue at first, but after a cleanup of installed package (`conan remove asio/1.11.0@bincrafters/stable`), it seems to work correctly!

I now only have to do:
[code]

Thanks for the help, and extra thanks for quick the responses!

[2018-03-04 17:45] #157 closed

[2018-03-04 19:20] solvingj commented on #157
Thanks for reporting @helmesjo , Great work @SSE4 .

[2018-03-04 23:20] theirix commented on #152
Sourceforge seems to be up and the problem should go away.
I checked libpng-releases repository again - it is a repository with files (not github releases) and they do not have non-latest releases which are needed for our packages (1.6.32). So both repos cannot help us.

[2018-03-05 02:59] SSE4 commented on #139
new options were added

[2018-03-05 02:59] #139 closed

[2018-03-05 10:49] memsharded opened #158 "spdlog missing tags in Bintray"
The spdlog library for inclusion in conan-center looks good, first review everything green.
Just if you could please add tags in bintray, that will help in the future for better searching. Thanks!

[2018-03-05 11:35] lasote commented on #152
Confirmed that works.

[2018-03-05 11:35] #152 closed

[2018-03-05 13:28] solvingj commented on #158
done

[2018-03-05 13:28] #158 closed

[2018-03-05 13:50] solvingj commented on #94
Ok, so we do need to modify our library, and remove it.  Got it, thanks.  Let's keep this ticket open until thats done.

[2018-03-05 15:28] madebr commented on #130
It's an upstream bug.
The headers need to add `__declspec(import)` to the exported static variables.

Current [master](https://github.com/bulletphysics/bullet3/commit/6d326a79c8a609ef312a4a8edb5a55d2a1f5f9e3) does not even build dynamic libraries because of this exact issue.

[2018-03-05 15:29] memsharded opened #159 "inclusion request: spdlog"
Hi!

We are processing spdlog for conan-center and found some issues and have some questions:

- It uses by default the internal FMT, shouldn't be the external FMT from conan-center the default one?

- Please use a more complete test, like:
[code]
It will allow seeing things on screen, which is nice. But what is more important, please remember than C++ optimizations might optimize out things that

[2018-03-06 09:12] pvicente commented on #138
Hi @SSE4, many thanks for the changes.

I've been reviewing the latest version and it looks ok. Checker is fine and binaries are ok.

## Checker

![screenshot 2018-03-06 08 49 14](https://user-images.githubusercontent.com/471109/37022980-75a2e8b4-211c-11e8-8f9e-d3a94ebef3f8.png)

## Binaries

![screenshot 2018-03-06 08 57 26](https://user-images.githubusercontent.com/471109/37023009-8670a7bc-211c-

[2018-03-06 10:44] jgsogo opened #160 "expat/2.2.5 packaged binary - Problem in linking stage"
### Description of Problem, Request, or Question

There is something wrong with binary compiled for gcc 4.9 (x86_64, Release, libcxx=libstdc++11). The error I get in travis when compiling another package that depends on expat is ([here](https://travis-ci.org/jgsogo/conan-apache-apr-util/jobs/349485145)):

[code]

If I force compilation of expat/2.2.5 then it works ok ([here](https://travis-ci.org/

[2018-03-06 10:54] wpalfi opened #161 "cmake_findboost_modular - always add all includes"
From https://cmake.org/cmake/help/latest/module/FindBoost.html:

[...]

So all header-only-libs should **always** be added to Boost_INCLUDE_DIRS and an additional `Boost::boost` target should be created. The current implementation in cmake_findboost_modular adds header-only-libs only if no components are requested:

[code]

E.g. when used with `find_package(Boost COMPONENTS test)`, it only adds bo

[2018-03-06 13:06] solvingj commented on #130
Thanks for doing the research.  Let's raise exception.

[2018-03-06 14:50] mpusz opened #162 "Conflict in boost_assign/1.66.0@bincrafters/stable"
### Description of Problem, Request, or Question
[code]
### Package Details (Include if Applicable)
* Package Name/Version: **boost_assign/1.66.0**
* Operating System: **Windows**
* Compiler+version: **VS2017**
* Docker image: ****

### Steps to reproduce (Include if Applicable)

[2018-03-06 15:37] SSE4 commented on #160
the problem is that lasote has suddenly downgraded image **lasote/conagcc49** from xenial to trusty in this commit: https://github.com/conan-io/conan-docker-tools/commit/60c4f542929580f4bcdbb44b6564db105351c762

that means glibc version was downgraded from 2.23 to 2.19. binaries produced with newer glibc are not backward compatible, as they use new relocations.

that change basically invalidates a

[2018-03-06 15:43] SSE4 commented on #161
thanks for the reporting. I'll implement required changes tomorrow and let you know once they are ready for testing.

[2018-03-06 15:56] SSE4 commented on #138
sorry, no idea right now on how to get log4cplus to actually use libiconv. the only place using iconv I see is towstring/tostring methods, but there are appear to be multiple implementations of them.
https://github.com/log4cplus/log4cplus/blob/5aef420f5e59b72702a2e3121f45e547f6f51ff4/src/stringhelper-iconv.cxx
I need to investigate it deeper.

[2018-03-06 19:36] jgsogo commented on #160
So... should it be considered somehow in the hash of the compiled binaries? cc/ @lasote

[2018-03-07 03:44] SSE4 commented on #160
@jgsogo I've rebuilt expat for gcc-4.9. please give another try.

[2018-03-07 09:52] maximMalofeev commented on #151
Im sorry for importunity, but could you tell me about the date you are expect to solve this issue. It really important for me. Thanks.

[2018-03-07 10:51] jgsogo commented on #160
It works! Thanks.

[2018-03-07 10:51] #160 closed

[2018-03-07 17:14] solvingj opened #163 "catch upstream version bump"
### Description of Problem, Request, or Question
Catch2 v2.2 is out:
https://github.com/catchorg/Catch2/releases/tag/v2.2.0
https://github.com/bincrafters/conan-catch

We just need someone to bump and trigger CI

[2018-03-08 06:30] SSE4 commented on #161
@wpalfi changes applied, could you possibly give an another try?

[2018-03-08 08:13] wpalfi commented on #161
I checked it, but there is still a problem:

I know the documentation says

So you added a new variable Boost_INCLUDE_DIRS_HEADER_ONLY that you are using for Boost::boost. That sounds reasonable and was also my first intention. But some header-only-libs include headers of non-header-only-libs. E.g. we are using lexical_cast which includes `boost/container/container_fwd.hpp`. That is not a full dep

[2018-03-08 08:14] SSE4 commented on #161
okay, sounds reasonable, I'll make the change

[2018-03-08 08:17] wpalfi commented on #161
One more point: I am not sure, but after reading the cmake documentation, I think you should remove the
[code]
block. I think components (binaries) should only be used when explicitly requested with `COMPONENTS`.

[2018-03-08 08:24] SSE4 commented on #161
this block is required to populate other variables (like Boost_LIBRARY_DIRS), which has to be set up even if no components specified. see issue #boo

[2018-03-08 08:28] wpalfi commented on #161
Hm, why do you need Boost_LIBRARY_DIRS if no components specified?

[2018-03-08 08:30] SSE4 commented on #161
e.g. in old projects and old CMake I was using code like:
[code]
and it worked very well, without any components specified

[2018-03-08 08:33] SSE4 commented on #161
btw, new changes are in bintray, please give one more try

[2018-03-08 08:45] wpalfi commented on #161
Will try immediately...

regarding Boost_LIBRARY_DIRS:
I still dont see the problem. I just tried this:

[code]

With cmake's default findBoost it just links nothing and prints
`Boost_LIBRARY_DIRS ()`

With your findBoost it links everything and prints
`Boost_LIBRARY_DIRS (;C:/.conan/9kw727ap/1/algorithm/lib (ALGORITHM);C:/.conan/93tzh2u6/1/any/lib (ANY);......<many more>)`

After removing the add

[2018-03-08 08:54] SSE4 commented on #161
yep, seems like you're right - I've checked old CMake 2.6 documentation, and it always worked that way. I'll remove mentioned block.

[2018-03-08 08:56] wpalfi commented on #161
Tested Boost::boost again. Works now with lexical_cast, thanks:-)

[2018-03-08 08:57] SSE4 commented on #161
okay, I am closing the issue then.

[2018-03-08 08:57] #161 closed

[2018-03-08 09:50] wpalfi commented on #84
`lib, *.dll -> ./bin` does not work anymore. Now you need to do
[code]

 But anyway, there is an easier solution. Just do
`., *.dll -> ./bin @ keep_path=False` and optional `@ root_package=boost_*`
to copy all dlls with one statement.
Or with conanfile.py:
`self.copy("*.dll", dst="bin", keep_path=False)`

[2018-03-08 10:45] lasote opened #164 "Inclusion request review: openal/1.18.2@bincrafters/stable"
## Inclusion Request Review

This is a review for [openal/1.18.2@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-openal) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

###

[2018-03-08 11:31] pvicente commented on #138
Hi @SSE4, did you have time to investigate it? Not sure if it should block the inclusion request but it would be good to know what do you think about it ...

[2018-03-08 11:41] SSE4 commented on #138
not yet, sorry

[2018-03-08 11:46] lasote opened #165 "Inclusion request lcms/2.9@bincrafters/stable"
## Inclusion Request Review

This is a review for [lcms/2.9@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-lcms) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### Package

[2018-03-08 11:58] theirix commented on #165
Added tags

[2018-03-08 13:30] solvingj commented on #84
I don't have time to look at this now but it looks like there's something we need to change so reopening.

[2018-03-08 15:47] SSE4 commented on #151
working hard on it :) expect on March 10

[2018-03-08 16:49] sourcedelica opened #166 "Add mingw support to conan-gtest"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **gtest/1.8.0**
* Operating System: **Windows Mingw**
* Compiler+version: **gcc**

### Steps to reproduce (Include if Applicable)
1. Try to create gtest package using Mingw.
2. Compilation fails with error messages like:
[code]

[2018-03-08 17:15] uilianries commented on #163
Done!
https://github.com/bincrafters/conan-catch2/tree/stable/2.2.0
https://bintray.com/bincrafters/public-conan/catch2%3Abincrafters/2.2.0%3Astable

[2018-03-08 17:15] #163 closed

[2018-03-09 04:09] dimi309 commented on #166
As far as I know this is an "upstream" problem. Gtest v1.8.0 fails compilation with MinGW and the issue has still not been resolved: https://github.com/google/googletest/issues/606

A few days ago I was discussing with @solvingj and I had mentioned that there is a reason to keep gtest v1.7.0 well maintained, because v1.8.0 crashes under some circumstances, but I could not remember what those circu

[2018-03-09 08:00] wpalfi commented on #84
Sorry if my comment was not clear.

- The old Boost.Abc packages had there dlls at "lib/*.dll"
- The new boost_abc packages are using "abc/lib/*.dll"

While I would still prefer the bin folder, its no big deal for us. I just wanted to share our solution.

[2018-03-09 13:14] sourcedelica commented on #166
Hi Dimi -

I fixed it with https://github.com/bincrafters/conan-gtest/pull/10.

This is based on the answer in https://github.com/google/googletest/issues/606#issuecomment-197933754

[2018-03-09 13:34] SSE4 commented on #164
outdated packages were removed

[2018-03-09 14:08] sourcedelica commented on #159
10-4

[2018-03-09 15:05] lasote commented on #165
There are some missing packages since we removed the libcxx. Please remove them with:

`conan remove lcms/2.9@bincrafters/stable --outdated -r bincrafters`

Also, there a linter error solved in a new pr.

[2018-03-09 15:06] theirix commented on #165
sure, I'm on it

[2018-03-09 16:22] SSE4 commented on #151
@maximMalofeev ffmpeg with QSV is ready, could you give a try?

[2018-03-09 18:30] madebr opened #167 "boost-test: linking to static library fails"
### Description of Problem, Request, or Question
Linking to static boost-test library fails on Linux/Windows.

Error is:
[code]

### Package Details (Include if Applicable)
* Package Name/Version: **boost-test/1.66.0**
* Operating System: **Windows**
* Compiler+version: **Visual Studio 2017**

### Steps to reproduce (Include if Applicable)
project: https://github.com/madebr/issues/tree/master/cona

[2018-03-09 18:31] madebr commented on #167
Omitting the `main` function and `boost::unit_test::unit_test_main` function call causes the following error on Windows alone:
[code]
appveyor: https://ci.appveyor.com/project/madebr/issues/build/job/2bgbecoufhsaynvr

[2018-03-09 18:34] theirix commented on #165
Merged PR and cleaned up outdated recipes.

[2018-03-09 19:22] sourcedelica commented on #159
I will work on this this weekend

[2018-03-09 21:27] lasote commented on #165
Accepted! congrats, great job.

[2018-03-09 21:27] #165 closed

[2018-03-09 23:53] memsharded commented on #159
Actually, I have changed my mind. I have inspected the internals of spdlog, how it includes fmt, and keeping the build is necessary so cmake generates all the find-cmake stuff.

So I think only:
- Change fmt_external=True default
- Check that the find.cmake scripts generated are really usable (because they are not in the root, the are in ``lib/cmake``)

Many thanks!

[2018-03-10 03:20] solvingj commented on #159
Thanks @memsharded and @sourcedelica for working on this!

[2018-03-10 03:36] solvingj opened #168 "conan-lcms - remove workaround upon Conan 1.2 release"
### Description of Problem, Request, or Question
A workaround is put in place, with a fix coming in Conan 1.2. This ticket is just a reminder to remove the workaround at that time.

https://github.com/bincrafters/conan-lcms/blob/stable/2.9/conanfile.py#L33

[2018-03-10 04:58] SSE4 commented on #84
I don't think "bin" or "lib" is conan's convention, it's just a sane default which works for most libraries out of the box (e.g. for configure-style projects, `make install` deploys libraries/binaries according to that structure). if some library uses different layout (e.g. deploy binaries to folder called "run-me" and deploy libraries to folder called "link-me"), that still will work, as long as

[2018-03-10 21:27] sourcedelica commented on #159
See my comments/questions on https://github.com/bincrafters/conan-spdlog/pull/4

[2018-03-11 08:59] drrlvn opened #169 "CLI11 version bump to 1.4.0"
Please bump cli11 package to version 1.4.0.

[2018-03-11 14:34] solvingj commented on #169
done

[2018-03-11 14:34] #169 closed

[2018-03-11 18:01] sourcedelica commented on #159
I think it's ready to go: https://github.com/bincrafters/conan-spdlog/pull/4

[2018-03-12 05:57] maximMalofeev commented on #151
Thanks a lot, i will try it as soon as i can

[2018-03-12 08:14] AlexandrePTJ opened #170 "conan-sqlite_orm update to 1.0"
Hi,
I maintain conan-sqlite_orm recipe.
As sqlite_orm just changes its version to 1.0 I am trying to create the corresponding branch but it looks like I do not have right permission to do it.
Did I miss something in the process ?

Thanks.

[2018-03-12 08:14] SSE4 commented on #170
you may create pull request

[2018-03-12 08:21] AlexandrePTJ commented on #170
Did it. Thanks.

[2018-03-12 08:21] #170 closed

[2018-03-12 08:27] lasote commented on #164
Approved! congrats!

[2018-03-12 08:27] #164 closed

[2018-03-12 10:19] lasote commented on #153
Perfect! included! :)

[2018-03-12 10:19] #153 closed

[2018-03-12 10:48] danimtb opened #171 "libcurl status"
### Description of Problem, Request, or Question

We have checked [libcurl](https://github.com/bincrafters/conan-libcurl) as we have some arising necessities to have it in conan-center and it looks quite good! 👍

I would like to point some issues to start working on the process of a future inclusion request.

### Package Details (Include if Applicable)
* Package Name/Version: **libcurl/7.50.3**, *

[2018-03-12 10:52] jgsogo opened #172 "gtest/1.8.0 linkage error (gcc-4.9)"
### Description of Problem, Request, or Question
I think it is the same problem as [here](https://github.com/bincrafters/community/issues/160), `libgmock.a` needs to be rebuilt for gcc4.9. Error is:

[code]
--> CI job here: https://travis-ci.org/jgsogo/conan-variant/jobs/352262570#L929

### Package Details (Include if Applicable)
* Package Name/Version: **gtest/1.8.0**
* Operating System: **Linux

[2018-03-12 11:05] danimtb opened #173 "libssh2 status"
### Description of Problem, Request, or Question

We have checked [libssh2](https://github.com/bincrafters/conan-libssh2) as we have some arising necessities to have it in conan-center. It is working great! 😃

I would like to point some issues to start working on the process of a future inclusion request.

### Package Details (Include if Applicable)
* Package Name/Version: **libssh2/1.8.0**
* Oper

[2018-03-12 11:33] jgsogo commented on #87
## mpark/variant

Moving forward: [`mpark/variant`](https://github.com/jgsogo/conan-variant) is almost ready (only one open issue here: https://github.com/bincrafters/community/issues/172 that is trivial to solve). It has some minor tweaks I want to share to with you:
 * I need a file from gtest not being distributed with it, so I download it. See [here](https://github.com/jgsogo/conan-variant/blo

[2018-03-12 12:25] theirix commented on #171
Thank you for checking libcurl!

1. I had added licenses at least at January. Packages are updated last time a week ago. Checked now 7.50.3, 7.56.1 - licenses are here, `licenses/COPYING`. I cleaned up outdated packages, please check again, maybe you hit a very old binary.

2. setting libcxx is already removed in `config_options`

3. Cleaned up outdated packages, thanks!

[2018-03-12 12:40] danimtb commented on #171
Thanks for the quick response @theirix!

- My mistake: You are right, licenses are actually there. I had a problem with `short_paths=True`.
- Didn't notice the deletion of libcxx in `config_options()`. We usually do it in `configure()` as that is the best place to delete settings. It is ok, but please consider it for next updates and packages :)
- Table looks fine now!

Thank you!

[2018-03-12 12:47] theirix commented on #171
You are right, the manual says that `config_options` should be used for 'modify options based on settings'. I'll consider moving it to `configure` next time.

Please note that libcurl is very fast-paced software and latest version (7.58.0) is not yet available. The conan package tries to use various patches and fixes based on upstream version so adding a new version should be easy. I can add it if

[2018-03-12 12:52] SSE4 commented on #87
cmake_minimum_required - there is no docker images for Macos - it builds on travis virtual machine which has older CMake version
gtest_force_shared_crt - agree

[2018-03-12 12:52] danimtb commented on #171
Is OK as it is, don't worry! An thanks again for the great work 😉

[2018-03-12 12:58] theirix commented on #173
Thank you for the advice!
Removed libcxx, rebuilt and removed outdated packages.

[2018-03-12 12:58] #173 closed

[2018-03-12 13:02] danimtb commented on #173
Thanks @theirix! Please consider making the inclusion-request when you are fine with it :)

[2018-03-12 13:35] danimtb commented on #171
Sorry, I have just checked and as this is a C library you would have to delete libcxx here too:

[code]

Just this it would be ready for conan-center!

[2018-03-12 13:37] theirix commented on #171
Hmm, deleting just in `config_options` is not enough?

[2018-03-12 13:42] danimtb commented on #173
Sorry, I have just checked and as this is a C library you would have to delete libcxx here too:

[code]

Just this it would be ready for conan-center!

[2018-03-12 13:46] theirix commented on #173
It is removed in `config_options`. Just checked experimentally that it's not required to remove in `configure` too. Please correct me if I'm mistaken.
Anyway I'll move it to `configure` at next build.

[2018-03-12 15:09] theirix commented on #173
Done

[2018-03-12 15:38] jgsogo commented on #87
I've being testing a little bit more and I need to set `gtest_force_shared_crt`  because mpark/variant is using `internal_utils.cmake` (which is not exported by the gtest package); so the recipe don't need to set this flag (I edit above)

[2018-03-12 21:27] pvicente commented on #138
Hi @SSE4/ @solvingj  I've found the problem.

Kindly review PR above.

After this fix library should be ready for inclusion in conan-center.

[2018-03-13 00:18] solvingj commented on #172
gtest package was rebuild by @SSE4 a few hours after you opened this ticket. Please try again.

[2018-03-13 09:06] drrlvn opened #174 "abseil/20180223 - ConanException not imported"
### Description of Problem, Request, or Question
When trying to install `abseil/20180223` I get the following error:
[code]

### Package Details (Include if Applicable)
* Package Name/Version: **abseil/20180223**
* Operating System: **Arch Linux**
* Compiler+version: **gcc-7.3**

[2018-03-13 09:16] r-darwish commented on #174
@solvingj these kind of errors aren't detected by Travis because we usually don't test bad paths. However, they can probably be detected by tools such as Pylint. If you're interested, I can check how difficult would it be to start analysing conanfiles with Pylint in Travis

[2018-03-13 09:40] pvicente commented on #138
Hi @solvingj,

Now library is in [conan-center](https://bintray.com/conan/conan-center?filterByPkgName=log4cplus%3Abincrafters). Thanks for merging the changes.

![screenshot 2018-03-13 09 39 43](https://user-images.githubusercontent.com/471109/37333937-7c984296-26a2-11e8-9435-0aa95a94f752.png)

[2018-03-13 09:40] #138 closed

[2018-03-13 10:53] jgsogo commented on #172
Now it is working, thanks @SSE4

[2018-03-13 10:53] #172 closed

[2018-03-13 13:57] pvicente opened #175 "conan-ogg inclusion request into conan-center"
## Inclusion Request Review

This is a review for [ogg/1.3.3@bincrafters/stable](https://bintray.com/bincrafters/public-conan/ogg%3Abincrafters/1.3.3%3Astable) inclusion request into conan-center.

### Package

ogg/1.3.3@bincrafters/stable

### Checks and Comments

**Recipe quality**

- [X] Git public repository
- [X] Recipe fields
- [X] Linter
- [X] Updated
- [X] Clean
- [X] test_package
- [X] Ra

[2018-03-13 15:08] wpalfi commented on #62
Looks very good! I will try to test it during the next days.

[2018-03-13 15:35] r-darwish opened #176 "abseil/20180223 - Wrong linkage order"
### Description of Problem, Request, or Question
Trying to build [this app](https://gist.github.com/r-darwish/3bb4b603a39fd551396a7c8f9d49f226) caused the following linkage command:
[code]

Which caused the following error:

[code]

This is due to the fact that `-labsl_spinlock_wait`, which contains `AbslInternalSpinLockWake`, comes before `-labsl_base`, which depends on it. As stated [here](https

[2018-03-13 16:29] solvingj opened #177 "Refactor conan-variant"
https://github.com/bincrafters/conan-variant

### Description of Problem, Request, or Question
Great looking package.  Suggesting several changes/refactors to recipe.  Some are debatable, so feel free to post comments if there's disagreement.

- Remove `from conans.errors import ConanException`, just `raise Exception()` instead
-- Per conan team, this is converted to ConanException implicitly now

[2018-03-13 17:11] jgsogo commented on #177
Yep, there are some comments:

 * `license`: I can't find anything like "Boost Software License, Version 1.0", maybe we should request bintray to add it; I am not going to change the license used by mpark for his library.
 * `build_tests`: I like to build them and execute them to validate building (not yet in this recipe). One of the reasons I use conan is this: get a binary, but one that has pass

[2018-03-13 19:36] ArekPiekarz commented on #117
The issue with not finding -lpython27 or -lpython36 during `conan install` is gone. Thanks for your work :-)

Now the building of project fails at `cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Release
` step with an error `Cannot specify link libraries for target "boost_python3" which is not built  by this project. `

I presume you would like me to file this in a new bug report, right?

[2018-03-13 20:27] mpusz opened #178 "Poor support of Boost for conan_basic_setup(TARGETS)"
### Description of Problem, Request, or Question
With configuration:
[code]

While using
[code]
following and similar errors occur
[code]

### Package Details (Include if Applicable)
* Package Name/Version: **Boost**
* Operating System: **Windows 10**
* Compiler+version: **Visual Studio 2017**
* Docker image: ****

### Steps to reproduce (Include if Applicable)

[2018-03-13 21:07] ArekPiekarz commented on #117
Unfortunately, building with shared libraries still fails with the same error.
[code]

My conanfile.txt:
[code]

Python in libs path:
[code]

Full logs:
[conan-install-output.txt](https://github.com/bincrafters/community/files/1808658/conan-install-output.txt)

Building static libraries works, but then building of project fails at `cmake .. -G "Ninja" -DCMAKE_BUILD_TYPE=Debug` step with an error `

[2018-03-13 23:32] SylvainCorlay commented on #111
I did not see confirmed information supporting that claim on google's side.

[2018-03-13 23:59] solvingj commented on #178
Sorry for the trouble, thanks for reporting.  Can you post the CMake statement where you link the Boost libraries to your target?

[2018-03-14 00:37] solvingj commented on #177
RE: Version ranges:
https://github.com/bincrafters/community/issues/103

RE: Running unit tests in package builds:
I think we all agree that it seems very logical to want to run tests during packaging.  This was the thing i will always consider debatable.  However, there are a few reasons which altogether led us to choose the policy of skipping them.  In no particular order...
1.  It's much more t

[2018-03-14 08:46] Mikayex opened #179 "RapidJSON package to bincrafters"
### Description of Problem, Request, or Question
Hi !
I've created a package for [RapidJSON](http://rapidjson.org/) using your packaging standards : https://github.com/Mikayex/conan-rapidjson. It is ready to be copied to bincrafters organization (everything reference bincrafters/rapidjson package).

You can find CI here :
- https://ci.appveyor.com/project/Mikayex/conan-rapidjson
- https://travis-c

[2018-03-14 09:19] jgsogo commented on #177
I'll delete `build_tests` stuff, but I'm not convinced :unamused: :smile: I'll keep thinking about it...

[2018-03-14 10:00] jgsogo commented on #177
And now, a serious question. Since it is header-only library I can remove all settings and avoid using CMake if I copy include files myself... but I prefer to keep it in order to generate `*-config.cmake` and `*-targets.cmake` files, so I can use this package using `find_package` [like here](https://github.com/mpark/variant#installation--cmake-find_package).

@solvingj What do you think about it?

[2018-03-14 10:04] dimi309 commented on #166
I had noticed that's why I deleted my message (sorry). So listen, this all looks good to me now. It's just that I don't have rights to accept the pull request myself. If someone who does can do it, that would be great 😄

[2018-03-14 11:19] uilianries commented on #179
Hi @Mikayex !

Thanks for your submission.

It looks a great job! Very clean recipe!

I'm going to pull your project into Bincrafters.

Please, join us at [Slack](cpplang.slack.com) if you are interested to discuss more about the community.

Best regards!

[2018-03-14 11:42] uilianries commented on #179
Done!

https://github.com/bincrafters/conan-rapidjson
https://bintray.com/bincrafters/public-conan/rapidjson%3Abincrafters
https://ci.appveyor.com/project/BinCrafters/conan-rapidjson
https://travis-ci.org/bincrafters/conan-rapidjson

I'm going to request the submission on Conan center.

Thanks again for your effort!

[2018-03-14 11:42] #179 closed

[2018-03-14 15:46] solvingj commented on #179
Please change license field in conanfile to abbreviated form.

[2018-03-14 15:53] uilianries commented on #179
@solvingj Done!

[2018-03-14 16:18] danimtb opened #180 "Manage fpic correctly in libxml"
### Description of Problem, Request, or Question
https://github.com/bincrafters/conan-libxml2
fpic option is not deleted in windows

### Package Details (Include if Applicable)
* Package Name/Version: *libxml2/2.9.8@bincrafters/stable**

### Steps to reproduce (Include if Applicable)

Please delete fpic option in windows:

[code]

After that it should be OK for conan-center
Thanks! :)

cc/ @theiri

[2018-03-14 17:11] solvingj commented on #177
Thanks, and great question.  We're doing the `cmake.install()` on a number of libraries for this reason (generated `.cmake` files.  We just recently realized there's a bit of a snag even with this.  The files generated are often featuring absolute paths.

There is a new feature here which tries to address the issue, however in our first test, it didn't work [conan-spdlog](https://github.com/bincra

[2018-03-14 17:25] solvingj commented on #179
Great job @Mikayex, thank you very much for this contribution!  Indeed, we look forward to working with you more in the future.

[2018-03-14 17:26] solvingj commented on #176
@r-darwish Are we able to fix the link order manually now that we know of the issue?

[2018-03-14 17:38] uilianries commented on #180
@danimtb Done!

[2018-03-14 19:28] pvicente opened #181 "conan-flac inclusion request into conan-center"
## Inclusion Request Review

This is a review for [flac/1.3.2@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-flac) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### Packa

[2018-03-14 21:42] ImpressiveDev commented on #131
Hi @SSE4,

Sorry for the delay, I haven't had a chance to check it out before today.

Linking issues with exclude_websockets=false seems to be fixed. I have tested with both possible value and it works.

I can't use it with shared=False though, my app will simply not link properly:

[code]

It looks like Windows SDK is not linked properly.

[2018-03-15 08:27] danimtb opened #182 "Argh already in conan-center"
### Description of Problem, Request, or Question
Argh library is already in conan-center supported directly by the author.
https://github.com/adishavit/argh
https://bintray.com/adishavit/conan/argh%3Aadishavit

This is just a reminder in case you want to take further action regarding your repository here:
https://github.com/bincrafters/conan-argh

Bintray: https://bintray.com/bincrafters/public-co

[2018-03-15 08:35] danimtb commented on #180
Many thanks! I t should be ready to conan-center just after libiconv requirement :)

[2018-03-15 08:35] #180 closed

[2018-03-15 08:38] theirix commented on #180
Great! By the way libiconv is already is conan-center (since Mar 03).

[2018-03-15 08:55] danimtb commented on #180
ups, I checked the wrong libiconv url! Perfect then!

[2018-03-15 08:59] pvicente commented on #175
Hi @solvingj @SSE4, many thanks for merging the changes.

Could you updated the missing parts in [Bintray](https://bintray.com/bincrafters/public-conan/ogg%3Abincrafters) please?

- License should be BSD (library license)
- Some tags for search i.e: ```audio | c | c++```

[2018-03-15 13:41] JohnboyJovi commented on #142
This is not in `stable` yet, right? Because `stable` is still not building, and now the `testing` version fails with another problem, see #62
So I leave this open until the changes made it to `stable`. Sorry for closing it too early.

[2018-03-15 13:46] JohnboyJovi commented on #61
This does however not work if I do not specify anything. Before 1.66/stable worked for me. No with the same conanfile it fails, saying:
[code]

If I define it in my `conanfile.py` as:
[code]

However, I think this should default to something reasonable to not break working code, e.g. `2.7`

[2018-03-15 13:48] SSE4 commented on #175
@pvicente license changed, tags added

[2018-03-15 13:49] SSE4 commented on #131
sure, fixing it (just needs winhttp library)

[2018-03-15 13:52] pvicente commented on #175
@SSE4 I can't see any changes in [bintray](https://bintray.com/bincrafters/public-conan/ogg%3Abincrafters)

[2018-03-15 13:54] SSE4 commented on #175
@pvicente try again pls

[2018-03-15 14:13] pvicente commented on #175
All ok, above MR can be added integrated later, only cosmetic change.

[2018-03-15 14:25] pvicente commented on #181
@dimi309 @SSE4 After the merge the only remaining thing is to remove outdated binaries:

```conan remove flac/1.3.2@bincrafters/stable --outdated -r bincrafters```

Please do it and we'll do the integration in conan-center.

See details:

![screenshot 2018-03-15 14 23 24](https://user-images.githubusercontent.com/471109/37469136-8a3792b0-285c-11e8-9de7-a361418e89db.png)

[2018-03-15 14:26] solvingj commented on #182
i've deleted our package and the github project.  was unlikely to be used by anyone.  thanks for pointing it out.

[2018-03-15 14:26] #182 closed

[2018-03-15 14:28] SSE4 commented on #181
@pvicente done

[2018-03-15 14:30] danimtb commented on #182
That recipe was indeed a great starting point to make the author adopt conan.
Thanks a lot for the great job!

[2018-03-15 14:35] pvicente commented on #181
@SSE4 Many thanks!!! All done, https://bintray.com/conan/conan-center?filterByPkgName=flac%3Abincrafters

[2018-03-15 22:20] theirix commented on #171
Latest changes:
1. Moved out libcxx to `configure`
2. Added `fPIC` option for unix builds
3. Rebuilt and cleaned outdated packages
4. Filled a request

[2018-03-15 23:49] #181 closed

[2018-03-15 23:49] #175 closed

[2018-03-15 23:54] uilianries commented on #159
The package was merged in Conan center: https://bintray.com/conan/conan-center?filterByPkgName=spdlog%3Abincrafters

[2018-03-15 23:54] #159 closed

[2018-03-16 08:40] rhard opened #183 "Package contributing guidelines"
### General package workflow
...
9. Once working and verified, create the equivalent repo in Bincrafters
...
### Problem
I want to contribute to Bincrafters. Given I already have my private package tested and ready for submit.
In the documentation above (package_guidelines_faq.rst) it is not clear how to create repository in Bincrafters. Could you please give more details here?

[2018-03-16 11:25] uilianries commented on #183
Hi @rhard!

We (Bincrafters members) are able to create an equivalent repo, that means, same repo name, but using your repository as origin. So, we preserve your commits and authority.

For example, our package for [rapidjson](https://github.com/bincrafters/conan-rapidjson) was created by @Mikayex.
Initially, he created his own repo and after to finish the recipe, he asked to include in our repo b

[2018-03-16 12:14] rhard commented on #183
Thanks! So, I will need to open an issue with a link to my repository. Maybe you can extend the FAQ with this details?

[2018-03-16 12:28] uilianries commented on #183
You are correct on both arguments,
you should open an issue requesting the project inclusion, where we could review and discuss about.
And as you said, we must improve our FAQ to include these details.

Thanks for ask about it, you just helped to get a better documentation.

BTW, there is a good example [here](https://github.com/bincrafters/community/issues/179), how to request your package inclus

[2018-03-16 18:51] sourcedelica opened #184 "Upgrade catch2 to 2.2.1"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **catch2/2.2.0**
* Operating System: **Linux**
* Compiler+version: **gcc-5.4**

Catch2 has been upgraded to 2.2.1 to fix a major bug: https://github.com/catchorg/Catch2/issues/1215

Catch Reports Exit Code 0 Even with Failed Tests · Issue #1215 · catchorg/Catch2

[2018-03-16 20:35] uilianries opened #185 "Bot scanner for bump version"
Hi!

For now we need to check each project release and create a new issue to bump the version.

It would be nice if we would have some bot to check every day all projects and open the issue if some version needs to be updated.

I though about a simple script running over Travis cron, but I don't know if someone already did this.

[2018-03-17 03:15] uilianries commented on #184
Done!

https://bintray.com/bincrafters/public-conan/catch2%3Abincrafters/2.2.1%3Astable

[2018-03-17 03:15] #184 closed

[2018-03-17 13:56] sourcedelica commented on #184
Thanks dude!

[2018-03-17 14:09] uilianries commented on #184
Enjoy!

[2018-03-17 17:59] pvicente opened #186 "Inclusion request vorbis/1.3.5@bincrafters/stable"
## Inclusion Request Review

This is a review for [vorbis/1.3.5@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-vorbis) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### P

[2018-03-17 18:42] jgsogo commented on #177
I think that the recipe is ready, can you please configure it for travis and appveyor? If everything goes right, then I can create stable branch.

About the cmake files, I have checked them and there is no absolute paths, so they will work withouth changes. Also, I would like you to check [this proposal](https://github.com/conan-io/conan/issues/2619) to handle those absolute path issues feel free

[2018-03-17 20:03] solvingj commented on #177
Just turned on CI, then I reduced CI to the header-only template.  Sounds good on the cmake files.  I looked at the proposal, and will need to look at later to comment.

[2018-03-19 21:52] uilianries opened #187 "Support new options on PCRE2"
### Description of Problem, Request, or Question
Add options to change the configure options on pcre2 from 8-bit to 16-bit for qt

### Package Details (Include if Applicable)
* Package Name/Version: **pcre2/10.31**

[2018-03-19 22:06] uilianries commented on #187
I'll add as option, but all true by default

[2018-03-19 23:07] #187 closed

[2018-03-20 00:02] uilianries commented on #187
@vadixidav Done!

Please, download the latest package and check.

If you find some problem, please, re-open this issue.

Regards.

[2018-03-20 16:28] vadixidav opened #188 "conan-pcre2 Windows PCRE2_STATIC not defined for consumer"
### Description of Problem, Request, or Question

pcre2 specifies __declspec(dllimport) if PCRE2_STATIC is not defined. Since the package doesn't set this define for consumers, it results in symbols failing to be found for "__impl_*" on Windows since it is looking for dllimport symbols rather than the static symbols which are present.

To fix the `conanfile.py` needs this in `package_info`:
[code]

[2018-03-20 20:13] ArekPiekarz commented on #117
I checked it now and the problem is still there, the output is almost the same.
(I hope I used the right command to update the recipes.)
[code]
Full logs:
[conan-install-output2.txt](https://github.com/bincrafters/community/files/1831037/conan-install-output2.txt)

[2018-03-20 23:00] #188 closed

[2018-03-20 23:01] uilianries commented on #188
@vadixidav Please, update again.

If you see any problem, re-open this issue.

Regards!

[2018-03-21 13:17] pvicente commented on #186
Thanks for merging PR.

![screenshot 2018-03-21 13 05 39](https://user-images.githubusercontent.com/471109/37711440-a6a6f6ba-2d08-11e8-829e-c3c676fc411b.png)

All done!!!  https://bintray.com/conan/conan-center?filterByPkgName=vorbis%3Abincrafters

[2018-03-21 13:17] #186 closed

[2018-03-21 13:58] db4 commented on #94
Any progress with this? The fix looks simple enough, why not to commit it?

[2018-03-21 16:43] alexxxgu opened #189 "cpprest for android"
Hi, I'm trying to build cpprestsdk 2.10.1 & 2.9.1 using clang, standalone toochain, and conan profile.
include from CXXFLAGS= -fPIE -fPIC -I$standalone_toolchain/include/c++/4.9.x is missing
[code]

boost/1.66.0@conan/stable is ok.

[2018-03-21 18:54] ArekPiekarz commented on #117
Here is the output of the corrected command (there were some typos in your version):
`python3 -c "import sysconfig; import pprint; pprint.pprint(sysconfig.get_config_vars())"`

[python-config-vars.txt](https://github.com/bincrafters/community/files/1834773/python-config-vars.txt)

BTW I don't know how you're trying to install Msys2, I got it manually from the [official page](https://www.msys2.org/

[2018-03-21 19:37] jgsogo commented on #177
I think it is ready: https://bintray.com/bincrafters/public-conan/variant%3Abincrafters/1.3.0%3Astable

May need a little bit of care in bintray to fill soem fields.

[2018-03-22 12:52] maximMalofeev commented on #151
Unfortunately it is dont work for me, at list an example from \share\ffmpeg\examples\qsvdec.c doesnt  work. But it seems another one issue, when i set option ffmpeg:qsv = False, all networks protocols, like rtp, becomes not avaliable....

[2018-03-22 14:16] SSE4 commented on #151
@maximMalofeev would be helpful if you could provide more information.
does it fail to compiler/link or run or what exactly happens?
is there an error message or detailed error log?

[2018-03-22 20:55] kheaactua commented on #65
In case any one is interested, I have a conan recipe for GMP 6 that builds with mingw (following the cross-compilation tutorial) and uses a `package_id()` to make it appear as a Visual Studio 2013 (MSVC 12) build.  I haven't posted it on github yet (I'm still tweaking it now and then), but it builds, and I could share it if anyone needs.

[2018-03-23 02:22] uilianries opened #190 "Bump Freetype version to 2.9"
### Description of Problem, Request, or Question

- Update Freetype to version 2.9
- Clean the recipe to request Conan center inclusion

https://github.com/bincrafters/conan-freetype

[2018-03-23 04:11] uilianries opened #191 "Support Mingw gcc5 for libpng"
### Description of Problem, Request, or Question
The current mingw configuration does not support gcc-5:

` - MINGW_CONFIGURATIONS: '4.9@x86_64@seh@posix, 4.9@x86_64@sjlj@posix, 4.9@x86@sjlj@posix, 4.9@x86@dwarf2@posix, 6@x86_64@seh@posix, 7@x86_64@seh@posix'`

### Package Details (Include if Applicable)
* Package Name/Version: **libpng/1.6.34**
* Operating System: **Windows**
* Compiler+version:

[2018-03-23 06:52] maximMalofeev commented on #151
ok. In the case when qsv not works: as i said i use qsvdec.c frome ffmpeg sources. it compiled, but when i run it stops with an error, log looks like this:
[avi @ 047292C0] non-interleaved AVI
[AVHWFramesContext @ 0CDA2F10] Error synchronizing the operation: -3
Error transferring the data to system memory
[AVHWFramesContext @ 0CDA2F10] Error synchronizing the operation: -2
Error transferring the d

[2018-03-23 07:17] theirix commented on #191
Our templates are missing gcc-5 therefore a lot of recipes misses gcc-5 too.

[2018-03-23 07:17] maximMalofeev commented on #151
Another one issue, when i disable ffmpeg:qsv, network protocols isnt available.
`
    av_register_all();
    avformat_network_init();

	void *op = nullptr;
	while (true) {
		auto prtr = avio_enum_protocols(&op, 0);
		if (prtr) {
			std::cout << prtr << "; ";
		}
		else {
			std::cout << std::endl;
			break;
		}
	}
`
this snippet prints the next list of protocols: async; cache; concat; crypto; data

[2018-03-23 09:00] hdk5 opened #192 "Prebuilt libcurl/7.56.1 for Windows doesn't seem to have OpenSSL support"
### Package Details
* Package Name/Version: **libcurl/7.56.1**
* Operating System: **Windows**
* Compiler+version: **Visual Studio 15**

### Steps to reproduce
This is supported protocols I get from curl_version_info using libcurl/7.56.1 package:

No https there

And this is what I get from libcurl/7.52.1:

https and other secure protocols are here

[2018-03-23 09:05] theirix commented on #192
Yes, we don't prebuild openssl-enabled libcurl on CI because builds are very heavy. You can always build it on your machine by specifying an option `-o libcurl:with_openssl=True` on command line on in your `conanfile.txt`.

[2018-03-23 09:16] hdk5 commented on #192
I have this option in my `conanfile.txt`, but it tries to use prebuilt package unless I say him to `--build libcurl` himself.

Shouldn't it throw error like

instead?

[2018-03-23 09:19] theirix commented on #192
Just add `--build=missing`. So your command line will be like `conan install --build=missing .`

[2018-03-23 09:21] hdk5 commented on #192
The thing is conan does NOT throw this error, but should.

[2018-03-23 09:26] alexxxgu commented on #189
CFLAGS= -fPIC -I$standalone_toolchain/include/c++/4.9.x
CXXFLAGS= -fPIC -I$standalone_toolchain/include/c++/4.9.x

and /mnt/c/Android/arm_19_toolchain15/include/c++/4.9.x/stddef.h exists

[2018-03-23 09:30] theodelrieu opened #193 "Problems with cross-building Boost"
### Description of Problem, Request, or Question
I'm using a custom package called `darwin-toolchain` to build packages for macOS and iOS, that I have as a build_requirement in my profile, which sets compiler flags and whatnot. From what I've understood, I need to provide a custom `user-config.jam` with the available toolsets, compiler flags, etc... to Boost.Build.

I expose the `BOOST_BUILD_USER_

[2018-03-23 10:18] db4 commented on #94
@grafikrobot It works for me, thank you.

[2018-03-23 10:36] theirix commented on #192
Hmm, you are right, this looks strange. Could you please attach your `conanfile.txt` and the output of `conan info .`?

[2018-03-23 12:28] solvingj commented on #65
Would be great, let us know when you feel comfortable sharing.  You can chat with us about it on slack as well.

[2018-03-23 13:27] pvicente opened #194 "Inclusion request harfbuzz/1.7.6@bincrafters/stable"
## Inclusion Request Review

This is a review for [harfbuzz/1.7.6@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-harfbuzz) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

#

[2018-03-23 16:47] hdk5 commented on #192
[code]

[2018-03-23 17:05] uilianries commented on #194
I just created a new MR: https://github.com/bincrafters/conan-harfbuzz/pull/3

[2018-03-23 18:02] ArekPiekarz commented on #117
Sorry you had troubles, here are the instructions for doing it from scratch. I tested them now, but let me know if there is any problem:

#### Setup Msys2
Download the Msys2 64-bit binary from www.msys2.org (currently http://repo.msys2.org/distrib/x86_64/msys2-x86_64-20161025.exe).
Run it, click through the installer.
At the end by default it will launch Msys shell, close it.
Assuming you used def

[2018-03-23 19:28] kheaactua commented on #65
Will do.  Once I finally get CGAL built to confirm it works. :)  (building on Windows is just so slow and tedious)

[2018-03-23 21:48] ArekPiekarz commented on #117
BTW Conan recommends Msys2 as the subsystem on Windows - http://docs.conan.io/en/latest/systems_cross_building/windows_subsystems.html?highlight=msys2
But if you have other suggestions for developing with GCC on that system, I'm all ears ;-)

[2018-03-24 12:51] #94 closed

[2018-03-24 17:43] solvingj commented on #194
merged, great work.

[2018-03-25 09:36] theirix commented on #192
By the way, libcurl built on Windows WITH openssl does not enable openssl nor winssl. I'll try to fix it later.

But we should ensure that Conan picks the right package. Package ae6191bc1194317ff7cdbc84d4d302ab49975618 is built with openssl. It can be verified by your conan info or by looking into its conaninfo.txt.

Could you please post which libcurl packages do you have in your local cache by r

[2018-03-25 10:45] theirix commented on #192
So it means that 7.56.1 with with_openssl=True does not actually supports openssl.
And the 7.52.1 with with_openssl=True supports it.
It's an ongoing problem and I'll track it in this ticket.

Yes, it's ok. Package id is a hash of settings and options but not the version. Package is identified  by name, version, username, channel and package id.

Regarding the `missing` problem. You can try to use

[2018-03-26 09:52] pvicente commented on #194
Hi @uilianries @solvingj

Please remove  outdated binaries:

 ```conan remove harfbuzz/1.7.6@bincrafters/stable --outdated -r bincrafters```

![screenshot 2018-03-26 10 47 52](https://user-images.githubusercontent.com/471109/37899403-59cd1c0a-30e3-11e8-8a2e-c7af689c9caf.png)

After that everything should be ready for the inclusion but [conan-freetype](https://github.com/bincrafters/conan-freetype)

[2018-03-26 09:52] theirix commented on #192
Fixed all libcurl versions to enable openssl. Also added an option `with_winssl` (default off) to build with windows-native SSL backend, it will enable https too.

[2018-03-26 11:17] bschindler commented on #176
@solvingj I got notified of this issue as I ran into a similar issue. In my case, it was a package which attempted to install some system libraries and then link against them. But since the library was only added as if it was part of the package, conan did not know that there was a dependency between the two. As soon another package (or some other command) added a link dependency to the system lib

[2018-03-26 11:52] drrlvn commented on #176
Unless I'm missing something, it looks like abseil's `CMakeLists.txt` correctly specifies that `absl_base` depends on `absl_spinlock_wait` [here](https://github.com/abseil/abseil-cpp/blob/master/absl/base/CMakeLists.txt#L83). If so then this bug should not happen regardless of the order returned by `tools.collect_libs`.

[2018-03-26 14:40] kheaactua commented on #65
Hi @solvingj, I published my GMP and MPFR recipe's to [conan-gmp](https://github.com/kheaactua/conan-gmp) and [conan-mpfr](https://github.com/kheaactua/conan-mpfr) respecitvely.  I haven't put them on bincrafters yet because I still have no `test_package` yet, and while CGAL builds with these, I haven't thoroughly tested my code that depends on this CGAL build yet,

[2018-03-26 23:50] uilianries opened #195 "fPIC should be remove by config_options"
### Description of Problem, Request, or Question
For now, we use `configure` to remove `fPIC` when necessary:
https://github.com/bincrafters/conan-templates/blob/master/conanfile.py#L46

But according Conan, `configure` should be used to change settings and `config_options` for options:
https://github.com/conan-io/conan/blob/master/conans/model/conan_file.py#L225

### Package Details (Include if A

[2018-03-27 08:24] drrlvn opened #196 "zstd/1.3.4 Version bump"
https://github.com/facebook/zstd/releases/tag/v1.3.4

[2018-03-27 13:58] #195 closed

[2018-03-27 16:07] obiltschnig opened #197 "lzma fails to build on Raspbian"
### Description of Problem, Request, or Question

[code]

### Package Details (Include if Applicable)
* Package Name/Version: lzma/5.2.3
* Operating System: Raspbian/Debian Stretch 9.4
* Compiler+version: gcc (Raspbian 6.3.0-18+rpi1+deb9u1) 6.3.0 20170516
* Docker image: n/a

### Steps to reproduce (Include if Applicable)

Install the following bincrafters boost packages on Raspbian via following

[2018-03-27 16:59] uilianries commented on #197
/cc @solvingj @SSE4

[2018-03-27 17:00] uilianries commented on #197
@obiltschnig Did you try cross-building or just running over ARM?

[2018-03-27 17:02] obiltschnig commented on #197
No cross-building, running Conan directly on my Raspberry Pi.

[2018-03-27 17:04] uilianries commented on #197
I'll check this issue soon. Thanks for report.

[2018-03-27 20:36] AlexandrePTJ opened #198 "Proposal : conan-pugixml"
Hi,

I just created recipes for pugixml library.
It can be found here: https://github.com/AlexandrePTJ/conan-pugixml

Thanks for any feedback.

[2018-03-27 23:35] uilianries commented on #190
I can't figure out how to build Freetype 2.9 on Visual Studio and using MT runtime.

[2018-03-28 00:50] solvingj commented on #196
Done

[2018-03-28 00:50] #196 closed

[2018-03-28 00:51] solvingj commented on #65
Should be able to just copy/paste our test package. Not sure. Give it a try.

[2018-03-28 00:59] solvingj commented on #197
@obiltschnig interesting use case. We have an open opportunity with the worksonarm project to add an additional CI configuration and run arm builds. We didn’t foresee enough value to justify the massive complexity since most developer workflows for arm seem to involve cross-building (so far). That story might change soon as ARM is grown and changing rapidly, but not there yet. .  Are you finding m

[2018-03-28 08:02] obiltschnig commented on #197
That specific use case is for an article I wrote about IoT programming with C++, where I'm introducing different libraries that may be relevant (Boost.Beast, Poco, Paho, libmraa/upm) with small examples that should work on the Rasperry Pi. I've also decided to use Conan to manage the dependencies. Unfortunately, Boost fails to install due to above issue. Hopefully this can be fixed before the arti

[2018-03-28 09:21] Floofy-KH opened #199 "boost_iostreams test_package failure"
The test_package for boost::iostreams is currently failing for me in Windows due to unresolved external symbols when using the zlib, bzip2 and/or lzma compression filters.

* Package Name/Version: boost_iostreams/1.66.0
* Operating System: Windows 10
* Compiler+version: Visual Studio 2017

Runnning _conan create_ or _build.py_ causes the error while building the test package. I've noticed that you

[2018-03-28 09:58] danimtb commented on #171
libcurl is finally in conan-center! Thank you so much for the great work on this library  💯

[2018-03-28 12:03] #171 closed

[2018-03-28 12:20] solvingj commented on #199
I see the error, and will assign this issue for further review. We generate the jam files for all the boost libraries from the `boost_generator` package, that's why you don't see it in the recipe itself.

[2018-03-28 12:24] uilianries opened #200 "zstd 1.4.3 linkage error"
### Description of Problem, Request, or Question

Problem reported by @drrlvn:

[code]

Followed by linking errors:

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **zstd/1.3.4**
* Operating System: **Linux Arch**
* Compiler+version: **gcc-7.3.1**
* Docker image: **lasote/conangcc72**

### Steps to reproduce (Include if Applicable)

[2018-03-28 12:28] uilianries commented on #197
@obiltschnig The fix is done. Please, update your copy and try again.

My raspberry pi is running some stuff, so I used my Orangepi, but I was able to reproduce your error.

[2018-03-28 12:28] drrlvn opened #201 "zstd/1.3.4 doesn't build library"
### Description of Problem, Request, or Question

Looks like the recently released zstd/1.3.4 doesn't properly build the library which then produces linking errors.

Conan output:
[code]

Linker error:
[code]
### Package Details (Include if Applicable)
* Package Name/Version: **zstd/1.3.4**
* Operating System: **Arch Linux**
* Compiler+version: **gcc-7.3**

[2018-03-28 12:28] 013ez opened #202 "Boost assign version conflict"
Hi, I got message:
[code]

Conanfile:
[code]

[2018-03-28 12:50] solvingj commented on #202
I've just restarted a build of the stable branch. It looks like it was not re-run after the channel got updated to `stable`.  Please give it another go.

[2018-03-28 13:01] #200 closed

[2018-03-28 13:14] Croydon opened #203 "Update SDL2 to 2.0.8"
From the official newsletter:

Thanks to all the people who contributed code and feedback, SDL 2.0.8 is now available!
http://www.libsdl.org/download-2.0.php

In addition to lots of bug fixes and build improvements, here are the major changes in this release:

General:
* Added SDL_fmod() and SDL_log10()
* Each of the SDL math functions now has the corresponding float version
* Added SDL_SetYUVConv

[2018-03-28 13:21] SylvainCorlay commented on #111
@solvingj it seems that there **will** be a 1.9 as per the following issue by the current googletest maintainer:

https://github.com/google/googletest/issues/1366

So the claim that gtest has moved to a "live at head" mode appears to be false.

[2018-03-28 13:33] obiltschnig commented on #197
Awesome, thanks - it works.

[2018-03-28 15:04] uilianries commented on #197
I'm closing this issue now.

If you find any other problem related, please re-open it.

Regards!

[2018-03-28 15:04] #197 closed

[2018-03-28 22:22] uilianries commented on #198
I'm updating some points to create a MR.

[2018-03-29 06:53] 013ez commented on #202
Thank you, it works now, also I clear conan cache.
Note: missing prebuilt package for 'boost_bimap/1.66.0@bincrafters/stable'

[2018-03-29 06:53] #202 closed

[2018-03-29 11:37] uilianries commented on #198
Created https://github.com/AlexandrePTJ/conan-pugixml/pull/1

[2018-03-29 14:20] dimi309 opened #204 "Passing the GLM package over to bincrafters"
### Description of Problem, Request, or Question

As discussed with @solvingj and @danimtb, even though I have been maintaining the GLM package in conan center and the packaging changes had been accepted by the glm library developer, I believe that it would be more efficient that the package be maintained as an "external" one within the bincrafters repositories. I have prepared such a version and

[2018-03-29 14:24] SSE4 commented on #204
Hi @dimi309
might be unrelated, but what do you think about glew packages? like this one https://github.com/nigels-com/glew/tree/master/build/conan

[2018-03-29 14:27] dimi309 commented on #204
Hi @SSE4
Yup! I've packaged that one too and it is in the same situation as GLM (only it has not yet been accepted to conan-center) We have also talked with @solvingj about creating an external glew package and adding it to the bincrafters repositories. I will do that next 😄

[2018-03-29 14:28] SSE4 commented on #204
@dimi309 thank you! it would be nice to have complete OpenGL stuff in conan center

[2018-03-29 14:30] dimi309 commented on #204
My pleasure! I can guarantee they work pretty well too, because I use them all the time 😉

[2018-03-29 14:56] solvingj commented on #197
Thanks for the feedback. Thanks @uilianries for tackling.

[2018-03-29 15:41] ClausKlein opened #205 "Error while install conan-boost_bind package under msys2"
### Description of Problem, Request, or Question
/bin/sh: bootstrap: command not found

### Package Details (Include if Applicable)
* Package Name/Version: **boost_bind/1.66.0**
* Operating System: **MSYS_NT-6.1 WD002402 2.10.0(0.325/5/3) 2018-02-09 15:25 x86_64 Msys**
* Compiler+version: **gcc (GCC) 6.4.0**
* Docker image: **none**

### Steps to reproduce (Include if Applicable)
klein_cl@WD002402

[2018-03-29 22:58] solvingj commented on #111
indeed it does. that's great news. we'll keep an eye out for the 1.9 release and publish it asap.  Thanks very much for bringing this up and getting confirmation.

[2018-03-29 22:59] solvingj commented on #203
Thank you for raising, great info!

[2018-03-29 23:01] solvingj commented on #192
great work on this, it was a tremendous amount of work and annoyance, thank you for doing it.

[2018-03-29 23:09] solvingj commented on #194
I removed the outdated recipes but it looks like we're a bit stuck on freetype currently:
https://github.com/bincrafters/community/issues/190#issuecomment-376709898

[2018-03-29 23:10] solvingj commented on #191
the mingw stuff is generally considered "extra" right?  does someone actually need this?

[2018-03-29 23:11] solvingj commented on #189
so sorry for the delay, there was some issue with github notifications.

[2018-03-29 23:14] solvingj commented on #131
@SSE4 did this one turn out to be harder than we thought?

[2018-03-29 23:15] solvingj commented on #193
Any thoughts s ofar on how to approach?

[2018-03-29 23:29] uilianries commented on #191
Well, if any package that use mingw, and there is requirements, so we need
to provide gcc-5

IHMO we just should the template, but keep as extra of course.

On Thu, Mar 29, 2018 at 8:10 PM, Jerry <notifications@github.com> wrote:

--
Cordialmente,

Uilian Ries
<uilianries@gmail.com>

[2018-03-29 23:59] uilianries commented on #194
Thanks! I'll revisit freetype on holiday.

[2018-03-30 00:01] uilianries commented on #198
Almost done:

https://github.com/bincrafters/conan-pugixml

Any review will be welcome!

[2018-03-30 07:00] dimi309 commented on #204
Thanks for creating the repos! I've added the glm code: https://github.com/bincrafters/conan-glm
Could somebody activate the builds? We can put the badges in the readme afterwards.

[2018-03-30 13:11] uilianries commented on #198
Done!

https://github.com/bincrafters/conan-pugixml
https://bintray.com/bincrafters/public-conan/pugixml%3Abincrafters
https://ci.appveyor.com/project/BinCrafters/conan-pugixml
https://travis-ci.org/bincrafters/conan-pugixml

[2018-03-30 13:11] #198 closed

[2018-03-31 13:11] #191 closed

[2018-03-31 14:00] uilianries commented on #190
Solved! MT is working!

[2018-03-31 17:28] uilianries commented on #190
Done!

https://bintray.com/bincrafters/public-conan/freetype%3Abincrafters

Waiting for Conan center review.

[2018-03-31 17:28] #190 closed

[2018-04-02 15:55] dimi309 opened #206 "Passing the GLEW package over to bincrafters"
### Description of Problem, Request, or Question

Hi everyone,

As discussed (see https://github.com/bincrafters/community/issues/204) I have finished packaging glew, according to bincrafters standards. The package is here:

https://github.com/bincrafters/conan-glew

I have set up CI with [my own fork](https://github.com/dimi309/conan-glew) and it works well:

https://ci.appveyor.com/project/codin

[2018-04-02 16:43] lasote opened #207 "libcurl apple-clang 9.1"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **libcurl/7.56.1**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

### Steps to reproduce (Include if Applicable)

Clone libcurl and perform a create.

Since I upgraded my xcode to the latest version it is failing to link with OpenSSL (default options specified

[2018-04-02 16:54] theirix commented on #207
Hello! Could you please check two things:
1. update to latest version. I reworked openssl/darwinssl/winssl a week ago. But it should not cause this kind of bug.
2. show the exact configure command by running with `CONAN_PRINT_RUN_COMMANDS=1` or ideally the whole log.

I have 9.0 clang (older xcode) and there is no such problem.

[2018-04-02 17:15] dimi309 opened #208 "Adding trunk snapshot of GLFW which works well with Vulkan"
### Description of Problem, Request, or Question
There has not been a new version of GLFW for a while, but there have been improvements in the trunk, one of them being much better support for the Vulkan API. So I have created this version of the glfw package, which takes a snapshot of the latest commit at the time of writing and builds it:

https://github.com/dimi309/conan-glfw/tree/testing/3.2.1.

[2018-04-02 18:04] theirix commented on #207
Installed 9.1, success:
`> ./configure --without-libidn2 --without-librtmp --without-libmetalink --without-libpsl --without-nghttp2 --with-darwinssl --without-libssh2 --with-zlib=/Users/irix/.conan/data/zlib/1.2.11/conan/stable/package/0eaf3bfbc94fb6d2c8f230d052d75c6c1a57a4ce/lib  --disable-shared --enable-static --disable-ldap --prefix=/Users/irix/.conan/data/libcurl/7.56.1/theirix/testing/packag

[2018-04-02 21:38] uilianries commented on #204
@dimi309 I'll take this :+1:

[2018-04-02 23:17] uilianries commented on #204
Hey @dimi309 @SSE4 @solvingj !

Please, review https://github.com/bincrafters/conan-glm

https://ci.appveyor.com/project/BinCrafters/conan-glm
https://travis-ci.org/bincrafters/conan-glm
https://bintray.com/bincrafters/public-conan/glm%3Abincrafters

[2018-04-02 23:59] uilianries commented on #204
Well, there is the official GLM recipe on Conan center provided by g-truc.

Should we keep a duplicated recipe?

[2018-04-03 02:53] dimi309 commented on #204
Thanks for looking into this @uilianries! It looks good to me!

In fact, I am the maintainer of the GLM package currently in conan-center. I have just had my packaging code accepted into g-truc's repository and I could publish using his name through my account because I wasn't using CI. But after a discussion we have had with @danimtb I think it is more efficient to be maintaining an external GLM

[2018-04-03 04:46] dimi309 opened #209 "Update vorbis package to v1.3.6"
### Description of Problem, Request, or Question

I was going to package a "snapshot" version of vorbis, because updates to the source code after v1.3.5 support cmake, making it simpler to build even on mingw. However, I was pleasantly surprised to see that v1.3.6 has now been released, so I have packaged that version instead:

https://github.com/dimi309/conan-vorbis/tree/testing/1.3.6

Here are t

[2018-04-03 05:30] lasote commented on #204
I'm afraid it is not that easy. It can be done but we have to contact bintray people to support us. There are some mechanism to block the complete package deletion in bintray. we need that to be able to link the bincrafters one.

[2018-04-03 05:38] dimi309 commented on #204
@lasote is this deletion blocking new or only associated with conan-center? I have deleted entire packages on my own repo before and nothing stopped me. In any case, the new "external" package produces a glm@bincrafters signature whereas I was just uploading the old one directly as glm@g-truc, so I think we can survive with a few leftover artifacts...

[2018-04-03 09:01] lasote commented on #207
This is weird. I have the latest changes from your repository. Here is my output: https://gist.github.com/lasote/663ff7c1c7a809f7ddc7d48c747cb39d

[2018-04-03 09:17] theirix commented on #207
Reproduced, working on the fix.
Reason is that libcurl found openssl.pc and picked up it automatically.

[2018-04-03 09:50] theirix commented on #207
Could you please try testing/7.56.1 from github repository?

[2018-04-03 10:59] lasote commented on #207
Correct! Many thanks, looking forward to seeing it fixed in conan-center.

[2018-04-03 10:59] #207 closed

[2018-04-03 11:20] uilianries commented on #204
Bintray could use some warning message when try to install by glm@g-truc, as "This package was moved to glm@bincrafters", or it could be linked directly to  glm@bincrafters.

[2018-04-03 11:46] danimtb commented on #204
We have to do some checks as @lasote said.

The thing here is that it would be nice to have the new package uploaded under the same `user/channel` so users will not notice the change in their recipes but we have some concerns on how the bintray backend will behave. We will try to see if we can unlink the current glm package from conan-center and link the bincrafters one without issue.

I think the

[2018-04-03 12:07] dimi309 commented on #204
By the way, @danimtb & @lasote, while you're looking into this please note that you have my consent to delete my existing glm package from bintray. Or let me know if and when you would like me to do so myself.

[2018-04-03 15:25] ClausKlein opened #210 "build of zlib failed under msys2"
### Description of Problem, Request, or Question
ERROR: zlib/1.2.11@conan/stable: Error in build() method, line 51
        env_build.configure("../", build=False, host=False, target=False)
        ConanException: Error 1 while executing ../configure

### Package Details (Include if Applicable)
* Package Name/Version: **zlib/1.2.11@conan/stable**
* Operating System: **MINGW32_NT-6.1**
* Compiler+ve

[2018-04-03 15:47] ClausKlein commented on #117
I use msys2 shell only (never mingw!)  with this conan profile:
-------------------------------------------------------------------

`klein_cl@WD002402 MSYS ~/.conan/profiles
$ cat msys2
[build_requires]
#NO! mingw_installer/1.0@conan/stable
#NO! msys2_installer/latest@bincrafters/stable

[settings]
os_build=Windows
os=Windows
os.subsystem=msys2
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.

[2018-04-03 18:11] promgamer opened #211 "Cpprestsdk needs boost even with websockets disabled"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
* Package Name/Version: **cpprestsdk/2.10.1**
* Operating System: **Linux Ubuntu 16.04** (Apple and Android are also affected)

### Steps to reproduce (Include if Applicable)
The Cpprestsdk needs boost_asio even if you disable websockets (to implement http_client), on APPLE and LINUX devices (check lines

[2018-04-03 21:51] blastrock opened #212 "Can't compile fmt with a toolchain file"
### Description of Problem, Request, or Question

I am trying to cross-compile fmt with a cmake toolchain file but it fails with

[code]

### Package Details
* Package Name/Version: **fmt/4.1.0@bincrafters/stable**
* Operating System: **Linux debian unstable**
* Compiler+version: **gcc-7.2**

### Steps to reproduce

1. Create a cross building profile in `~/.conan/profiles/test`

[code]

2. Create

[2018-04-03 22:56] uilianries commented on #212
Thanks for report. I'll take look into.

[2018-04-04 00:08] uilianries commented on #212
Confirmed, the wrapper needs cmake_minimum_required.

BTW, your issue is well described and detailed.

[2018-04-04 00:52] #212 closed

[2018-04-04 00:56] uilianries commented on #212
@blastrock I just pushed a new version, please update.

I was able to reproduce your steps and see your error. After to add cmake minimum version, the error disappeared. Thanks for the solution.

If you find any problem related, please re-open this issue.

Regards!

[2018-04-04 07:30] blastrock commented on #212
Thanks for the quick reaction!

I didn't have the time to test the fix yet, however please see my other comment: https://github.com/bincrafters/conan-templates/pull/24#issuecomment-378506865

[2018-04-04 08:52] SSE4 commented on #189
hi @alexxxgu
from your build log, it seems like actually boost config fails to build.
could you possibly share your profile?

[2018-04-04 09:01] alexxxgu commented on #189
Hi, it just an Android profile from Conan article:
`standalone_toolchain=/mnt/c/Android/arm_21_toolchain16
target_host=arm-linux-androideabi
cc_compiler=clang
cxx_compiler=clang++

[settings]
compiler=clang
compiler.version=5.0
compiler.libcxx=libc++
os=Android
os.api_level=21
arch=armv7
build_type=Debug

[env]
CONAN_CMAKE_FIND_ROOT_PATH=$standalone_toolchain/sysroot
PATH=[$standalone_toolchain/bi

[2018-04-04 09:11] SSE4 commented on #131
@ImpressiveDev changes are in testing/2.10.1 branch, please give a try

[2018-04-04 09:12] SSE4 commented on #211
@promgamer changes are in testing/2.10.1 branch, please give a try

[2018-04-04 11:12] promgamer commented on #211
@SSE4 it's working as intended on Linux! :smile:

[2018-04-04 12:24] uilianries commented on #212
Right! I'm going to change now

[2018-04-04 12:32] #211 closed

[2018-04-04 15:01] AlexandrePTJ opened #213 "Recipe version"
A recent update on spdlog recipes brokes our build (a default option value changed).
This was easy too fix from our side.

The problem is that we do not have ability to track recipes changes.
Two publications of spdlog 0.16.3 cannot be distinguished.

Package on Archlinux have the semantic : <library version>-<package version>.
This allow to create 0.16.3-1 then 0.16.3-2. Can it be possible with c

[2018-04-04 15:34] uilianries commented on #213
Unfortunately not, but Conan knows about it. Even I asked about this feature in the past.

There are a bunch of discussion relating this limitation, but I think
https://github.com/conan-io/conan/issues/798 is the main issue.

[2018-04-04 16:42] ArekPiekarz commented on #117
@ClausKlein You have given us only your environment setup, but not if and how the bug affects you.

[2018-04-04 18:26] blastrock commented on #212
Thanks, it works :)

[2018-04-05 01:00] solvingj commented on #210
Hi @ClausKlein , thanks for filing this issue!

I'm not sure if this is something that would be fixable within the MSYS package, or within the ZLIB package.  I think package authors should generally be able to make their packages work with our `msys_installer` package if they are inclined to do so.  However, I consider it a special use-case to use MSYS, and for most packages, those who need MSYS w

[2018-04-05 01:08] solvingj commented on #213
@AlexandrePTJ I consider this a failure on my part approving the PR which changed the default.  once recipe's are accepted into Conan Center, we have a responsibility to avoid breaking changes such as this.  As @uilianries said, there's been a long-term discussion involving a number of people and a number of factors on this topic.  I don't think anyone is satisfied with the current state of things

[2018-04-05 01:08] #213 closed

[2018-04-05 01:13] solvingj commented on #205
Thanks also for this ticket @ClausKlein .

As mentioned in another similar issue here:
https://github.com/bincrafters/community/issues/210#issuecomment-378790446

It's unclear to what degree exististing packages will support MSYS out of the box.  It's a bit unfortunate, but with three competing subsystems and substantial differences and complexities between them, i think the limit of our support w

[2018-04-05 01:17] solvingj commented on #212
great work @uilianries , thanks!

[2018-04-05 01:25] solvingj commented on #201
We need to get this one looked at ASAP.

[2018-04-05 01:26] uilianries commented on #201
I'm going to fix this.

[2018-04-05 01:27] solvingj commented on #84
Agree, in retrospect, closing once more. leaving as-is. apologies.

[2018-04-05 01:27] #84 closed

[2018-04-05 04:05] tpilien opened #215 "yaml-cpp using deprecated boost as requirement"
### Description of Problem, Request, or Question
The yaml-cpp packge cannot be fully resolved because it still uses the old boost naming convention, which I believe has now been removed.

[code]

I have a pull request here which changes it to the new naming convention if that is of interest. https://github.com/bincrafters/conan-yaml-cpp/pull/8

### Package Details (Include if Applicable)
* Package

[2018-04-05 07:19] AlexandrePTJ commented on #213
Don't worry about this. As I read the discussion on conan, I am reassured that the problem is known and part of a real discuss.
Thanks for the feedback !

[2018-04-05 08:35] ClausKlein commented on #205
There are a fundamental problems with msys2
====================================

There exists 3 subsystems and most people don't know the differences:

1.  **msys** (POSIX API)
2. mingw32 (Windows API)
3. mingw64 (Windows API)

see https://github.com/msys2/msys2/wiki/How-does-MSYS2-differ-from-Cygwin

The most problems I found are based on the fault, people think mys is a Windows subsystem.
-----

[2018-04-05 08:54] theirix commented on #168
Done. Thank you for reminding.

[2018-04-05 08:54] #168 closed

[2018-04-05 10:39] ClausKlein commented on #205
**The information found here is not not clear and does not help!**

http://docs.conan.io/en/latest/systems_cross_building/windows_subsystems.html?highlight=msys2

[2018-04-05 11:43] uilianries commented on #215
Thanks for report!

[2018-04-05 11:50] uilianries commented on #201
I just created a PR including some fixes and improvements:

https://github.com/bincrafters/conan-zstd/pull/1

[2018-04-05 14:18] danimtb commented on #204
I have done some tests with lasote in Bintray and the package an be liked directly without inclusion request, so we aim to replace the old one with this new bincrafters one.

Having a look at the repo it seems the package is ready for the replacement. I have only noticed appveyor badge points to the sqlite jobs 😆 (no rush or stopper, just fix it when you can).

Final thing would be to have the pac

[2018-04-05 15:57] lucienboillod opened #216 "[Freetype] Link error when used from a thirdparty"
### Description of Problem, Request, or Question
It seems like the dependencies of freetype are not linked when freetype is builded from a thirparty.

### Package Details (Include if Applicable)
* Package Name/Version: **freetype/2.9.0**
* Operating System: **Windows**
* Compiler+version: **Visual Studio 15 2017**

### Steps to reproduce (Include if Applicable)
We are trying to use Freetype as a t

[2018-04-05 15:59] uilianries commented on #216
@lucienboillod What options are you using?

[2018-04-05 16:00] lucienboillod commented on #216
@uilianries the defaults ones, with is "with_png=True" for the case of libpng

[2018-04-05 16:15] lucienboillod commented on #216
The full log:
[code]

[2018-04-05 16:26] uilianries commented on #216
@lucienboillod  Thanks, this should help me find the same point.

[2018-04-05 18:08] elizagamedev opened #217 "[libx264/libx265] No nasm build dependency"
### Description of Problem, Request, or Question
When trying to build ffmpeg with libx264 and libx265 support, the x264 build may fail if nasm is not installed system-wide, as such:
[code]

While ffmpeg solves this problem by including yasm as a build dependency, libx264 and libx265 do not. From what I understand, they specifically require nasm over yasm.

### Package Details (Include if Applicabl

[2018-04-05 18:34] solvingj opened #218 "boost generator checking zlib for a bzip thing"
### Description of Problem, Request, or Question
The `if` statement here is checking for `use_zlib` but it's setting the `bzip2` paths.

 https://github.com/bincrafters/conan-boost_generator/blob/stable/1.66.0/conanfile.py#L287

[code]

[2018-04-05 19:26] uilianries commented on #217
Hi @elizagamedev!

The Conan community provided a [nasm installer](https://github.com/conan-community/conan-nasm-installer), maybe it should be included in build requirements.

Thanks for report this issue, we will check this problem soon.

Regards.

[2018-04-05 22:59] memsharded commented on #216
I have been having a look, but I cannot make if fail. I'd need some code that uses freetype-png, but I can't find any online, and it is difficult to reproduce with ftgl, because it is not isolated, it has other dependencies (${Tess2Library} ${GLEW_LIBRARY})

Could you please @lucienboillod try to provide some reference (an actual main() would be excellent) of some code using freetype with png supp

[2018-04-05 23:46] uilianries commented on #216
On Linux there is no problem (just checking)

[code]
Same result for `shared=True`

[2018-04-06 01:28] uilianries commented on #216
On Windows:

I found png symbols when running `dumpbin.exe /ALL C:\Users\Uilian Ries\.conan\data\freetype\2.9.0\bincrafters\stable\package\a618d1d550d4f57511529bcb6ff07c7274b8b29d\lib\freetype.lib`
And during link stage:
[code]
Yeah, huge, but libpng and bz2 are listed.

Same for `freetype:shared=True`:
[code]
However, I didn't find any png symbol in freetype.lib wrapper

The dumpbin logs are here

[2018-04-06 02:09] #215 closed

[2018-04-06 02:11] uilianries commented on #215
Done! stable is synced now, but we need several minutes until Travis and Appveyor push the packages.

Thanks!

[2018-04-06 03:11] dimi309 commented on #204
Hi @danimtb,

I've fixed the appveyor badge.

Uploading under the g-truc name could be done by adding CONAN_USERNAME="g-truc" in the environment variables on CI. I don't have access to do this but maybe @uilianries, @SSE4 or @solvingj can help us there. If that by itself causes any problems maybe we should also add CONAN_LOGIN_USERNAME="bincrafters". I've checked the source code of build_shared.py

[2018-04-06 07:16] krojew opened #219 "-fPIC support for sqlite3"
### Description of Problem, Request, or Question

Currently the sqlite3 static lib is build without -fPIC, which makes it unusable in some cases. It would be great to add -fPIC option, like e.g. boost/1.66.0@conan/stable allows to do.

### Package Details (Include if Applicable)
* Package Name/Version: **sqlite3/3.21.0**
* Operating System: **Linux Ubuntu 17.10**
* Compiler+version: **gcc-7.2**

#

[2018-04-06 07:25] memsharded commented on #216
Seems could be an issue of freetype build system, not the conan package. Such main.cpp to reproduce would be very useful indeed...

[2018-04-06 09:37] lucienboillod commented on #216
I just managed to have a reproductible example, but you will need a least Qt5 (you can put the path at the dedicated line in the conanfile).

You should be able to get the link errors by doing:
[code]

https://github.com/lucienboillod/conan-tulip

Please tellme if you need anything,

Many Thanks!

[2018-04-06 11:31] uilianries commented on #216
Thanks, I'll check later

[2018-04-06 13:29] uilianries opened #220 "Catch 2.2.2"
Bump version for Catch2 package

[2018-04-06 16:41] uilianries commented on #220
Done!

https://github.com/bincrafters/conan-catch2/tree/stable/2.2.2

/cc @grafikrobot

[2018-04-06 16:41] #220 closed

[2018-04-06 20:36] uilianries opened #221 "Bump version pugixml"
### Description of Problem, Request, or Question
Bump pugixml to 2.9

Related PR: https://github.com/bincrafters/conan-pugixml/pull/1

[2018-04-06 20:41] uilianries commented on #221
Done!

https://github.com/bincrafters/conan-pugixml/tree/stable/1.9
https://bintray.com/bincrafters/public-conan/pugixml%3Abincrafters/1.9%3Astable

[2018-04-06 20:41] #221 closed

[2018-04-06 21:00] promgamer opened #222 "Catch2: export cmake files to enable ctest integration"
I think it would be nice to export [catch's cmake files](https://github.com/catchorg/Catch2/blob/master/docs/build-systems.md#automatic-test-registration) to enable integration with ctest.

Right now it's what is making me use catch as a submodule instead of a conan package.

Let me know if you think this can be a good issue to tackle, so I can try to contribute with a PR.

[2018-04-06 21:05] uilianries commented on #222
I see no problem. In your case, without catch's cmake files, you need to copy all ctest from catch project on your cmake file.

[2018-04-07 11:24] ClausKlein commented on #210
With my patch, it works CI, but someone should merge it!
see https://github.com/conan-community/conan-zlib/pull/31

[2018-04-07 16:51] AlexandrePTJ commented on #221
Thanks you !

[2018-04-08 21:11] uilianries opened #223 "Update cryptopp to 7.0"
### Description of Problem, Request, or Question
Bump version 7.0 https://github.com/bincrafters/conan-cryptopp

[2018-04-09 00:06] uilianries commented on #216
A good soul provided Qt5 on Bintray: https://github.com/osechet/conan-qt

I added his recipe as requirement to solve Qt dependency.

[2018-04-09 01:36] uilianries commented on #216
I could not build Tulip on Linux. I saved the log in: https://gist.github.com/uilianries/0485bbca5bcd5d995966eaf2f6b55c85

The project is huge and hard to debug, so I created a simply example, using freetype + png:

https://github.com/uilianries/freetype-png-example

It's working on Linux. I'll on Windows soon.

[2018-04-09 02:50] uilianries commented on #216
It's working on Windows. I used both options `*:shared=False` and `freetype:shared=False`

Now I'm curious if your project really includes libpng in `target_link_libraries`

[2018-04-09 08:09] lucienboillod commented on #216
@uilianries the Qt package provided by Osechet is not up-to-date (years ago) so I cannot use it in the current state.

Yes Freetype with png works correctly when used like that, the problem appears when it is used as a thirdparty it seems to not depth link with libpng. Maybe it is not the job of conan, or there is something I don't understand but, why should I write down libpng in the target link

[2018-04-09 08:50] memsharded commented on #216
It is handled by conan. When you depend on conan packages, you will get defined the ${CONAN_LIBS} variable with an ordered list of libraries you need to link with, if you are using old-style cmake with global configuration. Or you can use CONAN_PKG::freetype target if using modern cmake style. Conan provides both ways to do so.

But if you have in your CMakeLists.txt:

[code]

And the ``${FREETYPE

[2018-04-09 09:24] lucienboillod commented on #216
Alright, many thanks for the explanations ! I understand the problem now.

I'll try your way asap and let you know

[2018-04-09 15:58] uilianries commented on #222
Closing this issue.

The update was merged into stable branch, but need several minutes until push on Bintray.

Please, re-open this issue if you detect any problem.

[2018-04-09 15:58] #222 closed

[2018-04-10 09:47] lucienboillod commented on #216
It is working fine ! thanks a lot

A last question, for now I'm setting the CONAN_LIBS variable directly from the CMakeLists, is there a way to set from the conan side and not touch the Cmake part ?

[2018-04-10 10:29] memsharded commented on #216
@lucienboillod great! :)

Sorry, I didn't understand. Conan is defining itself the CONAN_LIBS variable in conanbuildinfo.cmake, you meant, that you are using it in your CMakeLists? Could you please clarify? Thanks!

[2018-04-10 11:27] uilianries commented on #216
@lucienboillod You could use a cmake wrapper as we did for many recipes:

https://github.com/conan-community/conan-zlib/blob/release/1.2.11/CMakeLists.txt

Another way, run `tools.replace_in_file` to inject all required libraries, but is totally ugly IMO.

[2018-04-10 11:35] lucienboillod commented on #216
@memsharded yes I replaced the {FREETYPE_LIBRARY} by {CONAN_LIBS} in the CMakeLists.txt of the ftg thirdparty, I know it is hardcoded and it is ugly that was juste to test. I wonder now if there is a good pratice or something, in order to not modify at all the CMakelists and leave FREETYPE_LIBRARY variable inside.

@uilianries yes I already use the cmake wrapper :)

[2018-04-10 12:14] uilianries commented on #216
@memsharded replace ${FREETYPE_LIBRARY} by ${CONAN_LIBS} could solve it, but in my understanding, _libpng_ should be statically linked to _libfreetype_, so only ${FREETYPE_LIBRARY} should be enough.

When I ran `nm` on Linux and `dumpbin` on Windows, over _libfreetype_, I was able find all _libpng_ symbols.

[2018-04-10 12:31] lucienboillod commented on #216
@uilianries btw, it is off topic, but in some cases, the use of cmake wrapper (with CMakeLists.txt) seems to invalidate the CMAKE_SOURCE_DIR, so some times tools.replace_in_file is a better option :/

[2018-04-10 12:47] uilianries commented on #216
I just updated my example to have the same behavior.

https://github.com/uilianries/freetype-png-example

Log: https://gist.github.com/uilianries/1001863bf450c613c02c13b3e2895b4f

Now I'm able to see the same error. Well, looks like my FindFreetype is not solving libpng and all other dependencies.

I think that I need to check some variable from conanbuildinfo.cmake to fill ${FREETYPE_LIBRARIES}

[2018-04-10 13:42] uilianries commented on #216
I found a solution, the key is change FindFreetype.cmake provided by conan-freetype:

[code]

As we can see, I listed each library involving freetype and pushed into FREETYPE_LIBRARY. Other variables are collected from conanbuildinfo.cmake

I'm going update on testing branch.

@memsharded @lucienboillod WDYT?

[2018-04-10 13:50] uilianries commented on #216
I just updated https://github.com/bincrafters/conan-freetype/tree/testing/2.9.0 with the new changes. This recipe will not be on Bintray.

[2018-04-10 14:26] uilianries opened #224 "New XCode images provided by Travis CI"
### Description of Problem, Request, or Question
Should we update our template to use xcode 9.2 and xcode 9.3?

https://docs.travis-ci.com/user/reference/osx/#OS-X-Version

### Package Details (Include if Applicable)
* Package Name/Version: **Any**
* Operating System: **Macos**
* Compiler+version: **clang**

[2018-04-10 14:29] kylemacfarlan opened #225 "[pugixml] Add option for wchar mode"
Pugixml supports building with wchar* instead of char*, and it would be nice to make that a conan option. The option can be set by changing the pugiconfig.hpp file (uncommenting the #define PUGIXML_WCHAR_MODE).

It doesn't seem like pugixml has a specific cmake flag for that, so one somewhat brute-force option is to edit the pugiconfig.hpp file from conan during the build step. I've attached a con

[2018-04-10 14:31] uilianries commented on #225
Hi @kylemacfarlan !

Thanks for your suggestion, I'll take this soon.

Regards.

[2018-04-10 14:50] lucienboillod commented on #216
@uilianries Seems like the foreach is setting variables that are not only freetype dependencies, which leads my build to have CMake Error.

[code]

[2018-04-10 14:56] uilianries commented on #216
Understood, it should collect only freetype dependencies in FREETYPE_LIBRARY.

@lucienboillod Are you running over `freetype/2.9.0@bincrafters/testing` (the newest patch)?

[2018-04-10 14:59] lucienboillod commented on #216
@uilianries yes

right that was I thought

[2018-04-10 15:02] memsharded commented on #216
That is true. The PR looked good to me initially, but it is true that iterating over CONAN_LIBS on the consumer cmake space, will iterate over all dependencies, not only the freetype one.

For me, this is one of the big inconveniences of find_package: transitivity is quite difficult, even at small scale (just 1 level of transitive dependencies). With many nested dependencies it becomes unmanageabl

[2018-04-10 15:04] memsharded commented on #216
@uilianries

I would suggest trying to do an explicit find of png in the find_package, something in the line:
[code]

[2018-04-10 15:13] uilianries commented on #216
Thanks @memsharded

I'll put some conditionals also, libpng is an option on recipe.

[2018-04-10 18:38] jamezmoran commented on #155
Can confirm this error, we currently cannot use boost::iostreams from conan in Debug because of this.

[2018-04-10 20:16] uilianries commented on #216
@lucienboillod I updated the package, please run it again.

[2018-04-11 00:01] uilianries commented on #225
Hi @kylemacfarlan !

I just created a PR including your request:

https://github.com/bincrafters/conan-pugixml/pull/2

[2018-04-11 00:56] uilianries commented on #217
Hi @elizagamedev

I opened the follow PRs:

https://github.com/bincrafters/conan-libx265/pull/1
https://github.com/bincrafters/conan-libx264/pull/1

[2018-04-11 01:00] Croydon commented on #203
Thanks, @uilianries!

Done https://github.com/bincrafters/conan-sdl2/pull/2

[2018-04-11 01:00] #203 closed

[2018-04-11 01:14] uilianries commented on #203
I was waiting for CI to comment about the new version :smiley:

[2018-04-11 07:33] jinq0123 opened #226 "protobuf/3.5.1@bincrafters/stable libprotobuf.a can not be used when making a shared object"
### Description of Problem, Request, or Question

Using protobuf/3.5.1@bincrafters/stable outputs error:
[code]

Full output:
[code]

I think protobuf's CMakeLists.txt should add:
[code]

grpc/CMakeLists.txt has this:
[code]

### Package Details (Include if Applicable)
* Package Name/Version: **protobuf/3.5.1@bincrafters/stable**
* Operating System: **Linux CentOS 7.4**
* Compiler+version: **gcc-4

[2018-04-11 08:16] lucienboillod commented on #216
@uilianries  Tested. It does the job !

[2018-04-11 08:16] #216 closed

[2018-04-11 08:32] memsharded commented on #216
@uilianries great job!
Thanks @lucienboillod for your feedback and support!

[2018-04-11 11:19] uilianries opened #227 "[gtest] Support libstdc++11 on CI"
### Description of Problem, Request, or Question
For now, gtest package doesn't support C++11 on Travis jobs

### Package Details (Include if Applicable)
* Package Name/Version: **gtest/1.8.0**
* Operating System: **Linux**, **Macos**, **Windows**
* Compiler+version: **Any**
* Docker image: **Any**

[2018-04-11 11:25] uilianries commented on #216
Thanks to @memsharded for his great support and review!

[2018-04-11 11:26] uilianries commented on #226
Hi @jinq0123!

Thanks for report this, we will take this soon.

Regards!

[2018-04-11 11:53] uilianries opened #228 "Update Protobuf package to v3.5.2"
### Description of Problem, Request, or Question
- Bump protobuf package to newest version: 3.5.2
- Check shared library issue if was solved

### Package Details (Include if Applicable)
* Package Name/Version: **protobuf/3.5.2**

[2018-04-11 19:24] Croydon commented on #185
This should be fairly easy for projects who are using git tags or use some kind of release RSS. Many projects only change a version string somewhere in the source code. It would be rather hard to find a generic solucation for these kind of projects.

[2018-04-12 03:06] uilianries commented on #185
I agree. My first intention was create a bot to open issue and tag as "update upstream".

@solvingj has a better idea using Github's marketplace.

[2018-04-12 11:05] jinq0123 opened #229 "protobuf/3.5.1@bincrafters/stable can't collect libraries"
### Description of Problem, Request, or Question
Because protobuf/3.5.1@bincrafters/stable installs lib files in ~/.conan/data/protobuf/3.5.1/bincrafters/stable/package/.../lib64/,
[code]
will WARN: Lib folder doesn't exist, can't collect libraries: .../bincrafters/stable/package/.../lib,
and returns [] which should be ["protobuf", "protoc", "protbuf-lite"].

### Package Details (Include if Applic

[2018-04-12 21:40] uilianries commented on #227
Done!

[2018-04-12 21:40] #227 closed

[2018-04-12 22:33] #183 closed

[2018-04-13 02:02] uilianries commented on #223
Done!

https://github.com/bincrafters/conan-cryptopp/tree/stable/7.0.0

[2018-04-13 02:02] #223 closed

[2018-04-13 03:29] jinq0123 commented on #226
It's OK now.

[2018-04-13 11:30] uilianries commented on #226
Thanks! I'm going to close this issue. If you detect any problem, please re-open.

[2018-04-13 11:30] #226 closed

[2018-04-13 11:34] uilianries commented on #225
Hi @kylemacfarlan @AlexandrePTJ !

Please, update the package and check!

Regards!

[2018-04-13 11:36] uilianries commented on #228
There is an error to build on Macos + shared=True

https://travis-ci.org/bincrafters/conan-protobuf/jobs/365917066#L4523

For some reason, protoc couln't load dylib, even copied on same directory.

[2018-04-13 12:33] kylemacfarlan commented on #225
Works great! Thank you!

[2018-04-13 12:39] #225 closed

[2018-04-13 16:26] uilianries opened #230 "JSON-C - Package request"
### Description of Problem, Request, or Question
##### What?
Request Conan recipe for [JSON-C](https://github.com/json-c/json-c)
##### Why?
We have Parson for C, however JSON-C is native on many Linux distros, including Ubuntu, so for C legacy projects, JSON-C package could help to solve the distro dependency.

### Package Details (Include if Applicable)
* Package Name/Version: **json-c/0.13.1**
*

[2018-04-13 17:18] uilianries opened #231 "Mosquitto - Package Request"
### Description of Problem, Request, or Question
I need to run some project over MQTT protocol, so Mosquitto would be very nice to have available on Conan.

### Package Details (Include if Applicable)
* Package Name/Version: [Mosquitto](https://github.com/eclipse/mosquitto/releases)

### Steps to reproduce (Include if Applicable)

[2018-04-13 17:25] uilianries commented on #231
c-ares is required by mosquitto, but there is a fresh recipe for that:

https://github.com/conan-community/community/issues/12

[2018-04-15 04:59] jacobborisov opened #232 "Can't install ICU"
### Description of Problem, Request, or Question
Hello. At this time I'm unable to install any version of ICU package, see example for details. Thanks.

### Package Details
* Package Name/Version: **Conan version 1.0.4**
* Operating System: **Fedora release 27 (Twenty Seven)**

### Steps to reproduce
[code]

[2018-04-15 11:26] uilianries commented on #232
Hi @jacobborisov !

As listed on your search, you only have Conan center listed.
You need to add Bincrafters' remote to pull our packages.

[code]

Regards.

[2018-04-15 12:27] jacobborisov commented on #232
Hi, thanks for you help!

[2018-04-15 12:27] #232 closed

[2018-04-16 09:44] db4 opened #233 "Additional options for cygwin_installer"
I would love to see the following options added to cygwin_installer (maybe named differently):

- noacl: [False, True], defaullt=False
  If True, adds `noacl` mount option to `/etc/fstab`
[code]
This helps to avoid many subtle problems like https://stackoverflow.com/questions/32078794/file-permissions-changed-in-build-process-compilation-aborts-because-access-den/32112801

- cygwin: ANY
  sets CYG

[2018-04-17 00:29] solvingj commented on #208
Hi @dimi309 sorry for the delay, i've created the branch here:

https://github.com/bincrafters/conan-glfw/tree/testing/3.2.1.20180327

Thanks for your patience and contribution.

[2018-04-17 00:48] solvingj commented on #206
Turned on the CI, having a little download trouble with sourceforge which you did not seem to have.  The log says `Not Found` (assume 404), but when i browse to the link it downloads.  Very confused.

[2018-04-17 00:53] solvingj commented on #204
Yes I think @dimi309 is correct.  I will update the `conan_username` field .

[2018-04-17 02:50] dimi309 commented on #206
That happens sometimes. I would just restart the build. Sourceforge is a little temperamental.

[2018-04-17 02:57] dimi309 commented on #208
Great! Thanks! I've introduced the pull request:

https://github.com/bincrafters/conan-glfw/pull/5

[2018-04-17 03:03] dimi309 commented on #204
Thanks @solvingj. The build has failed unfortunately. Maybe it also needs CONAN_LOGIN_USERNAME="bincrafters"

[2018-04-17 05:58] tomvierjahn opened #234 "Ninja missing on SDL2 build on use in another library"
### Description of Problem, Request, or Question
We are using SDL2 in another library via the other library's `conanfile.py`:
[code]
When building/installing the other library's dependencies via `conan install ../.. --build missing` from source, conan aborts with an error
[code]
wich imho boils down to Ninja not being installed.

Prior to bincrafters/conan-sdl2@11e6fa2ba740a69518a85065f9a3823c76cb

[2018-04-17 20:11] solvingj commented on #204
The problem is that `bincrafters` is an org not a user.  We use `bincrafters-user` for authentication, and so it occupies the `CONAN_LOGIN_USERNAME` variable.  I guess need a way to override the user in the constructor for this case, which may require a slight tweak to `bincrafters_package_tools`.

[2018-04-17 22:57] mbise1993 opened #235 "boost_python fails to install on Windows if there are spaces in the Python path"
### Description of Problem, Request, or Question
Line 109 in conanfile.py - `self.run('{0} -c "{1}"'.format(pyexec, cmd), output=output)` needs quotes around the first arg in order to account for spaces in the Python path. I'm not sure how common that is, but for people who are using the Python version that was installed with Visual Studio it is an issue.

### Package Details (Include if Applicabl

[2018-04-18 04:39] dimi309 commented on #204
I could look into it but I think that someone with more access privileges and more experience managing the package tools could probably find a solution faster.

[2018-04-18 04:55] Nulifier opened #236 "Proposal: anax"
Here is a recipe for the anax library:
https://github.com/Nulifier/conan-anax/tree/stable/20180319

Appreciate any feedback

[2018-04-18 11:34] uilianries commented on #236
Some questions and considerations:

- Looking at https://github.com/miguelmartin75/anax/releases I found the versions 2.x. Why you didn't use tag versions instead of commit hash?
- https://github.com/Nulifier/conan-anax/blob/stable/20180319/conanfile.py#L37 could be removed.
- Just curious, did you try to build on Mingw?
- The test_package looks tiny, I would consider use some [example](https://gi

[2018-04-18 12:25] dimi309 commented on #204
Thank you!

[2018-04-18 14:55] SSE4 commented on #234
thanks for the feedback, I am removing explicit Ninja dependency from our packages. I'll keep you informed.

[2018-04-18 15:07] SSE4 commented on #233
thanks for your suggestions! I'll be adding options you have mentioned, I'll keep you informed.

[2018-04-18 15:09] SSE4 commented on #217
thanks for the bringing this up. there are some CI issues with PRs, I'll work on solving em.

[2018-04-18 16:13] SSE4 commented on #210
I am closing this one out, as it's an issue with zlib recipe itself, but not with msys_installer package.
conan community is responsible to merge this one.

[2018-04-18 16:27] SSE4 commented on #201
I am closing this one, as issue was resolved.
@drrlvn if you have other problem(s) with zstd, please open new issue(s).

[2018-04-18 16:27] #201 closed

[2018-04-18 16:29] SSE4 commented on #120
I am closing this one, as all issues were addressed.
@madebr if you have any other problem(s) with ffmpeg recipe, please open new issue(s).

[2018-04-18 16:29] #120 closed

[2018-04-18 16:44] SSE4 commented on #189
I am back on this one. it seems to be the problem that custom CFLAGS/CXXFLAGS/LDFLAGS are not applied for boost, I'll fix it soon.

[2018-04-18 16:49] SSE4 commented on #151
@maximMalofeev sorry for the delayed response. I am back :)
about failing sample, it seems to be some problem with your installation of driver or Intel Media SDK. I regret but I don't think I can do much about it. may be it's worth to ask on Intel forum?
about protocols, it's also weird issues. could you upload your **ffbuild/config.log** files for builds with qsv=True and qsv=False?

[2018-04-18 17:01] SSE4 commented on #162
Hi @mpusz
unfortunately I was unable to reproduce this error.
could you possibly run the following command:
```conan remove boost_* -f```
and give another try?

see also dependency report for boost_assign/1.66.0@bincrafters/stable - it doesn't contain any testing dependencies.

[boost_assign.txt](https://github.com/bincrafters/community/files/1925016/boost_assign.txt)

[2018-04-19 01:17] SSE4 commented on #217
required changes were applied

[2018-04-19 01:17] #217 closed

[2018-04-19 01:27] SSE4 commented on #209
@dimi309 I've created new branch https://github.com/bincrafters/conan-vorbis/tree/testing/1.3.6, please go ahead with PR

[2018-04-19 01:30] Nulifier commented on #236
Hello,
I wanted to contribute this to Bincrafters. To address your comments:

- I used the commit hash as the last version was from 2015 and there have been major changes since then
- Removed the extra line
- I only built on my computer (VS) and through the travis and appveyor systems
- I fleshed out the test_package somewhat

[2018-04-19 01:52] uilianries commented on #236
There are few commits since the version 2.1.0 (less than 20). I would prefer to ask the author to bump the version.
I'm afraid to use commit as version, because we follow the project releases. WDYT @solvingj ?

[2018-04-19 02:15] SSE4 commented on #174
@drrlvn  required changes were applied
@r-darwish conan already runs linter and reports about such error, we just need to pay attention to these warnings :)

[2018-04-19 02:15] #174 closed

[2018-04-19 02:25] dimi309 commented on #209
Thanks! Here it is: https://github.com/bincrafters/conan-vorbis/pull/5

[2018-04-19 04:53] tomvierjahn commented on #234
Thanks a lot!

[2018-04-19 05:02] SSE4 commented on #205
@ClausKlein changes were applied to the testing/1.66.0 branch, could you possibly give another try and lemme know?

[2018-04-19 13:44] ImpressiveDev commented on #131
Thanks @SSE4 for fixing this.

[2018-04-20 04:05] SSE4 commented on #206
packages are available, closing

[2018-04-20 04:05] #206 closed

[2018-04-20 04:41] dimi309 commented on #206
Thanks!

[2018-04-20 06:31] ClausKlein commented on #205
Hi, now it works fine:

boost_build/1.67.0@bincrafters/testing: Package '3b91f3b23c08201caa85611262cd93a235370ed7' created
boost_build/1.67.0@bincrafters/testing (test package): Generator txt created conanbuildinfo.txt
boost_build/1.67.0@bincrafters/testing (test package): Generated conaninfo.txt
boost_build/1.67.0@bincrafters/testing (test package): Running build()
boost_build/1.67.0@bincrafters/

[2018-04-20 06:32] SSE4 commented on #205
thanks for the confirmation, closing

[2018-04-20 06:32] #205 closed

[2018-04-20 11:36] uilianries commented on #204
@SSE4 where did push your changes? I didn't find any commit over https://github.com/bincrafters/conan-glm

[2018-04-20 11:38] SSE4 commented on #204
@uilianries https://github.com/bincrafters/bincrafters-package-tools/commit/14babc5392702bfd2e915f6174fc77a7464cee0e

[2018-04-20 11:47] uilianries commented on #204
@SSE4 your changes weren't pushed into pypi repo, only tags are deployed. I'm going to update now.

[2018-04-20 12:01] uilianries commented on #204
new release is done: https://pypi.org/project/bincrafters-package-tools/0.15.0/

[2018-04-20 12:59] SSE4 commented on #204
unfortunately still didn't help :( I have no idea what exactly goes wrong

[2018-04-20 13:09] uilianries commented on #204
I'll take a look later, I'm out of office today

[2018-04-20 15:27] SSE4 commented on #166
@dimi309 seems like PR has been accepted, anything else to be done here?

[2018-04-20 15:30] dimi309 commented on #166
I don't think so. It looks good to me...

[2018-04-20 15:31] SSE4 commented on #166
closing out as PR has been accepted. @sourcedelica if you have any other problem(s) with MinGW build of GTest, feel free to open new issue(s).

[2018-04-20 15:31] #166 closed

[2018-04-20 23:48] uilianries commented on #204
It's possible read the wrong upload address on Appveyor log:
https://ci.appveyor.com/project/BinCrafters/conan-glm#L208

The problem is caused because Bincrafters' package tools assumes the username and repo name as the same:

https://github.com/bincrafters/bincrafters-package-tools/blob/master/bincrafters/build_shared.py#L101

TIL we need to set CONAN_UPLOAD on environment settings.

![](http://w

[2018-04-21 04:11] SSE4 commented on #204
closing, as package was successfully built

[2018-04-21 04:25] uilianries commented on #204
@lasote @danimtb The package is done on our side, but the reference on Conan center points to @dimi309 repo. Could you move the reference to our package?

[2018-04-21 15:43] SSE4 commented on #233
@db4 I've added requested options, please give a try

[2018-04-22 07:30] drrlvn opened #237 "Bump cli11 to version 1.5.3"
https://github.com/CLIUtils/CLI11/releases/tag/v1.5.3

### Package Details (Include if Applicable)
* Package Name/Version: **cli11/1.4.0**
* Operating System: **Arch Linux**
* Compiler+version: **gcc-7.3**

[2018-04-22 11:59] danimtb commented on #204
We will change the link to conan center ASAP.

Thanks a lot @uilianries, @SSE4 and @dimi309 for the hard work guys!

[2018-04-22 12:08] uilianries commented on #237
Done!

https://github.com/bincrafters/conan-cli11/tree/stable/1.5.3
https://travis-ci.org/bincrafters/conan-cli11/builds/369729591
https://ci.appveyor.com/project/BinCrafters/conan-cli11/build/1.0.19
https://bintray.com/bincrafters/public-conan/cli11%3Abincrafters/1.5.3%3Astable

[2018-04-22 12:08] #237 closed

[2018-04-22 12:10] uilianries commented on #194
@lasote @memsharded Freetype is present now on Conan center. Harfbuzz could be the next.

[2018-04-22 12:15] ArekPiekarz commented on #61
I don't think it's a good idea to by default link to a major version that will be completely abandoned in less than 2 years, but that's just my two cents ;-)

https://pythonclock.org/
http://python3statement.org/

[2018-04-22 15:42] dimi309 opened #238 "glfw v3.2.1.20180327 corrupted package"
### Description of Problem, Request, or Question

Hi everyone. Can somebody relaunch the builds for v3.2.1.20180327 of GLFW, especially the ones for Windows? I think the stored package is corrupted. I get this error upon `conan install`:

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **glfw/3.2.1.20180327**
* Operating System: **Windows 10**
* Compiler+version: **Visu

[2018-04-22 16:00] uilianries commented on #238
https://ci.appveyor.com/project/BinCrafters/conan-glfw/build/1.0.24

[2018-04-22 16:25] dimi309 commented on #238
It works now. Thanks a lot!

[2018-04-22 16:25] #238 closed

[2018-04-23 07:00] lasote commented on #194
@danimtb could you manage?

[2018-04-23 07:06] danimtb commented on #194
yes, I am on it! Thanks for the reminder @uilianries @lasote

[2018-04-23 08:07] danimtb commented on #204
Swap done guys! Now the bincrafters package is the one linked to conan-center: https://bintray.com/bincrafters/public-conan/glm%3Ag-truc 🎉

`conan install glm/0.9.8.5@g-truc/stable` downloads bincrafters recipe instead of the @dimi309 one 😃

Thanks again for moving this forward!

[2018-04-23 08:17] dimi309 commented on #204
Wonderful! Thanks @danimtb ! I'm glad we now have a version of the package controlled and supported by the entire bincrafters team!

[2018-04-23 08:42] db4 commented on #233
@SSE4 thanks a lot!

It almost works, but I have a problem with `cygwin` option. The following `conanfile.txt`
[code]
causes python exception inside conan (CONAN_VERBOSE_TRACEBACK=1):
[code]

[2018-04-23 09:16] SSE4 commented on #233
/cc @lasote @danimtb

[2018-04-23 14:37] SSE4 commented on #233
@db4 thanks for the reporting. will fix issue with additional_packages, and try to debug conan error as well.

[2018-04-23 14:44] db4 opened #239 "cygwin_installer breaks symlinks"
This
[code]
is not enough, it only fixes symlinks inside bin, but there are others, e.g. `/usr/ssl/certs/ca-bundle.crt -> /usr/ssl/certs`. Without it git is unusable:
[code]
So we need better method to restore symlinks. What about shutil.copytree() that preserves file attributes instead of conan copy()?

[2018-04-24 14:02] db4 commented on #233
Great, thanks!

[2018-04-24 16:26] SSE4 commented on #218
closing, as issue was fixed

[2018-04-24 16:27] SSE4 commented on #155
@wpalfi @jamezmoran  changes are in testing/1.66.0 branch, please give another try

[2018-04-24 16:28] SSE4 commented on #199
@Floofy-KH changes are in testing/1.66.0 branch, please give another try

[2018-04-24 17:05] SSE4 commented on #239
@db4 packages are built, please give a try

[2018-04-25 08:32] db4 commented on #239
No problems so far. You can close the issue.

[2018-04-25 08:58] SSE4 commented on #239
thanks for the confirmation and for contribution!

[2018-04-25 08:58] #239 closed

[2018-04-25 10:00] db4 commented on #233
You can close this issue as well

[2018-04-25 10:01] SSE4 commented on #233
@db4 thanks again!

[2018-04-25 10:01] #233 closed

[2018-04-26 08:28] Floofy-KH commented on #199
Thanks @SSE4
Working as expected.

[2018-04-26 08:28] #199 closed

[2018-04-26 11:30] piponazo opened #240 "gtest packages without Combine feature"
### Description of Problem, Request, or Question

I am trying to move my project to use your gtest recipe but I found a issue with the Windows/MSVC15 package. The `::testing::Combine` functionality is not available, and I think it is because you have these lines in the recipe:

[code]
Then, the internal `gtest-port.h` code has:

[code]
And finally the feature is not available. Until now I have bee

[2018-04-26 11:48] uilianries commented on #240
@mropert any idea?

[2018-04-26 11:49] uilianries commented on #240
According the [log](https://github.com/bincrafters/conan-gtest/commit/3766b50052c4a242340411bb2258857cdd4f3d5e) there was some problem to build using Visual Studio 2017.

[2018-04-26 13:49] lucienboillod opened #241 "[GLEW] FindGlew error"
### Description of Problem, Request, or Question
Seems to be the same problem than #216 issue.

### Package Details (Include if Applicable)
* Package Name/Version: **glew/2.1.0**
* Operating System: **windows**
* Compiler+version: **Visual Studio 15 2017**

### Reproduce steps
https://github.com/lucienboillod/glew-example

### Solution
We should do the same than Freetype in the FindGlew.cmake in o

[2018-04-26 13:50] SSE4 commented on #241
/cc @dimi309

[2018-04-26 14:14] dimi309 commented on #241
Hi everyone! The external symbols are already in the conan recipe, but you need to add them to your CMakeLists.txt, like this:

`set_target_properties(${PROJECT_NAME} PROPERTIES LINK_FLAGS "${CONAN_EXE_LINKER_FLAGS}")`

[2018-04-26 14:48] lucienboillod commented on #241
It gives me the following error:
[code]

I understand that you use "find_package_handle_standard_args" to add them, but I'm not sure that's the way to go since we have to set them in our CMakeLists.txt and we don't want to modify CMakeLists in some cases like using the package as a thirdparty.

[2018-04-26 15:29] dimi309 commented on #241
That's strange... It seems that you did indeed name your executable ${PROJECT_NAME}, which is "glew_example". Maybe try to `add_executable(something_hardcoded ...
`and then `set_target_properties(something_hardcoded ... ` instead of the variable you are using.

I am not sure I understand how `find_package_handle_standard_args ` harms us here, but if you mean that the FindGLEW.cmake file provided b

[2018-04-26 15:43] lucienboillod commented on #241
Imo if we have to add something in the CMakeLists to fetch some missing references, then we have a problem. For instance, let's say we have a conan package recipe that needs glew as require (so as a thirdparty), then we don't want to modify in any way the CMakeLists since it is generated by conan.

Your opinion on this @uilianries  ?

[2018-04-26 16:15] dimi309 commented on #241
You may very well be right. I am not disputing the strategy you propose. I am just saying that we also need the `${CONAN_EXE_LINKER_FLAGS}` to be up to date and ready to be used with `set_target_properties`, because there is no other way to do it when people don't use Find*.cmake modules and just link to `CONAN_LIBS`.
Also, as far as I know, when we link *statically* to libraries we have to also l

[2018-04-27 10:04] mropert commented on #240
I would agree with @piponazo's analysis.
The defines are there to disable the TR1 impl and use the C++11 std:: one because GTest is unable to detect that Visual Studio now supports the standard properly.
It seems like they missed something...

In the meantime I'm afraid the only option is to create a package for a particular git commit on the master branch :(

[2018-04-27 10:56] piponazo commented on #240
Apparently they will change the release policy in the next months:

https://github.com/google/googletest/issues/1079
https://github.com/google/googletest/issues/1366

[2018-04-30 11:07] uilianries opened #242 "Bump libwebp to 1.0.0"
### Description of Problem, Request, or Question
Update [conan-libwebp](https://github.com/bincrafters/conan-libwebp) to release 1.0.0 of [libwebp](https://github.com/webmproject/libwebp/releases/tag/v1.0.0)

[2018-04-30 12:05] lucienboillod commented on #241
We can aswell use Find*.cmake but also export symbols as they did with the #216 issue no ?

In the state, the problem is that the package is not usable as thirdparty, which is mainly the use of such package imo. Or maybe there is something I missing in the solution you are proposing

[2018-04-30 12:48] uilianries commented on #242
Done!

https://github.com/bincrafters/conan-libwebp/tree/stable/1.0.0

/cc @ZaMaZaN4iK

[2018-04-30 12:48] #242 closed

[2018-04-30 15:18] dimi309 commented on #241
Sure, we can have both. But if someone could introduce a pull request to bincrafters with the needed changes that would be great because I don't have much time these days. You can find all the information about the needed libraries in the conanfile.

[2018-05-02 12:00] drrlvn commented on #176
The testing branch works for me, thanks!

[2018-05-02 12:06] SSE4 commented on #176
confirmed as fixed, closing

[2018-05-02 12:06] #176 closed

[2018-05-03 15:17] danimtb commented on #194
Hi guys!

Seems Linux and Mac packages are outdated from reacipe in ``harfbuzz/1.7.6@bincrafters/stable``. Please retrigger builds when possible.

I have seen recipes for versions 1.7.1 and 1.7.2 are way different from that latest version. Should the recipe be updated or just delete those versions?

Those old versions are using your [ragel_installer ](https://github.com/bincrafters/conan-ragel_ins

[2018-05-03 15:34] danimtb commented on #194
@uilianries thanks for the quick response. Ragel installer worked fine in my Windows machine, maybe with just a bit of work it would made to conan-center. But it is ok as it is for now.

Thanks!

[2018-05-03 15:36] uilianries commented on #194
Okay, I'll work on ragel after to finish Harfbuzz. I could open an issue as enhancement for Harfbuzz include ragel_installer in the future.

[2018-05-03 16:33] danimtb commented on #194
Harfbuzz in conan-center! Thanks a lot guys 👍

Please @uilianries fill the enhancement issue for ragel and feel free to close this one 😄

[2018-05-03 16:42] uilianries commented on #194
1.7.6 is updated:

https://travis-ci.org/bincrafters/conan-harfbuzz/builds/374480060
https://ci.appveyor.com/project/BinCrafters/conan-harfbuzz/build/1.0.71

![](https://screenshotscdn.firefoxusercontent.com/images/2e40143a-3a92-42f3-9bd8-8408feea9f19.png)

I'll update 1.7.1 and 1.7.2 later.

[2018-05-03 17:26] danimtb opened #243 "Inclusion request review for libzip"
## Inclusion Request Review

This is a review for [libzip/1.4.0@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-libzip) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### P

[2018-05-03 17:46] danimtb opened #244 "Inclusion request review for jansson"
## Inclusion Request Review

This is a review for [jansson/2.11@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-jansson) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

###

[2018-05-03 17:55] danimtb opened #245 "Inclusion request review for greatest"
## Inclusion Request Review

This is a review for [greatest/1.3.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-greatest) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

#

[2018-05-04 12:03] uilianries opened #246 "Bincrafters Package Tools - Sync with Conan package tools 0.17.0"
### Description of Problem, Request, or Question
After to new release of CPT 0.17.0, would be nice to update out wrapper to follow the new stuff.

### Package Details (Include if Applicable)
* Package Name/Version: https://github.com/bincrafters/bincrafters-package-tools

[2018-05-04 12:24] lasote opened #247 "libjpeg/9b: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **libjpeg/9b**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 12:25] lasote opened #248 "ogg/1.3.3: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **ogg/1.3.3**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 12:26] lasote opened #249 "flac/1.3.2: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **flac/1.3.2**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 12:27] lasote opened #250 "libpng/1.6.34: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **libpng/1.6.34**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 12:27] lasote opened #251 "vorbis/1.3.5: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **vorbis/1.3.5**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 12:28] lasote opened #252 "freetype/2.8.1: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **freetype/2.8.1**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 12:44] uilianries commented on #252
Thanks to report. We need to update our template also.

[2018-05-04 12:45] theirix commented on #252
already updated

[2018-05-04 12:48] theirix commented on #252
Linking relevant discussion #224 about autoupdating or a sort of watch script/service

[2018-05-04 12:48] uilianries opened #253 "Bincrafters Template - Add apple-clang 9.1"
### Description of Problem, Request, or Question
As described on issues #247 #248 #249 #250 #251 #252 We need to support clang 9.1

Would be nice to have this job by default on our template, to avoid new problems.

[2018-05-04 14:00] lasote opened #254 "Review of inclusion request `libusb/1.0.21@bincrafters/stable`"
## Inclusion Request Review

This is a review for [libusb/1.0.21@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-libusb) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

###

[2018-05-04 14:08] lasote commented on #254
PD: Add apple-clang 9.1 ;)

[2018-05-04 14:30] lasote opened #255 "giflib/5.1.3: Missing packages for apple-clang 9.1"
### Description of Problem, Request, or Question

There are no prebuilt packages for apple-clang 9.1

### Package Details (Include if Applicable)
* Package Name/Version: **giflib/5.1.3**
* Operating System: **OSX**
* Compiler+version: **apple-clang 9.1**

TIP: If you commit using a message `"some message [build=outdated]"` will build only the missing or outdated packages.

[2018-05-04 14:31] lasote commented on #255
It is a dep of leptonica, I wanted to start the review of it.

[2018-05-04 14:33] uilianries commented on #255
I would consider to use some script to add clang 9.1 for all packages.

[2018-05-04 14:52] lasote opened #256 "Inclusion Request Review: mosquitto/1.4.15@bincrafters/stable"
## Inclusion Request Review

This is a review for [mosquitto/1.4.15@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-mosquitto) inclusion request to conan-center.
This review follows the [inclusion guidelines or third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

[2018-05-04 14:58] uilianries commented on #256
I saw the feature on release notes :+1:

so should I remove `cmake.definitions["CMAKE_POSITION_INDEPENDENT_CODE"] = self.options.fPIC` from the recipe?

[2018-05-04 15:07] uilianries commented on #256
I'm just afraid if someone try to build mosquitto from source running Conan < 1.3.x

[2018-05-04 15:16] lucienboillod opened #257 "Package inclusion request"
### Package inclusion request

I would like to submit Qt5 package to bincrafters.
https://github.com/lucienboillod/conan-qt

It is stable for several versions and binaries have been tested and uploaded over bintray.
Since it is a big package, the uploading size of bintray has been increased.
As discussed, the next steps will be to package Qt submodules as it has been done for Boost, but this packa

[2018-05-04 15:28] uilianries commented on #257
/cc @solvingj @SSE4

[2018-05-04 15:30] SSE4 commented on #257
@lucienboillod great job, I gonna create a repository and push your sources!

[2018-05-04 15:43] SSE4 commented on #257
repository has been created https://github.com/bincrafters/conan-qt

[2018-05-04 15:47] SSE4 opened #258 "modular boost - disable individual components (e.g. python)"
many slack users are requesting feature to disable individual boost components, mostly boost-python.
b2 itself has neat feature - `--without-<package>` and `--with-<package>`.
although implementation on b2 level is trivial, for our conan packages it might be hard to manage - e.g. dependency tree should be changed on fly considering --with/--without options.
special challenge is circular dependenci

[2018-05-04 17:51] theirix commented on #250
Added 9.1, rebuilt on CI

[2018-05-04 17:51] #250 closed

[2018-05-05 01:13] uilianries commented on #253
Awesome! Thanks!

[2018-05-05 08:30] SSE4 opened #259 "cygwin_installer - provide Sage package manager"
it would be nice to include Sage package manager into our cygwin_installer
https://github.com/svnpenn/sage
(it's actually replacement for abandoned apt-cyg)
this requires modification of our recipe and writing PR against conan to improve SystemPackageTool

[2018-05-05 08:57] theirix commented on #247
pending until https://github.com/conan-io/conan/issues/2850

[2018-05-05 08:58] theirix commented on #255
pending until https://github.com/conan-io/conan/issues/2850

[2018-05-05 09:00] lucienboillod commented on #257
Amazing! thank you guys

[2018-05-06 19:39] chrahunt commented on #258
I think my use case is related. I'm using `boost_log` which depends on `boost_parameters` which depends on `boost_python`. `libpython` was not resolved properly by the linker but the latter dependency is only needed at all if using the python-related headers in `boost_parameters`. I worked around it using

[code]

in my project's `CMakeLists.txt`, since there was not a way to remove the requiremen

[2018-05-07 02:08] uilianries commented on #248
Related PR: https://github.com/bincrafters/conan-ogg/pull/6

[2018-05-07 02:40] uilianries commented on #248
Done!

![ogg](https://screenshotscdn.firefoxusercontent.com/images/01beeaad-cbf4-4bf0-b649-d7631af9ab1d.png)

[2018-05-07 02:40] #248 closed

[2018-05-07 10:33] memsharded opened #260 "Corrupted libcurl package"
https://bintray.com/bincrafters/public-conan/libcurl%3Abincrafters/7.56.1%3Astable#files/bincrafters%2Flibcurl%2F7.56.1%2Fstable%2Fpackage%2Faa0f125ad888d892d88d160a09f3859b1a39af20

This package has a broken conaninfo.txt, for some reason it seems it is a binary file.
This breaks the serach for libcurl 7.56.1. I'd suggest deleting it, then running a ``conan search <ref> --table=file.html`` to che

[2018-05-07 10:43] theirix commented on #260
It's strange. Was it a failing upload or a more serious storage failure?
Anyway, I'll rebuild 7.56.1 by adding clang 9.1 :)

[2018-05-07 10:58] memsharded commented on #260
Great, thanks.

I have no idea, I'd bet on some error during the transfer, but I can't know right now.

Please make sure to remove that failing one first, just in case it doesn't get properly overwritten for some reason.

[2018-05-07 11:37] theirix opened #261 "BPT: pass build_policy parameter"
bincrafters-package-tools 0.15.1

We should allow passing a parameter `build_policy` to `ConanMultiPackager`. Several packages like libcurl use `args` for passing `--build missing` to `ConanMultiPackager` but it doesn't work now.
I propose to add a `build_policy` argument to `create_runner`.

[2018-05-07 11:45] theirix commented on #261
it was changed in CPT somewhere between 0.16.0 and 0.17.0

[2018-05-07 12:25] solvingj commented on #261
Agreed. I will be working on some `build_policy` stuff today. Will try to add this.

[2018-05-07 12:42] solvingj opened #262 "zstd : fix `package_info()` method on x86_64 builds"
Under certain circumstances, the `cmake.install()` method installs libs to a directory named `lib64` instead of `lib`, and thus the following error occurs.
`
zstd/1.3.4@bincrafters/stable: WARN: Lib folder doesn't exist, can't collect libraries: /home/drorl/.conan/data/zstd/1.3.4/bincrafters/stable/package/1d877a3df840030e6a8abb74c5ffTb9088d08b47a/lib
`
Seems there has been discussion and change r

[2018-05-07 14:17] theirix commented on #260
Removed old package and rebuilt, the search goes well.

Version for clang-9.1 and arm had not been rebuilt yet, will be done later.

[2018-05-07 14:17] #260 closed

[2018-05-07 14:29] memsharded commented on #260
Perfect, it works now, many thanks!

[2018-05-07 16:26] danimtb opened #263 "Corrupted package: json-c/0.13.1@bincrafters/stable"
### Description of Problem, Request, or Question
Seems that json-c/0.13.1 has a corrupted pacakge [d26a890fe7c7ee3ac1546d4143036620012dbc73](https://bintray.com/bincrafters/public-conan/json-c%3Abincrafters/0.13.1%3Astable#files/bincrafters%2Fjson-c%2F0.13.1%2Fstable%2Fpackage%2Fd26a890fe7c7ee3ac1546d4143036620012dbc73)

Same issue as in #260

### Package Details (Include if Applicable)
* Package

[2018-05-07 22:59] uilianries commented on #243
Need to solve https://github.com/conan-community/community/issues/16 before to continue.

[2018-05-08 01:02] uilianries commented on #245
Done!

LICENSE fixed: https://github.com/bincrafters/conan-greatest/blob/stable/1.4.0/conanfile.py#L26

Version 1.4.0: https://bintray.com/bincrafters/public-conan/greatest%3Abincrafters/1.4.0%3Astable

[2018-05-08 07:57] danimtb commented on #245
Checked and accepted into conan-center! Thanks @uilianries for the support and the update to new version 😃

[2018-05-08 07:57] #245 closed

[2018-05-08 08:17] lasote commented on #247
Released conan 1.3.2 with fixed conan-io/conan#2850

[2018-05-08 08:42] theirix commented on #255
Done with Conan 1.3.2. Both 5.1.3 and 5.1.4.

[2018-05-08 08:42] #255 closed

[2018-05-08 08:42] theirix commented on #247
Done with conan 1.3.2. Both 9b and 9c versions.

[2018-05-08 08:42] #247 closed

[2018-05-08 14:12] danimtb commented on #243
Sorry @uilianries but I cant see why this issue is blocked by conan-community/community#16

libzip only depends on `zlib`...

[2018-05-08 14:26] uilianries commented on #243
Well, on libzip's cmake file: https://github.com/nih-at/libzip/blob/rel-1-5-1/CMakeLists.txt#L181

So, the project uses bipz2 as optional. However bipz2 package does not work for clang 5. I didn't check bzip2 package, but if I install by apt, using lasote/conanclang50 the find_package works

But now I'm curious, because I didn't run ldd to check if libzip uses bipz2 when it's found.

[2018-05-08 15:18] danimtb opened #264 "Inclusion request review for libwebp"
## Inclusion Request Review

This is a review for [libwebp/0.6.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-libwebp) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

###

[2018-05-08 15:35] danimtb commented on #243
Ok, no I see it.

So after that is fixed, you would have to add bzip2 dependency in the conanfile, now bzip2 is missing in the requires.

[2018-05-08 16:03] theirix commented on #264
Thanks for the thorough review!

Changed:
- updated maturity
- moved fPIC removal to `config_options`. Strange that I forgot it
- removed unneeded code for Conan 1.3.0. Wish it remove fPIC automatically too :)
- added three options `"with_simd=True", "near_lossless=True", "swap_16bit_csp=False"` and passed through the upstream cmake. Other options are not so useful.
- regarding the `.dll` suffix f

[2018-05-08 16:17] danimtb opened #265 "Inclusion request review for pugixml"
## Inclusion Request Review

This is a review for [pugixml/1.8.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-pugixml) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

###

[2018-05-08 16:30] uilianries commented on #243
bzip2 is included as optional.

There is the option with_bzip2, that is checked on function requirements

[2018-05-08 16:37] theirix commented on #264
Fixed this. fPIC really doesn't make sense even on mingw.

Glad to hear that those repeated things like fPIC are subject for beeing automated!

[2018-05-08 20:00] theirix commented on #185
I use RSS for releases for packaging I am looking after. For a typical GH repository it is something like https://github.com/open-source-parsers/jsoncpp/releases.atom . So we can write a simple RSS aggregator that tracks versions. For other packages with development outside GH (about 50%) the problem is more complicated, versions are announced via webpage or mailing list.

There were some services

[2018-05-09 02:18] uilianries commented on #263
Done!

Also, I included Clang 9.1

![json-c](https://screenshotscdn.firefoxusercontent.com/images/7aac2a6c-2969-4cdf-9680-3401b28930c0.png)

[2018-05-09 02:33] uilianries commented on #265
Done!

https://github.com/bincrafters/conan-pugixml/pull/3
https://github.com/bincrafters/conan-pugixml/pull/4

Also, I included the support to Apple clang 9.1

![pugixml/1.9@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/7471f11d-ed8c-478c-8e17-9717b9e6d15e.png)

![pugixml/1.8.1@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/e1c3a9de-68ba-46b8-a

[2018-05-09 02:46] uilianries commented on #251
Updated by Conan Clang Update:

`conan-clang-update --remote=bincrafters/conan-vorbis --branch-pattern=testing/*`

Created the follow PR:

https://github.com/bincrafters/conan-vorbis/pull/7
https://github.com/bincrafters/conan-vorbis/pull/6

[2018-05-09 02:53] uilianries commented on #249
Update with Conan Clang Update

`conan-clang-update --remote=bincrafters/conan-flac --branch-pattern=testing/*`

Create the follow PR:
https://github.com/bincrafters/conan-flac/pull/3

Waiting for CI result.

[2018-05-09 03:02] uilianries commented on #252
Updated using Conan Clang Update

`conan-clang-update --remote=bincrafters/conan-freetype --branch-pattern=testing/*`

Created the PR:

https://github.com/bincrafters/conan-freetype/pull/8
https://github.com/bincrafters/conan-freetype/pull/7

Waiting for CI result.

[2018-05-09 08:29] danimtb commented on #264
Thanks again @theirix!

Final thing: As you added new options now there ae some outdated packages. Please run `conan remove libwebp/0.6.1@bincrafters/stable --outdated -r bincrafters` to delete them and it should be good to go! 😄

[2018-05-09 08:38] SSE4 commented on #178
@mpusz I think this one should be fixed, changes are in stable branches, please give a try

[2018-05-09 08:40] SSE4 commented on #263
@danimtb any idea how and why packages got corrupted? I guess it would be better to fix underlying problem on conan side, instead of constantly rebuilding corrupted packages (which doesn't scale well in my opinion).

[2018-05-09 08:44] SSE4 commented on #264
@danimtb seems like there are no such packages:
[code]

[2018-05-09 08:44] danimtb commented on #265
Accepted into conan-center! Thanks once again @uilianries 😃

[2018-05-09 08:44] #265 closed

[2018-05-09 08:44] theirix commented on #264
@SSE4 I am doing the same thing now :)

[2018-05-09 08:45] theirix commented on #264
Cleaned all outdated packages!

[2018-05-09 08:49] danimtb commented on #263
You are totally right @SSE4, this is currently under investigation.

We are not really sure if this was a problem in the client side, a corruption during the upload or in the Bintray database. We only spotted some packages and did some checks but no clue yet, so we will keep an eye on it.

[2018-05-09 08:50] SSE4 commented on #224
template was updated, script to update projects automatically was invented, also the majority of projects has been updated already. I guess we can close. WDYT @uilianries @solvingj  ?

[2018-05-09 08:53] theirix commented on #264
There is a problem with metadata for 1.0.0, search gives `ERROR: Service Error. [Remote: bincrafters]`. Posted to slack.

[2018-05-09 09:17] Croydon commented on #185
As mentioned earlier this only works when the projects are using GitHub release or at least git tags, but not all (GitHub) projects are doing that.

[2018-05-09 11:39] uilianries commented on #249
Done!

![flac/1.3.2@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/77551b1e-ceab-4b42-8e1c-adcf21e0bb08.png)

[2018-05-09 11:39] #249 closed

[2018-05-09 12:30] uilianries commented on #263
@danimtb fPIC was removed on new PR

https://github.com/bincrafters/conan-json-c/pull/2

[2018-05-09 12:40] uilianries commented on #224
@SEE4 Agreed.

[2018-05-09 13:11] #224 closed

[2018-05-09 13:26] lasote opened #266 "Inclusion request for leptonica/1.75.1@bincrafters/stable"
## Inclusion Request Review

This is a review for [leptonica/1.75.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-leptonica) inclusion request to conan-center.
This review follows the [inclusion guidelines or third-party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

[2018-05-09 13:36] danimtb commented on #263
Linux builds failing: https://travis-ci.org/bincrafters/conan-json-c/builds/376827071

[2018-05-09 13:41] lasote commented on #256
Any updates with this?

[2018-05-09 13:59] uilianries commented on #256
I'm going to continue this package later.

[2018-05-09 17:07] theirix commented on #266
Thanks for the review!
Already working for clang 9.1, fPIC improvement and updated dependencies for Leptonica 1.76.0. I will backport it to 1.75.1 soon.

[2018-05-09 20:25] elizagamedev opened #267 "Executable binaries in packages used for `build_requires` can fail to run on Linux"
### Description of Problem, Request, or Question
On Linux, certain prebuilt executable binaries can fail if the C++ runtime included on the system is too different from the version the prebuilt was built with. The reason for this is because `settings` does not include `"compiler"`. It might be worth considering adding a clause to include `"compiler"` to `settings` only if the package is targetting

[2018-05-09 21:13] YarikTH opened #268 "Failed to build sdl2 from sources because libiconv failed to build"
### Description of Problem, Request, or Question
I want to make libiconv as optional dep for sdl2 (and even prepare patch for it)

I use VS 2017 cmake project and conan lauched from cmake, using conan.cmake module.
You can see example here https://github.com/YarikTH/sdl2-conan-example.
VS 2017 cmake project has 4 windows configurations "x86-Debug", "x86-Release", "x64-Debug", "x64-Release". And "X

[2018-05-09 23:59] uilianries opened #269 "Update Clang 9.1 for official Bincrafters package"
### Description of Problem, Request, or Question
Hi! I just executed **conan-clang-update** to update our official packages on Conan center. @lasote opened some issues days ago, reporting outdated packages.

The log generated during the update is [here](https://gist.github.com/uilianries/c9c8050946eba89fbe235d5ed3750ed2)

All follow PRs are related to update Clang 9.1:

- [x] https://github.com/bi

[2018-05-10 01:51] SSE4 commented on #268
seems like fix_windows_permissions hack is no longer necessary, as conan should be already doing that. I'll remove it, and also make libiconv optional dependency of SDL2.

[2018-05-10 01:54] SSE4 commented on #267
yeah, that's long standing problem with conan, but actually it has no connection to the compiler version, it's actually glibc version incompatibility, so adding compiler to settings will not help at all.
conan currently doesn't model glibc version in settings and seems like there is no intention to do it.
the only solution I can imagine now is to build all build tools on some really really ancient

[2018-05-10 01:55] SSE4 commented on #246
any details on what exactly should be updated/added (new stuff)?

[2018-05-10 02:08] uilianries commented on #246
Hi @SSE4

Just bump CTP version required and import cpt instead of packager.

Would be nice to validate all configs, including Boost and header-only.

[2018-05-10 05:54] theirix commented on #269
Great! I'm specifically after libxml2, libssh2, libjpeg-turbo.
libcurl is WIP because blocked by #261

[2018-05-10 07:57] danimtb commented on #263
Accepted into conan-center! Thanks for the great support @uilianries 😄

[2018-05-10 07:57] #263 closed

[2018-05-10 11:12] uilianries commented on #263
Awesome! Thanks!

[2018-05-10 17:38] SSE4 commented on #252
blocked by https://github.com/conan-community/community/issues/16

[2018-05-10 17:39] SSE4 commented on #251
waiting conan release with https://github.com/conan-io/conan/pull/2876

[2018-05-10 22:45] uilianries commented on #269
Some jobs failed during the build. I'll wait for ALL green on stable CI status to check as finished. As we know, both Travis and Appveyor are not totally stable, so they could fail during any job, even after to merge on stable branch.

[2018-05-11 00:20] uilianries commented on #256
It's updated and good to go IMO

We need to wait for CI to finish the PR.

[2018-05-11 01:47] SSE4 commented on #240
@solvingj  @uilianries so, what should we do? options I see:
1. do nothing and close
2. add patch with fix to our 1.8.0 package
3. build package from the specific revision
4. wait for the next gtest release and keep issue open

[2018-05-11 01:48] SSE4 commented on #194
closing as package was accepted into conan centre

[2018-05-11 01:48] #194 closed

[2018-05-11 01:48] SSE4 commented on #111
still no 1.9.0 release - waiting

[2018-05-11 01:50] SSE4 commented on #116
this might be related https://github.com/conan-io/conan/issues/1271

[2018-05-11 06:42] SSE4 commented on #269
everything except harfbuzz is merged, which requies ragel_installer update

[2018-05-11 09:35] theirix commented on #267
We solved this problem for our internal infrastructure by building against an old version of centos. Unfortunately, old CentOS versions must have their own rpm repositories like http://vault.centos.org/6.6/os/x86_64 because official repository has only latest version (6.9). So it needs some efforts to build for an older version but it's up to choosing a right docker image. Conan recipe stays exact

[2018-05-11 10:28] theirix commented on #266
Updated and rebuilt on CI both versions.

[2018-05-11 10:49] SSE4 commented on #267
alternate solution to look into https://github.com/wheybags/glibc_version_header

[2018-05-11 11:18] uilianries opened #270 "[Qt] Out-of-source / Shadow build"
### Description of Problem, Request, or Question

This issue was reported by @Blubbz0r

### Package Details (Include if Applicable)
* Package Name/Version: **qt/5.11**
* Operating System: **Linux Ubuntu 16.04**
* Compiler+version: **gcc-5.4**
* Docker image: **lasote/conangcc72**

### Steps to reproduce (Include if Applicable)

[2018-05-11 11:27] uilianries opened #271 "[ragel_installer] Recipe refinement"
### Description of Problem, Request, or Question
Ragel installer is an important package used by Harfbuzz. Now we have hafbuzz on Conan Center, but Ragel installer is not stable enough to be promoted.

### Package Details (Include if Applicable)
* Package Name/Version: **ragel_installer/6.10**
* Operating System: **Any**
* Compiler+version: **Any**
* Docker image: **Any**

### Steps to reproduce (

[2018-05-11 11:35] uilianries commented on #256
Almost there, just waiting for stable branch finish on CI

[2018-05-11 11:43] piponazo commented on #240
Hi guys,

Just a comment about this. At Pix4D we were using our own version of the recipe, and we were not using at all the definitions you added:

[code]
I think that by just removing that conditional, packages will work on Windows. Even though, the recipe will not be as precise as it is now, I think it is another option you might consider. But I think the patch approach would be more correct.

[2018-05-11 11:44] uilianries commented on #269
Awesome! Thanks guys! You rock!

I'm going to work on ragel_installer at evening. I opened the issue https://github.com/bincrafters/community/issues/271 to track this.

[2018-05-11 11:44] piponazo commented on #240
Let me know if I can help here, I would be happy to contribute to this recipe :smiley:

[2018-05-11 11:54] mropert commented on #240
@piponazo I'm pretty sure if you don't put those flags on VS 2017 you'll get warnings from tr1 usage.
Unless you don't use the /std to enforce standard compliance.

[2018-05-11 12:27] piponazo commented on #240
Unless you don't use the /std to enforce standard compliance.

Right, probably we are silencing those warnings. I remember we have a wrapper to gtest.h with something like this:

[code]

[2018-05-11 13:18] SSE4 commented on #262
I've added CMAKE_INSTALL_DIR into zstd, will test on Arch Linux soon and let you know
feedback is welcomed

[2018-05-11 13:40] YarikTH commented on #268
SDL2 recipe in defauilt configuration without iconv works perfect.
iconv still "needs a Windows Subsystem to be compiled".
[code]
But I don't need iconv anyway.
So my request about sdl2 recipe with optional iconv is completely done.

[2018-05-11 13:41] SSE4 commented on #268
that's right, libiconv cannot be built without the subsystem. thanks a lot for the confirmation!

[2018-05-11 13:41] #268 closed

[2018-05-11 15:18] SSE4 commented on #267
CentOS 6.9 seems to be using glibc 2.12:
[code]

[2018-05-11 15:47] SSE4 commented on #267
testing locally in **centos:6.9** container, without the fix:
[code]
[code]
[code]
with glibc_version_header 2.12.2:
[code]
[code]
but ninja still needs libstdc++:
[code]
so, something has to be done about libstdc++ version as well (and yes, **-static-libstdc++** doesn't help - it then needs memcpy from GLIBC 2.14)

[2018-05-11 16:36] sourcedelica commented on #116
Yes, #1271 is the right one.  It looks like the Conan team is going to be providing a good solution soon.  It is a huge issue for the enterprise use case and the current workarounds are ugly.

[2018-05-11 17:18] solvingj commented on #116
I just now got around to reading this proposal and I think it's absolutely on the right track. Thank you so much for spending time on this.  I think I will likely use to implement and test new ideas and features for Conan in my own environment before proposing them with a PR.  It's somewhat similar to custom Conan Generators in it's testability and sharability.

[2018-05-12 05:11] #251 closed

[2018-05-12 05:44] SSE4 commented on #241
I'll take a look at this

[2018-05-12 06:49] SSE4 commented on #259
first attempt wasn't successful https://github.com/svnpenn/sage/issues/31

[2018-05-12 09:16] SSE4 commented on #240
@piponazo if you're willing to contribute, could you open PR against our Google Test recipe? or at least provide a patch file against Google Test itself, which solves problems for you?

[2018-05-12 13:27] uilianries commented on #256
@lasote Mosquitto is done!

[2018-05-12 16:57] piponazo commented on #240
PR created, let me know if the patch satisfies your guidelines ;)

[2018-05-12 19:31] SSE4 commented on #241
@lucienboillod
I've updated glew and glfw packages with required changes. could you please give a try?
note that the following changes are needed in your example repository:
[code]

[2018-05-12 20:26] sourcedelica opened #272 "Improve version checking in conan-caf; bump version to 0.15.7"
### Improve version checking in conan-caf; bump version to 0.15.7

### Package Details
* Package Name/Version: **caf/0.15.7**

### Issues
* The version checking in `configure()` is pretty janky.
* Also CAF 0.15.7 is out, upgrade the recipe for that.

I will submit a PR for this as soon as my local CI has passed.

[2018-05-13 20:29] #272 closed

[2018-05-14 09:11] lucienboillod commented on #241
Sorry for the delay, I'll test it today

[2018-05-14 11:17] lucienboillod commented on #241
Very nice! tested locally and it is working, good job.
Also can you export the package on bintray (both glew and glfw), and if you have some times, there is still Qt/5.9 and freetype to upload on bintray

[2018-05-14 11:18] #241 closed

[2018-05-14 15:47] lasote commented on #256
Looks like you changed some options and there are many outdated packages:

![image](https://user-images.githubusercontent.com/3807515/40008099-5a682fec-5753-11e8-882d-06f5e922973d.png)

Try to clean them up with:

`conan remove mosquitto/1.4.15@bincrafters/stable --outdated -r bincrafters`

[2018-05-14 15:49] uilianries commented on #256
Thanks for report, I'm going to restart now

[2018-05-14 17:19] uilianries commented on #256
Done!

![mosquitto](https://screenshotscdn.firefoxusercontent.com/images/7def8a8b-033d-457d-ad55-5db198fe8b66.png)

[2018-05-14 23:17] lasote commented on #266
Perfect. Accepting! many thanks @theirix

[2018-05-14 23:17] #266 closed

[2018-05-14 23:27] lasote commented on #243
Check again if now it works. the issues with bzip2 should be fixed.
About the inclusion process itself, add the apple-clang 9.1 packages

[2018-05-14 23:31] lasote commented on #244
Also missing packages for apple clang 9.1. So summarizing:

- Add license file
- Remove libcxx
- Add apple-clang 9.1 to CI

[2018-05-15 00:31] lasote opened #274 "Inclusion request: http-parser/2.8.1@bincrafters/stable"
## Inclusion Request Review

This is a review for [http-parser/2.8.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-http-parser) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-librarie

[2018-05-15 01:18] lasote opened #275 "Inclusion request: imgui/1.53@bincrafters/stable"
## Inclusion Request Review

This is a review for [imgui/1.53@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-imgui) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

### Pack

[2018-05-15 01:39] lasote opened #276 "Inclusion request: libevent/2.0.22@bincrafters/stable"
## Inclusion Request Review

This is a review for [libevent/2.0.22@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-libevent) inclusion request to conan-center.
This review follows the [inclusion guidelines of third-party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-libraries).

[2018-05-15 04:46] theirix commented on #266
Thanks!

[2018-05-15 11:57] uilianries commented on #256
Awesome! I'm going to add deploy feature on next patch. Thanks!

[2018-05-15 12:17] uilianries commented on #256
Done! I just create a PR including `deploy()`

https://github.com/bincrafters/conan-mosquitto/pull/5

[2018-05-15 12:17] #256 closed

[2018-05-15 12:50] Blubbz0r opened #277 "[Qt] error when trying to build with openssl"
### Description of Problem, Request, or Question

When setting option "openssl" to "yes", the build fails with the following error:

[code]

### Package Details (Include if Applicable)
* Package Name/Version: **qt/5.11**
* Operating System: **Windows 10**
* Compiler+version: **Visual Studio 2017**
* Docker image: **lasote/conangcc72**

### Steps to reproduce (Include if Applicable)

1. Clone https

[2018-05-15 14:06] Blubbz0r commented on #277
Is the "openssl" option actually correct at all?

If it is set to "yes", a `self.requires("OpenSSL/1.0.2l@conan/stable")` is added to requirements and `-openssl` is added to the configure flags. a) I don't see a `-openssl` switch when running `configure.bat --help`. I only see these:

[code]

b) I'm not sure why the requirement is added, since Qt's configure is not using the package anywhere?

If

[2018-05-15 14:12] Blubbz0r opened #278 "Links to Contribute and Contributors in README.md not working"
### Description of Problem, Request, or Question

They direct to https://github.com/bincrafters/community/blob/master/CONTRIBUTING.md and https://github.com/bincrafters/community/blob/master/graphs/contributors

[2018-05-15 14:18] danimtb opened #279 "Inclusion-request review for http-parser"
## Inclusion Request Review

This is a review for [http-parser/2.8.1@bincrafters/stable (bincrafters/public-conan)](https://github.com/bincrafters/conan-http-parser) inclusion request to conan-center.
This review follows the [inclusion guidelines of third party libraries](http://docs.conan.io/en/latest/uploading_packages/bintray/conan_center_guide.html#inclusion-guidelines-for-third-party-librarie

[2018-05-15 17:26] theirix commented on #279
It's already tracked in #274.
By the way, libcxx was removed a long time ago. Maybe you reviewed another version?

[2018-05-15 21:01] danimtb commented on #279
Sorry, my fault. Closing this

[2018-05-15 21:01] #279 closed

[2018-05-15 21:49] uilianries commented on #244
I created the follow PRs:

https://github.com/bincrafters/conan-jansson/pull/2
https://github.com/bincrafters/conan-jansson/pull/3

Just waiting for CI to merge.

[2018-05-15 22:03] uilianries commented on #275
Created PR:

https://github.com/bincrafters/conan-imgui/pull/2

Waiting for CI.

[2018-05-15 22:06] theirix commented on #276
- Added build for clang 9.1, waiting for the last CI.
- Added a missing fPIC option.
- Cleaned up outdated packages

[2018-05-15 23:02] uilianries commented on #252
All done. Just waiting for CI.

[2018-05-16 03:15] SSE4 commented on #243
bz2 issue solved, apple-clang 9.1 added

[2018-05-16 11:18] danimtb commented on #243
# libzip/1.4.0
- One windows job failed: https://ci.appveyor.com/project/BinCrafters/conan-libzip

- There are some outdated packages, please remove them:
  ![image](https://user-images.githubusercontent.com/10808592/40112976-1e820fdc-5908-11e8-9f8e-cc7a0bb79287.png)

# libzip/1.5.1
- One Linux job failed for 1.5.1: https://travis-ci.org/bincrafters/conan-libzip/builds/379528628
One Windows job fa

[2018-05-16 11:58] uilianries commented on #243
Some uploads failed. I'm update the things later. Thanks for report

[2018-05-16 12:03] uilianries commented on #252
All Done!

![freetype/2.8.1](https://screenshotscdn.firefoxusercontent.com/images/0e644eb3-e8ab-4f4d-a69b-8e79b593e246.png)

![freetype/2.9.0](https://screenshotscdn.firefoxusercontent.com/images/8ae97eae-d497-46c9-a2e5-8697156dcb47.png)

[2018-05-16 12:03] #252 closed

[2018-05-16 13:37] uilianries commented on #244
@danimtb @lasote Done!

![jansson/2.11](https://screenshotscdn.firefoxusercontent.com/images/6f7a5526-a7ba-460f-98d1-51a9c95cf584.png)

![jansson/2.10](https://screenshotscdn.firefoxusercontent.com/images/fd2480d7-898c-4399-b137-612334120634.png)

[2018-05-16 21:34] uilianries commented on #244
Created new PR to solve this issue:

https://github.com/bincrafters/conan-jansson/pull/5
https://github.com/bincrafters/conan-jansson/pull/4

After to merge, it will need to remove outdated packages -- Windows + fPIC

[2018-05-17 01:57] uilianries commented on #275
@lasote Done!

![imgui/1.53](https://screenshotscdn.firefoxusercontent.com/images/7026f6f2-0728-4291-8825-bc369451584c.png)

[2018-05-17 03:08] uilianries commented on #244
@danimtb Done!

![jansson/2.10](https://screenshotscdn.firefoxusercontent.com/images/d0f12e44-9275-43f9-9ad4-58423764d54a.png)

![jansson/2.11](https://screenshotscdn.firefoxusercontent.com/images/2e1ee9da-0db4-480e-9607-6970c6fd7ccf.png)

[2018-05-17 07:14] theirix commented on #261
@solvingj , how is it going? I can try to make a PR with this flag.

[2018-05-17 10:39] danimtb commented on #244
accepted!! Thank you so much @uilianries 😄 Happy to have another one in conan-center!

[2018-05-17 10:40] #244 closed

[2018-05-17 10:49] danimtb commented on #274
Accepted into conan-center! Thanks @theirix 😄

[2018-05-17 11:03] danimtb commented on #276
Accepted into conan-center! Thanks again @theirix 😃

[2018-05-17 11:14] danimtb commented on #275
Accepted @uilianries! 📦 🎊

[2018-05-17 11:39] uilianries commented on #275
Thanks so much! Starting my day with good news! :100:

[2018-05-17 11:39] #275 closed

[2018-05-17 11:40] uilianries commented on #261
Go ahead @theirix !

[2018-05-17 11:41] uilianries commented on #244
Thanks so much for accept this package! Cheers!

[2018-05-17 11:43] #276 closed

[2018-05-17 11:44] #274 closed

[2018-05-17 21:20] emgre commented on #235
I confirm that `self.run('"{0}" -c "{1}"'.format(pyexec, cmd), output=output)` (notice the double quotes around `{0}`) fixes the issue on Windows.

[2018-05-18 12:13] #261 closed

[2018-05-18 12:13] #246 closed

[2018-05-19 03:01] uilianries commented on #243
@danimtb Finally! After 8h waiting for CI!

All versions are updated, including test package.

![libzip/1.2.0](https://screenshotscdn.firefoxusercontent.com/images/00a990f5-4dcc-4449-ab4d-670d9fd75164.png)

![libzip/1.4.0](https://screenshotscdn.firefoxusercontent.com/images/02b89c48-581b-4b4b-806d-9d503bf03d0c.png)

![libzip/1.5.1](https://screenshotscdn.firefoxusercontent.com/images/488d7571-7d0

[2018-05-19 09:55] theirix commented on #269
all versions of libcurl (including the newest ome 7.60.0) are fully rebuilt too.

[2018-05-19 12:02] uilianries commented on #269
I would consider finish this issue. Only harfbuzz is blocked, but is not because clang version.

[2018-05-19 22:18] chrahunt opened #280 "Boost packages should include b2_options"
### Description of Problem, Request, or Question

I needed to debug my usage of `boost_log/1.66.0@bincrafters/stable`. By default the library is not built with debugging symbols. I was able to get a debug build by changing the `conanfile.py` in `conan-boost_log` to include

[code]

After this, setting `boost_log:b2_options=variant=debug` in my Conanfile gave me the result I was looking for.

Can w

[2018-05-21 08:37] danimtb commented on #243
approved!! Thanks @uilianries

[2018-05-21 08:37] #243 closed

[2018-05-21 12:25] uilianries commented on #243
Awesome, thanks!

[2018-05-22 08:54] theodelrieu commented on #193
I think this would be made easier to deal with this issue if a `BoostBuild` Helper was made.

For example, if such an helper could read flags from `self.deps_cpp_info` and affilitates, it could even work out of the box.

I know that it would require a huge amount of work to make such an helper + using it in modular Boost though.

[2018-05-22 16:43] madebr opened #281 "OpenAl Soft needs to link to dl"
### Description of Problem, Request, or Question
OpenAL Soft needs to link to `libdl` on *nix.

### Package Details (Include if Applicable)
* Package Name/Version: **openal/1.18.2**
* Operating System: **nix**
* Compiler+version: **gcc-7.0**

### Steps to reproduce (Include if Applicable)
`dlopen` and `dlclose` at https://github.com/kcat/openal-soft/blob/c2a4a35c2e3d9959f6a0f20881a7d7dc2ef2c4b2/Al

[2018-05-22 17:52] elizagamedev opened #282 "[libx264] needs cygwin_installer as a build dependency on Windows"
### Description of Problem, Request, or Question
As the title says. Not able to make a PR for this at my place of work unfortunately.
[code]

### Package Details (Include if Applicable)
* Package Name/Version: **libx264/20171211**
* Operating System: **Windows 10**
* Compiler+version: **Visual Studio 2015**

[2018-05-23 07:39] drrlvn opened #283 "Bump fmt to version 5.0.0"
The fmt library version 5.0.0 was released, please bump the package.

https://github.com/fmtlib/fmt/releases/tag/5.0.0

[2018-05-23 08:55] lucienboillod commented on #277
Sorry for the delay, I'll investigate this asap

[2018-05-23 12:28] lucienboillod opened #284 "[Qt] Modules are not included after options change"
### Description of Problem, Request, or Question

Problem was addressed here https://github.com/lucienboillod/conan-qt/pull/1
### Package Details
* Package Name/Version: **Qt/5.11**

### Steps to reproduce
Steps to reproduce issue:

1. Add this package into project's conanfile.txt without extra option
2. Run conan install .
3. Add option to conanfile.txt for Qt, i.e.: Qt:tools=True
4. Run conan in

[2018-05-23 20:49] ImpressiveDev opened #285 "[Qt] Missing options for all "essentials" sub modules"
### Description of Problem, Request, or Question

Some Qt modules marked with an "essentials" status (when looking at Qt's `.gitmodules` file) cannot be enabled from the Conan recipe options list.

More specifically, the "qtdeclarative" one, which compiles the QML library. A lot of people uses QML, adding this option would be a great added feature.

Here is the list of all "essentials" sub modules

[2018-05-23 21:26] birsoyo opened #286 "[gtest] Support for android, emscripten, uwp and ios"
I have my own gtest recipe, but I would like to start using bincrafters recipes as much as I can. Towards that goal gtest is my first target to try this.

In general (not just gtest) the most obvious mismatch seems to be platform support. I need a recipe that could build for android, emscripten, uwp and ios in addition to what current bincrafters recipes support.

First, is supporting these platfo

[2018-05-24 01:19] uilianries commented on #254
@lasote Done!

- Updated both 0.1.12 and 1.0.21
- Added 1.0.22

![libusb/0.1.12@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/795d2bcf-f837-43cc-8542-9ac0949da165.png)

![libusb/1.0.21@bincrafters/stable](https://screenshotscdn.firefoxusercontent.com/images/5cf3e0ab-590b-4a84-b54a-934ce4c9bec5.png)

![libusb/1.0.22@bincrafters/stable](https://screenshotscdn.firefoxuserco

[2018-05-24 06:47] SSE4 commented on #286
hi @birsoyo
in general, I am also interested in additional platforms support, like iOS, Android, UWP and Emscripten, and working on adding them. however, adding additional logic to recipes don't scale well, and it's much better to contribute to conan itself in order to provide support for such platforms out of the box, so modifications in recipes are not needed.
so the best approach is to think on

[2018-05-24 08:58] lucienboillod commented on #285
Nice! thanks for the feedback, indeed it would be great. I will look after this as soon as others Qt issues are done. Also if you have any others feedback don't hesitate :blush: