[2019-03-30 17:13] #609 closed

[2019-03-30 17:14] SSE4 commented on #556
@Josh-Thompson I am closing the issue for now, as fix was applied
please open new issue if you still experience problems

[2019-03-30 17:14] #556 closed

[2019-03-30 18:24] prsolucoes commented on #696
Hi @SSE4,

I have added, but still with error when configure:
https://travis-ci.org/ezored/ezored-sdl2/builds/513532361

[code]

PROFILE:

https://github.com/ezored/ezored-sdl2/blob/master/files/targets/linux_app/conan/profile/ezored_linux_app_profile

[2019-03-30 19:29] #535 closed

[2019-03-30 20:09] prsolucoes commented on #696
This is on my machine:

![VirtualBox_Ubuntu_30_03_2019_17_09_10](https://user-images.githubusercontent.com/395096/55281120-9b337880-530e-11e9-8735-356c4cc695e8.png)

[2019-03-30 20:12] prsolucoes commented on #696
I don't know why, but on my local machine i get this error:

![VirtualBox_Ubuntu_30_03_2019_17_12_12](https://user-images.githubusercontent.com/395096/55281147-03825a00-530f-11e9-8124-d5b247aebe66.png)

[2019-03-31 11:21] nkshigeru opened #703 "Upstream Update: wxWidgets 3.1.2"
### Package Details
  * Package Name: **wxWidgets**
  * Latest available Version: **3.1.2**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-03-31 12:58] Croydon commented on #596
Is someone familiar with `libpulse-simple`?
the package already installs `libpulse-dev` via apt, but `libpulse-simple` still can't be found https://travis-ci.com/bincrafters/conan-libmikmod/jobs/188958516#L1095

[2019-04-01 00:09] uilianries commented on #634
Oh, this one is a nightmare! I spent some days trying to fix it. The problem is that many Folly dependencies doesn't have support for mingw ... I would say to abandon this support for now and only fix when requested by some real user

[2019-04-01 05:56] izzyreal opened #704 "sdl2/2.0.9@bincrafters/stable fails to build on conanio/gcc7-armv7hf image"
Reproduce:
* Download docker image [https://hub.docker.com/r/conanio/gcc7-armv7hf/](https://hub.docker.com/r/conanio/gcc7-armv7hf/)
* Run `docker run -it --rm conanio/conangcc7-armv7hf /bin/bash`
* Run `conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan`
* Run `conan install sdl2/2.0.9@bincrafters/stable --build sdl2`

Resulting error:
[code]

[2019-04-01 10:13] SSE4 commented on #634
@uilianries okay, I am closing the issue for now, until real users request MinGW support

[2019-04-01 10:13] #634 closed

[2019-04-01 11:44] Manu343726 commented on #292
I think this is the best option since there's a lot of meta-packages with dependencies between them.

And also port the packaging scripts to conan-package-tools.

I thought they were already. Let me check.

[2019-04-01 12:35] madebr commented on #671
I'll rename to libnsl

[2019-04-01 13:40] solvingj opened #705 "boost_build error on `--build` on some linux containers"
Per Mattew Jones in slack, the following command gives the following error when run in alpine linux docker container:

https://github.com/bincrafters/conan-boost_build/blob/stable/1.69.0/conanfile.py

`conan install boost_build/1.69.0@bincrafters/stable --build`

[code]

I was unable to reproduce locally on windows subsystem for linux.

### Package and Environment Details (include every applicable

[2019-04-01 13:42] solvingj commented on #705
This recipe also needs some refactoring.  Lines i would change:

https://github.com/bincrafters/conan-boost_build/blob/stable/1.69.0/conanfile.py#L39
https://github.com/bincrafters/conan-boost_build/blob/stable/1.69.0/conanfile.py#L59
https://github.com/bincrafters/conan-boost_build/blob/stable/1.69.0/conanfile.py#L60

https://github.com/bincrafters/conan-boost_build/blob/stable/1.69.0/conanfile.p

[2019-04-01 13:50] matthew-d-jones commented on #705
This single docker command reproduces the problem:
[code]

Note, it downloads a docker image from dockerhub which is based on alpine linux and includes gcc, build tools and conan.

[2019-04-01 14:17] solvingj commented on #705
Very strange situation.  I run the container interactively, then run the install command above, then cd to the following directory, the `b2` executable is there but will not run...

[2019-04-01 16:28] Croydon commented on #704
Related: https://github.com/bincrafters/community/issues/694

[2019-04-01 17:17] Croydon commented on #703
It seems like the 3.1.2 release is changing the location of header files on Linux and macOS from `include/wx/...` to `include/wx-3.1/wx/` while keeping the old include path on Windows.

I think it's a pretty odd thing to do in such a version jump (do they follow semver?), and why this change only on macOS and Linus and not on all platforms?

@nkshigeru Are you aware of such changes? Is this expect

[2019-04-01 17:21] izzyreal commented on #696
This works for me (conanio/gcc7armv7hf docker image to cross-compile for Raspberry Pi 3 model B), as per Ulrar's method [here](https://github.com/anyc/steam-overlay/issues/61).

[2019-04-01 18:33] SSE4 commented on #703
@Croydon check this out:
https://github.com/wxWidgets/wxWidgets/commit/8cf2b683be2c2878c2406d463f526524c5856b53
https://github.com/wxWidgets/wxWidgets/pull/1051
https://github.com/wxWidgets/wxWidgets/pull/1037

[2019-04-01 19:39] izzyreal opened #706 "cairo/1.15.14@bincrafters/stable for Raspberry Pi armv7hf"
Anyone been able to do a conan install of that package against armv7hf? I'm trying in [https://hub.docker.com/r/conanio/gcc7-armv7hf/](https://hub.docker.com/r/conanio/gcc7-armv7hf/) and I'm getting various redefinition errors, the first one being
[code]

[2019-04-01 21:17] remleduff opened #707 "[qt] binary packages not usable on centos7"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.2**
  * Operating System+version: **Linux CentOS 7.6.1810**
  * Compiler+version: **gcc-8.2.1**
  * Conan version: **conan 1.14.1**
  * Python version: **Python 2.7.5**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)

[2019-04-01 22:17] prsolucoes opened #708 "[sqlite3] Urgent problem with thread safe options"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **sqlite3/3.27.2**
  * Operating System+version: **MacOS Mojave**
  * Compiler+version: **ndk18**
  * Conan version: **conan 2.13.2**
  * Python version: **Python 3.7.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)

### Ste

[2019-04-01 23:19] #708 closed

[2019-04-01 23:59] Croydon commented on #703
@SSE4 Thanks for having a look

I see two options:
1) We do add `include/wx-3.1/` to the `includedirs`. Consumers can always just use the last part of the path in their applications no matter the platform. What version is getting used is managed by Conan either way
2) We leave it as it is. Consumers needs to add a switch-case to their includes depending on their platform. Updating means adapting t

[2019-04-02 00:39] izzyreal commented on #706
Hi @uilianries, to reproduce the error
* Download docker image [https://hub.docker.com/r/conanio/gcc7-armv7hf/](https://hub.docker.com/r/conanio/gcc7-armv7hf/)
* Run `docker run -it --rm conanio/conangcc7-armv7hf /bin/bash`
* Run `conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan`
* Run `conan install cairo/1.15.14@bincrafters/stable --build cairo`

[2019-04-02 00:54] uilianries opened #709 "[question] threadsafe option for sqlite"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **sqlite/3.27.2**
  * Operating System+version: **ANY**
  * Compiler+version: **ANY**
  * Conan version: **Conan 1.14.1**
  * Python version: **ANY**

### Question Description

Hi @arnesor!

I would like to know if is really required to set threadsafe=2 when building sqlitecpp:

https://github.com/bi

[2019-04-02 01:07] nkshigeru commented on #703
@Croydon Thanks!

I think 1) is be better.
Because wx-config tells like that.

On Linux (Ubuntu on Windows Subsystem for Linux):

-I/home/nkshigeru/.conan/data/wxwidgets/3.1.2/nkshigeru/testing/package/288c58d8845777dde884af24e640253e438dc8c5/lib/wx/include/gtk2-unicode-static-3.1
-I/home/nkshigeru/.conan/data/wxwidgets/3.1.2/nkshigeru/testing/package/288c58d8845777dde884af24e640253e438dc8c5/inclu

[2019-04-02 01:16] izzyreal commented on #706
If I change cairo's conanfile.py line 103 to `configure_args = ['--disable-ft', '--disable-xlib']`, so adding the disable-xlib flag, cairo builds fine.

[2019-04-02 01:34] uilianries commented on #706
Thanks for the details @izzyreal !

I'll provide a fix later, thanks again!

[2019-04-02 04:53] remleduff commented on #705
The b2 that is downloaded is linked against glibc. Alpine linux only supplies limited glibc compatibility (it uses musl by default).

Adding --build boost_build to the command line above rebuilds b2 and works for me (TM).

[2019-04-02 05:35] ericLemanissier commented on #707
This is not a conan-qt, and not a bincrafters issue, but a conan one: https://github.com/conan-io/conan/issues/3972

[2019-04-02 07:36] matthew-d-jones commented on #705
@remleduff Ooh, thank you, that makes perfect sense and does indeed solve the problem.

I'm used to conan just working when specifying `--build=outdated`, but I'm not sure there is anything it can do in this scenario.

[2019-04-02 08:37] SSE4 commented on #485
I am closing, as version 3.3.0 is available now
for any further problems with package, please open new issues

[2019-04-02 08:37] #485 closed

[2019-04-02 11:32] cajus opened #710 "[qt] Building for android"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.13.0-beta1**
  * Operating System+version: **Fedora 29**

### Question Description

I've successfully build a dozend of libraries for android using the following profile:

[code]
and `conan profile show default`:

[code]

When trying to build qt with these settings, I'm running into:

[code]

[2019-04-02 11:36] SSE4 commented on #710
@cajus you need to update your `$HOME/.conan/settings.yml` file. either add `Android` manually, or rename `$HOME/.conan/settings.yml.new` -> `$HOME/.conan/settings.yml`, if it's available

[2019-04-02 12:37] cajus commented on #710
Thanks @SSE4. Just did it. Now I'm running into

[code]

Something seems to add USE_FREETYPE/USE_ZLIB. At least `-no-freetype` is given to configure.

[2019-04-02 12:40] SSE4 commented on #710
/cc @ericLemanissier

[2019-04-02 12:49] ericLemanissier commented on #710
Your log shows `-xplatform wasm-emscripten` which should not be possible with the current version of https://github.com/bincrafters/conan-qt/blob/testing/5.13.0-beta1/conanfile.py

[2019-04-02 13:01] cajus commented on #710
Lol. Thanks @ericLemanissier . I'm using the original reciepe - with two additional lines for webassembly. Sadly I had the emsdk environment variables set in the shell where I ran the build... My fault. Sorry.

Cleared it. Now:

[code]
Are my `compiler.libcxx=libc++` settings correct?

[2019-04-02 14:12] Croydon opened #711 "Inclusion Request: Thrift"
### Package Details
  * Package Name: **thrift**
  * Operating Systems+versions: **Linux, Windows, macOS**
  * Compiler support: **all from current templates**
  * Conan recipe repository: **https://github.com/helmesjo/conan-thrift**
  * Wishlist url: **https://github.com/conan-io/wishlist/issues/143**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it a

[2019-04-02 15:02] ericLemanissier commented on #710
Your libcxx setting looks ok. Could you please try with Qt 5.12.2 ?

[2019-04-02 15:09] reneme opened #712 "Upstream Update: Botan 2.10.0"
### Package Details
  * Package Name: **conan-botan**
  * Latest available Version: **2.10.0**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

#### Prepared Recipe Update

I already pushed a branch [`stable/2.10.0`](https://github.com/reneme/conan-botan/tree/stable/2.10.0) that both bumps the version number

[2019-04-02 16:21] solvingj commented on #705
Thanks @remleduff , i thought about glibc, but i expected a different error for such a thing.

@matthew-d-jones are we ok to close?

[2019-04-02 16:45] uilianries commented on #711
I think the recipe looks good but needs some update. We could accept and update, it will faster than requesting all changes

[2019-04-02 18:16] Croydon commented on #711
Well, I'm bringing it in, so it's not really an outside request anyway. So that is exactly what I planned.

I see that you did go ahead an cloned the repo already. I actually wanted to squash the history, since it is originally a fork of the templates repository, which makes not much sense to more to keep around

[2019-04-02 18:21] uilianries commented on #711
Ops, Sorry! We can squash anyway, we will need to force the push. I see no problem forcing the push, WDYT ?

[2019-04-02 18:41] uilianries commented on #706
That's weird ... I can't reproduce your error. What I've done:

    docker run --rm -t conanio/gcc7-armv7hf /bin/bash -c "conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan && conan install cairo/1.15.14@bincrafters/stable --build missing"

The result is all build process with success.

Did you update your docker image?

My current image is:

	REPOSITORY

[2019-04-02 20:01] izzyreal commented on #706
Hm 32 hours ago... I may not have that latest one then, I will try again and report here. Thx!

[2019-04-02 20:05] Cyberdr8gon opened #713 "[protobuf] linker warnings from generating excessive library paths"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **protobuf/3.5.1**
  * Operating System+version: **MacOS **
  * Compiler+version: **XCode 10.1**
  * Conan version: **conan 1.11.2**
  * Python version: **Python 2.7.10**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[setting

[2019-04-02 20:10] izzyreal commented on #706
Ok confirmed to build fine indeed :) I must have fux03r3d something in my previous image or indeed the image was updated.

[2019-04-02 20:20] uilianries commented on #706
Thanks for replying. I gonna this issue, feel free to re-open.

[2019-04-02 20:32] izzyreal opened #714 "sdl2/2.0.9 X11 conflict"
In conanfile.py we need to add
[code]
This way we can almost compile succesfully for Raspberry Pi using [https://hub.docker.com/r/conanio/gcc7-armv7hf/](https://hub.docker.com/r/conanio/gcc7-armv7hf/).

I had to perform [this modification](https://github.com/anyc/steam-overlay/issues/61#issuecomment-20571907), then it compiles fine. Is there a way we can make the conan sdl2 package overcome this i

[2019-04-02 21:02] izzyreal commented on #706
@uilianries Not sure how to re-open. The issue returned when first installing SDL2.

[2019-04-02 21:14] uilianries commented on #706
Please, post here which commands did you run and which docker image.

[2019-04-02 21:35] izzyreal commented on #706
* Download latest docker image [https://hub.docker.com/r/conanio/gcc7-armv7hf/](https://hub.docker.com/r/conanio/gcc7-armv7hf/)
* Run `docker run -it --rm conanio/conangcc7-armv7hf /bin/bash`
* Run `conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan`
* Run `conan install sdl2/2.0.9@bincrafters/stable --build missing` and it will fail
* Edit sdl2 conanfile.py by add

[2019-04-03 04:24] solvingj commented on #576
We had a request from user in slack. I will reopen and assign to myself. This is an important library.

[2019-04-03 06:42] cajus commented on #710
Just tried it. Same result.

[2019-04-03 06:50] ericLemanissier commented on #710
You probably did not notice my edit: I noticed something surprising: you seem to have 2 different NDK used at the same time, one in /home/cajus/Android/Sdk/ndk-bundle/ and one in /home/cajus/.conan/data/android_ndk_installer/r19b/bje/stable/package/84fc5086d5b84ea42507b9623275f83e74452fe1/. You must choose one or the other. What environment variables are set when you try to build the recipe ?

[2019-04-03 06:56] matthew-d-jones commented on #705
Yes, please close. Many thanks for your time @solvingj and to @remleduff for the explanation.

[2019-04-03 07:13] cajus commented on #710
Oups. Yes, I missed the edit... Sorry.

I don't know why it is doing anything with `~/Android`. All I do is to require the `android_ndk_installer` in the profile.There are no android related environment variables set in the shell that starts the build. If I move `~/Android` out of the way, `configure` says

[code]

Looks like I need another requirement that provides the android SDK?

[2019-04-03 07:33] SSE4 commented on #712
doesn't build for OSX: https://travis-ci.com/bincrafters/conan-botan/jobs/189890848

[2019-04-03 07:34] #705 closed

[2019-04-03 07:44] ericLemanissier commented on #710
Ok, so it is this line https://code.qt.io/cgit/qt/qtbase.git/tree/configure.pri#n521 which falls back to ~/Android/Sdk
Could you please try to set environment variable
1. `ANDROID_SDK_ROOT` pointing to `/home/cajus/Android/Sdk` (or let qt fall back on this default).
2. `ANDROID_NDK_ROOT` pointing to `/home/cajus/.conan/data/android_ndk_installer/r19b/bje/stable/package/84fc5086d5b84ea42507b9623275

[2019-04-03 07:50] cajus commented on #710
That is getting back to (I've moved away the `ndk_bundle`, so that it can't use it):

[code]

[2019-04-03 07:52] ericLemanissier commented on #710
Could you please give the full log ?

[2019-04-03 07:53] cajus commented on #710
Sure. Here it is:

[code]

[2019-04-03 07:55] cajus commented on #710
That's back to 5.13*. If you want me to do that with 5.12.2, just tell me. The error is the same, so I guess the actual version doesn't matter.

[2019-04-03 08:41] tt4g opened #715 "Upstream Update: libpqxx 6.4.2"
### Package Details
  * Package Name: **libpqxx** (https://github.com/bincrafters/conan-libpqxx)
  * Latest available Version: **6.4.2**

I'm collaborator this repository, already pushed a branch `stable/6.4.2`.
However, I can't change default branch.

Please change default branch to `stable/6.4.2`.

[2019-04-03 08:44] arnesor commented on #709
According to the thread-safety chapter in SQLiteCpp README.md: "But SQLiteC++ does not support the fully thread-safe “Serialized” mode of SQLite, because of the way it shares the underlying SQLite precompiled statement in a custom shared pointer (See the inner class “Statement::Ptr”)."

The serialized mode corresponds to -DSQLITE_THREADSAFE=1 (https://www.sqlite.org/threadsafe.html), and should no

[2019-04-03 12:02] ericLemanissier commented on #710
I don't understand why the linker tries to link with `-lc++` when this option was not passed, and `/home/cajus/.conan/data/android_ndk_installer/r19b/foo/stable/package/84fc5086d5b84ea42507b9623275f83e74452fe1/sources/cxx-stl/llvm-libc++/libs/armeabi-v7a/libc++.so.21` was used instead.
Can you please check in conan build directory (/home/cajus/.conan/data/qt/5.13.0-beta1/foo/stable/build/e4f2de639

[2019-04-03 12:24] SSE4 commented on #715
@tt4g changed default branch

[2019-04-03 12:40] cajus commented on #710
Here's the [Makefile](https://ferdi.naasa.net/Makefile).

[2019-04-03 13:06] tt4g commented on #715
@SSE4 Thank you.

[2019-04-03 13:06] #715 closed

[2019-04-03 13:33] uilianries opened #716 "[Question] Hooks inclusion"
### Question Description

Hi @bincrafters/administrators !

Since Conan offers some nice hooks, I think we could add them to our CI jobs.

Some possible hooks to be included:

- [Conan Center Reviewer](https://github.com/conan-io/hooks/blob/master/hooks/conan-center_reviewer.py)
- [Attribute Checker](https://github.com/conan-io/hooks/blob/master/hooks/attribute_checker.py)
- [Binary Linter](https:

[2019-04-03 13:46] Croydon commented on #716
There is definitely some overlap to bincrafters-conventions, e.g. the SPDX checker hook got implemented by @SSE4 after it made its way into bincrafters-conventions (at least I don't think that was a coincident).

I'm not sure if it is helpful when we enable these hooks on all jobs.
Why should we check the same thing like attributes on each job?
Why should we check if GitHub attributes need updatin

[2019-04-03 14:07] SSE4 commented on #716
I'd personally avoid running these hooks on CI, as they communicate with external services (GitHub, bintray), so they add additional points of failures in case of network errors. builds are already pretty unreliable.

[2019-04-03 14:21] uilianries commented on #709
@arnesor thanks for your very detailed answer! regards!

[2019-04-03 14:21] #709 closed

[2019-04-03 15:33] Croydon commented on #704
So what is the difference between `armv7hf` and `armv7` when we are mapping it to the same Debian package suffix (`armhf`) anyway?

[2019-04-03 16:11] izzyreal commented on #704
@Croydon I have no clue, except I read [somewhere](https://stackoverflow.com/questions/37790029/what-is-difference-between-arm64-and-armhf) that hf means hardware float(ing point instructions).

Also, mapping `armv7hf` to `armhf` is something I just tried and it's the first thing that made it build successfully -- as in, I'm not sure what I'm doing and whether it's the right thing.

I know very li

[2019-04-03 19:20] ericLemanissier commented on #710
I just tried and reproduce the same problem. The solution is simply to remove android_ndk_installer from build requirements. The cause is one of the environment variable set by android_ndk_installer

[2019-04-04 05:31] cajus commented on #710
Wow. Thanks for your time @ericLemanissier!

Hmm. Ok. But that would mean that the dependencies would not be buildable in one step. I need the android_ndk_installer for the remaining libs. Do you know which variable it is? I'd remove or locally overwrite it in the local copy of the qt reciepe in case of Android then.

[2019-04-04 07:07] Croydon commented on #711
I have cut of the old history, should be fine now

The package should be ready now, but conan-center is blocked since libevent isn't in conan-center yet 🤔

[2019-04-04 07:14] SSE4 commented on #711
@Croydon we may send inclusion requests for both, libevent and thrift. libevent is here for a while, and used in many packages.

[2019-04-04 07:34] SSE4 commented on #710
it would be nice if we can identify problematic environment variable and fix `android_ndk_installer`

[2019-04-04 07:44] ericLemanissier commented on #710
The problem is actually in Qt, not in `android_ndk_installer`. The triggering factor of this failure is the variable `CXX`. When it is set, Qt recipe forwards its value to qmake https://github.com/bincrafters/conan-qt/blob/stable/5.12.2/conanfile.py#L525, and qt does not handle `QMAKE_LINK` properly when targeting android. I'll report the bug upstream.
In the meantime you can either modify `androi

[2019-04-04 07:56] SSE4 commented on #710
unfortunately CXX is definitely needed for most recipes
so probably patching `QMAKE_LINK` in recipe is only an option

[2019-04-04 07:57] ericLemanissier commented on #710
Yes, My proposition was only for a local copy of the recipe, not for general purpose recipe.

[2019-04-04 10:01] cajus commented on #710
Removed `QMAKE_LINK` for Android and it is able to complete the build now. Thanks again for your help!

[2019-04-04 12:18] SSE4 commented on #481
@liberforce `bison/3.3.2@bincrafters/stable` and `bison_installer/3.3.2@bincrafters/stable` now have a dependency on `m4_installer/1.4.18@bincrafters/stable`.

[2019-04-04 12:18] #481 closed

[2019-04-04 12:18] SSE4 commented on #682
@danimtb `bison/3.3.2@bincrafters/stable` and `bison_installer/3.3.2@bincrafters/stable` are now ready for the review.

[2019-04-04 12:22] SSE4 commented on #625
I am closing this one now. I have implemented `bison/3.3.2@bincrafters/stable` and `bison_installer/3.3.2@bincrafters/stable` within the same repository. it could be used as [RFC] for any further installers (I believe, ICU, vulkan, flex).

[2019-04-04 12:22] #625 closed

[2019-04-04 12:22] Barben360 opened #717 "[boost_package_tools] boost_package_tools can't be retrieved"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **conan_package_tools/<all-versions>**
  * Operating System+version: **Ubuntu/Windows/MacOSX**
  * Conan version: **conan 1.12.3**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)

Any profile

### Steps to reproduce (Include if

[2019-04-04 12:23] SSE4 commented on #574
@A-Debord I am closing the issue for now. please open new issue if you have any further problems with SDL2.

[2019-04-04 12:23] #574 closed

[2019-04-04 12:25] SSE4 commented on #482
I believe it's safe to close now. with https://github.com/bincrafters/bincrafters-conventions/pull/6 we can update all recipes without losing jobs.

[2019-04-04 12:25] #482 closed

[2019-04-04 12:40] Croydon commented on #711
Is the quality of libevent good enough?
  * there seems to be a weird workaround for a PATH problem on macOS? (in import())
  * do we really want to use an OpenSSL alias which is effectively a version range? Personally I would say no. I understand that we need to make sure that OpenSSL stays up-to-date but I would rather like to improve our tools in this direction

[2019-04-04 12:44] SSE4 commented on #711
1. we have to fix that
2. alias is not version range, it's a different concept. version range is dynamically computed expression, while alias is just a "symlink", or an alternative name of a package. it doesn't have overhead that version ranges have.

[2019-04-04 12:59] Croydon commented on #711
I didn't say that this alias **IS** a version range, but it **ACTS** like one. We still have non-reproducible builds

[2019-04-04 13:31] madebr commented on #625
@SSE4
Cool!
I am running into a problem with the flex PR because `flex` depends on `flex_installer`.

[2019-04-04 13:49] uilianries commented on #711
let's use `OpenSSL/1.0.2r@conan/stable` to keep the package reproducible. And it's more explicit for who reads the recipe.

[2019-04-04 14:02] cajus commented on #710
There are similar problems when using the [emsdk installer](https://github.com/bincrafters/conan-emsdk_installer) to build Qt. But that's a bit off topic...

[2019-04-04 14:50] uilianries commented on #711
@SSE4 Why we don't CMake to build libevent? The project offers a cmake file:

https://github.com/libevent/libevent/blob/release-2.1.8-stable/CMakeLists.txt

[2019-04-04 16:50] madebr commented on #625
@SSE4
The `exports` in `bison_base.py` is overridden by the `exports` in `conanfile.py` and `bison_installer.py`.

[2019-04-04 17:03] madebr commented on #625
@SSE4
Also, the tests in `test_package` is not testing the package at all.

[2019-04-04 17:50] SSE4 commented on #625
@madebr
1. I'll take a look into the flex later. I'm gonna check ICU first, as it's needed by few other packages.
2. yeah, seems to be a left-over, base class doesn't need `exports`, I'll remove em
3. it links with `liby` (bison library) and uses symbol it provides (`yyerror`). there's only one symbol/function bison exposes https://docs.oracle.com/cd/E19683-01/816-0218/6m6nirqnb/index.html

[2019-04-04 17:50] SSE4 commented on #711
@uilianries no idea, probably older versions didn't support CMake, or there were some issues with it. let's switch to CMake if possible.

[2019-04-04 17:55] uilianries commented on #711
@SSE4 Yes, there is no cmake support for 2.0.x . I'll try the CMake approach

[2019-04-04 18:05] SSE4 commented on #625
@madebr
2. update - fixed at https://github.com/bincrafters/conan-bison/commit/c2c2a9618225538911d0e9c671d0931f5fe95e25

[2019-04-04 19:48] ericLemanissier commented on #710
You'll probably have to wait for https://github.com/conan-io/conan/pull/4346 to be merged first.

Regarding your issue with android, I submitted the patch upstream: https://codereview.qt-project.org/#/c/258198/ and it will be integrated to the recipe soon. Also, I solved the original issue you reported (`ConanException: Invalid setting 'Android' is not a valid 'settings.os_build' value.`), so it w

[2019-04-05 00:45] Croydon commented on #703
I added `include/wx-{major}-{minor}` to the `includedirs`

3.1.2 seems to have more problems however. Now some linking issue is coming up:
https://travis-ci.com/bincrafters/conan-wxwidgets/builds/107159729
https://travis-ci.com/bincrafters/conan-wxwidgets/jobs/190532680#L5150

[2019-04-05 01:55] loosechainsaw commented on #717
I am having the exact same issue.

[2019-04-05 06:33] ericLemanissier commented on #710
And actually these are not sufficient. I think there is a problem in the ndk itself : https://github.com/android-ndk/ndk/issues/951

[2019-04-05 07:19] loosechainsaw commented on #717
Is this going to be fixed. I am using this and it is a total blocker.

[2019-04-05 07:26] cajus commented on #710
Thats cool. The `~/Android` hack works for now, I'll try again if it works smoothly when the other issues are merged/solved.

[2019-04-05 07:37] Barben360 commented on #717
While waiting for a fix you can still create the package from the [github repository](https://github.com/bincrafters/conan-boost-package-tools) and run:

[code]

or checkout another branch if you want another version.

Then if you have a personal Conan repository you can upload the generated package on it:

[code]

and use it from this repo.

[2019-04-05 07:59] SSE4 commented on #718
fixed (sorry, I have missed this issue, as it was in cygwin's repository)

[2019-04-05 07:59] #718 closed

[2019-04-05 08:05] loosechainsaw commented on #717
Thanks

[2019-04-05 12:12] uilianries commented on #717
This is really weird, the was changed one year ago ... I'll investigate further

[2019-04-05 12:21] uilianries commented on #717
@loosechainsaw  @Barben360 please, try to download again. I've uploaded the package again. I think it was some inconsistency on Bintray side. The package was there, but something was corrupted.

[2019-04-05 12:25] Barben360 commented on #717
Now I've got:

[code]

It goes further but there still seem to be something missing.

[2019-04-05 12:29] uilianries commented on #717
hmm, it's working for me, please more few minutes, since the server is distributes, it could take some time to replicate all indexes.

[code]

[2019-04-05 12:31] Barben360 commented on #717
Ok, I'll tell you when it works (still not).

[2019-04-05 12:33] uilianries commented on #717
Hmm, I can confirm you bug when running with Conan 1.12.3 (outdated). Give me some minutes, but I think it could be a bug from Bintray, since they applied some patches to support Conan 1.14

[2019-04-05 12:37] Barben360 commented on #717
I just upgraded to conan 1.14.1, still the same error.

[2019-04-05 13:42] uilianries commented on #717
Hi @Barben360 !

Please, enable Conan revisions in you client and try again:

    conan config set general.revisions_enabled=1
    conan download ...

Also, you can follow the issue https://github.com/conan-io/conan/issues/4906 to keep informed.

[2019-04-05 14:32] nkshigeru commented on #703
bincrafters/conan-wxwidgets#7

[2019-04-05 14:35] Croydon commented on #711
For the protocol: We can look into using CMake starting with 2.2.x, but not right now: https://github.com/bincrafters/conan-libevent/pull/8

[2019-04-05 14:43] Croydon commented on #703
The Travis build will still take several hours. If it succeeds I guess we can close this

[2019-04-05 15:22] Barben360 commented on #717
@uilianries That indeed worked! Thanks a lot.

[2019-04-05 17:11] SSE4 commented on #193
still an issue:
[code]

[2019-04-05 17:14] SSE4 commented on #193
no issue with 1.69.0:
[code]

[2019-04-05 17:20] SSE4 commented on #193
1.68, 1.67 - also no issue
something was fixed between 1.66 and 1.67

[2019-04-05 17:32] SSE4 commented on #193
related code (https://github.com/boostorg/build/blob/boost-1.66.0/src/tools/gcc.jam#L956) was changed in https://github.com/boostorg/build/commit/12decb3ce680031b915f69902795eec47224fc7d#diff-c4f35dd145d0f08ea267afbf86acbefb
@theodelrieu is it an option for you to upgrade?

[2019-04-05 21:01] Croydon commented on #704
I just saw that @helmesjo mapped `self.setting.arch == "armv7"` to `armel` which would be a contradiction to what we have done so far with `arvm7` (e.g. #694)

https://github.com/helmesjo/conan-magnum/blob/636125cc4620a1db38e9acd457e6c0d05b66f424/conanfile.py#L136

I believe we need a good source to figure that out or at least someone who is confident in this 😅

[2019-04-05 21:09] prsolucoes opened #719 "Upstream Update: cpprestsdk 2.10.12"
### Package Details
  * Package Name: **cpprestsdk**
  * Latest available Version: **2.10.12**

Official repository:
https://github.com/Microsoft/cpprestsdk/tree/v2.10.12

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-04-06 08:22] theodelrieu commented on #193
Completely forgot about this, i upgraded to 1.68.0 a long time ago. Thanks!

[2019-04-06 08:22] #193 closed

[2019-04-06 10:39] SSE4 commented on #703
binaries are available, closing

[2019-04-06 10:39] #703 closed

[2019-04-06 16:21] p-groarke opened #720 "[imgui] Trigger appveyor build"
Hi, Appveyor seems to have had issues with imgui. https://ci.appveyor.com/project/BinCrafters/conan-imgui/build/job/b9yil5spp1kx55si

https://github.com/bincrafters/conan-imgui

Can you retrigger a build? Seems like the same connection issues we had previously with glm.

[2019-04-06 17:29] SSE4 commented on #720
rebuilt

[2019-04-06 17:29] #720 closed

[2019-04-06 17:29] p-groarke commented on #720
thx

[2019-04-06 19:59] SSE4 commented on #596
I am on it now, as it's dependency on `sdl2_mixer` library

[2019-04-06 20:25] SSE4 commented on #596
@Croydon I have fixed problems with pulse audio, I think we're now good with it

[2019-04-06 23:00] uilianries commented on #717
Nice! Closing this issue. Follow https://github.com/conan-io/conan/issues/4906 if you want to keep updated. Regards!

[2019-04-06 23:00] #717 closed

[2019-04-07 01:04] nkshigeru opened #721 "[ruby_installer] ruby LoadError on Linux"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **ruby_installer/2.5.1**
  * Operating System+version: **Ubuntu 18.04.2 LTS (WSL)**
  * Compiler+version: **gcc-7.3.0**
  * Conan version: **conan 1.14.1**
  * Python version: **Python 2.7.15rc1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom p

[2019-04-07 06:36] nkshigeru commented on #721
With `--disable-gems`, the error about `rubygems.rb` will disappear:
[code]
but `require` any standard libraries fails:
[code]

Looking at LOAD_PATH($:)
[code]
LOAD_PATH indicates under `/home/conan/` the prefex path used at configure, but it deffers from runtime environment.

[2019-04-07 09:18] #596 closed

[2019-04-07 09:21] SSE4 commented on #499
@Croydon issue seems to be closed in fruit bug tracker. is there anything else to be done?

[2019-04-07 16:07] Croydon commented on #499
It isn't yet in conan-center and the upload isn't automated, so yes: https://github.com/google/fruit/issues/82

[2019-04-07 21:18] hpesoj commented on #126
I am having the same issue. The problem is that Visual Studio searches for the `.pdb` file in the same directory as the library. The fix would be to package to the `lib` directory.

`self.copy("*.pdb", dst="lib", keep_path=False)`

Is there a reason you are not doing this currently?

[2019-04-07 23:08] Croydon commented on #292
@Manu343726 It seems like some sub-directories do have a `LICENSE.md`, but that doesn't apply to everything than. If you could add one to the root directory that would be perfect for confirmation 😄

[2019-04-07 23:19] Croydon opened #722 "bincrafters-conventions: Check if system_requirement can be replaced with Conan package"
I would like the enhance the bincrafters-conventions tool with a check for the recipes:
  * Is it using system_requirements()?
  * If yes, is it installing packages we do created Conan packages for in the meantime?
  * If yes, let the check fail and remind the user to update the recipe to use the Conan package instead of the system_requirement

[2019-04-08 01:20] Croydon opened #723 "[libevent] Switch to CMake with >= 2.2"
See https://github.com/bincrafters/conan-libevent/pull/8 & https://github.com/bincrafters/community/issues/711#issuecomment-479929742

[2019-04-08 19:01] uilianries commented on #704
Unfortunately Ubuntu artful doesn't provide armel remote. We could force to use armhf instead.

[2019-04-08 19:39] Croydon commented on #704
So to get this right: The best thing would be mapping `armv7` to `armel`, but since Ubuntu doesn't provide packages for that, the next best match is `armhf`.

So we would map both `armv7` and `armv7hf` to `armhf`?

[2019-04-08 19:41] uilianries commented on #704
Yes. I'll try to fix this.

[2019-04-08 22:41] Croydon commented on #714
Please don't combine different problems into one issue.

The missing architecture problem is already reported here: #704

[2019-04-08 22:43] Croydon commented on #706
This is also a combination of different problems.

Let's fix first: #706, then #714 then have a look at this one again

[2019-04-09 04:32] prsolucoes opened #724 "Upstream Update: ndk_installer 19c"
### Package Details
  * Package Name: **ndk_installer**
  * Latest available Version: **19c**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

Site:
https://developer.android.com/ndk/downloads

[2019-04-09 04:48] SSE4 commented on #712
new version is available, closing

[2019-04-09 04:48] #712 closed

[2019-04-09 09:15] Thibaulltt commented on #698
@solvingj Are there any updates on this ? Do you need some more information about my specific configuration perhaps ?

[2019-04-09 09:29] grisumbras opened #725 "boost_build should set BOOST_BUILD_PATH as a list"
`boost_build` package has this line in its recipe:

[code]

This allows b2 to correctly bootstrap itself, but because its not set as a list, Conan then treats it as a singular value and any modifications to it coming from other packages will be thrown away. This in particular makes it largely useless to distribute b2 extensions via Conan.

### Package and Environment Details (include every applica

[2019-04-09 09:35] helmesjo commented on #704
Yeah don't trust what I did regarding this. I was totally shooting in the dark. 🔫😎

[2019-04-09 16:50] mattgodbolt opened #726 "libcurl packaging issue when built a step at a time"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libcurl/7.61.1((
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **gcc-8.2**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]
### Steps to reproduce (Include if Applicable)

We build external

[2019-04-09 17:39] Croydon commented on #711
Seems like @theirix have put this import() in several recipes. Could you please explain this problem further you workaround with this?

https://github.com/bincrafters/conan-libcurl/commit/0d4e7485d45739bc6f4d48a9218ef2d1e5335b0d
https://github.com/bincrafters/conan-libevent/commit/2d686d143ec90fee0496da80d0d458c1ab1876e1

[2019-04-09 17:55] Croydon commented on #726
If I understand you correctly you are doing this particular way of building for security reasons to check the checksum of the source code downloaded by the conanfile?

Would it also be enough for you when
a) the recipes have a sha256 checksum for downloads (that is a bincrafteers-convention for a while now, but long-existing recipes may not have it yet)
b) you make sure to use a specific revision

[2019-04-09 18:02] Croydon commented on #726
I'm working on an update to libcurl 7.64.1 and also trying to clean up the recipe while doing so.

I would assume this problem is since `autotools.install()` is executed in `build()` instead `package()`, which is also a convention introduced some while ago

[2019-04-09 18:08] mattgodbolt commented on #726
Replying to your first comment:

* If I can guarantee all sources downloaded have a SHA, yes. And any packages they depend on (which is probably already ok).
* Yes I already git clone a SHA of the recipe and build from that.

This will obviate my weird needs :)

Replying to your second: Sounds likely yes. Is this a problem, more generally?

[2019-04-09 18:08] mattgodbolt commented on #726
And thanks so much for taking the time to look in to this!

[2019-04-09 18:33] SSE4 commented on #725
changes were merged

[2019-04-09 18:33] #725 closed

[2019-04-09 18:35] SSE4 commented on #724
new binaries are available

[2019-04-09 18:35] #724 closed

[2019-04-10 08:09] theirix commented on #711
@Croydon do you mean the problem that the copying solve? It is briefly described in a code comment. Autoconf creates little programs (`conftest`) that link against shared OpenSSL libraries and the only way to run `conftest` without dynamic linker errors is to bring dependent libraries into the current directory. It affects only shared library build on macOS 10.11+. The `imports` method guards the

[2019-04-10 13:04] uilianries commented on #722
It's a nice feature, but I think it's not easy to be implemented. For example, when installing with APT, most of libraries use the name libxxx-dev, but we use only conan-xxx. We will need to verify some chunks to validate the name.

[2019-04-10 14:49] Adnn opened #727 "[qt] The recipes are not available from Conan-center anymore?"
Tried to install Qt today, following [the reference found here](https://bintray.com/bincrafters/public-conan/qt%3Abincrafters/5.12.2%3Astable), with:

    conan install qt/5.12.2@bincrafters/stable

But I am getting "not found" error:

Is there something obvious missing here, or did the package disappear?

---

Also:

    $ conan --version
    Conan version 1.14.1

    $ conan search -r conan-cent

[2019-04-10 15:02] ericLemanissier commented on #727
qt recipe is not yet available on conan-center. You should first add the bincrafters remote : `conan remote add <REMOTE> https://api.bintray.com/conan/bincrafters/public-conan` as specified in the "set me up!" button on the page you linked.

[2019-04-10 15:06] Adnn commented on #727
I did not realize this was a different repository: thank you very much for pointing that out!

[2019-04-10 15:07] #727 closed

[2019-04-10 15:07] ericLemanissier commented on #727
you are welcome, it's true that it is not always obvious

[2019-04-10 16:13] uilianries commented on #698
I can confirm this bug. I've used Arch Linux and I'm able to reproduce the same behavior. I'll take look ASAP.

[2019-04-10 17:52] Croydon commented on #726
I realized that I used a misleading formulation earlier: It is a convention now that install() steps happen in package(), just got not applied to libcurl so far.

@mattgodbolt Could you please test curl/7.64.1?

[2019-04-10 18:00] uilianries commented on #698
Hi @Thibaulltt !

Our friend @grafikrobot answered this issue:

Which means when you build `boost_property_map` it will available in:

~/.conan/data/boost_cycle_group_d/1.69.0/bincrafters/testing/package/<hash>/property_map/include/

For example, `boost_system` will provide libraries and headers in:

~/.conan/data/boost_system/1.69.0/bincrafters/testing/package/<hash>/

[2019-04-10 18:30] mattgodbolt commented on #726
To be clear I'm testing `libcurl/7.64.1` (not `curl/7.64.1` which is what I ended up calling my own homegrown package, which confused my testing initially... :) ) ...

So.,... it now seems that `export-pkg` re-configures and rebuilds everything a second time :/

[code]

... and so on. Will get a repro case as per my steps above.

[2019-04-10 18:51] mattgodbolt commented on #726
[code]

I ran:
* `git checkout testing/7.64.1`
* `conan install . --build=OpenSSL`
* `conan imports .`
* `conan source .`
* `conan build .` (builds)...

Then...

* `conan package .`  <- this step starts the process all over again: configuring and building :face_with_head_bandage: The build is fast as the code has been already built, but still it means the configuration might just differ from the b

[2019-04-10 20:46] uilianries commented on #704
It's not easy to be fixed ...

I can update the apt arch to `armhf`, but `pkg-config` can't find the correct .pc files from system. Even when I set `PKG_CONFIG_PATH=/usr/lib/arm-linux-gnueabihf/pkgconfig`

Any ideas?

[2019-04-10 20:48] uilianries commented on #711
Before to request Conan Center inclusion, I think we should update Thrift to follow Bison idea: 1 project x 2 recipes (1 installer + 1 library).

[2019-04-10 23:04] Croydon commented on #726
I believe that autotools behaves now the same way that CMake behaves in this workflow. I'm not sure if there are more elegant ways, but if so they would mean a change of conventions across all packages.

That or autotools configure is not comparable with CMake configure, but I wouldn't be aware of that as I'm not familiar enough with autotools.

I'm guessing that this is acceptable for now, as bot

[2019-04-10 23:08] Croydon commented on #711
@uilianries What is the advantage here? Saving disk space?

[2019-04-11 07:44] #707 closed

[2019-04-11 08:45] Thibaulltt commented on #698
Thank you very much !

Is there any way to tell (before installing) if a package on bincrafters is part of a group like `boost_property_map` or a standalone package like `boost_system` ?

[2019-04-11 12:41] Adnn opened #728 "[Qt 5.9.7 w/ qtwebengine] The recipe's build is broken on Windows with Python 3"
We automating the build of our application relying on the Qt 5.9 (lts), trying to built it's latest release (5.9.7) on Windows 10 with qtwebengine module enabled.
Sadly, the recipe does not build when tested with the recommended Python 3, currently blocking because of a Python error: it is likely that qtwebengine modules requires Python 2.7 to build.

### Package and Environment Details
  * Packag

[2019-04-11 13:06] mattgodbolt commented on #726
I guess so; please close this off. It's surprising (and disconcerting) as all the rest of the state is captured during the `build` step, but I don't have any ideas.

[2019-04-11 13:08] #726 closed

[2019-04-11 15:59] Milerius opened #729 "[SFML 2.5.1] Unable to build on linux with clang-8"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **sfml/2.5.1@bincrafters/stable**
  * Operating System+version: **Linux Ubuntu 19.04**
  * Compiler+version: **clang++-8**
  * Conan version: **conan 1.14.1**
  * Python version: **Python 3.7.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom pr

[2019-04-11 16:29] sourcedelica opened #730 "gyp_installer TypeError: '>=' not supported between instances of 'tuple' and 'str'"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **gyp_installer/20181217**
  * Operating System+version: **MacOS 10.14.4**
  * Compiler+version: **Apple clang 10.0.1**
  * Conan version: **conan 1.14.3**
  * Python version: **Python 3.7.0**

### Conan profile (output of `conan profile show default`
[code]

### Steps to reproduce (Include if Applic

[2019-04-11 17:15] venabled opened #731 "[libelf] Download Broken - URL is no longer working"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libelf/0.8.13**
  * Operating System+version: **Macos**
  * Compiler+version: **clang-8**
  * Conan version: **conan 1.13.0-dev**
  * Python version: **Python 3.7.0**

Looks like the URL pointed to by the libelf package is no longer valid, [this project](https://github.com/spack/spack/issues/10757)

[2019-04-11 17:45] uilianries commented on #731
Hi @venabled !

Thanks for reporting this issue! I gonna provide a fix ASAP. Thanks!

[2019-04-11 19:04] uilianries commented on #711
It's not about disk usage, the problem is maintaining two separated projects which are related to the same thing. For us it looks normal, we can find easily I think, but most users will search for canon-thrift only.

For example, Protobuf created many confusion, I needed to explain about protobuf-installer many times.

[2019-04-11 20:55] #731 closed

[2019-04-11 20:57] uilianries commented on #731
Hi @venabled !

I new package will be released soon. We need to wait for CI service (Travis and Appveyor).

Regards!

[2019-04-11 21:27] venabled commented on #731
Awesome, thanks!

[2019-04-11 23:15] Croydon commented on #711
I don't mean why maintaining it in one repository, that is for sure better than having two repositories.

I mean why splitting it in two recipes (regular+installer). I know we had that discussion many, many times before... but I still don't see THE reason to do that. 🙈

[2019-04-12 00:04] uilianries commented on #711
Oh sorry, the problem is when you need to cross compile some code. The thrift app needs to read some input to generate the cpp files, but it runs in your host (amd64), however the libraries that you need are built for your target arch (arm).

For the thrift application you will need to use arch_build and for libraries you need arch. But you can't keep all together and install. Actually you could,

[2019-04-12 10:59] uilianries opened #732 "[bincrafters-conventions] Update Travis URL"
### Description of your feature

Since Bincrafters are using travis.com, many recipes contain travis.org on README file. The application Bincrafters Conventions could update the URL to use .com

[2019-04-12 12:30] Ansoulom opened #733 "[glm] Include dirs not found when using cmake_paths generator"
### Package and Environment Details
  * Package Name/Version: **glm/0.9.9.4**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio-15**
  * Conan version: **conan 1.9.1**
  * Python version: **Python 3.7.1**

### Conan profile
[code]

### Description
When I link the glm library to my own target, the compiler doesn't find the correct include folder.
In short: `#include

[2019-04-12 15:47] SSE4 commented on #668
@madebr ICU is now split into `icu` and `icu_installer` in order to suffice cross-compilation use-caset

[2019-04-12 15:47] #668 closed

[2019-04-12 15:48] SSE4 commented on #682
I am closing this, as inclusion requests were sent

[2019-04-12 15:48] #682 closed

[2019-04-12 17:13] Croydon commented on #732
It's true that at Bincrafters we are completely migrated to travis-ci.com, but most others aren't right now

The question is: Do we add such an update right now for us and others need to undo it (like conan-community, when executed there) or do we wait until Travis is migrating anyone?

[2019-04-12 17:17] uilianries commented on #732
We can put some filter for bincrafters and update again in the future

[2019-04-12 19:25] Croydon commented on #691
This might be issue
https://bugs.llvm.org/show_bug.cgi?id=24908

[2019-04-12 19:27] Croydon commented on #691
I'm not sure if a workaround is feasible, otherwise I will simply remove support for these older Clang versions from grpc

[2019-04-12 21:05] maurodelazeri opened #734 "Latest updates for conan-grpc and conan-protobuf"
I needed to use the latest protobuf and grpc, so I had to update the recipes ...
In addition, the examples were using syntax 2 and I also updated to use syntax 3

Here the repos for those interested

https://github.com/Zinnion/conan-grpc (3.7.1)
https://github.com/Zinnion/conan-protobuf (1.19.1)

ps: I removed the need to include this https://github.com/bincrafters/conan-protoc_installer recipe, p

[2019-04-12 21:05] maurodelazeri commented on #734
closing

[2019-04-12 21:05] #734 closed

[2019-04-12 23:22] #732 closed

[2019-04-12 23:45] Croydon commented on #722
I did not had in mind to automate this, as it is too complex to do such a thing and doesn't justify what we get from it.

But I would implement a search for specific, hard-coded packages if we do have Conan packages for them and users will get a notice that they should probably replace the system_requirement with a Conan requirement.

Workflow for adding new ones to the list could be:
  * whenever

[2019-04-12 23:54] Croydon commented on #691
@uilianries Ping? :)

Did compiling Protobuf itself without this patch fail?

[2019-04-13 00:21] uilianries commented on #722
I totally agree and I think it's possible to filter by package name.

I don't have a good how to filter the correct package name. For example, we could install libasound-dev, but our Conan package is alsa. Maybe we could filter by name or even creating a table with most common names.

[2019-04-13 10:43] SSE4 commented on #687
added option to link with ICU: https://github.com/bincrafters/conan-libxml2/commit/2ca0da93feda01d433b43e40c081a7ddd25e9671
it's off by default, as ICU is not yet in conan-centre

[2019-04-13 10:43] #687 closed

[2019-04-14 19:13] ericLemanissier commented on #728
I'm sorry, but I don't know anything about qtwebengine, nor on chromium. Looking quickly in the source code, it looks like qt should try to detect python2, then python, then check if it is the correct version : https://code.qt.io/cgit/qt/qtwebengine.git/tree/configure.pri?h=v5.9.7#n20 and there should be a warning otherwise: https://code.qt.io/cgit/qt/qtwebengine.git/tree/configure.json?h=v5.9.7#n

[2019-04-15 10:23] SSE4 commented on #487
@davidtazy may you try with `icu/63.1` (newer version)?

[2019-04-16 11:35] uilianries commented on #691
I'll take a look in Protobuf today, sorry my delay

On Fri, Apr 12, 2019 at 8:55 PM Croydon <notifications@github.com> wrote:

--
Cordialmente,

Uilian Ries
<uilianries@gmail.com>

[2019-04-17 15:02] CallMarl opened #735 "Unable to compilate with Conan-qt"
### Package and Environment Details (include every applicable attribute)
[code]
### Profile
[code]
### Conanfile.txt
[code]
### CMakeLists.txt
[code]

### Question Description
I'am completely block i'am trying to compilate a very simple main.cpp file with the QT librairie but an error occur during the link step see below:

[code]
More detail about the command line:
[code]

[2019-04-17 15:06] ericLemanissier commented on #735
Unfortunately Qt is quite restrictive on the way to write your cmakelists.txt. Please follow instruction on https://doc.qt.io/qt-5/cmake-manual.html
You can also take a look at https://github.com/bincrafters/conan-qt/blob/stable/5.12.2/test_package/CMakeLists.txt

[2019-04-17 15:53] CallMarl commented on #735
Thank you a lot for the link. I solve the problem with it:

###  Conanfile.txt

[code]

[2019-04-17 16:03] ericLemanissier commented on #735
You are welcome !

[2019-04-17 16:03] #735 closed

[2019-04-17 22:05] Croydon commented on #691
TODO for the future: Check if we still need this atomic workaround, see e.g. https://github.com/inexorgame/conan-grpc/issues/5#issuecomment-484256097

conan-grpc uses now a CMakeLists.txt patch to get the atomic workaround for Clang from conan-protobuf (explicit linking against atomic)

[2019-04-17 22:05] #691 closed

[2019-04-21 02:10] #639 closed

[2019-04-21 17:48] Milerius opened #736 "[SFML 2.5.1]: missing crucial option when static building on osx"
### Description of Problem, Request, or Question

https://github.com/SFML/SFML/pull/1485

Seem's that you completly ignore this option, so when using static library on osx the application crash.

-ObjC is mandatory

### Package Details (Include if Applicable)
* Package Name/Version: **sfml/2.5.1**
* Operating System: **OSX**
* Operation System Version: **Mojave**
* Compiler+version: **clang-8**
*

[2019-04-21 20:15] a-teammate opened #737 "[OpenAL] Linker Error if sndio-dev was installed system-wide before"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openal/1.19.0@bincrafters/stable**
  * Operating System+version: **Linux Ubuntu 16.04**
  * Compiler+version: **gcc-7.4**
  * Conan version: **conan 1.11.2**
  * Python version: **Python 2.7.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom p

[2019-04-21 22:23] uilianries commented on #736
is it a flag or a library? it's possible to see when cmake enter in ` if ((NOT BUILD_SHARED_LIBS) AND SFML_OS_MACOSX) `, but I can't find that flag when building.

[conan-sfml.log](https://github.com/bincrafters/community/files/3101667/conan-sfml.log)

[2019-04-22 03:58] Milerius commented on #736
It's an LDFLAGS

[2019-04-22 09:10] SSE4 commented on #736
applied: https://github.com/bincrafters/conan-sfml/commit/4451fb765125d7ee588c86d7b39ec0c83727a190

[2019-04-22 09:11] SSE4 commented on #730
@uilianries may you take a look?

[2019-04-22 09:12] SSE4 commented on #729
weird error. @danimtb any ideas?

[2019-04-22 09:13] Milerius commented on #729
build --missing option seem's to work for me here.

[2019-04-22 11:36] uilianries commented on #736
@SSE4 if you are customizing cpp_info, I think the [original patch](https://github.com/SFML/SFML/pull/1485/files#diff-fa287af4336e44f3f1af1934b90e7fd8R234) should use PUBLIC instead, right?

[2019-04-22 11:45] SSE4 commented on #736
@uilianries definitely, otherwise consumers will fail to link

[2019-04-22 16:16] cornytrace opened #738 "[Qt / qt] Windows conan gets hung up on capitalization"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.0@bincrafters/stable**
  * Operating System+version: **Windows 10 x64**
  * Compiler+version: **N/A**
  * Docker image: **N/A**
  * Conan version: **conan 1.14.3**
  * Python version: **Python 3.6.4**

### Conan profile (output of `conan profile show default` or `conan profile show <profile

[2019-04-22 16:17] p-groarke opened #739 "Upstream Update: GLFW 3.3"
### Package Details
  * Package Name: **GLFW**
  * Latest available Version: **3.3**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-04-22 16:54] uilianries commented on #739
New branch started here: https://github.com/bincrafters/conan-glfw/tree/testing/3.3

[2019-04-23 04:22] Josh-Thompson opened #740 "[SDL2] Inclusion of SDL2 net, rtf, and mixer modules?"
Hello,

Currently Bincrafters has Conan recipes for the main SDL2 project, as well as for its SDL2_image and SDL2_ttf modules. There are three remaining official SDL2 modules: net, rtf, and mixer. I would love to see recipes for these created as well, so that the entire SDL2 official library is supported by Bincrafters. I don't know a great deal about creating conan recipes but I would be willing

[2019-04-23 11:07] CallMarl opened #741 "Qt compilation on windows"
### Package and Environment Details (include every applicable attribute)
[code]
[code]

### Conanfile.txt
[code]

### Question Description

Bellow the error message I have. I'm trying to compilate, QT librairie on windows, with MinGW, libjpeg is needed by but I can't install. I know that the $PATH environment var is from the WSL distribution. But in other topic I read [#418](https://github.com/bin

[2019-04-23 12:24] uilianries commented on #730
Yes, I'll take a look

[2019-04-23 12:50] uilianries commented on #730
That's weird, I can't reproduce the same error, using a very similar scenario:

#### Enviroment

System Version: macOS 10.14.4 (18E226)
Kernel Version: Darwin 18.5.0
Python 3.7.0]
Clang: Apple LLVM version 10.0.1
Conan: 1.14.3

[code]

Anyway, it's to understand that `XcodeVersion` is returning a tuple which can't be checked against a string. I'll provide a patch to convert that return in a string

[2019-04-23 12:54] uilianries commented on #730
@sourcedelica Where did you find LibUV? Bincrafters only provides **libuv**. As you are running a Unix system the match case matters.

[2019-04-23 13:50] uilianries commented on #730
We will need two PRs:

GYP: https://github.com/bincrafters/gyp/pull/3
Conan Gyp Installer: TODO

[2019-04-23 16:51] izzyreal opened #742 "portaudio/v190600.20161030@bincrafters/stable WASAPI support?"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: portaudio/v190600.20161030@bincrafters/stable
  * Operating System+version: Windows 10.0.17763
  * Compiler+version: Microsoft (R) C/C++ Optimizing Compiler Version 19.16.27030.1 for x64
  * Conan version: Conan 1.14.3
  * Python version: Python 3.7.3

### Question Description
Does this package suppo

[2019-04-23 17:38] uilianries commented on #730
@sourcedelica A new version is available. Please, update and try again:

    conan install --update --remote bincrafters libuv/1.25.0@bincrafters/stable

[2019-04-23 19:07] ericLemanissier commented on #741
QWebEngine is compatibe only with msvc on windows.
Regarding jpeg, it is an optional part of the recipe, so you can use qt:with_libjpeg=False option to disable it.
Regarding wsl, it is a native linux system, so if you compile from wsl shell, it will create linix binaries (except if you cross-compile to windows, but it is provably not the simplest solution). You probably want to use msys instead.

[2019-04-23 19:13] ericLemanissier commented on #738
The actual problem is that you have a `Qt` folder in your local cache. The solution (if  it can be done) is to remove this folder. This is basically this issue https://github.com/conan-io/conan/issues/1557

[2019-04-24 02:24] Croydon commented on #740
Hi there!

sdl2_mixer is work in progress: https://github.com/bincrafters/conan-sdl2_mixer

Pull requests are always welcome!

In the case of sdl2_mixer I believe we are still missing some dependencies which we need to create first. @SSE4 know more about that

For sdl2_net and sdl2_rtf I would recommend to create atomic issue on the wishlist: https://github.com/conan-io/wishlist/issues

[2019-04-24 17:12] uilianries commented on #736
https://github.com/SFML/SFML/pull/1579

[2019-04-24 20:21] Josh-Thompson commented on #740
Alright, will do! Thanks :)

[2019-04-24 20:55] SebastianMosiej opened #743 "gTest - Please, add Windows MinGW gcc 7.0 binary"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **gtest/1.8.1@bincrafters/stable**
  * Operating System+version: **Windows 10 64b**
  * Compiler+version: **gcc-7.0**
  * Docker image: **conanio/gcc7**
  * Conan version: **Conan 1.11.0**
  * Python version: **Python 3.7.0**

### Description of your feature
[settings]
os=Windows
os_build=Windows
arc

[2019-04-25 00:31] mmha opened #744 "Inclusion Request: SPIRV-Headers"
### Package Details
  * Package Name: **spirv-headers**
  * Operating Systems+versions: **Any (Header Only)**
  * Compiler support: **gcc-5.4, gcc6, clang7, MSVC**
  * Conan recipe repository: **https://github.com/mmha/conan-spirv-headers**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it applies to your Conan recipe
  * [x] I want that my Conan recipe

[2019-04-25 07:27] prsolucoes opened #745 "Upstream Update: sqlite3 3.28.0"
### Package Details
  * Package Name: **sqlite3**
  * Latest available Version: **3.28.0**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-04-25 10:30] IceflowRE opened #746 "Upstream Update: boost 1.70"
### Package Details
  * Package Name: **boost**
  * Latest available Version: **1.70**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-04-25 20:20] CallMarl commented on #741
Thank you a lot for your answer.
I spend time to take look of MCVS. So now I update my profile and it looks like:

[code]

To install the MCSV compilation tool I use the choco package manager and this package: [vcredist140](https://chocolatey.org/packages/vcredist140)

I spent a lot of time finding the compiler path to include it in PATH var. The path looks like:

[code]

All these packages work w

[2019-04-26 08:45] jmarrec commented on #746
More broadly, please release the 1.70 version for all boost individual recipes (eg  [boost_system](https://bintray.com/bincrafters/public-conan/boost_system%3Abincrafters) is also at 1.69 still).

[2019-04-26 14:57] mmha opened #747 "Inclusion Request: opencl-headers"
### Package Details
  * Package Name: **opencl-headers**
  * Operating Systems+versions: **Header Only**
  * Compiler support: **Header Only**
  * Conan recipe repository: **https://github.com/mmha/conan-opencl-headers**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it applies to your Conan recipe
  * [x] I want that my Conan recipe is getting included

[2019-04-26 15:08] mmha opened #748 "Inclusion Request: opencl-icd-loader"
### Package Details
  * Package Name: **opencl-icd-loader**
  * Operating Systems+versions: **Linux Ubuntu 16.04, Ubuntu 18.04, Windows, macOS**
  * Compiler support: **gcc-5.4, gcc6, clang7, MSVC**
  * Conan recipe repository: **https://github.com/mmha/conan-opencl-icd-loader**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it applies to your Conan rec

[2019-04-26 20:47] uilianries commented on #747
Done:

https://github.com/bincrafters/conan-opencl-headers
https://bintray.com/bincrafters/public-conan/opencl-headers:bincrafters

Thanks @mmha

[2019-04-26 20:47] #747 closed

[2019-04-26 21:04] mmha commented on #748
Okay so I just learned that in contrary to the OpenCL spec, the ICD loader's `clGetPlatformIDs`  returns an error code if no implementation is found, regardless of whether the `platforms` argument is `nullptr` or not.

I ignore the return value in my test package now, Travis should run through this time.

[2019-04-26 21:34] Croydon commented on #748
This sounds reasonable to me. Ambiguous names are a problem

[2019-04-26 22:08] uilianries commented on #748
Excellent point!

Yes, I think we should rename it, but I would prefer **khronos-opencl-icd-loader**

[2019-04-26 22:09] uilianries commented on #748
Also, the same should be applied for opencl-headers

[2019-04-26 22:29] uilianries commented on #747
Moved to:

https://github.com/bincrafters/conan-khronos-opencl-headers
 bintray.com/bincrafters/public-conan/khronos-opencl-headers:bincrafters

[2019-04-27 01:16] uilianries commented on #748
Done:

https://github.com/bincrafters/conan-khronos-opencl-icd-loader
https://bintray.com/bincrafters/public-conan/khronos-opencl-icd-loader%3Abincrafters

[2019-04-27 01:16] #748 closed

[2019-04-27 02:37] mmha opened #749 "Inclusion Request: khronos-opencl-clhpp"
### Package Details
  * Package Name: **khronos-opencl-clhpp**
  * Operating Systems+versions: **Header Only**
  * Compiler support: **Header Only (Any C++11 compiler)**
  * Conan recipe repository: **https://github.com/mmha/conan-khronos-opencl-clhpp/**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it applies to your Conan recipe
  * [x] I want that m

[2019-04-27 03:23] Croydon commented on #745
Will be available shortly (CI still runs at the time of writing).

[2019-04-27 03:23] #745 closed

[2019-04-27 03:27] Croydon commented on #729
We don't have Clang 8 prebuilds for any package, but this error is another one

[2019-04-27 04:23] Croydon commented on #525
No feedback in a long time. Closing

[2019-04-27 04:23] #525 closed

[2019-04-27 05:05] Croydon commented on #739
Will be available shortly https://travis-ci.com/bincrafters/conan-glfw/builds/109832029

[2019-04-27 05:05] #739 closed

[2019-04-27 13:54] p-groarke commented on #739
thx :)

[2019-04-27 17:31] Croydon commented on #740
mixer issue: https://github.com/conan-io/wishlist/issues/71

[2019-04-27 17:31] #740 closed

[2019-04-27 17:42] Croydon commented on #733
Did you had a look into the `.conan/data/glm/0.9.9.4/g-truc/stable/package/5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9/include` directory to see if the files exist?

[2019-04-27 17:56] Croydon commented on #738
Unfortunately, this is an annoyance in the transition but can't be worked around on Windows. As @ericLemanissier said if you don't rely on it anymore remove the upper case Qt (`conan remove Qt/*`)

To prevent such things in the future we have a policy that all new packages getting lower case names

[2019-04-27 17:56] #738 closed

[2019-04-27 17:59] Croydon commented on #713
Please provide a link to source and the full build logs

[2019-04-27 18:33] Ansoulom commented on #733
Yes, the files exist.
I realize now what the problem is. The `FindGLM.cmake` script doesn't actually define a target to link against. I thought that `target_link_libraries(glmtest PRIVATE glm` worked because CMake didn't actually give me any error messages, even though the glm target apparently doesn't exist.
`target_include_directories(glmtest PRIVATE ${GLM_INCLUDE_DIR}` works though.

This makes

[2019-04-27 21:29] Croydon commented on #719
2.10.12 should be available in a while

https://travis-ci.com/bincrafters/conan-cpprestsdk/builds/109857813
https://ci.appveyor.com/project/bincrafters/conan-cpprestsdk/builds/24147540

https://github.com/bincrafters/conan-cpprestsdk/tree/stable/2.10.12

[2019-04-27 21:29] #719 closed

[2019-04-28 08:25] prsolucoes opened #750 "Upstream Update: cpprestsdk 2.10.13"
### Package Details
  * Package Name: **cpprestsdk**
  * Latest available Version: **2.10.13**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-04-28 09:03] ph1ll opened #751 "wxWidgets 3.1.2 Conan fails to download GCC binary packages"
Hi,

I am having an issue with `wxwidgets/3.1.2@bincrafters/stable`, in that the binary packages are failing for GCC - both Debug and Release for GCC-7 and GCC-8. I'm new to Conan, so have struggled to debug the error further, but it appears that the package downloads and then possibly fails to unpack. Note that `wxwidgets/3.1.1@bincrafters/stable` works without issue.

I have created a GitHub rep

[2019-04-28 11:53] Croydon commented on #750
Available soon

https://travis-ci.com/bincrafters/conan-cpprestsdk/builds/109877916

[2019-04-28 11:53] #750 closed

[2019-04-28 15:14] Croydon opened #752 "bincrafters-conventions: Check default+installer hybrids recipes as well"
We started recently with having default+installer hybrids within a single repository. bincrafters-conventions checks and updates don't handle this correctly yet

[2019-04-28 19:17] Croydon opened #753 "bincrafters-package-tools: Refactor to use conan inspect instead of in file search"
Refactors parts in bincrafters-package-tools like these: https://github.com/bincrafters/bincrafters-package-tools/blob/1942bcade92418b9dc2cdf2693cd3c1fc84fdccc/bincrafters/build_shared.py#L34

to use conan inspect https://docs.conan.io/en/latest/reference/commands/misc/inspect.html

**Reasoning:** Currently, it reads the conanfile completely and makes then a simple search. This doesn't allow us to

[2019-04-29 08:21] nkshigeru opened #754 "[libjpeg] Error with Visual Studio x86"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libjpeg/9c**
  * Operating System+version: **Windows 10 1803**
  * Compiler+version: **Visual Studio 15 2017**
  * Conan version: **conan 1.14.1**
  * Python version: **Python 3.7.3**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is i

[2019-04-29 08:33] nkshigeru commented on #754
Looking at AppVeyor log,
https://ci.appveyor.com/project/BinCrafters/conan-libjpeg/build/job/bpqex8jeyokk5cu8?fullLog=true#L284

it seems that the 64bit flags `-D_AMD64_=1 -DWIN64 -D_WIN64` are enabled even on x86 build.

[2019-04-29 10:51] nkshigeru commented on #751
I am not Linux user, but there is same issue on mac.
I found that `wxrc` and `wx-config` symlinks in binary packages are absolute so extracting package will fail when downloading.

See bincrafters/conan-wxwidgets#9

[2019-04-29 10:55] #741 closed

[2019-04-29 13:45] acdemiralp opened #755 "[libiconv] Invalid configuration: This recipe needs a Windows Subsystem to be compiled."
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libiconv/1.15
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019 (msvc142)
  * Docker image: Unknown
  * Conan version: 1.14.4
  * Python version: Python 2.7

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile i

[2019-04-29 14:32] Croydon commented on #755
This is the expected behaviour https://github.com/bincrafters/conan-libiconv/blame/ca0738cd79af07d4f72a3d74e561d7b3beea4ca4/conanfile.py#L119

AFAIK neither cygwin nor mysys2 are included automatically, because they are kinda big and people may prefer to use system installations for those.

The error messages suggest to put either mysys2 or cygwin directly to your build_requires. Is this working f

[2019-04-29 15:55] acdemiralp commented on #755
The problem is I have msys2 installed locally and have it in my path (running msys2 on cmd launches an msys2 console) yet it complains. I have not tried the conan msys2 as you stated, and will try it and update now.

[2019-04-29 16:16] acdemiralp commented on #755
I have added the build_requires to my conanfile.py, yet nothing changed. Perhaps its because its a chain dependency? I require FFMPEG, which in turn requires libiconv, which in turn requires msys2 or cygwin?
[code]

[2019-04-29 16:52] danimtb commented on #729
Yes, this could happen if you rename or remove a remote where the recipe was downloaded from and then try to rebuild it from sources. As Conan stores the remote used in the registry, it could fail.

However, this was supposed to be fixed by https://github.com/conan-io/conan/pull/4568

Anyway, to solve the issue it would be a matter of removing SFML package from the cache and trying the install aga

[2019-04-29 17:13] acdemiralp opened #756 "[ffmpeg] ConanException: Error 2 while executing make -j12 on Windows 10."
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: ffmpeg/4.1
  * Operating System+version: Windows 10
  * Compiler+version: MSVC 2019 (v142)
  * Docker image: Unknown
  * Conan version: 1.14.4
  * Python version: Python 2.7

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[sett

[2019-04-29 18:27] uilianries commented on #754
Hi @nkshigeru !

Thanks for reporting this issue. A new fix is available here:

https://github.com/bincrafters/conan-libjpeg/pull/9

It will be merged soon.

Regards!

[2019-04-30 05:26] #754 closed

[2019-04-30 05:54] SSE4 commented on #756
hi @acdemiralp  unfortunately build log seems to be too short to say anything
is there anything in output above this line?
[code]

[2019-04-30 05:55] SSE4 commented on #729
@Milerius could you try to remove it from cache as @danimtb suggests?

[2019-04-30 05:56] Milerius commented on #729
I will try today when i'm coming back to work

[2019-04-30 05:59] SSE4 commented on #755
@acdemiralp you need to do one of the following:
1. add either `msys2_installer/latest@bincrafters/stable` or `cygwin_installer/1.9.2@bincrafters/stable` to the `[build_requires]` section of your default conan profile (`%USERPROFILE%\.conan\profiles\default`)
2. if you have an existing MSYS2/Cygwin installation, define `CONAN_BASH_PATH` environment variable in the `[env]` section of your default c

[2019-04-30 09:35] acdemiralp commented on #755
That in fact solved it, thank you SSE4! Since it is due to lack of my knowledge of build_requires, I'm closing this issue.

[2019-04-30 09:35] #755 closed

[2019-04-30 09:42] Adnn commented on #728
Thank you for your response, and sorry I did not produce the requested information.

It turns out that it really is a matter of Qt build system relying on the Python version found in the PATH, and QtWebEngine requiring 2.7. Making a `python27_installer` solves the issue, sadly my implementation of this is way to naive to be shared ; )

I guess a way to actually fix the Qt recipe would be to add a

[2019-04-30 09:59] acdemiralp commented on #756
The problem was not having msys2 and yasm in the default conan profile. Adding them fixed it. The new profile looks like:
[code]

[2019-04-30 09:59] #756 closed

[2019-04-30 11:34] uilianries commented on #754
Hi @nkshigeru !

Please, update your package, a new version is available for download.

[2019-04-30 12:26] CallMarl commented on #728
[code]

[2019-04-30 12:51] ericLemanissier commented on #728
thanks, you should also have error message `Python version 2 (2.7.5 or later) is required to build QtWebEngine.` above that.
I don't think the recipe should be corrected on this, because the situation is properly identified, and the error is explicitly mentioned. What is more, I don't know of any existing `python_installer` package, and it does not seem very useful. What I could do is make the err

[2019-04-30 14:03] nkshigeru commented on #754
@uilianries Thanks!
It's working as expected.

[2019-04-30 14:08] uilianries opened #757 "[bincrafters-conventions] Check for conan model Version"
### Description of your feature

Conan will provide a Version helper on 1.15, which means we should move `from conans.model.version import Version` to `from conan.tools import Version`

https://github.com/conan-io/conan/pull/4963

[2019-04-30 14:20] uilianries commented on #756
I know this issue is already closed, but 12 jobs ?! Incredible, I would say!

[2019-04-30 16:24] SSE4 commented on #751
merged

[2019-04-30 16:24] #751 closed

[2019-04-30 17:17] madebr commented on #624
Use *default+installer hybrids*

[2019-04-30 18:23] ph1ll commented on #751
Many thanks for the help and quick resolution, the builds are now all passing (https://travis-ci.org/ph1ll/wx3.1.2gcc/builds/525549333)

[2019-05-01 02:06] prsolucoes opened #758 "Upstream Update: imgui 1.69"
### Package Details
  * Package Name: **imgui**
  * Latest available Version: **1.69**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-05-01 08:54] neobrain opened #759 "[sdl2] Settings not compatible with all platforms"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **sdl2/2.0.9**
  * Operating System+version: **openSUSE Tumbleweed** / **Android**
  * Conan version: **Conan 1.14.1**
  * Python version: **Python 3.7.2**

### Question Description

I use SDL2 with the setting `sdl2:nas=False` since sdl2:nas requires dependencies that openSUSE does not provide. Sinc

[2019-05-01 08:58] SSE4 commented on #759
as an alternate thing, you may specify `*:nas=False` which don't fail if there is no such an option in package

[2019-05-01 09:29] SSE4 commented on #758
pushed, thanks for the update https://github.com/bincrafters/conan-imgui/commits/testing/1.69

[2019-05-01 09:37] SSE4 commented on #743
added, thanks: https://github.com/bincrafters/conan-gtest/commit/1533f772f1f2b2ac9be28287445554785a5e9ad4

[2019-05-01 09:44] SSE4 commented on #742
as I can see from build logs, it wasn't compiled: https://ci.appveyor.com/project/BinCrafters/conan-portaudio/build/job/n2krj5yiq1da52b2?fullLog=true
but `PA_USE_WASAPI` should be on by default (according to the https://app.assembla.com/spaces/portaudio/git/source/master/CMakeLists.txt#ln205)
need to debug a bit...

[2019-05-01 09:58] SSE4 commented on #742
okay, fixed at : https://github.com/bincrafters/conan-portaudio/commit/148ba46e87585f957bd0bea964d6f7da1267abed
issue was usage of macro `MSVS` instead of `MSVC` in their CMakeLists.txt

[2019-05-01 10:00] SSE4 commented on #757
seems like it's too early to do it now, as even 1.15 isn't released yet

[2019-05-01 10:01] SSE4 commented on #737
yeah, seems to be an auto-detection issue
ideally, sndio should be also used from conan package

[2019-05-01 11:51] ltjax opened #760 "[protobuf] PDB files are not packaged"
Analogous to issue #387, but for protobuf - linker will generate the warning LNK4099.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **protobuf/3.5.2**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2019**
  * Conan version: **conan 1.14.3**
  * Python version: **Python 3.7.3**

### Conan profile
[settings]
ar

[2019-05-01 18:36] SebastianMosiej commented on #743
Thank you. It's already available.

[2019-05-01 18:36] #743 closed

[2019-05-01 23:49] Croydon commented on #758
The version is now available

[2019-05-01 23:49] #758 closed

[2019-05-02 15:15] uilianries commented on #757
Yes, thanks for updating its status.

[2019-05-02 15:18] uilianries commented on #760
Hi @ltjax

Usually we don't export PDB files, only when required by some user. I'll update the recipe.

[2019-05-02 17:55] wdobbe opened #761 "[qt] build error on Linux with option with_doubleconversion=False"
### Package and Environment Details
  * Package Name/Version: **qt/5.12.3**
  * Operating System+version: **Linux OpenSuse Tumbleweed**
  * Compiler+version: **gcc-8.2**
  * Conan version: **conan 1.14.4**
  * Python version: **Python 3.7.2**

### Conan profile
[settings]
os=Linux
os_build=Linux
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=8
compiler.libcxx=libstdc++11
build_type=Re

[2019-05-02 18:17] ericLemanissier commented on #761
Thanks for having found the error about sscanf_l and snprintf_l. it's not so easy with all the logs coming after. The easiest solution to your problem is to enable doubleconversion, but you already found this out yourself.
Could you please send the full log after `Check config.log for details.`, or at least the part which mentions `xlocale`  ?

[2019-05-02 18:49] ltjax commented on #760
Hi Uilian!
Thank you!. What's the rationale for not including them? I guess I would be the kind of user that wants this for all the libs (and I was gonna make an issue for a few other libs I'm using) - but then again, maybe I'm just missing something?

[2019-05-02 19:33] qno opened #762 "Upstream Update: libzip 1.5.2"
### Package Details
  * Package Name: **libzip**
  * Latest available Version: **1.5.2**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-05-02 20:07] uilianries commented on #760
Yes, please read this issue to understand better: https://github.com/conan-io/conan/issues/4957

Also, few people request pdb files, which could increase the package size.

[2019-05-02 22:39] oiltanker opened #763 "[OpenAL] option does not exist"
### Package and Environment Details
  * Package Name/Version: `openal/1.18.2@bincrafters/stable`
  * Operating System+version: Windows 10 pro
  * Compiler+version: TDM GCC 5.1.0
  * Conan version: `Conan version 1.14.5`
  * Python version: `Python 3.7.3`

### Conan profile
[code]
### Steps to reproduce
[code]

### Logs
Full log: [conan_cmake_sfml.log](https://github.com/bincrafters/community/files

[2019-05-02 22:55] oiltanker commented on #763
### Possible solution
#### replace line 43:
from: `if self.settings.compiler != 'Visual Studio':`
to: `if self.settings.os != "Windows":`

[2019-05-02 23:44] oiltanker commented on #763
Yes, that is indeed the case.

[2019-05-03 00:17] Lawrencemm commented on #624
@madebr Assuming you have a project that depends on this package,

in you project, what is the way that you utilise the glslangvalidator to compile your shaders?
At the moment, in my project, I build shaders with cmake. Unfortunately this means that I have to copy the glslangvalidator executable into my cmake binary directory, add_executable(glslangvalidator) and then specify an imported location

[2019-05-03 04:39] #760 closed

[2019-05-03 06:52] Croydon commented on #763
1.19.0 already had a fix for this. I back ported it to 1.18.2. Please re-test

[2019-05-03 08:57] neobrain commented on #759
That's a nice workaround. I'll adopt this for my project. (Specifically, I'm using the somewhat more specific`sdl2*:nas=False`.) Thanks!

It still seems off to me to have the options inconsistent between different platforms. I see that it's weird to have options that don't do anything, but to me that seems like the lesser evil compared to having conanfiles being portable only via workarounds. Am I

[2019-05-03 10:07] izzyreal commented on #742
Supercool, I'll go back to portaudio then. Was trying qno's rtaudio for a bit, but I don't think it's as mature yet.

[2019-05-03 10:21] ericLemanissier commented on #761
On my machine (ubuntu WSL), I get the following:
[code]
So it only confirms the error message you got `Your C library does not provide sscanf_l or snprintf_l.`
I can't see what the recipe can do for you here. Why don't you just use doubleconversion ?

[2019-05-03 12:31] wdobbe commented on #761
Hi Eric,

Yes, this is a very low priority bug report, ignore and close it if you want. However, if doubleconversion is required on (many) Linux machines, I think somehow that should be more clear or remove the option on Linux altoghether.

I wanted to build Qt as lean-and-mean as possible so turned off a bunch of options, then got this build error. It took some time to find out the cause.

[2019-05-03 12:33] wdobbe commented on #761
The xlocalescanprint test on my machine:
[code]

[2019-05-03 12:42] ericLemanissier commented on #761
One of the thing I have on the todolist is to stop the log directly after the error, so in your case the last output in your console would be
[code]
That would have probably saved you some time to fix the problem.
That said, it seems that `xlocale.h` should never have been included in the first place, as mentioned in https://sourceware.org/glibc/wiki/Release/2.26#Removal_of_.27xlocale.h.27
Maybe y

[2019-05-03 12:46] wdobbe commented on #761
Yes, I was just looking into that as well.
I will create an issue for that in the qt bug tracker.

[2019-05-03 13:23] #761 closed

[2019-05-03 14:56] prsolucoes opened #764 "libpng - latest version don't need replace for arm"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **linbpng/1.6.36**
  * Operating System+version: **Linux Raspbian**
  * Compiler+version: **gcc-5.4**
  * Docker image: **conanio/gcc7**
  * Conan version: **conan 1.14.5**
  * Python version: **Python 2.7.10**

### Conan profile (output of `conan profile show default` or `conan profile show <profile

[2019-05-03 15:00] prsolucoes opened #765 "Upstream Update: libpng 1.6.37"
### Package Details
  * Package Name: **libpng**
  * Latest available Version: **1.6.37**

Fixed vulnerability:
http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-7317
and
http://www.libpng.org/pub/png/libpng.html

![image](https://user-images.githubusercontent.com/395096/57146090-ea9c1700-6d9a-11e9-8986-575305230a6c.png)

OBS:
This library need be updated only after this fix in conanfile.py (

[2019-05-03 15:45] wdobbe opened #766 "[qt] Check for opensuse fails on Suse Linux Enterprise Server"
### Package and Environment Details
  * Package Name/Version: **qt/5.12.3**
  * Operating System+version: **SUSE Linux Enterprise Server 12 SP4**
  * Compiler+version: **gcc-8.2**
  * Conan version: **conan 1.14.5**
  * Python version: **Python 3.7.2**

### Conan profile

### Steps to reproduce
Enter following commands on a Suse Linux Enterprise Server (any version)
[code]

tools.os_info.linux_dis

[2019-05-03 15:48] oiltanker opened #767 "[SFML 2.5.1] Broken build with TGM GCC 5.1.0 on Windows"
### Issue
[code]
Causes application to crash in `new_allocator.h`:
[code]

### Package and Environment Details
  * Package Name/Version: `sfml/2.5.1@bincrafters/stable`
  * Operating System+version: `Windows 10 Pro`
  * Compiler+version: `TDM GCC 5.1.0`
  * Conan version: `Conan version 1.14.5`
  * Python version: `Python 3.7.3`

### Conan profile
[code]

### Steps to reproduce
Conanfile:
[code]
1

[2019-05-03 15:55] oiltanker commented on #763
Yes, it worked. It is not up to me to update. This version of package is required by [bincrafters/conan-sfml](https://github.com/bincrafters/conan-sfml).

[2019-05-03 16:39] Croydon commented on #763
I pushed an update. Thanks for pointing out.

[2019-05-03 16:39] #763 closed

[2019-05-03 16:42] oiltanker commented on #767
I am unable to get to the root of the problem.
Steps I attempted:
* Added CMake definition: `cmake.definitions['SFML_USE_SYSTEM_DEPS'] = True`
* Completely hidden `extlibs` folder and commented lines 115 and 117

[2019-05-03 17:23] SSE4 commented on #764
pushed to testing: https://github.com/bincrafters/conan-libpng/commit/761a3687359cb5846b942a4b780140a656b6e133

[2019-05-03 19:03] SSE4 commented on #765
added https://github.com/bincrafters/conan-libpng/tree/stable/1.6.37

[2019-05-03 20:41] oiltanker commented on #767
### Update
I was able to compile SFML by hand:
1. I deleted all libraries in `extlibs` except from `libs-mingw/x64`
2. Deleted all per-compiled libraries
3. Placed there all libraries compiled automatically by conan

### Issue
I was not able to make audio to work. It seems like `libOpenAL32.a` does not work properly, as it gives me `undefined reference to `__imp_al[...]'`.

[2019-05-03 21:51] mmha commented on #749
https://bintray.com/bincrafters/public-conan/khronos-opencl-clhpp%3Abincrafters

https://github.com/bincrafters/conan-khronos-opencl-clhpp

This this has been added, we can close this issue now. Thanks for adding it!

[2019-05-03 21:51] #749 closed

[2019-05-04 08:28] SSE4 commented on #765
published

[2019-05-04 08:28] #765 closed

[2019-05-04 08:28] SSE4 commented on #764
changes were applied

[2019-05-04 08:28] #764 closed

[2019-05-04 22:43] ManuelMeraz opened #768 "[conan-doxygen_installer] Find_package (solution inside)"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **doxygen/1.18.15**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **clang 6.0**
  * Docker image: n/a
  * Conan version: **conan 1.14.4**
  * Python version: **Python 3.6.7**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if c

[2019-05-05 06:09] izzyreal commented on #742
I don't think I understand how to apply this fix, or the fix doesn't work.

I've copied the `conanfile.py` contents from `148ba46` into `C:\Users\izmar\.conan\data\portaudio\v190600.20161030\bincrafters\stable\export\conanfile.py`, cleaned my workspace and editable packages, rebuilt everything and I'm still getting the same issue. Everything works fine with DirectSound but not WASAPI.

[2019-05-05 08:35] SSE4 commented on #742
@izzyreal could you provide your build log? does it contain `pa_win_wasapi.c`? appveyor currently builds it: https://ci.appveyor.com/project/bincrafters/conan-portaudio/build/job/s0kasg0tbclch0o9

[2019-05-05 14:25] JimmySnails opened #769 "can conan-libmpg123 be updated to use Windows SDK 10 instead of 8.1?"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libmpg123/1.25.10
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Docker image: none ?
  * Conan version: Conan 1.14.4
  * Python version: Python 3.7.3

### Question Description

I've tried to build SDL2_mixer, which requires libmpg123, but it fails because it re

[2019-05-05 14:52] SSE4 commented on #769
I can try, I'll take a look

[2019-05-05 16:25] JimmySnails commented on #769
Thank you, much appreciated!

[2019-05-05 23:53] noizex opened #770 "[glad] Allow c-debug generator for DEBUG type build"
### Description of your feature
I noticed that by default GLAD Conan Package is built with "c" generator. There is no way to pass anything else, but to have debug capabilities in GLAD we need to use "c-debug" generator. It could be either enabled with a flag ("glad:debug") and/or decided by the build type (DEBUG = flag enabled, otherwise not).

Without this generator there are no debug callbacks a

[2019-05-06 07:22] #766 closed

[2019-05-07 00:25] #666 closed

[2019-05-07 05:48] izzyreal commented on #742
@SSE4 If I pull and build `portaudio/v190600.20161030@bincrafters/stable`, `pa_win_wasapi.c` is not compiled. If I apply your fix, it is compiled. But I'm applying that one line of your fix from `testing` to my `stable`.

But my application is having trouble with the compiled result after I applied your fix in that way. My app logs show `901 [13884] ERROR root <> - Host API not found`, an error th

[2019-05-07 05:49] izzyreal commented on #742
And now it's working again. I really need to rebuild my whole project, not just the target that uses PA. I'll now see if that also works after compiling PA including the wasapi.c file.

[2019-05-07 05:56] izzyreal commented on #742
Yeah, please let me know how to properly use that testing version. I don't think how I patch PA stable with that one line fix works well -- I get only one dir built in my conan cache's bincrafters/stable/package, rather than the 2 I get when just pulling PA stable and building as is.

[2019-05-07 07:35] SSE4 commented on #742
@izzyreal I am not sure, why do you need testing branch? it's for testing only, so never uploaded to the bintray. stable branch should be identical and contain all required changes.
if you still want to use testing, run the following commands:
[code]
this should properly export everything needed...
but again, it's recommended to use stable going forward.

[2019-05-07 07:49] izzyreal commented on #742
@SSE4 Ok, good to know. It's just that if I recall correctly the PA testing conanfile.py seemed to deviate from the stable one beyond that one line fix, but I will have to verify if that's really the case. When was the stable package on bintray last updated?

Please confirm that how I try your fix is correct. So I simply modify the PA stable conanfile.py in my .conan/data dir, only adding that one

[2019-05-07 07:54] SSE4 commented on #742
@izzyreal yeah it was different, but I've merged it, so now it should be absolutely identical.

your way of rebuilding is correct, should be fine for testing purposes.

[2019-05-07 08:23] Morwenn commented on #766
No love for `if not tools.os_info.linux_distro.startswith(("opensuse", "sles"))`? :p

[2019-05-07 08:41] ericLemanissier commented on #766
It would have been much cleaner, but I didn't know about this possibility. Guess what, I'm not a python programmer ! Don't hesitate to do a PR, the recipe obviously needs some cleaning.

[2019-05-07 08:58] JimmySnails opened #771 "libmikmod/3.3.11.1 can't be built for Android"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libmikmod/3.3.11.1**
  * Operating System+version: **Linux Debian Stretch**
  * Compiler+version: **android toolchain, clang 8**
  * Docker image: **none**
  * Conan version: **conan 1.14.4**
  * Python version: **Python 3.5.3*

### Conan profile (output of `conan profile show default` or `conan pr

[2019-05-07 16:32] izzyreal commented on #742
@SSE4 Alrighty, everything works now :)

Not sure if it's got to do with anything, and I don't know when your fixing commit was uploaded to bintray, but I also removed the portaudio lines from `.conan/registry.json` this time. I confirmed `conanfile.py` is the same length as your fix and rebuilt my workspace.

WASAPI is working!

[2019-05-07 16:32] #742 closed

[2019-05-07 16:47] izzyreal opened #772 "portaudio/v190600.20161030@bincrafters/stable ASIO support?"
@SSE4  Sorry to bother again, but the sole use case for my application is low-latency -- hence my interest in both WASAPI and ASIO.

What is the status of ASIO support in this package? I see [portaudio has a bunch of instructions](http://portaudio.com/docs/v19-doxydocs/compile_windows_asio_msvc.html) for compiling with ASIO support, and it [doesn't seem part of this package yet](https://ci.appveyo

[2019-05-07 17:10] mmha opened #773 "[imagemagick] Add option to build CLI utilities"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **imagemagick/7.0.8-10@bincrafters/stable**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **gcc-8.2**
  * Conan version: **Conan 1.15.0**
  * Python version: **Python 3.6.7**

### Description of your feature
The package currently does not build the ImageMagick command lin

[2019-05-07 22:57] qno opened #774 "jansson doesn't compile with MinGW"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **jansson/2.11@bincrafters/stable**
  * Operating System+version: **Windows Server 2016**
  * Compiler+version: **gcc-8.1**
  * Conan version: **conan 1.16**
  * Python version: **Python 3.72**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom prof

[2019-05-07 23:30] qno commented on #774
I actually checked this on my local machine with adapted recipe and with disabled test building the package succeeded.

[2019-05-08 10:40] JimmySnails commented on #769
Fyi, libmpg123 can't be built for emscripten (1.15.0):
src/libout123/modules/jack.c:21:10: fatal error: 'jack/jack.h' file not found

[2019-05-08 15:14] Croydon commented on #774
I have just published version 2.12 of jansson. Are you stuck with 2.11 or could you update? If you are stuck I could backport the build additions

AppVeyor doesn't provide MinGW 9, but I added 6, 7, 8 builds to it

[2019-05-08 15:16] Croydon commented on #774
I have just published version 2.12 of jansson. Are you stuck with 2.11 or could you update? If you are stuck I could backport the build additions

AppVeyor doesn't provide MinGW 9, but I added 6, 7, 8 builds to it

[2019-05-08 15:16] qno commented on #774
@Croydon - and do you mean by adding MinGW only for jannson build? So in my project I use a lot more conan packages and for building the project it has to compile any package for MinGW. So it should turned on in general for building.

[2019-05-08 15:16] Croydon commented on #774
I have just published version 2.12 of jansson. Are you stuck with 2.11 or could you update? If you are stuck I could backport the build additions

AppVeyor doesn't provide MinGW 9, but I added 6, 7, 8 builds to it

[2019-05-08 15:18] Croydon commented on #774
I have just published version 2.12 of jansson. Are you stuck with 2.11 or could you update? If you are stuck I could backport the build additions

AppVeyor doesn't provide MinGW 9, but I added 6, 7, 8 builds to it

[2019-05-08 15:27] Croydon commented on #774
For some reason GitHub has some weird behaviour right now. Comments seem to get posted after a very long delay and I don't see them chronological anymore.....

Anyway...

______

Yes. We can add e.g. MinGW builds or builds for very old compilers, or the ARM architecture on demand, but we simply don't have the resources to build all recipes for all possible configurations.

[2019-05-08 15:45] Croydon commented on #774
The issue is fixed.
MinGW builds are available for 2.12

[2019-05-08 15:45] #774 closed

[2019-05-08 16:34] qno commented on #774
Thank you. I switched to 2.12 and it builds now for me (still no MinGW artifacts available).

[2019-05-08 16:36] #773 closed

[2019-05-08 20:31] barsoosayque opened #775 "openal/1.18.2 mingw cross-compilation cmake issue"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openal/1.18.2**
  * Operating System+version: **Linux Arch**
  * Compiler+version: **gcc-9.1**
  * Conan version: **conan 1.15.0**
  * Python version: **Python 3.7.3**
  * CMake version: **cmake 3.14.3**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if

[2019-05-09 08:48] bashbug opened #776 "[glm] 0.9.8.5 compile time error"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **glm/0.9.8.5@g-truc/stable**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **gcc-7.3**
  * Conan version: **conan 1.15.0**
  * Python version: **Python 3.6.7**

### Conan profile
[settings]
arch=x86_64
arch_build=x86_64
build_type=Release
compiler=gcc
compiler.libcxx=lib

[2019-05-09 10:23] Morwenn opened #777 "[libusb] Some libraries #include <libusb.h>"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libusb/1.0.22**
  * Operating System+version: **Linux Ubuntu 18**
  * Compiler+version: **gcc-7.4**
  * Conan version: **Conan 1.14.1**
  * Python version: **Python 3.6.7**

### Description of your feature
I know that the canonical way to include libusb is to include `libusb-1.0/libusb.h`, but some

[2019-05-09 14:31] wrightsg opened #778 "[qt] conan install fails with MinGW gcc in MSYS2 environment"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.2**
  * Operating System+version: **Windows 10 64-bit**
  * Compiler+version: **gcc-8.3.0**
  * Conan version: **conan 1.15.0**
  * Python version: **Python 3.7.3**

### Steps to reproduce (Include if Applicable)
From ``MSYS2`` ``MINGW64`` shell

[code]

### Logs (Include/Attach if Applicab

[2019-05-09 14:40] ericLemanissier commented on #778
I'm not sure. Could you please provide the full log ?

[2019-05-10 08:01] Mirko-von-Leipzig opened #779 "[zmq] Update for new versions"
### Package Details
  * Package Name: **zmq**
  * Latest available Version: **4.3.1**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-05-10 08:08] Mirko-von-Leipzig opened #780 "Contributing Backlog link broken"
### Steps to reproduce (Include if Applicable)

1. Navigate to [contributing](https://github.com/bincrafters/community/blob/master/.github/CONTRIBUTING.md)
2. Click [Backlog](https://trello.com/b/iFeFCPwa/conanio-package-backlog-looking-for-contributors) link in **Your First Code Contribution** section
3. Be greeted with Trello's **Board not found.**

Note: I did only just create a Trello account

[2019-05-10 08:37] SSE4 commented on #780
yeah, we're no longer using trello, I am removing this sentence

[2019-05-10 08:37] SSE4 commented on #780
removed: https://github.com/bincrafters/community/commit/50ecd2cbd8ec33f7d9f0afd710bd32b0734319bb#diff-8cc7b2b0d78dd2501610391c086a8516

[2019-05-10 08:37] #780 closed

[2019-05-10 08:37] SSE4 commented on #777
yeah, let's add it, why not

[2019-05-10 08:43] SSE4 commented on #777
applied: https://github.com/bincrafters/conan-libusb/commit/8f4a3b966c6ad57db20dcdcb4138d92c38b9ee19#diff-2b1d42f71f22b7ea0412d7602dec166f

[2019-05-10 08:46] SSE4 commented on #779
created new branch, running CI: https://github.com/bincrafters/conan-zmq/tree/testing/4.3.1

[2019-05-10 08:47] SSE4 commented on #776
related: https://github.com/g-truc/glm/issues/726

[2019-05-10 08:49] SSE4 commented on #771
probably, we need to disable bunch of features for Android. I'll take a look

[2019-05-10 08:50] SSE4 commented on #772
@izzyreal this part might be a problematic:
[code]
we need direct link to download required sources

[2019-05-10 09:09] SSE4 commented on #770
I  prefer to distinguish by build type then. I'll add required changes.

[2019-05-10 09:10] noizex commented on #770
Thanks!

[2019-05-10 09:11] SSE4 commented on #770
@noizex actually, I see required changes are already here:
https://github.com/bincrafters/conan-glad/blob/stable/0.1.29/conanfile.py#L64
am I missing the point?

[2019-05-10 09:12] noizex commented on #770
Ouch, you're right - that's the thing. I didn't see it in my case, maybe I used earlier version somehow. Sorry for confusion, I will check that one out. 👍

[2019-05-10 09:13] SSE4 commented on #768
@ManuelMeraz thanks for the reporting, I'll try to add your use-case to the test_package and fix it

[2019-05-10 11:08] Morwenn commented on #777
Thanks a lot! :)

[2019-05-10 13:11] #777 closed

[2019-05-10 13:36] acdemiralp opened #781 "[boost_system] Build from source fails."
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost_system/1.69.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC v142 (VS 2019)**
  * Docker image: **Unknown**
  * Conan version: **conan 1.14.4**
  * Python version: **Python 3.7.3**

### Conan profile (output of `conan profile show default` or `conan profile show <

[2019-05-11 07:32] barsoosayque commented on #775
Oh. This was apparently fixed in 1.19.0 in the upstream, but latest stable SFML package still uses openal 1.18.2 (however, 1.19.0 on testing branch). Essentially, the issue will be closed when SFML _testing/2.5.1_ dependencies version changes will be merged into _stable/2.5.1_.

[2019-05-11 14:23] S0PEX commented on #781
Got the same error. Have the same specs of vs and python, windows etc and also installed the latest cmake.

See log below:
[code]

[2019-05-11 19:06] Croydon commented on #711
Done! https://github.com/bincrafters/conan-thrift/pull/1

[2019-05-11 19:06] #711 closed

[2019-05-11 21:18] Croydon commented on #671
Done! https://github.com/bincrafters/conan-libnsl

[2019-05-11 21:18] #671 closed

[2019-05-11 23:08] Croydon commented on #87
So we do have:

  * [x]  conan-gtest https://github.com/bincrafters/conan-gtest
  * [ ]  conan-rustfp
  * [ ]  conan-cpptoml
  * [x]  conan-variant https://github.com/bincrafters/conan-variant
  * [ ]  conan-optional-lite https://github.com/bincrafters/conan-optional-lite
  * [ ]  conan-spdlog_setup

[2019-05-12 10:54] SSE4 commented on #779
new version is available

[2019-05-12 10:54] #779 closed

[2019-05-12 10:57] SSE4 commented on #776
@bashbug may you update to newer version, e.g. `0.9.9.5`?

[2019-05-12 11:04] Croydon commented on #610
@madebr Could you please remove this custom caching logic in the recipe?

Also in the meantime a new major version got published for swig. Would you be willing to add 4.0?

[2019-05-12 11:10] SSE4 commented on #775
/cc @Croydon (since he touched SFML recently)

[2019-05-12 11:20] SSE4 commented on #771
applied a fix: https://github.com/bincrafters/conan-libmikmod/commit/b56f186b8b8b9bdc17b4e6cc015cf6629d4658a8

[2019-05-12 11:21] SSE4 commented on #769
@JimmySnails does libmpg123 have an option to disable jack?

[2019-05-12 11:24] Croydon commented on #775
The problem is that OpenAL 1.19.0 + 1.19.1 doesn't build with Clang 7 + 8; and 1.19.1 fails on all macOS versions additionally

I tried to update SFML to use OpenAL 1.19.1 as they use it upstream as well

[2019-05-12 11:40] JimmySnails commented on #769
I couldn‘t find one :-/

[2019-05-12 11:41] SSE4 commented on #769
okay, then we'll need to patch it to work in Emscripten :(
also, please open another issue, let's keep this one about Windows SDK

[2019-05-12 11:43] SSE4 commented on #762
fails with weird error:
[code]
https://travis-ci.com/bincrafters/conan-libzip/jobs/197657132

[2019-05-12 13:25] sebastian8000 opened #782 "GTest: Cannot get minimal example running"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **gtest/1.8.1**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **gcc-7.4.0**
  * Conan version: **Conan 1.15.0**
  * Python version: **Python 3.7.3**

### Question Description
I try to get a minimal Googletest example running using the `cmake_paths` generator, but linking

[2019-05-12 13:57] bashbug commented on #776
Yes, I can do that.
Will the package 0.9.8.5 get fixed or removed?

[2019-05-12 14:33] JimmySnails opened #783 "libmpg123 can't be built for emscripten because jack.h is missing"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libmpg123/1.25.10
  * Operating System+version: Windows 10
  * Compiler+version: Visual Studio 2019
  * Docker image: none ?
  * Conan version: Conan 1.14.4
  * Python version: Python 3.7.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile

[2019-05-12 14:34] JimmySnails commented on #769
ok, sry. i opened #783

[2019-05-12 16:30] Croydon commented on #776
We don't remove old packages.

Since this is an upstream issue, which is fixed in a newer upstream version I don't see why we should make a custom backport.

[2019-05-12 19:01] uilianries commented on #782
Hi @sebastian8000 !

As you can see, the signature contains `std::__cxx11::basic_string` which means it requires libstdc++11. Please, update your default profile to use the expected library:

    conan profile update settings.compiler.libcxx=libstdc++11 default

[2019-05-12 20:48] uilianries commented on #762
It also requires libnettle

[2019-05-12 20:53] uilianries commented on #762
okay, it's more complicated ...

libzip is in Conan Center, which means it's an official package. But, we need also nettle (Don Goodman-Wilson has a good scratch) and gmp (we have a recipe, but it's not official yet).

I'll improve gmp and request Conan Center inclusion, and add nettle Recipe  for bincrafters.

[2019-05-12 22:20] bashbug commented on #776
I used the package in the past with the same compiler. Did not had issues at all. But somehow the package was changed.
I can understand, to use a newer version makes sense. Although, existing packages shouldn't change/break suddenly.

[2019-05-12 22:51] madebr commented on #610
Updated to 4.0.0: https://github.com/madebr/conan-swig_installer/tree/testing/4.0.0

[travis-ci](https://travis-ci.com/madebr/conan-swig_installer/builds/111505050)
[appveyor](https://ci.appveyor.com/project/madebr/conan-swig-installer/builds/24489537)

- The windows version is a repackaged swigwin. It is only available as a 32-bit pre-built executable. The `conanfile.py` removes `self.info.settin

[2019-05-13 05:14] SSE4 commented on #776
how is it possible? you have used `0.9.8.5` with GCC 7.3 in the past and it worked? issue is since January 2018, when did you use it with GCC 7.3 with no issue?

[2019-05-13 06:20] JimmySnails opened #784 "libmpg123/1.25.10 can't be built for android because of linker errors (shared memory functions)"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libmpg123/1.25.10
  * Operating System+version: Debian Stretch
  * Compiler+version: Visual Studio 2019
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom prof

[2019-05-13 06:32] JimmySnails commented on #771
This is in the testing branch... how to i build it?

I've tried adding it to the android_profile:
[code]

but it still uses stable.

When i try `conan install libmikmod/3.3.11.1@bincrafters/testing` it can't find it:

[code]

and i think that if it would find it, it would only build for the host OS, not android crossbuild.
Sry, i'm a conan noob :)

Nevertheless, your change seems sane!

[2019-05-13 06:39] SSE4 commented on #784
seems like bionic (Android's libc) doesn't support shared memory functions. is there an option to disable shared memory in libmpg123?

[2019-05-13 06:44] SSE4 commented on #771
testing branch is not uploaded on bintray.
in order to try, you need to clone the repository and run `conan create . bincrafters/testing` within it.
anyway, I've opened PR to merge into the stable: https://github.com/bincrafters/conan-libmikmod/pull/3

[2019-05-13 07:11] JimmySnails commented on #771
Great, i think we can change this. Thank you so much for your quick response!

[2019-05-13 07:11] #771 closed

[2019-05-13 07:28] JimmySnails commented on #784
doesn't seem so... the only option related to shared i could find is about shared libraries...
  --enable-shared[=PKGS]  build shared libraries [default=yes]

[2019-05-13 07:39] SSE4 commented on #784
no, it's not related unfortunately

[2019-05-13 07:45] SSE4 commented on #784
looking in the code, it seems like code is disabled by `NOXFERMEM` macro: https://github.com/gypified/libmpg123/blob/8cbf2faf994bd999ce2b45869093bd61ecf8416f/src/xfermem.c#L13
it's set by `configure` script: https://github.com/gypified/libmpg123/blob/master/configure#L17297
so, for me it seems like if you pass `--disable-buffer` it should be turned off: https://github.com/gypified/libmpg123/blob/m

[2019-05-13 08:20] JimmySnails commented on #784
With that flag i get a *lot* of assembler errors...

[code]

[2019-05-13 08:29] SSE4 commented on #784
there is `--with-cpu=arm_nofpu` : https://github.com/gypified/libmpg123/blob/master/configure#L1631
could you try this one as well?

[2019-05-13 08:31] JimmySnails opened #785 "OpenSSL/1.1.1a fails on Android crossbuild"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: OpenSSL/1.1.1a
  * Operating System+version: Linux Debian Stretch
  * Compiler+version: android toolchain
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom pr

[2019-05-13 08:41] JimmySnails opened #786 "libjpeg-turbo/1.5.2 can't be built for emscripten"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libjpeg-turbo/1.5.2
  * Operating System+version: Debian Stretch
  * Compiler+version: emscripten toolchain compiler
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` i

[2019-05-13 08:42] SSE4 commented on #785
@JimmySnails may you change the following line:
https://github.com/conan-community/conan-openssl/blob/release/1.1.1a/conanfile.py#L98
to something like `if False:` and capture the full build log?
also, may you try `1.1.1b` version? may be issue is already fixed in it

[2019-05-13 08:46] JimmySnails opened #787 "OpenSSL/1.1.1a fails on emscripten crossbuild - unsupported operating system"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: OpenSSL/1.1.1a
  * Operating System+version: Debian Stretch
  * Compiler+version: emscripten toolchain compiler
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if cus

[2019-05-13 09:06] wrightsg commented on #778
I have attached the log file obtained by setting ``CONAN_LOG_RUN_TO_FILE=1``

[conan_run.log](https://github.com/bincrafters/community/files/3172027/conan_run.log)

[2019-05-13 09:07] SSE4 commented on #787
@JimmySnails I was trying to build OpenSSL for Emscripten, but it seems like it's unsupported. were you able to find some instructions or ports for it?

[2019-05-13 09:15] JimmySnails commented on #787
No, i couldn't find a port. :(

Tbh i don't know where the dependency is coming from...  I've disabled SDL2_mixer for now, and just using SDL2, SDL2_ttf, SDL2_image and libnoise... i don't use it actively and i was able to build my project with emscripten (without conan)

(see https://game.cytopia.net/ )
( my repo https://github.com/JimmySnails/Cytopia )

I think it'd be ok with disabling the open

[2019-05-13 09:22] JimmySnails commented on #785
I've remove the line:

[code]

but it's still not verbose (same error message as before)

[2019-05-13 09:25] SSE4 commented on #787
may you try to run `conan info . -g graph.html` and attach graph here?

[2019-05-13 09:27] SSE4 commented on #785
okay, this is unfortunate :( how about changing to `1.1.1b`?

[2019-05-13 09:44] JimmySnails commented on #787
Sure! Here you go:
[graph.zip](https://github.com/bincrafters/community/files/3172212/graph.zip)

[2019-05-13 09:47] JimmySnails commented on #787
ahh, this is embarassing... it's in my conanfile.txt.

But i didn't write it, it was a PR... unfortunately, i have very little experience with conan

[2019-05-13 09:53] JimmySnails commented on #787
But even i f iremove openssl from conanfile.txt in my src dir, it still tries to build it.
If i add openssl 1.1.1b, it also downloads 1.1.1a

Heres the update graph
[graph.zip](https://github.com/bincrafters/community/files/3172251/graph.zip)

[2019-05-13 10:03] JimmySnails commented on #784
Different errors:

[code]

[2019-05-13 10:12] SSE4 commented on #784
oh my god, this is so broken... how about `--with-cpu=generic_fpu`?

[2019-05-13 10:33] Mirko-von-Leipzig opened #788 "[zmq/4.3.1] Build fails on MSVC 2019"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **zmq/4.3.1**
  * Operating System+version: **Windows 10**
  * Compiler+version: **msvc-16**
  * Conan version: **conan 1.15.0**
  * Python version: **Python 3.7.3**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
Configuration

[2019-05-13 10:43] JimmySnails opened #789 "libpng/1.6.36 can't be built for android"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libpng/1.6.36
  * Operating System+version: Linux Debian Stretch
  * Compiler+version: Android toolchain
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom pro

[2019-05-13 10:45] JimmySnails commented on #785
Unfortunately, same error with 1.1.1b

[2019-05-13 10:50] JimmySnails opened #790 "libpng/1.6.36 can't be built for emscripten"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: libpng/1.6.36
  * Operating System+version: Linux Debian Stretch
  * Compiler+version: emscripten
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is

[2019-05-13 10:54] JimmySnails commented on #784
woah, can that really be?
seems it worked?

`libmpg123/1.25.10@bincrafters/stable: Created package revision ad570a6ed28b6c9505c92760b27e95e4`

[2019-05-13 10:56] SSE4 commented on #784
cool, I'll prepare the patch

[2019-05-13 11:03] SSE4 commented on #784
applied: https://github.com/bincrafters/conan-libmpg123/commit/ada8a71034cf60b5e561218569295e4c0663b59f#diff-2b1d42f71f22b7ea0412d7602dec166f

[2019-05-13 11:05] SSE4 commented on #790
so it doesn't find `libm` (M_LIBRARY), it shouldn't be needed for Emscripten, I believe

[2019-05-13 11:55] Mirko-von-Leipzig commented on #788
I've now installed VS2017 and it's also failing with the same error except its toolset v141.

[settings]
os=Windows
os_build=Windows
arch=x86_64
arch_build=x86_64
compiler=Visual Studio
compiler.version=15
compiler.toolset=v141
build_type=Release
[options]
[build_requires]
[env]

[2019-05-13 12:03] SSE4 commented on #788
this is a definitely bug, conan shouldn't be passing `-T` to the CMake for the `Ninja` generator

[2019-05-13 12:06] SSE4 commented on #788
created an issue: https://github.com/conan-io/conan/issues/5133

[2019-05-13 12:08] SSE4 commented on #788
as a workaround, I am going to remove ninja from package for now

[2019-05-13 12:09] SSE4 commented on #788
removed: https://github.com/bincrafters/conan-zmq/commit/643b61900b6bf79d8f298998ef0e593ec2b11a1c

[2019-05-13 12:10] JimmySnails commented on #790
The M_LIBRARY error messages foes away if you change line 46
in
**~/.conan/data/libpng/1.6.36/bincrafters/stable/source/source_subfolder/CMakeListsOriginal.txt**

to
`if(UNIX AND NOT EMSCRIPTEN AND NOT APPLE AND NOT BEOS AND NOT HAIKU)`

but the `ZLIB_INCLUDE_DIR` is still there

[2019-05-13 12:13] JimmySnails commented on #784
Awesome, thank you! I'll try it when it's merged to stable

[2019-05-13 12:13] #784 closed

[2019-05-13 14:42] ericLemanissier commented on #778
I tried on my computer, calling your command line in msys2 console, but it succeeded.
Comparing your log with mine, the main difference would be that I get `(...)configure.bat (...) -prefix C:\.conan\f75b12\1` where you get `configure.bat (...) -prefix C:/.conan/a91a31/1`, so our path separator seems to be different. Are you using pacman provided python ? Can you try with https://www.python.org/do

[2019-05-13 18:16] sebastian8000 commented on #782
Hi @uilianries,

thanks a lot. It solved problem.

[2019-05-13 18:16] #782 closed

[2019-05-13 20:08] SSE4 commented on #566
/cc @Croydon (as he recently updated this package)

[2019-05-13 20:11] SSE4 commented on #721
@uilianries do you have an expirience with ruby? I am not really familiar with it

[2019-05-13 20:19] uilianries commented on #721
No, but I can check it later

[2019-05-13 21:49] Croydon commented on #566
I have updated the version and conventions of the package because of THIS issue just to see if it helps, doesn't seem to be the case.

[2019-05-14 02:57] madebr commented on #610
I am trying to build swig on Windows instead of using the prebuilt one in the `swigwin` archive.
This builds and runs fine on my Windows machine, but fails on appveyor.
When looking at the output, it downloads [pcre/8.41@bincrafters/stable:338b5858bc652693e9870677b370ca2c38b8d56d](https://ci.appveyor.com/project/madebr/conan-swig-installer/builds/24520295#L325) which is built for [Visual Studio 14

[2019-05-14 03:24] ZaMaZaN4iK opened #791 "Inclusion Request: tgbot-cpp"
### Package Details
  * Package Name: **tgbot-cpp**
  * Operating Systems+versions: **Linux Ubuntu 16.04, Ubuntu 18.04, Windows, macOS**
  * Compiler support: **gcc-8, clang8**
  * Conan recipe repository: **https://github.com/ZaMaZaN4iK/conan-tgbot-cpp**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it applies to your Conan recipe
  * [x] I want that

[2019-05-14 07:31] wrightsg commented on #778
Yes, I'm using the ``mingw64/mingw-w64-x86_64-python3`` package that is provided with ``pacman``.

Are you suggesting that I use the Windows ``python`` installer,  install ``conan`` from ``pip`` provided with the Windows installer and try the same command? Or did you use "Windows ``python``" but calling it from ``MSYS2`` shell?

[2019-05-14 07:41] Mirko-von-Leipzig commented on #788
Stupid question - how do I use this? Can I just change my dependency channel from stable to testing?
i.e. zmq/4.3.1@bincrafters/testing? Or must I clone the branch and conan from that?

[2019-05-14 07:46] ericLemanissier commented on #778
You can try downloading python from https://www.python.org/downloads/windows/ then getting conan from pip and running your conan command from MSYS2 shell.
Another option is to download windows conan from https://conan.io/downloads and run your conan command from MSYS2 shell

[2019-05-14 08:18] SSE4 commented on #788
@Mirko-von-Leipzig I've merged to the stable now, please give a try

[2019-05-14 09:03] Mirko-von-Leipzig commented on #788
It's working now. Thanks!

[2019-05-14 09:05] SSE4 commented on #788
okay, I am closing our issue then. there is conan issue opened to track bug.

[2019-05-14 09:05] #788 closed

[2019-05-14 12:03] SSE4 commented on #770
I am closing this for now as there is nothing to be done

[2019-05-14 12:03] #770 closed

[2019-05-14 12:06] SSE4 commented on #783
@JimmySnails may you try to build with the following option?
https://github.com/gypified/libmpg123/blob/master/configure#L1641
[code]

[2019-05-14 12:32] uilianries commented on #791
Related project: https://github.com/conan-community/conan-tgbot

[2019-05-14 12:48] uilianries commented on #791
Hi @ZaMaZaN4iK !

The author has an official recipe: https://github.com/reo7sp/tgbot-cpp/blob/master/conanfile.py

[2019-05-15 04:32] solvingj commented on #787
I think this ticket should be under conan-community organization. We can try to transfer the issue via github.

[2019-05-15 04:41] JimmySnails commented on #787
I‘ll create a new one at the conan repo. I already noticed that it’s not in the bincrafters repo 😅

[2019-05-15 04:41] #787 closed

[2019-05-15 04:51] JimmySnails commented on #785
I‘ll also move this issue to conan

[2019-05-15 04:51] #785 closed

[2019-05-15 06:01] JimmySnails commented on #783
Yes! That did the trick! :)

[2019-05-15 06:01] JimmySnails commented on #783
Does this mean libmpg123 builds but won't work?

[2019-05-15 06:47] braindevices commented on #776
same error with gcc7.4

[2019-05-15 07:32] SSE4 commented on #783
depends on what do you need. decoding APIs will work, as you're decoding to the buffer. audio playback APIs won't work, and I am not currently sure which audio device API is suitable for the Emscripten. if you can clarify that, would be nice (and you can select suitable with configure flag).
for now, I guess I just will put `--with-default-audio=dummy` for Emscripten, until further clarification.

[2019-05-15 07:34] SSE4 commented on #783
applied: https://github.com/bincrafters/conan-libmpg123/commit/8a3853d991ba474e508d4b55b607037b23af173a
feel free to try other `--with-default-audio=xxx` options for the Emscripten and lemme know.

[2019-05-15 07:38] SSE4 commented on #776
@braindevices may you update to `0.9.9.5`?

[2019-05-15 08:34] JimmySnails commented on #783
I've tried all backends, that remotely make sense... The only one working is "sdl".

Unfortunately, i can't try it because i'm stuck with libPNG not building.  Don't know if dummy or SDL makes more sens

[2019-05-15 08:44] SSE4 commented on #783
not sure, may you try to run simple libmpg123 example in browser with SDL backend to verify if it actually plays an audio?

[2019-05-15 08:44] SSE4 commented on #783
I am going to look into other libraries (png, jpeg) today. I'll let you know how is it going.

[2019-05-15 08:53] JimmySnails commented on #783
awesome! thank you!

i don't have time to do a audio only example right now, and tbh i don't know yet how to compile my application for emscripten when the conan dependencies are solved. It was quite easy with the emcripten stuff alone ( -s SDL=2 and so on)

And i couldn't get SDL_mixer to work at all, so... :D

[2019-05-15 08:59] JimmySnails commented on #783
Let's close this one for now and i'll do further tests later, since this one was about compiling and not functionality.

Unfortunately, flac/1.3.2@bincrafters/stable also fails on emscripten. (i don't use flac anyway) and the SDLmixer stuff isn't at the bincrafters repo, but at the repo from one of my contributors.

[2019-05-15 08:59] #783 closed

[2019-05-15 09:42] JimmySnails opened #792 "flac/1.3.2 build errors on emscripten"
### Description of Problem, Request, or Question

### Package Details (Include if Applicable)
  * Package Name/Version: flac/1.3.2
  * Operating System+version: Debian Stretch
  * Compiler+version: emscripten toolchain compiler
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show

[2019-05-15 11:38] Croydon commented on #791
Since there is official support and even CI support I see no reason to include a recipe for tgbot-cpp in Bincrafters.

You could help upstream to actually upload the build packages to a Conan repository and get it into conan-center

[2019-05-15 11:38] #791 closed

[2019-05-15 12:49] wrightsg commented on #778
I've tried running the "Windows installed ``conan``" from the ``MSYS2`` shell, i.e.

[code]

but the same error occurs.

[2019-05-15 12:55] ericLemanissier commented on #778
I did the same as you just did, I explicitly specified the path to `/c/Users/Eric-/AppData/Local/Programs/Python/Python36-32/scripts/conan`
What does the full log say with this test ? I'm especially interested in the line with `configure.bat` and `-prefix`

[2019-05-15 13:29] Croydon commented on #757
Do the parameters and/or return values differ or ca we automatically replace the import?

[2019-05-15 13:32] uilianries commented on #757
Just replace the import. Otherwise, Conan will display a warning message.

[2019-05-15 13:49] wrightsg commented on #778
``configure.bat`` line is

[code]

So there are still Unix style path separators.

However I'm not sure calling ``/c/Users/swright/AppData/Roaming/Python/Python36/Scripts/conan`` from ``MSYS2`` shell will actually use "Windows installed ``python``". Maybe I can try running from ``cmd``.

[2019-05-15 13:54] ericLemanissier commented on #778
You could also try to run the same command from MSYS2 shell, but remove msys python from PATH

[2019-05-15 18:12] madebr commented on #610
@Croydon

Found the problem.
In `build.py`, I added a new build with only `arch_build` and `os`. This would let conan use the default compiler, which is `Visual Studio` on appveyor.
As a workaround, I copy the `compiler` and `build_requires` from the common builds.
I know this is messy, but I don't know of a better way.

On windows, a 32- and 64-bit build should now be built.
The 32-bit build is n

[2019-05-15 18:20] madebr opened #793 "pcre/8.41 add windows gcc 32-bit builds + gcc-8"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **pcre/8.41**
  * Operating System+version: **Windows**
  * Compiler+version: **gcc**
  * Conan version: **all**

### Description of your feature
gcc 8 and gcc 32-bit bilds of pcre on Windows are missing.

https://github.com/bincrafters/conan-pcre/pull/10

[2019-05-15 19:22] Croydon commented on #610
Would it be possible to build Swig with Visual Studio?

[2019-05-15 20:13] madebr commented on #610
I haven't tested, but swig does not explain it its [documentation](http://swig.org/Doc4.0/SWIGDocumentation.html#Windows_swig_exe) how to build swig with Visual Studio.
It explains how to use swig in Visual Studio though.

[2019-05-15 20:18] madebr commented on #610
btw, I don't think a 32-bit macosx swig will be possible because neither pcre (or any of its dependencies) have a 32-bit version available.

[2019-05-15 20:29] Croydon commented on #793
Merged

[2019-05-15 20:29] #793 closed

[2019-05-15 20:29] Croydon commented on #610
We never build 32-bit macOS builds, this is a non-starter 😃

[2019-05-16 00:49] madebr commented on #610
By using [cccl](https://github.com/swig/cccl), I an able to compile swig using Visual Studio.
`ccache-swig` cannot be compiled trivially because it uses posix only includes and libraries.

But since swig is really only an executable and some text files, is it really required to be built using Visual Studio?

[2019-05-16 08:15] ruurdadema opened #794 "boost_*/1.69.0 does not respect os.version on Mac OS X"
When installing a boost library for a specific sdk version `-s os.version=10.11 --build=missing` the os.version is not taken into account.

I tested with `boost_system` and `boost_filesystem`, both giving same results.

So it seems the `-mmacosx-version-min=10.11` flag is not passed to the build process.
It probably needs something like `./b2 -a cxxflags="-mmacosx-version-min=10.11"`

### Package

[2019-05-16 10:13] Linux13524 opened #795 "[android_ndk_installer] arm64-v8a build creates ELF32 libraries"
When building some libraries with `android_ndk_installer` for arm64-v8a, the resulting binary will be `ELF32`/`ARM`. Expected format is `ELF64`/`AArch64`. This happens with `zlib`, `bzip2` and `sqlite3` (see **"Steps to reproduce"**). With eg. `boost` its fine though.

**Expected file header:**
[code]
**Resulting file header:**
[code]

### Package and Environment Details
  * Package Name/Version:

[2019-05-16 13:06] wrightsg commented on #778
I was not able to test this because I cannot remove ``MSYS2`` ``python`` from ``PATH`` without removing my entire toolchain from ``PATH`` as well.

However, I've performed a completely fresh ``MSYS2`` installation on a different Windows 10 system, only installing the minimum required packages to perform the ``conan install`` command for the ``Qt`` package and it worked!

Will no try upgrading the

[2019-05-16 13:33] Croydon commented on #610
No, MinGW is fine in this case

[2019-05-16 13:53] ericLemanissier commented on #778
I think it was `MSYS2`.
Could you please try with the[ msys branch of the recipe](https://github.com/bincrafters/conan-qt/tree/msys) in the environment which fails currently ? You just need to clone the repo and then call `conan create ...` from your local copy. It is based on qt 5.12.3

[2019-05-16 15:02] wrightsg commented on #778
I can try, but I don't think the problem has to do with path separators. I forgot to mention that in for the working build on the clean ``MSYS2`` installation the command line for ``configure`` also contained Windows style separators.

However, I was able to further narrow down the issue. I had a look at the ``Makefile.Release`` that was resulting in the failing build and noticed that the ``LIBS``

[2019-05-16 15:03] uilianries opened #796 "[qt] Remove Linux jobs from Travis CI"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.3**

### Question Description
Since we are using Azure DevOps to build Qt on Linux, the same jobs are duplicated on Travis CI. I think we could remove those jobs from Travis file and keep only in Azure file.

/cc @ericLemanissier

[2019-05-16 15:06] ericLemanissier commented on #796
Unfortunately the upload of binaries still fails on azure DevOps: https://developercommunity.visualstudio.com/content/problem/388538/https-request-read-time-out-error.html

[2019-05-16 15:11] uilianries commented on #796
Oh, I see ... Thanks for sharing your situation.

[2019-05-16 15:11] #796 closed

[2019-05-16 15:58] wrightsg commented on #778
Building the ``msys`` branch with

[code]

I get the following error during test package execution.

[code]

So it seems to get further than before, but it also might be because this is 5.12.3. Will now test with 5.12.3 with ``conan install``.

[2019-05-16 16:47] JimmySnails commented on #769
@SSE4 I've fixed this by replacing the SDK string in the vcxproj file.

`tools.replace_in_file( "libmpg123.vcxproj", "<WindowsTargetPlatformVersion>8.1</WindowsTargetPlatformVersion>", "<WindowsTargetPlatformVersion>10</WindowsTargetPlatformVersion>")
`

I've placed it in line 70 in the **conanfile.py**

because it's in the correct directoy there..

[code]

I don't know how you would fix this, may

[2019-05-16 16:54] wrightsg commented on #778
Interestingly, installing 5.12.3 works completely, i.e.

[code]

[2019-05-16 19:46] bashbug commented on #776
e.g. on one of our agents we have still a working version:
[code]
On
https://bintray.com/bincrafters/public-conan/glm%3Ag-truc/0.9.8.5%3Astable I can see that the package has a timestamp of "Updated in Apr 02, 2019"
Maybe somehow between Feb - Apr the patch file got removed and not applied.

[2019-05-16 22:45] madebr commented on #610
I added support for Visual Studio but build the binaries using mingw on appveyor.
I packages cccl at https://github.com/madebr/conan-cccl

swig recipe: https://github.com/madebr/conan-swig_installer/tree/testing/4.0.0
travis-ci: https://travis-ci.com/madebr/conan-swig_installer/builds/112154033
appveyor: https://ci.appveyor.com/project/madebr/conan-swig-installer/builds/24606049

[2019-05-18 06:56] ericLemanissier commented on #778
The issue was probablly coming from upsteam, because i cannot see any change in the recipe between 5.12.2 and 5.12.3.

[2019-05-18 06:56] #778 closed

[2019-05-18 10:03] davidtazy commented on #487
same error:
`
/usr/bin/g++  -O3 -DNDEBUG  -rdynamic _/CMakeFiles/_.dir/src/main.cpp.o _/CMakeFiles/_.dir/__autogen/mocs_compilation.cpp.o _/CMakeFiles/_.dir/__autogen/QFTX5SWBVD/qrc_ressource.cpp.o  -o _/_  -Wl,-rpath,/opt/Qt/5.9.7/gcc_64/lib:/home/david/Documents/build-Workspace_PCSurface-Desktop_Qt_5_9_7_GCC_64bit-Release/Common/:/home/david/Documents/build-Workspace_PCSurface-Desktop_Qt_5_9_7_G

[2019-05-19 11:14] #757 closed

[2019-05-19 14:32] Quincunx271 opened #797 "[bison/bison_installer] Paths hardcoded as /home/conan/... in the bison executable"
### Package and Environment Details
  * Package Name/Version: **bison_installer/3.3.2@bincrafters/stable** and **bison/3.3.2@bincrafters/stable**
  * Operating System+version: **Linux Ubuntu 16.04**
  * Compiler+version: **gcc-8.1.0**
  * Conan version: **conan 1.9.1** and **conan 1.15.1**
  * Python version: **Python 3.5.2**

### Conan profile

[code]

### Steps to reproduce

After installing bis

[2019-05-19 15:44] SSE4 commented on #795
/cc @theodelrieu

[2019-05-19 18:45] wouterbeek opened #798 "[qt] qt/5.12.3 uses non-default option for sqlite3 dependency"
When installing qt/5.12.3 on my fairly standard Linux setup, an error is emitted because no prebuilt package is available for the requested combination of options.  This is due to one specific option (`enable_column_metadata`) having a non-default value (`True`).

Looking at the sqlite3 documentation for this option ([link](https://www.sqlite.org/compile.html)), it is not immediately clear to me w

[2019-05-19 18:53] ericLemanissier commented on #798
This option is required by Qt. It will be solved when I update the dependency to 3.28.0: https://github.com/bincrafters/conan-sqlite3/commit/da59ab933ae325de8f022ef9132d4fb6b0671101

[2019-05-19 19:04] wouterbeek commented on #798
@ericLemanissier Thank you for the info and good to know that will soon be resolved.

I will run the above steps again on my setup once the dependency is updated, and update this issue accordingly.

[2019-05-20 02:27] ManuelMeraz commented on #323
Can we please add this to the README.md for Qt? This seriously took me forever to find.

An alias called `CONAN_PKG::Qt` gets created which does not point to the libraries. I had to look into the conanbuildinfo.cmake definitions to see that nothing with Qt libraries was inserted in there.

[2019-05-20 06:00] JimmySnails commented on #789
I've updated to conan 1.51 today and now it works?

`conan install libpng/1.6.36@bincrafters/stable --build libpng --profile=../android_profile`

@SSE4 can you verify that?

[2019-05-20 06:44] JimmySnails opened #799 "sdl2_image/2.0.4 - Android No CMake minimum version"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **sdl2_image/2.0.4**
  * Operating System+version: Linux Debian Stretch
  * Compiler+version: Android toolchain
  * Docker image: none ?
  * Conan version: Conan 1.15.1
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if cus

[2019-05-20 10:34] theodelrieu commented on #795
Hmm, I get the correct result (i.e. aarch64) with the following command:

Here is my profile:

[code]

Can you attach the full build log? With verbose flags?

[2019-05-20 11:06] Linux13524 commented on #795
Using your profile and command gives exactly the same result...

How to get verbose output?

[2019-05-20 11:12] theodelrieu commented on #795
I'm using Conan 1.14.5 by the way.

You can add the following line in the `conanfile.py`: `cmake.verbose = True`. If running with autotools, go to the build dir and run `make VERBOSE=1`.

[2019-05-20 11:26] Linux13524 commented on #795
Wow. Seems like upgrading conan did fix it... @theodelrieu Thanks a lot for your help!

[2019-05-20 11:26] #795 closed

[2019-05-20 16:31] SSE4 commented on #799
applied: https://github.com/bincrafters/conan-sdl2_image/commit/30efc51d3cf9edbae4d52f6936c1f270a041abb9

[2019-05-20 18:05] Croydon commented on #292
@Manu343726 Ping 😄

[2019-05-20 22:06] Croydon opened #800 "[mysql-connector-c] stable and testing branches are out of sync and conflicting"
This needs to get solved

[2019-05-21 05:18] JimmySnails commented on #799
Can you merge this into the stable branch please? I verified that it's working before i created the issue

[2019-05-21 06:12] JimmySnails opened #801 "glew/2.1.0 - can't find openGL on android"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **glew/2.1.0**
  * Operating System+version: Linux Debian Stretch
  * Compiler+version: Android toolchain
  * Docker image: none ?
  * Conan version: Conan 1.15.1
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom pr

[2019-05-21 08:23] JimmySnails commented on #801
i figured out that i don't need glew.

[code]

is enough.

[2019-05-21 08:44] jmarrec opened #802 "Upstream Update: ICU 64.2"
### Package Details
  * Package Name: **icu**
  * Latest available Version: **64.2**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

cf https://github.com/unicode-org/icu/releases
There is also 63.2 that isn't in bincrafters.

[2019-05-21 11:09] solvingj commented on #802
Thanks very much for reaching out.  Creating `testing/64.2` branch. Please feel free to submit a PR to bump the version.

[2019-05-21 11:09] #802 closed

[2019-05-21 12:03] Morwenn opened #803 "[qt] First-class support for linguist"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.3**
  * Operating System+version: **Linux Ubuntu 18**
  * Compiler+version: **gcc-7.4.0**
  * Conan version: **Conan 1.14.1**
  * Python version: **Python 3.6.7**

### Description of your feature

I was trying to use the CMake module `Qt5LinguistTools` which ships with Qt as part of my buil

[2019-05-21 12:33] jmarrec commented on #802
Thanks for the quick turn around. (PR at https://github.com/bincrafters/conan-icu/pull/18)

[2019-05-21 12:42] Morwenn commented on #803
Ok, I actually managed to totally miss `qttranslations` in the list. Guess I'll close this issue shortly if it works as expected.

[2019-05-21 12:47] #803 closed

[2019-05-21 14:58] #641 closed

[2019-05-21 17:33] uilianries commented on #762
https://bintray.com/bincrafters/public-conan/gmp%3Abincrafters
https://bintray.com/bincrafters/public-conan/nettle%3Abincrafters

[2019-05-21 21:03] uilianries commented on #721
I can confirm the bug, however ruby_installer/2.3.3 is working well.

[2019-05-22 04:52] Croydon commented on #799
We merge things into the `stable/` branch when the CI succeeded for the `testing/` branch.

I have merged it now. Done.

[2019-05-22 04:52] #799 closed

[2019-05-22 09:27] DirkScharff opened #804 "[qt] qt/5.12.X not buildable on Windows with -s qt:build_type=None"
I'm trying to build a qt package for use with cmake and visual studio 2019 including **debug and release configuration in one package**.
Following #403 I defined -s qt:build_type=None to achive that. (Is this documented somewhere?)

If I build it with -o with_doubleconversion=True the package tries to link a debug version of doubleconversion to a release version of qtcore (or the other way around)

[2019-05-22 11:50] SSE4 commented on #721
@nkshigeru may you test with `ruby_installer/2.3.3`?

[2019-05-22 12:08] SSE4 commented on #794
applied: https://github.com/bincrafters/conan-boost_generator/commit/81b1d5b279a5eca0a21c238fa989d00c18f5a226

[2019-05-22 12:11] SSE4 commented on #800
fixed

[2019-05-22 12:11] #800 closed

[2019-05-22 12:23] SSE4 commented on #792
@JimmySnails applied: https://github.com/bincrafters/conan-flac/commit/1063ea4692ee5274f27d56ba1d133bee6f4f3837
please give an another try and lemme know

[2019-05-22 12:36] ericLemanissier commented on #804
I have no idea if it could work, but can you try `-s qt:build_type=None -s double-conversion:build_type=None` ?
This multi-configuration package thing is not documented, because it is not really supported

[2019-05-22 13:20] DirkScharff commented on #804
I tried it and it didn't work.

Same error message as before.

double-conversion.lib(double-conversion.obj) : error LNK2038: Konflikt ermittelt f³r "RuntimeLibrary": Der Wert "MD_DynamicRelease" stimmt nicht mit dem Wert "MDd_DynamicDebug" in qstring_compat.obj ³berein.
double-conversion.lib(bignum-dtoa.obj) : error LNK2038: Konflikt ermittelt f³r "_ITERATOR_DEBUG_LEVEL": Der Wert "0" stimmt nicht

[2019-05-22 13:45] SSE4 commented on #801
from here: https://stackoverflow.com/questions/29492694/glew-is-just-and-extension-library-or-it-contains-opengl-es-2-0-implementation-a
[code]

[2019-05-22 13:45] #801 closed

[2019-05-22 13:46] SSE4 commented on #789
checked, it works for me, closing

[2019-05-22 13:46] #789 closed

[2019-05-22 13:56] JimmySnails commented on #792
Yes it works! But you deleted two lines and left an empty `else` branch. Is this intended? i left a comment in your commit.

Thank you!

[2019-05-22 14:04] ericLemanissier commented on #804
The point of a package manager is to use external dependencies, not a private copy of everything.
I made a change in branch `multiConfiguration` (https://github.com/bincrafters/conan-qt/tree/multiConfiguration). Can you clone the repository and call `conan create ...`. You should replace ` -s qt:build_type=None` with `-o qt:multiconfiguration=True` ?

[2019-05-22 14:16] SSE4 commented on #790
@JimmySnails applied: https://github.com/bincrafters/conan-libpng/commit/2b58d5d9e5cf532e4981066ec45b6ae706146e65
please give an another try and lemme know

[2019-05-22 14:25] SSE4 commented on #786
@JimmySnails  applied: https://github.com/bincrafters/conan-libjpeg-turbo/commit/4ac5fe85f6bcf96d13c7a79aef3d73c7c9e9cb50
please give an another try and lemme know

[2019-05-22 15:21] SSE4 commented on #768
@ManuelMeraz applied: https://github.com/bincrafters/conan-doxygen_installer/commit/2ccb0d762a256113323c2ebb97c33a63214a8b0a
please give an another try and lemme know

[2019-05-22 15:29] SSE4 commented on #775
@barsoosayque @Croydon  as SFML now uses 1.19 (include our package), is there anything to be done?

[2019-05-22 18:58] wouterbeek opened #805 "[glib] ‘%s’ directive argument is null"
Installing **glib** results in the following error (see below for the full log):

[code]

### Package and Environment Details

  * Package Name/Version: **glib/2.56.1**
  * Operating System+version: **Linux Fedora 31**
  * Compiler+version: **gcc-9.1.1**
  * Conan version: **conan 1.15.1**
  * Python version: **Python 3.7.3**

### Conan profile

[code]

### Steps to reproduce

[code]

### Logs (In

[2019-05-23 05:46] barsoosayque commented on #775
Thanks, yes. The initial error is gone now. However, when trying to cross-build Linux 64 to Windows 32, I have another error about `-rdynamic` flag, which seems to be not supported by *mingw32-gcc*. Although, I believe it's out of the scope of this issue.

[2019-05-23 06:18] nkshigeru commented on #721
@uilianries @SSE4 Thank you for your reply.

`ruby_installer/2.3.3` does not work either.

[code]

[2019-05-23 07:41] JimmySnails commented on #790
Confirmed! Thank you! Please close it after you've merged it

[2019-05-23 07:57] SSE4 commented on #790
merged, closing

[2019-05-23 07:57] #790 closed

[2019-05-23 07:58] SSE4 commented on #792
merged, closing

[2019-05-23 07:58] #792 closed

[2019-05-23 08:11] SSE4 commented on #769
@JimmySnails applied: https://github.com/bincrafters/conan-libmpg123/commit/2a99c1d9ba4fdc87d6ca1c2f88b4b400e2f6a587

[2019-05-23 09:02] DirkScharff commented on #804
I just tried the multiconfiguration build and it seems to work. I haven't tried to use it to compile another project yet but the package looks promising. I will give feedback to this as soon as I get to try it (later today or tomorrow I guess).

Although the package is created successfully the included test fails:

-- The C compiler identification is MSVC 19.20.27508.1
-- The CXX compiler identifi

[2019-05-23 09:05] SSE4 commented on #805
need to apply this patch: https://gitlab.gnome.org/GNOME/glib/merge_requests/626#note_422501

[2019-05-23 09:27] JimmySnails opened #806 "libtiff/4.0.9 doesn't work on emscripten"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libtiff/4.0.9**
  * Operating System+version: Debian Stretch
  * Compiler+version: emscripten toolchain compiler
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if

[2019-05-23 09:28] SSE4 commented on #806
it seems like it fails to link with zlib, I'll take a look

[2019-05-23 09:30] SSE4 commented on #776
@bashbug @braindevices changes were applied: https://github.com/bincrafters/conan-glm/commit/6ffc9d7b6e36f729ec96221c4c4dd912fc913d6d
please give an another try and lemme know

[2019-05-23 09:41] JimmySnails commented on #786
Confirmed! Thx again for fixing that!

[2019-05-23 09:44] SSE4 commented on #786
merged, closing

[2019-05-23 09:44] #786 closed

[2019-05-23 09:48] JimmySnails opened #807 "freetype/2.9.1 doesn't work on emscripten"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **freetype/2.9.1**
  * Operating System+version: Debian Stretch
  * Compiler+version: emscripten toolchain compiler
  * Docker image: none ?
  * Conan version: Conan 1.15.0
  * Python version: Python 3.5.3

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if

[2019-05-23 11:52] JimmySnails commented on #769
perfect, thx!

[2019-05-23 11:52] ericLemanissier commented on #804
I just added a commit to the multiConfiguration branch, which should fix the test recipe. could you try it ?

[2019-05-23 12:16] uilianries commented on #721
@nkshigeru !

Did you build ruby_installer or just installed?

How can I reproduce your error, which commands/scripts are you using?

Using your last conanfile.py it works well when running in Conan Docker images.

[2019-05-23 18:23] uilianries opened #808 "[bincrafters-package-tools] Could not build fluidsynth"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **fluidsynth/2.0.5**
  * Operating System+version: **Any**
  * Compiler+version: **Any**
  * Conan version: **conan 1.15.1**
  * Python version: **Python 3.7.0**
  * Bincrafter Package Tools version: **0.18.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile

[2019-05-23 18:24] uilianries commented on #808
/cc @SSE4

[2019-05-23 19:32] #808 closed

[2019-05-23 22:00] Croydon commented on #753
Fixed by https://github.com/bincrafters/bincrafters-package-tools/pull/24

Thanks @uilianries

[2019-05-23 22:00] #753 closed

[2019-05-24 03:36] nkshigeru commented on #721
@uilianries
I did not build ruby_installer manually.
When running `conan create . user/testing`, prebuilt ruby_installer binaries are downloaded.

The problem is location of HOME directory.
If the username of the docker image is `conan`, it will work. Because the ruby_installer binaries are built with prefix `/home/conan/.conan`
But when downloading by different user, it will fail.

To reproduce t

[2019-05-24 04:05] acgetchell opened #809 "[libcurl] fails to build on Windows"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libcurl/7.56.1**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2015 & 2017 using clang-cl (clang 8.0.0)**
  * Conan version: **conan 1.15.1**
  * Python version: **Python 2.7.0**

### Conan profile (output of `conan profile show default` or `conan profile show <

[2019-05-24 05:58] acgetchell commented on #809
From a discussion on the Conan channel in Slack, the recipe should invoke `tools.run_in_windows_bash()`.

[2019-05-24 08:03] DirkScharff commented on #804
I tested the newer version and it compiles and tests fine. I will try to use the package to compile a real project later this day.
Thanks for the help. Will this option be available in future versions as well?

[2019-05-24 08:44] SSE4 commented on #809
@acgetchell applied, please give an another try: https://github.com/bincrafters/conan-libcurl/commit/93b730b770097d96e6edbe8b03236863403f05d4

[2019-05-24 09:11] SSE4 commented on #805
@wouterbeek applied: https://github.com/bincrafters/conan-glib/commit/e9fb05538a7c7427b1ba47d9adff363316b059f2
please give an another try and lemme know

[2019-05-24 10:09] ericLemanissier commented on #804
I'm working on integrating this in the 5.12.3/stable channel

[2019-05-24 10:20] SSE4 commented on #775
okay, I am closing this issue then

[2019-05-24 10:20] #775 closed

[2019-05-24 11:25] uilianries commented on #721
I see, thanks for your explanation, it clarifies our problem.

[2019-05-24 12:20] SSE4 commented on #769
merged, closing

[2019-05-24 12:20] #769 closed

[2019-05-24 12:35] #733 closed

[2019-05-24 13:43] uilianries commented on #796
@ericLemanissier What do you think about Circle CI for Linux Jobs? I could provide the CI file

[2019-05-24 13:46] ericLemanissier commented on #796
I'm fine with everything, but it's true that I don't know anything about circle CI, so any help is welcome !

[2019-05-24 14:14] uilianries commented on #796
No problem. We just tried Circle CI some ago. It's faster than Travis, but the web interface is like Appveyor, not much intuitive sometimes.

[2019-05-24 20:39] wouterbeek commented on #805
[code]

[2019-05-24 22:31] wouterbeek commented on #805
@SSE4 I think it's fixed now; the following ran successfully for me:

[code]

[2019-05-24 22:31] #805 closed

[2019-05-25 00:52] madebr commented on #624
@Lawrencemm I forgot to reply to your question. Thanks for your patience.

I have split lunarg's sdk in a runtime and installer component:
- The installer (`vulkan_lunarg_installer`) contains the executables that should be run on your development machine, such as `glslangValidator` (please mind the capital V)
It is meant to be added as a build requirement (added in the function `build_requirements

[2019-05-27 01:40] Croydon commented on #744
The recipe is now live at https://github.com/bincrafters/conan-spirv-headers

Please note for further submissions:
  * You didn't choose the right templates. Since this is a header_only recipe you should have used the `header_only` templates, instead you used the `default` ones
  * in the readme you need to manually replace `package_name` with the actual name

Thanks!

[2019-05-27 01:40] #744 closed

[2019-05-27 07:52] drrlvn opened #810 "Upstream Update: zstd 1.4.0"
### Package Details
  * Package Name: **zstd**
  * Latest available Version: **1.4.0**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

[2019-05-27 09:20] theirix opened #811 "Upstream Update: libevent 2.1.10"
### Package Details
  * Package Name: **libevent**
  * Latest available Version: **2.1.10**

New release finally includes CMake build so the #723 can be resolved.

Packaging in progress.

[2019-05-27 12:23] uilianries commented on #811
Amazing!

[2019-05-27 14:01] acgetchell commented on #809
autoconf 2.69-5 is installed from msys2:

https://ci.appveyor.com/project/acgetchell/cdt-plusplus/build/job/j0qdhgc5t1ywv2ye?fullLog=true#L65

But not detected:

https://ci.appveyor.com/project/acgetchell/cdt-plusplus/build/job/j0qdhgc5t1ywv2ye?fullLog=true#L22497

[2019-05-27 14:16] SSE4 commented on #809
@acgetchell it's using Git Bash: `run_in_windows_bash: "C:\Program Files\Git\usr\bin\bash.exe"`
this is not intended, I'll take a look

[2019-05-27 14:27] SSE4 commented on #809
@acgetchell meanwhile, may you try to se `CONAN_BASH_PATH` environment variable to the right bash instance? it seems like on appveyor, Git prepends MSYS2 in PATH, so conan auto-detects wrong one

[2019-05-27 17:25] madebr commented on #624
I've begun building vulkan from the khronos repo's:

https://github.com/madebr/conan-vulkan_headers
https://github.com/madebr/conan-vulkan_hpp

I'm working on the loaders and tools now.

[2019-05-27 19:57] Croydon commented on #811
Instead of manually filtering builds out, I would rather add more pages to AppVeyor to avoid the timeout

https://github.com/bincrafters/conan-libevent/commit/b532e0982443872426dd683e9c1cea74c234b215

[2019-05-28 10:54] r-darwish commented on #810
Done

[2019-05-28 10:54] #810 closed

[2019-05-28 10:54] drrlvn opened #812 "Upstream Update: msgpack 3.2.0"
### Package Details
  * Package Name: **msgpack**
  * Latest available Version: **3.2.0**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

https://github.com/msgpack/msgpack-c/releases/tag/cpp-3.2.0

[2019-05-28 12:44] theirix commented on #811
@Croydon good idea, thanks. It explodes appveyor.yml though (builds cannot be auto-distributed to pages).

[2019-05-28 16:52] Croydon commented on #811
Yes, but this is certainly the smaller burden :)

[2019-05-28 19:37] uilianries commented on #812
Done!

https://bintray.com/bincrafters/public-conan/msgpack%3Abincrafters/3.2.0%3Astable

[2019-05-28 19:37] #812 closed

[2019-05-29 04:52] ericLemanissier commented on #798
fixed in stable/5.12.3 with https://github.com/bincrafters/conan-qt/commit/e9f430cf089ad65e9e4507ed7b9a1f286996ed4c

[2019-05-29 04:52] #798 closed

[2019-05-29 04:53] ericLemanissier commented on #804
fixed in stable/5.12.3 with https://github.com/bincrafters/conan-qt/commit/2971e49de77711a5a717bdc6559687ae007bcced

[2019-05-29 04:53] #804 closed

[2019-05-29 06:38] theirix commented on #811
Almost done, waiting for dependencies on VS2019.

[2019-05-29 18:00] madebr opened #813 "conan-templates: support cookiecutter"
By using a cookiecutter project, recipes and their folder structure are generated automatically.

Pull request at https://github.com/bincrafters/conan-templates/pull/52

[2019-05-29 19:10] madebr commented on #797
The bison executable needs some environment variables to be set correctly, namely `BISON_PKGDATADIR` for its scripts and `M4` for the m4 interpreter.

These are set in their conanfiles:
bison_installer: https://github.com/bincrafters/conan-bison/blob/ff378ced2b0426cae2e8c60eb32f5cada3828cd0/conanfile_installer.py#L19
m4: https://github.com/bincrafters/conan-m4_installer/blob/0f0698f45f4a6bbdd5ebbd

[2019-05-29 19:45] Quincunx271 commented on #797
So, in other words, the problem occurs because I'm not using a `CONAN_PKG::bison` target, but instead using `find_package(BISON ...)` to find Bison? If so, it may be a good idea to export a `BISONConfig.cmake` which is basically just `FindBISON.cmake` but also sets these env variables when talking with the `bison` executable.

Either way, strongly think that the bison executable should be executab

[2019-05-29 19:49] SSE4 commented on #797
yeah, I think I can merge additional changes from winflexbison, so it doesn't have hard-coded paths any longer

[2019-05-29 20:59] Croydon commented on #811
I'm suggesting to either open pull requests for the missing dependencies build or add the builds to libevent nonetheless, ignore the failures for now and merge it anyway

[2019-05-29 21:28] theirix commented on #811
Ok, OpenSSL builds are already in the queue so I'll merge anyway after they succeed (hopefully) or fail. I had not tried VS2019 with libevent yet.

[2019-05-29 21:52] uilianries commented on #811
OpenSSL failed due connection error.

[2019-05-30 07:46] wouterbeek opened #814 "[qt] Installation breaks for mysql-connector-c dependency"
Installing `mysql-connector-c` (command [1]) works for me, but installing  `qt` (command [2]) fails on the `mysql-connector-c` dependency.  I noticed that Qt is using a different version of OpenSSL than the MySQL Connector (warning message [3]).

[code]

This is the end of the log.  The full log is included below.

[code]

### Package and Environment Details (include every applicable attribute)

[2019-05-30 09:03] Mirko-von-Leipzig opened #815 "[zmq] Does not support MSVC toolset v142 when included"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **zmq/4.3.1**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2019**
  * Conan version: **conan 1.15.0**
  * Python version: **Python 3.7.3**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[settings]

[2019-05-30 10:32] SSE4 commented on #811
`stable/2.1.10 was created`, OpenSSL failure disappeared after the restart
for VS2019, I'll add builds to OpenSSL soon (right now our CI is overloaded with boost, OpenCV, etc., so it will take some time)

[2019-05-30 10:32] #811 closed

[2019-05-30 10:32] SSE4 commented on #723
we have added 2.1.10 and switched to the CMake

[2019-05-30 10:32] #723 closed

[2019-05-30 11:43] uilianries commented on #815
Hi @Mirko-von-Leipzig !

Thanks for reporting this issue. I'll investigate.

[2019-05-30 12:05] theirix commented on #811
Ok, thanks! Hope it would not require changes in libevent.

[2019-05-30 13:18] Croydon commented on #814
Related: https://github.com/bincrafters/conan-mysql-connector-c/pull/11

[2019-05-31 03:56] tjwrona1992 commented on #814
I experienced the same issue on Windows using Visual Studio 2019 Preview.

[2019-05-31 06:43] Talkless opened #816 "sqlite3: build command line utilty too"
[sqlite3](https://github.com/bincrafters/conan-sqlite3) package does not build command line utility, only the library itself. It would be useful to have this tool independent of the fixed version that, for example, Linux distribution provides.

[2019-05-31 09:19] Chemrat opened #817 "[libpcap] hardcoded dependency on bison-3.0.4 makes it impossible to satisfy the dependency on systems with glibc-2.28+"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libpcap/1.8.1**
  * Operating System+version: **Gentoo/amd64**
  * Compiler+version: **clang-9.0.0**
  * Conan version: **conan 1.15.0**
  * Python version: **Python 3.5.5**

### Conan profile
[code]

### Steps to reproduce (Include if Applicable)
build `bison/3.0.4@bincrafters/stable`

### Logs (I

[2019-05-31 13:54] RelayrMA opened #818 "[libwebsockets] libwebsockets fails to build with SSL"
### Package and Environment Details
  * Package Name/Version: **libwebsockets/2.4.0**
  * Operating System+version: **Gentoo 4.19.23**
  * Compiler+version: **gcc-7.3**
  * Conan version: **conan 1.15.2**
  * Python version: **Python 3.6.5**

### Conan profile
Configuration for profile default:

[settings]
os=Linux
os_build=Linux
arch=x86_64
arch_build=x86_64
compiler=gcc
compiler.version=7
compil

[2019-05-31 13:56] uilianries commented on #818
Hi @RelayrMA !

Thanks for reporting and giving the solution. I'll fix ASAP.

[2019-05-31 17:56] uilianries commented on #818
Hi @RelayrMA !

I just merged https://github.com/bincrafters/conan-libwebsockets/commit/409754392a5b23951eb03e4c16eca277ac81123c which a fix

Please update your package and try again.

[2019-05-31 18:37] daravi opened #819 "[conan-mongo-c-driver] What is header_path.patch for?"
What is the purpose for header_path.patch? Is it still needed for the 1.14.0?

[2019-05-31 22:55] tjwrona1992 opened #820 "Where does conan put Qt5Config.cmake?"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.2**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2019 Preview**
  * Conan version: **Conan 1.15.1**
  * Python version: **Python 3.7.1**
  * CMake version: **CMake 3.14.4**

### Question Description
I am trying to create a project that uses QtCharts. I

[2019-06-01 18:08] ericLemanissier commented on #814
as @Croydon mentionned, the main problem here is that mysql-connector-c 6.1.11 is incompatible with openssl 1.1. The true fix to this problem would be to upgrade mysql-connector-c to version 8.0 by using sources in https://github.com/mysql/mysql-server, but I don't have much time to dedicate to this task currently.
Until this is done, the workaround is to build mysql-connector-c manually, independ

[2019-06-01 18:12] ericLemanissier commented on #820
The only possible way to consume qt from cmake (and this is independant of the packaging system) is to follow instructions on https://doc.qt.io/qt-5/cmake-manual.html. This is what the test recipe uses, so you can start from here : https://github.com/bincrafters/conan-qt/blob/testing/5.12.3/test_package/CMakeLists.txt
You should not need the cmake_paths generator. Does it solve your problem ?

[2019-06-01 19:34] tjwrona1992 commented on #820
Hi @ericLemanissier, Thanks for the tips, but I'm still having issues finding it.

I even tried just searching for Qt5Core like the test package does, but I just get an error saying `find_package` failed.

    set(CMAKE_INCLUDE_CURRENT_DIR ON)
    set(CMAKE_AUTOMOC ON)
    set(CMAKE_AUTOUIC ON)

    find_package(Qt5Core CONFIG REQUIRED)

Running CMake generation fails:

    1> [CMake]   Could not

[2019-06-01 19:36] tjwrona1992 commented on #820
I don't see any Qt related "Config.cmake" files in any of my `.conan` folders even after conan installs it successfully.

[2019-06-01 20:00] ericLemanissier commented on #820
It is normal you don't find any qt file in your .conan directory, because qt recipe uses `short_paths` attribute https://docs.conan.io/en/latest/reference/conanfile/attributes.html#short-paths. you should go in `.conan\data\qt\5.12.3\bincrafters\stable\package\whatever`, you will find a file named `.conan-link` which contains the path to the actual files. the file `Qt5CoreConfig.cmake` wil be in t

[2019-06-02 21:54] tjwrona1992 commented on #820
I did not include `conan_paths.cmake`, after doing that it found it successfully! Thanks!

I will need to look more into the virtualenv way of doing things though that sounds interesting.

[2019-06-02 23:01] Croydon commented on #819
It seems to enable static linking which would not be possible without https://github.com/bincrafters/conan-mongo-c-driver/commit/2a4ca8df8dd5f1ad54f77381d91ee8105811d9a9

Reminder for all bincrafters: please document in-code what the respective patches are for

[2019-06-02 23:16] #820 closed

[2019-06-03 03:21] tjwrona1992 opened #821 "qt/5.12.2 Fails to install on Windows on first attempt but works on second attempt"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.2**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2019 Preview**
  * Conan version: **conan 1.15.1**
  * Python version: **Python 3.7.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in

[2019-06-03 04:06] Croydon commented on #624
I have created a 1.4.1 branch, please create a pull request

[2019-06-03 05:40] RelayrMA commented on #818
It works for me, thanks!

[2019-06-03 08:25] SSE4 commented on #794
closing out as changes were applied

[2019-06-03 08:25] SSE4 commented on #776
changes were applied, closing

[2019-06-03 08:25] #776 closed

[2019-06-03 08:26] SSE4 commented on #730
changes were applied, closing

[2019-06-03 08:26] #730 closed

[2019-06-03 08:26] SSE4 commented on #729
@Milerius ping :)

[2019-06-03 08:27] SSE4 commented on #721
@nkshigeru changes were applied, please give an another try and let us know

[2019-06-03 08:30] SSE4 commented on #815
@Mirko-von-Leipzig changes were applied, please give an another try and let us know

[2019-06-03 09:52] Milerius commented on #729
Works for me now

[2019-06-03 09:54] SSE4 commented on #729
confirmed as fixed, closing

[2019-06-03 09:54] #729 closed

[2019-06-03 09:55] SSE4 commented on #817
@Chemrat I've applied a fix: https://github.com/bincrafters/conan-libpcap/commit/bb9aad59669e14efdefd2b485f5cdde7eaa31d4e
please give a try and lemme know

[2019-06-03 12:37] SSE4 commented on #659
solution for now is to just remove these .la files. I'll do this in libiconv recipe right now. as builds work without libtool files, it's safe change. if anyone will really need these libtool files, we will need to provide conan's generator for them - that would be strategy (same as for cmake and pkg-config files).

[2019-06-03 12:37] #659 closed

[2019-06-03 12:45] #818 closed

[2019-06-03 13:09] nkshigeru commented on #721
@uilianries @SSE4  It works! Thank you!

[2019-06-03 14:43] uilianries commented on #721
Nice! Closing this issue now. I'll request the inclusion of ruby_installer in Conan Center.

[2019-06-03 14:43] #721 closed

[2019-06-04 00:51] tjwrona1992 commented on #821
[Output-CMake.txt](https://github.com/bincrafters/community/files/3249997/Output-CMake.txt)

I removed all of my Conan packages and tried a fresh install (In Debug configuration) and it failed. I saved the log this time and attached it.

After seeing this error if I try to install it again it succeeds.

[2019-06-04 01:31] ManuelMeraz opened #822 "[conan-pcre2] cmake_minimum_required missing"
Description

CMake configuration step fails when using the Android cmake toolchain file:

CMake Error in CMakeLists.txt:
  No cmake_minimum_required command is present.  A line of code such as

    cmake_minimum_required(VERSION 3.10)

  should be added at the top of the file.  The version specified may be lower
  if you wish to support older CMake versions for this project.  For more
  informatio

[2019-06-04 04:29] Croydon commented on #822
Merged, thanks!

[2019-06-04 04:29] #822 closed

[2019-06-04 04:48] Croydon commented on #610
@madebr Thanks, please create an inclusion request for cccl_installer

[2019-06-04 07:55] ericLemanissier commented on #821
thanks. Could you please send the log of the second run too ?

[2019-06-04 08:15] Mirko-von-Leipzig commented on #815
I've tested and it now works as expected, thanks.

[2019-06-04 08:15] #815 closed

[2019-06-04 13:22] Croydon commented on #333
Is this still a problem?

[2019-06-04 13:28] uilianries commented on #376
@Croydon yes, as it's a profile problem, not a package bug.

[2019-06-04 13:29] #376 closed

[2019-06-04 13:35] DEGoodmanWilson commented on #819
Howdy! My sincerest apologies. Croydon is correct. I plan on taking more time to work on this in the coming weeks. The older versions of the Mongo C Driver are not very flexible when it comes to compiling, and I am considering only supporting newer versions that should be easier to configure. I'll know more when I start digging.

[2019-06-04 14:18] madebr opened #823 "Inclusion Request: cccl/1.0"
### Package Details
  * Package Name: **cccl/1.0**
  * Operating Systems+versions: **Windows**
  * Compiler support: **Visual Studio**
  * Conan recipe repository: **https://github.com/madebr/conan-cccl_installer**
  * Upstream project repository: **https://github.com/swig/cccl**

### Inclusion request
  * Fill all checkboxes with x if you agree with the statement or if it applies to your Conan re

[2019-06-04 16:38] tjwrona1992 commented on #821
I'll have to try again when I get home. I'll probably have to remove the
whole thing again and start from scratch to get a clean log haha. Qt takes
a while to install so I'm not sure if I'll have time tonight or not.

On Tue, Jun 4, 2019 at 3:56 AM ericLemanissier <notifications@github.com>
wrote:

[2019-06-04 20:58] jmarrec opened #824 "Upstream Update: ruby_installer 2.5.5"
### Package Details
  * Package Name: **ruby_installer**
  * Latest available Version: **2.5.5**

The above mentioned version is newly released by the upstream project and not yet available within Bincrafters. Please add this version.

cf: https://github.com/oneclick/rubyinstaller2/releases/tag/RubyInstaller-2.5.5-1

[2019-06-04 21:47] uilianries commented on #824
Hi @jmarrec !

Both 2.5.5 and 2.6.3 are available for download:

https://bintray.com/bincrafters/public-conan/ruby_installer%3Abincrafters/2.5.5%3Astable
https://bintray.com/bincrafters/public-conan/ruby_installer%3Abincrafters/2.6.3%3Astable

Regards!

[2019-06-04 21:47] #824 closed

[2019-06-04 22:23] jmarrec commented on #824
@uilianres I had made a 2.5.5 branch already thinking you'd just create the branch to welcome PRs, but making these two available in one go is even better!

Thanks for the real quick turnaround too!

[2019-06-05 01:49] Croydon commented on #823
`LICENSE.md` of the recipe doesn't end up in the package, please fix this

[2019-06-05 02:09] madebr commented on #823
Fixed by https://github.com/madebr/conan-cccl_installer/commit/7d6528dab2cc1e0c332a844edac5da64e0a54b4b

[2019-06-05 09:52] Croydon commented on #823
`package/.../licenses` should contain the license of the Conan recipe and CCCL. Even with your latest commit it only contains the license of CCCL

[2019-06-05 11:54] madebr commented on #823
@Croydon I've looked at the templates and the `conanmanifest.txt` of some packages on bintray.
In none of them, the `LICENSE.md` is copied to `conan_package.tgz`.

See https://github.com/bincrafters/conan-templates/blob/9fd2b5478dfb34c2f8ac0db46f60004916b3ccb8/default/conanfile.py#L17 and https://github.com/bincrafters/conan-templates/blob/9fd2b5478dfb34c2f8ac0db46f60004916b3ccb8/default/conanfile

[2019-06-05 12:20] Croydon commented on #823
Yes. I deleted my commented one minuted after. I got confused by something else, sorry

I guess you read that fast as I could delete it :)

The licenses are fine now

[2019-06-05 12:49] Croydon commented on #823
Conan-center inclusion is requested

[2019-06-05 14:37] Chemrat commented on #817
Thanks, that fixed it

[2019-06-05 14:39] SSE4 commented on #817
confirmed as fixed, closing

[2019-06-05 14:39] #817 closed

[2019-06-06 01:04] madebr opened #825 "ImageMagick/7.08-44 - Add _installer variant"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **imagemagick/7.08-44**
  * Operating System+version: **All**

### Description of your feature
This package provides a binary `bin/convert` which is very useful to do image manipulation.
It would thus be useful to provide a `imagemagick_installer` variant (having only `settings='os_build', 'arch_buil

[2019-06-06 02:59] tjwrona1992 commented on #821
[Output-CMake.txt](https://github.com/bincrafters/community/files/3259765/Output-CMake.txt)
[Output-CMake-success.txt](https://github.com/bincrafters/community/files/3259766/Output-CMake-success.txt)

I have attached both the failure log and the success log. Thank you for looking further into this,

[2019-06-06 03:00] tjwrona1992 commented on #821
I will look into 5.12.3 in the next day or 2 and see if I can get that to build successfully

[2019-06-06 05:02] ericLemanissier commented on #821
Thanks. It gives a clearer view of the problem. The first run of the script starts with the following, whereas the second does not have have these line.:
[code]
The consequence is that CXX variable is set to "C:/Program Files (x86)/Microsoft Visual Studio/2019/Preview/VC/Tools/MSVC/14.22.27706/bin/HostX64/x64/cl.exe" in the first case, and not in the second, ending up crashing qmake because it doe

[2019-06-07 03:51] tjwrona1992 commented on #821
I don't really fully understand the inner workings of the "conan.cmake" script, but it comes from here: https://github.com/conan-io/cmake-conan

It seems to autodetect a lot of settings for you and allows you to run the conan install directly from CMake so it isn't a separate step.

[2019-06-07 03:53] tjwrona1992 commented on #821
This may be a bug with that script and not the package. I will try to look further into it, but to be honest the script reads a little like Egyptian to me so I'm not sure how far I'll get haha

[2019-06-08 22:43] daravi commented on #819
Is it for enabling static linking, or for disabling shared library in case we only want static?

I recreated the patch for the latest release but issue still persists. If the patch only enables control over shared lib installation maybe we should consider not having it just to make life easier when updating the recipe. In any case I can open a PR for the updated recipe and patch if you want.

[2019-06-10 08:33] SSE4 commented on #759
I personally don't like to expose options which doesn't have an any effect, as it would be confusing for users. it also will produce 2 set of packages for Windows, which will be absolutely identical, actually. of course, we may remove option from package_id for Windows only, but our current strategy is to expose options which actually have an effect.
as there are workarounds (1 - use different con

[2019-06-10 08:34] #759 closed

[2019-06-10 08:34] SSE4 commented on #768
I am closing, as changes were applied.

[2019-06-10 08:34] #768 closed

[2019-06-11 08:21] Croydon opened #826 "Templates: Make it possible to use GitHub's template feature"
GitHub has introduced a new template feature which we can use to make the usage of our templates easier for new Conan recipes

https://github.blog/2019-06-06-generate-new-repositories-with-repository-templates/

@SSE4 and me have talked about this and we independently came up with the same idea:

https://github.com/bincrafters/conan-templates is staying our central template repository. We are main

[2019-06-11 08:25] Croydon commented on #813
https://github.com/bincrafters/conan-templates/pull/52#issuecomment-500739611

[2019-06-11 08:25] #813 closed

[2019-06-11 10:40] SSE4 commented on #809
I think we have got further with this one, and have https://github.com/conan-community/community/issues/222 to track it, so closing

[2019-06-11 10:40] #809 closed

[2019-06-11 11:49] SSE4 commented on #797
update: I have identified all required changes and preparing patch, will keep you informed

[2019-06-11 12:24] Croydon commented on #826
Everyone will be able to either use the button in the respective repository or the direct links, e.g. https://github.com/bincrafters/template-default/generate

Bincrafters members can also select it on the personal "[Create new repository](https://github.com/new)" page like this:

![bftemplate](https://user-images.githubusercontent.com/1593194/59271623-82233e00-8c54-11e9-951b-97da379d78a7.PNG)

[2019-06-11 15:02] #826 closed

[2019-06-11 18:07] SSE4 commented on #474
I am closing this out, as:
1. premake generator is now available in conan
2. premake_installer is green (both versions 4 and 5)
3. soil2 is green (except Visual Studio 2013 on appveyor which has license expired)

[2019-06-11 18:07] #474 closed

[2019-06-11 19:04] SSE4 commented on #825
@madebr are you going to provide PR yourself?

[2019-06-11 19:32] SSE4 commented on #819
this patch only controls installation of libraries. e.g. in case of static build, shared libraries are still installed, as well as some pkg-config files which aren't useful in case of static build.
I think it's not needed to update the patch. instead, we may just delete unwanted stuff in `package_info` (we already do the same for many other use-cases). patch is very large and it's hard to maintain

[2019-06-11 19:32] #819 closed

[2019-06-11 19:33] SSE4 commented on #816
@Talkless feel free to submit PR, it shouldn't be too hard to add this one.

[2019-06-11 19:42] SSE4 commented on #716
for now I think it's not going to happen. conan center inclusion requires all these things to pass, so no need to make CI even more long and unstable...

[2019-06-11 19:42] #716 closed

[2019-06-11 19:43] SSE4 commented on #710
is there anything still to be done? conan has included `Android` to `os_build` since then, as well as there are newer NDK versions released (r19, r20).

[2019-06-11 21:35] SSE4 commented on #797
I've applied required changes (mostly taken from winflexbison): https://github.com/bincrafters/conan-bison/commit/ab1db668e1cab2b2c9a2c8ca07935733593a6e3e
bison executable no longer contains hard-coded paths and works without additional environment variables

[2019-06-11 21:35] #797 closed

[2019-06-11 22:48] lefticus opened #827 "lzma/5.2.4 requires Windows SDK 10.0.15063.0 to build"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **lzma/5.2.4**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2019**
  * Conan version: **conan 1.16.0**

### Steps to reproduce (Include if Applicable)

Building lzma with MSVC fails if the specific SDK 10.0.15063.0 is not installed.

It seems the winsdk_version needs to b

[2019-06-12 15:21] Talkless commented on #816
@SSE4 do you believe it is acceptable to make this work in the current package, or it should be separate "tool" package?

[2019-06-12 16:14] madebr commented on #825
@SSE4 I've started work in https://github.com/madebr/conan-imagemagick/tree/testing/7.0.8-44 but it appears the recipe (or the most recent version) was not working so I've paused it for now.

[2019-06-12 23:58] madebr opened #828 "Default branches of some repos are not correct"
Hey,
I ran a script to check the default branches of Bincrafters's conan repos with the versions available.
Some repos have an older version as their default branch (these should be fixed).
Some repos their branch names do not contain a version or do not contain a recipe at all (these should be added).

The script does not recognize the versions of some repos. (ignore these)

Paste of the output o

[2019-06-13 10:13] SSE4 commented on #828
@madebr may you share your script?
I think I can add missing code to use GitHub API to change the default branch

[2019-06-13 10:15] SSE4 commented on #825
yes, that should be consequence of removal of libiconv .la (libtool) files, I'll take a look

[2019-06-13 10:16] SSE4 commented on #816
@Talkless I think separate one, take a look at `conan-bison` as an example/starting point

[2019-06-13 21:00] SSE4 commented on #827
applied: https://github.com/bincrafters/conan-lzma/commit/17136882e5649b002280d936ebceec9727b40bbf

[2019-06-14 00:01] picolloo commented on #820
@ericLemanisser do you have another link to this reference? this one seems to be missing

[2019-06-14 00:18] picolloo commented on #820
I have found this reply that was made last year, does it still happen by now?

[2019-06-14 00:40] picolloo commented on #820
I think this issue might be the same as #323, but without cmake_multi. Does this limitation happen to cmake by now?

[2019-06-14 01:48] madebr opened #829 "Applied conventions on 9 repositories"
Hello,

`bincrafters-conventions` and `conan-readme-generator` were executed on the following repositories:

- [x] conan-freetype: stable/2.9.1 bincrafters/conan-freetype#28
- [x] conan-lcms: stable/2.9 bincrafters/conan-lcms#6
- [x] conan-libiconv: stable/1.15 bincrafters/conan-libiconv#14
- [x] conan-libjpeg: stable/9c bincrafters/conan-libjpeg#10
- [x] conan-libpng: stable/1.6.37 bincrafters/co

[2019-06-14 01:49] madebr commented on #829
These are dependencies of imagemagick

[2019-06-14 02:14] madebr commented on #828
@SSE4
I've pushed my scripts to https://github.com/madebr/conan-repo-actions
The script that generated this output is `conan_repo_actions/default_branch.py`.

You can reproduce the output above by executing: `conan-repo-actions-default_branch --owner_login bincrafters`

You'll probably run into rate limiting so you'll need to pass your login data or a [personal access token]
(https://github.com/se

[2019-06-14 07:46] ericLemanissier commented on #820
@picolloo I don't think your problem (happening at cmake time) is related to #323 (happening at link time)
The proper link to the documentation I mentionned in my last message is now https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_paths_generator.html
If after following these instructions, your problem is not solved, please open another issue, and join your conanfile, CMakeLi

[2019-06-14 08:48] Zohratl opened #830 "Error while Creating harfbuzz package: Could NOT find Freetype"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **harfbuzz/2.4.0**
  * Operating System+version: **Ubuntu 18.04.2 LTS**
  * Compiler+version: **gcc-7.3**
  * Conan version: **Conan version 1.11.2**
  * Python version: **Python 2.7.15rc1**

### Question Description
When I try to create Harfbuzz package for my Yocto Apalis using this command:
`conan

[2019-06-14 09:07] Croydon commented on #829
Please create pull request for the testing branches in the future. Otherwise we getting branches out of sync too easy

[2019-06-14 09:15] Croydon commented on #828
If you plan to mass update the default branches somehow, then please remember to put the testing branches as default going forward

[2019-06-14 09:23] SSE4 commented on #828
 yeah, that's the plan - some projects still have stable as a default branch

[2019-06-14 10:42] madebr commented on #828
@Croyden
I forgot to do that. I'll modify my scripts.

[2019-06-14 11:17] madebr commented on #828
@sse4
What should be the default branch. Testing of stable? Because I give stable a higher priority.

[2019-06-14 11:25] SSE4 commented on #828
testing should be default, as we have agreed previously

[2019-06-14 13:14] picolloo commented on #820
@ericLemanissier it really works, thank you very much, it took me more than I expected to find this solution.

[2019-06-14 14:06] Croydon commented on #828
@grafikrobot I don't think that there is any real danger in doing that 🤔

[2019-06-14 14:12] SSE4 commented on #828
well, users might assume that default branch is something recommended and stable (which is not true for boost recipes), and might start to use this, so betta exclude em from script for now

[2019-06-14 14:26] Croydon commented on #828
Most people are consuming the recipes from BIntray which only has stable releases, not GitHub. And when the branch name is literally `testing/`.... I give consumers so much credit to figure out that it means that it isn't stable

[2019-06-15 06:05] Croydon commented on #829
Everything is merged.

I have synchronized the testing/ branches manually

[2019-06-15 06:05] #829 closed

[2019-06-15 06:17] madebr commented on #829
@Croydon
Thanks, I'll remember to use testing branches.

[2019-06-15 09:14] qno commented on #762
Hi,

are there any news on this one?

[2019-06-15 13:18] uilianries commented on #762
unfortunately not, we need both gmp and nettle in Conan Center. I'll ask to Conan team on next week for these inclusions.

[2019-06-15 16:41] cajus commented on #710
Following https://github.com/android-ndk/ndk/issues/951#issuecomment-501287247, I patched the Qt sources and finally was able to build 5.13.0-rc2. I used the r20 NDK. Additionally, it was important to reference the *java_installer* at some point where the Qt build process can see it. It fell back to the locally installed JDK 12 which seems to be to new.

It didn't work at first, but that seems to

[2019-06-16 11:15] SSE4 commented on #825
@madebr I think now ImageMagick is good: https://travis-ci.com/bincrafters/conan-imagemagick

[2019-06-16 23:06] bmanga opened #831 "[boost_python] Cannot build : unknown feature "<threadapi>""
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: boost_python/1.68.0@bincrafters/stable
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **gcc-7.4**
  * Conan version: **conan 1.16.1**
  * Python version: **Python 3.6.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom

[2019-06-17 08:14] ericLemanissier commented on #821
Actually, the issue probably does not come from conan.cmake script, because the differences in the log happen before downloading it. Could you please send us your CMakeLists.txt file, and the command you use to invoke it ?

[2019-06-17 08:18] ericLemanissier commented on #710
@cajus would you mind creating a pull request ?

[2019-06-17 08:30] cajus commented on #710
@ericLemanissier I'll do. But I'm still fighting with it... It builds Qt, but if I build an application with it, it crashes. And building the application always complains about `clang++: warning: argument unused during compilation: '-nostdlib++' [-Wunused-command-line-argument]`. But it looks like I've to find out why it crashes first...

[2019-06-17 08:37] SSE4 commented on #487
the following simple example works for me:
**CMakeLists.txt**
[code]
**conanfile.txt**
[code]
**main.cpp**
[code]

[2019-06-17 08:37] SSE4 commented on #487
@davidtazy if you could share your code it would be helpful

[2019-06-17 09:42] Blubbz0r opened #832 "qt: openssl not linked correctly"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **qt/5.12.4** (most versions seem to be affected)
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2017**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)

[settings]
os=Windows
os_build=Windows

[2019-06-17 10:11] #832 closed

[2019-06-17 21:05] qno commented on #762
Great. Thank You!

[2019-06-18 00:37] tt4g opened #833 "[libpqxx/6.4.5] AppVeyor unable to start build jobs"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libpqxx/6.4.5**
  * Operating System+version: **None**
  * Compiler+version: **None**
  * Docker image: **None**
  * Conan version: **None**
  * Python version: **None**

Since libpqxx 6.4.5 was released, I pushed a new version branch 'testing/6.4.5' to https://github.com/bincrafters/conan-libpqxx

[2019-06-18 06:52] Talkless opened #834 "[libpq/10.4] Visual Studion support"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libpq/10.4**
  * Operating System+version: **Windows**
  * Compiler+version: **Visual Studio 2015 14.0**

### Description of your feature

I've noticed that libpq package no longer support building with Visual Studio since libpq 10.4 https://github.com/bincrafters/conan-libpq/blob/435277bc0fbd9f35e

[2019-06-18 07:44] tt4g commented on #833
I confirmed that AppVeyor job started.

[2019-06-18 07:44] #833 closed

[2019-06-18 11:51] uilianries commented on #834
Hi @Talkless !

It's possible to libpq on Visual Studio, but we need a port. I'll provide one ASAP

[2019-06-18 16:14] Talkless commented on #834
That would be amazing @uilianries !

[2019-06-18 17:59] sourcedelica opened #835 "libuv MinGW support"
### Package and Environment Details
  * Package Name/Version: **libuv/1.27.0**

### Description of your feature
Add MinGW support.

I am in the process of [creating a recipe](https://github.com/sourcedelica/conan-cassandra) for the [Cassandra driver](https://github.com/sourcedelica/conan-cassandra).   I've got most of it completed but I want to include MinGW support.  The recipe depends on `libuv`

[2019-06-19 06:41] ruurdadema commented on #794
Confirming this patch works for me, thanks!

[2019-06-19 06:42] #794 closed

[2019-06-19 06:58] ruurdadema opened #836 "How to download updated recipe (boost_generator)"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost_generator/1.69.0@bincrafters/stable**
  * Operating System+version: **macOS 10.14.4 (18E226)**
  * Compiler+version: **Apple LLVM version 10.0.1 (clang-1001.0.46.4)**
  * Docker image: **n/a**
  * Conan version: **Conan version 1.15.0**
  * Python version: **Python 3.7.2**

### Question Descr

[2019-06-19 08:38] SSE4 commented on #762
packages are available, closing

[2019-06-19 08:38] #762 closed

[2019-06-19 08:38] SSE4 commented on #831
/cc @grafikrobot

[2019-06-19 08:42] SSE4 commented on #836
@ruurdadema this seems to be a conan issue. do you have a reproducible example? if so, please open an issue here: https://github.com/conan-io/conan/issues

[2019-06-19 08:44] SSE4 commented on #827
I am closing this, as fix was applied, and it builds fine for VS 2019 on appveyor.

[2019-06-19 08:44] #827 closed

[2019-06-19 09:14] SSE4 commented on #830
@Zohratl may you provide full log?

[2019-06-19 11:06] SSE4 commented on #807
the problem with `find_package`, `find_library` and so on in Emscripten is that CMake toolchain file sets the following:
[code]
so it never tries to discover libraries in conan directories.
changing them to `BOTH` fixes the issue.

[2019-06-19 11:10] SSE4 commented on #807
I think we may fix it in `emsdk_installer` package itself, @JimmySnails WDYT?

[2019-06-19 11:12] SSE4 commented on #767
@oiltanker hello,
I am not familiar with TGM (or TDM?) GCC. is it something different from regular MinGW?
also, it would be nice if you could provide full logs of undefined references, as well as some details on how to set up the environment.

[2019-06-19 11:25] oiltanker commented on #767
No it's MinGW-W64 but 5.1.0 with all new stuff and nicely packaged.

[2019-06-19 11:31] oiltanker commented on #767
I think this is to do with the OpenAL library not properly compiling as well.

[2019-06-19 11:33] oiltanker commented on #767
BTW, all default MinGW libraries provided within the source work fine for me, although I don't know what GCC version they are compiled in.

[2019-06-19 12:03] uilianries commented on #830
@Zohratl I have no problem when building for x86 and x86_64, It's something related to your profile. Did you try set FREETYPE_LIBRARY and FREETYPE_INCLUDE_DIRS?

Also, harfbuzz is using ragel from APT, is it a problem for your profile? I just provided a new PR with ragel as a build requirement: https://github.com/bincrafters/conan-harfbuzz/pull/15

[2019-06-19 12:15] #834 closed

[2019-06-19 12:39] madebr commented on #825
@SSE4
https://travis-ci.com/madebr/conan-imagemagick/jobs/209270354#L1997
I'm getting linking errors:
[code]
I believe these errors are due to the difference in glibc versions between ubuntu and centos 6.
[`__fdelt_chk`](https://github.com/lattera/glibc/commit/a0f33f996f7986dbf37631a4577f8565b42df29e#diff-6916f7e9ec258e06e38aef0a224d9ab3) was added in 2011, after the release of centos 6.

What do

[2019-06-19 12:45] SSE4 commented on #825
there are only two ways to fix it:
1. switch libxml2, openjpeg, etc to use CentOS 6
2. switch installer to another distro
I think for `ImageMagick` we may build it just for newer GLibc, I don't think this one is going to be used as `build_requires`, right?

[2019-06-19 12:51] madebr commented on #825
My use case for `imagemagick_installer` is to create smaller icons from source images, which is a build requirement. (right?)
Buy you're correct, it is ok (imho) to switch the installer to the other common distros.

[2019-06-19 12:52] SSE4 commented on #825
yeah, feel free to switch distro then :)

[2019-06-19 13:30] uilianries commented on #834
@Talkless the next revision contains Visual Studio support

Please, wait some time until our CI complete all jobs:

https://ci.appveyor.com/project/bincrafters/conan-libpq

After that, give a try.

https://github.com/bincrafters/conan-libpq/commit/e023cfe76e73a703a202f792bec1633a44a2c45f

[2019-06-19 16:13] yRezaei opened #837 "wxwidgets v3.1.2 stable and libpng version"
I am using **freetype** and **wxwidgets** packages, but both of them rely on different version of **libpng** package. Since **wxwidget** requires the lower version, is it possible to update the requirements of **wxwidgets** package with upper one (**libpng/1.6.37**).

Here is the error itself:

ERROR: Conflict in freetype/2.9.1@bincrafters/stable
    Requirement libpng/1.6.37@bincrafters/stable co

[2019-06-19 18:42] jgeudens opened #838 "[qt] Duplicate CAN plugin on static build"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **conan-qt**
  * Operating System+version: **Windows 10 64bit**
  * Compiler+version: **MinGW-5.3**

## conan comman ##
[code]

### conanfile ###
[code]

## Error message during using the toolchain ##
[code]

## Report  ##
I generate a static compiled Qt toolchain with qserialbus. The qt compilation

[2019-06-19 18:59] ericLemanissier commented on #838
In order to target the cause of your problem more precisely, could you try to remove `Qt:config=-static-runtime`, and tell us if the error disappears ? I am not sure static libstdc++ is fully functional on mingw.

[2019-06-20 05:43] jgeudens commented on #838
If you want, I can try it this evening, but I have added that statement when I encountered a previous error (https://github.com/bincrafters/community/issues/572). While building my application, the toolchain couldn't find several required libraries. I then added static-runtime to make sure MinGW was completly static linked. After that it worked.

The strange thing for this issue is that the toolch

[2019-06-20 08:00] ericLemanissier commented on #838
An other idea: you should probably remove `[generators] qmake` from your conanfile. It is necessary only for libraries qmake does not know. qmake knows everything about the Qt version you built, so it does not need any information from conan to build your project.
On the other hand, you should probably add  `[generators] qt`, which will generate a qt.conf file in your build directory. You should m

[2019-06-20 08:52] jgeudens commented on #838
Thank you for your feedback. I make the changes to my recipe.

But I would like to distribute a full statically linked version of my application. Meaning 1 executable that contains everything required. So I would suppose that "-static-runtime" is still required then.

I'm starting to think that this issue of duplicate plugins is more related to building Qt from sources instead of specifically to t

[2019-06-20 13:14] Morwenn commented on #837
I would even say that every recipe maintained by bincrafters should be updated to libpng 1.6.37 since it [fixes a known vulnerability](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-7317).

[2019-06-20 19:42] Croydon commented on #837
wxwidgets update for libpng is merge into the stable branch. CI will take some time.

We don't have automation for updating patch version of dependencies and if we would have that, our CI backlog would probably be ridiculous and waiting for CI to finish when working on recipes manually would be almost unmanageable.

I would speculate that at some point we will get some more semi-automation. E.g. r

[2019-06-20 19:42] #837 closed

[2019-06-20 22:50] uilianries opened #840 "Wrong favicon on tab page"
When I open the address https://bincrafters.github.io I see the hydejack's favicon on my tab.

![Bincrafters](https://i.imgur.com/3jBDNVT.png)

[2019-06-20 22:50] #840 closed

[2019-06-20 22:52] Croydon commented on #839
I don't think we actually need another list for this.

Search on either GitHub or Bintray should be good enough. WDYT @uilianries and @SSE4?

[2019-06-21 00:34] uilianries commented on #839
@Croydon I have to agree, we already have `conan search`, github and bintray. An extra list it would more work to be maintained. I think we could close this issue.

[2019-06-21 04:57] #839 closed

[2019-06-21 08:37] SSE4 commented on #807
fixed in toolchain: https://github.com/bincrafters/conan-emsdk_installer/commit/026be8775a5b9392e1802db729960333646525c0